.redux-info-field {
  min-height: 20px;
  padding: 8px 19px;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 4px;
  border: 1px solid;
  position: relative;
}
.redux-info-field h1,
.redux-info-field h2,
.redux-info-field h3,
.redux-info-field h4,
.redux-info-field h5,
.redux-info-field h6 {
  border-bottom: 0 !important;
}
.redux-info-field h3 {
  color: #777;
}
.redux-info-field .redux-info-icon {
  display: inline-block;
  margin-right: 15px;
}
.redux-info-field .redux-info-icon i {
  font-size: 2em;
}
.redux-info-field .redux-info-desc {
  display: inline-block;
  vertical-align: top;
}
.redux-info-field.redux-normal {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: #666666;
}
.redux-info-field.redux-normal i {
  color: #c5c5c5;
}
.redux-info-field.redux-warning {
  background-color: #fbeba4;
  border-color: #d7c281;
  color: #958234;
}
.redux-info-field.redux-warning i {
  color: #dcca81;
}
.redux-info-field.redux-success {
  background-color: #c4ee91;
  border-color: #71af5d;
  color: #4d7615;
}
.redux-info-field.redux-success i {
  color: #a0ca6c;
}
.redux-info-field.redux-critical {
  background-color: #fba1a3;
  border-color: #b84f5b;
  color: #981225;
}
.redux-info-field.redux-critical i {
  color: #dd767d;
}
.redux-info-field.redux-info {
  background-color: #d3e4f4;
  border-color: #a9b6c2;
  color: #5c80a1;
}
.redux-info-field.redux-info i {
  color: #afc6da;
}

.redux-notice-field {
  margin: 15px 0 0;
  background-color: #fff;
  border: 0;
  border-left: 4px solid #f3f3f3;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 1px 12px;
}
.redux-notice-field h1,
.redux-notice-field h2,
.redux-notice-field h3,
.redux-notice-field h4,
.redux-notice-field h5,
.redux-notice-field h6 {
  border-bottom: 0 !important;
}
.redux-notice-field p {
  margin: 0.5em 0;
  padding: 2px;
}
.redux-notice-field .redux-info-icon {
  display: inline-block;
  margin-right: 15px;
}
.redux-notice-field .redux-info-icon i {
  font-size: 2em;
}
.redux-notice-field .redux-info-desc {
  display: inline-block;
  vertical-align: top;
}
.redux-notice-field.redux-info {
  border-left: 4px solid #0099d5;
}
.redux-notice-field.redux-success {
  border-left: 4px solid #7ad03a;
}
.redux-notice-field.redux-warning {
  border-left: 4px solid #fbeba4;
}
.redux-notice-field.redux-critical {
  border-left: 4px solid #dd3d36;
}

.redux-main .redux-field-container.redux-container-info {
  padding: 0;
}

.wp-customizer .hasIcon.redux-notice-field .redux-info-desc, .wp-customizer .hasIcon.redux-info-field .redux-info-desc {
  display: block;
  margin-left: 43px;
}
.wp-customizer .hasIcon.redux-notice-field .redux-info-icon, .wp-customizer .hasIcon.redux-info-field .redux-info-icon {
  float: left;
}
.wp-customizer .redux-main .customize-control.customize-control-redux-info {
  border-bottom: 0;
}