@font-face {
	font-family: 'whatshelp';
	src:url('../fonts/whatshelp.eot?nusorz');
	src:url('../fonts/whatshelp.eot?nusorz#iefix') format('embedded-opentype'),
	url('../fonts/whatshelp.ttf?nusorz') format('truetype'),
	url('../fonts/whatshelp.woff?nusorz') format('woff'),
	url('../fonts/whatshelp.svg?nusorz#whatshelp') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wh-icon-"], [class*=" wh-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'whatshelp' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wh-icon-facebook-messenger:before {
	content: "\e900";
}
.wh-icon-whatshelp:before {
    content: "\e901";
}
.wh-icon-whatsapp:before {
    content: "\e902";
}
.wh-icon-telegram:before {
    content: "\e903";
}
