/*!
 * Blog Single css Dimas
 * Copyright GCO Software
 */

// CUSTOM
@import "custom/custom";
// HEADER
@import "header/header";
// FOOTER
@import "footer/footer";
.dimas-menu,
.dimas-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dimas-sticky-share {
    width: (26rem/16);
    z-index: 999;
    position: fixed;
    top: 30%;
    &__item {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
        &.coppy-link {
            svg {
                color: #4D5F6B;
            }
            &:hover {
                svg {
                    color: var(--dimas-color-white);
                }
            }
        }
        &.fb-share {
            svg {
                color: var(--dimas-color-main);
            }
            &:hover {
                svg {
                    color: var(--dimas-color-white);
                }
            }
        }
        svg {
            width: (24rem/16);
            height: (24rem/16);
        }
    }
}

.dimas-post {
    &__vertical-align {
        >.dimas-post__thumbnail {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}

.dimas-post-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &__link {
        cursor: pointer;
        &:nth-child(1) {
            grid-row-start: 1;
            grid-row-end: 3;
            padding-right: 1rem;
        }
        &:nth-child(2) {
            padding-left: 1rem;
            padding-bottom: 1rem;
        }
        &:nth-child(3) {
            padding-left: 1rem;
            padding-top: 1rem;
        }
    }
    &__item {
        width: 100%;
        height: 100%;
    }
}

.post-tag {
    transition: background-color var(--dimas-transition-duration) var(--dimas-transition-easing);
    margin-bottom: 0;
    margin-right: 0.5rem;
    padding: (4rem/16) (12rem/16);
    background-color: var(--dimas-color-bg-tag);
    color: var(--dimas-color-white);
    &:hover {
        background-color: var(--dimas-color-main);
    }
}


/* related post */

.dimas-grid-wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    .dimas-post {
        height: (260rem/16);
        position: relative;
        padding: 2rem (24rem/16);
        border: 1px solid var(--dimas-color-border);
        &:hover {
            .dimas-post__thumbnail {
                &--wrap {
                    opacity: 1;
                }
            }
        }
        &__description,
        &__title {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &__title {
            -webkit-line-clamp: 2;
            height: 4rem;
        }
        &__description {
            -webkit-line-clamp: 3;
            max-height: (78rem/16);
        }
        &__thumbnail {
            &--wrap {
                width: 100%;
                height: 100%;
                transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                opacity: 0;
            }
            &--img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &--arrow-wrap {
                border: 1px solid var(--dimas-color-white);
                border-radius: 50%;
                position: absolute;
                width: (80rem/16);
                height: (80rem/16);
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    border: 1px solid var(--dimas-color-main);
                    svg {
                        color: var(--dimas-color-main);
                    }
                }
            }
        }
        &__content {
            &--wrap {
                z-index: 1;
            }
        }
        &__link {
            color: var(--dimas-color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}

.dimas-btn {
    transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
    padding: (15rem/16) (24rem/16);
    svg {
        margin-left: (24rem/16);
        margin-bottom: 2px;
        transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
    }
    &:hover {
        background-color: var(--dimas-color-white);
        svg {
            color: var(--dimas-color-main);
            transform: translateX(5px);
        }
    }
}


/* view comments */

.view-comment {
    .comment-list {
        list-style: none;
        padding-left: 0;
        .comment-main {
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: wrap;
            .author-avtar {
                width: (80rem/16);
                height: (80rem/16);
                object-fit: contain;
                object-position: center;
                margin-right: 2rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .comment-content {
                color: var(--dimas-color-subtitle);
                width: calc(100% - (112rem/16));
                .comment-info {
                    display: flex;
                    .author-name {
                        text-transform: uppercase;
                        color: var(--dimas-color-white);
                    }
                    .comment-date {
                        font-weight: 400;
                    }
                    h4 {
                        &:not(:last-child) {
                            &::after {
                                content: "•";
                                color: var(--dimas-color-border);
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                width: 1rem;
                                height: (18rem/16);
                            }
                        }
                    }
                }
            }
            .comment-btn {
                margin-top: 1rem;
                margin-left: (112rem/16);
                width: 100%;
                font-weight: 400;
                font-size: (14rem/16);
                line-height: (18rem/16);
                &:hover {
                    color: var(--dimas-color-thk-text);
                }
            }
        }
        &__reply-list {
            list-style: none;
            padding-left: (112rem/16);
            .comment-main {
                .author-avtar {
                    width: (56rem/16);
                    height: (56rem/16);
                }
                .comment-btn {
                    margin-left: (88rem/16);
                }
            }
        }
    }
}


/* contact form */

.dimas-comment-form {
    input {
        margin-bottom: 2rem;
    }
    textarea {
        margin-bottom: 4rem;
    }
    input,
    textarea {
        -webkit-appearance: none;
        border-radius: 0;
        width: 100%;
        background-color: var(--dimas-color-transparent);
        color: var(--dimas-color-white);
        line-height: (26rem/16);
        border: none;
        border-bottom: 1px solid var(--dimas-color-white);
        outline: none;
        padding-bottom: (17rem/16);
        &::placeholder {
            color: var(--dimas-color-white);
        }
    }
    .dimas-form-row {
        display: flex;
        justify-content: space-between;
        &.two-col {
            .dimas-form-group {
                width: calc(50% - 1rem);
            }
        }
        .dimas-form-group {
            width: 100%;
        }
    }
    button {
        border: none;
        outline: none;
        &:hover {
            background-color: var(--dimas-color-white);
            color: var(--dimas-color-main);
        }
    }
}

.form-comment {
    padding-bottom: (207rem/16);
}


/** Responsive Single Blog Page **/

@media (max-width: 1199px) {
    /* grid blog */
    .dimas-grid-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
    .dimas-section {
        &__item {
            &--blog {
                &:last-child {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .form-comment {
        padding-bottom: (114rem/16);
    }
    .dimas-grid-wrap {
        .dimas-post {
            &__thumbnail {
                &--arrow-wrap {
                    width: 3rem;
                    height: 3rem;
                    svg {
                        width: (19rem/16);
                        height: (19rem/16);
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: unset!important;
    }
    .dimas-grid-wrap {
        grid-template-columns: auto;
        grid-column-gap: 0px;
        grid-row-gap: 1rem;
        .dimas-post {
            height: (282rem/16);
            &__description {
                -webkit-line-clamp: 4;
                max-height: (104rem/16);
            }
        }
    }
    .dimas-post-gallery {
        &__link {
            &:nth-child(1) {
                padding-right: 6px;
            }
            &:nth-child(2) {
                padding-left: 6px;
                padding-bottom: 6px;
            }
            &:nth-child(3) {
                padding-left: 6px;
                padding-top: 6px;
            }
        }
    }
    .dimas-post__tag {
        >h3 {
            width: 100%;
        }
        >h3,
        >a {
            margin-bottom: 1rem;
        }
    }
    .dimas-section {
        &__item {
            &--blog {
                &:last-child {
                    display: block;
                }
            }
        }
    }
    .view-comment {
        .comment-list {
            .comment-main {
                .author-avtar {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 1rem;
                }
                .comment-btn {
                    margin-left: 4rem;
                }
                .comment-content {
                    width: calc(100% - 4rem);
                }
            }
            &__reply-list {
                padding-left: 4rem;
                .comment-main {
                    .author-avtar {
                        width: 2rem;
                        height: 2rem;
                    }
                    .comment-btn {
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    /* form contact */
    .dimas-comment-form {
        input,
        textarea {
            margin-bottom: (40rem/16);
        }
        .dimas-form-row {
            flex-wrap: wrap;
            &.two-col {
                .dimas-form-group {
                    width: 100%
                }
            }
        }
        button {
            width: 100%;
        }
    }
}