/*!
 * Blog Archive css Dimas
 * Copyright GCO Software
 */

// CUSTOM
@import "custom/custom";
// HEADER
@import "header/header";
// FOOTER
@import "footer/footer";
.dimas-blog-archive {
    &__vertical-align {
        padding-top: (185rem/16);
        padding-bottom: (207rem/16);
    }
}

.dimas-menu,
.dimas-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dimas-grid-wrap {
    .dimas-post {
        &.grid-item,
        &.grid-sizer {
            width: calc(33.33% - (4rem/3));
            margin-bottom: 2rem;
        }
        position: relative;
        padding: 2rem (23rem/16);
        border: 1px solid var(--dimas-color-border);
        &:hover {
            .dimas-post__thumbnail {
                &--wrap {
                    opacity: 1;
                }
            }
        }
        &__description {
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            max-height: (78rem/16);
            overflow: hidden;
        }
        &__thumbnail {
            &--wrap {
                width: 100%;
                height: 100%;
                transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                opacity: 0;
            }
            &--img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &--arrow-wrap {
                border: 1px solid var(--dimas-color-white);
                border-radius: 50%;
                position: absolute;
                width: (80rem/16);
                height: (80rem/16);
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    border: 1px solid var(--dimas-color-main);
                    svg {
                        color: var(--dimas-color-main);
                    }
                }
            }
        }
        &__content {
            &--wrap {
                z-index: 1;
            }
        }
        &__link {
            color: var(--dimas-color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}

.dimas-btn {
    display: block;
    width: fit-content;
    transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
    padding: (15rem/16) (47rem/16);
    svg {
        margin-left: (24rem/16);
        margin-bottom: 2px;
        transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
    }
    &:hover {
        background-color: var(--dimas-color-white);
        svg {
            color: var(--dimas-color-main);
            transform: translateX(5px);
        }
    }
}

.dimas-pagination {
    &__wrap {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        &--item {
            &:not(.dot-page, .current-page) {
                cursor: pointer;
            }
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--dimas-color-overlay);
            &:not(:last-child) {
                margin-right: (12rem/16);
            }
            &.prev-page,
            &.next-page {
                svg {
                    width: (20rem/16);
                    height: (20rem/16);
                }
            }
            span,
            a {
                font-family: 'Outfit';
                font-weight: 400;
                font-size: 1rem;
                line-height: (20rem/16);
            }
            span {
                color: var(--dimas-color-white);
            }
            &:not(.dot-page):hover,
            &.current-page {
                background: var(--dimas-color-main);
                a {
                    color: var(--dimas-color-white);
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .dimas-grid-wrap {
        .dimas-post {
            &.grid-item,
            &.grid-sizer {
                width: calc(50% - 1rem);
            }
        }
    }
}

@media (max-width: 991px) {
    .dimas-grid-wrap {
        .dimas-post {
            &__thumbnail {
                &--arrow-wrap {
                    width: 3rem;
                    height: 3rem;
                    svg {
                        width: (19rem/16);
                        height: (19rem/16);
                    }
                }
            }
        }
    }
    .dimas-blog-archive {
        &__vertical-align {
            padding-top: (184rem/16);
            padding-bottom: (114rem/16);
        }
    }
}

@media (max-width: 767px) {
    .dimas-grid-wrap {
        .dimas-post {
            &.grid-item,
            &.grid-sizer {
                width: 100%;
            }
        }
    }
}