/*!
 * Home css Dimas
 * Copyright GCO Software
 */

// CUSTOM
@import "custom/custom";
// HEADER
@import "header/header";
// FOOTER
@import "footer/footer";
.dimas-fullpage-slider {
    height: 100vh;
    .dimas-section {
        background-color: var(--dimas-color-accent);
        background-size: auto 100vh;
        background-position: center;
        &__vertical-align {
            display: flex;
            overflow: hidden;
            flex-direction: column;
            width: 100%;
            min-height: 100%;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
        }
        &__content {
            position: relative;
            z-index: 2;
            display: flex;
            width: 100%;
            min-height: 100%;
            padding-bottom: (120rem/16);
            align-items: start;
            flex: 1 1 auto;
            &--home {
                padding-top: (345vh/9.4);
            }
            &--about {
                padding-top: (328vh/9.4);
            }
            &--projects {
                padding-top: (242vh/9.4);
            }
            &--services {
                padding-top: (198vh/9.4);
            }
            &--testimonials {
                padding-top: (244vh/9.4);
            }
            &--blog {
                padding-top: (194vh/9.4);
            }
            &--contact {
                padding-top: (283vh/9.4);
                .dimas-navbar-socials {
                    position: relative;
                    right: auto;
                    left: 0;
                    .dimas-social-icon {
                        svg {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
        }
    }
}

.dimas-fullpage-slider-nav {
    position: fixed;
    z-index: 25;
    top: 50%;
    right: (49rem/16);
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translate(0, -50%);
    text-align: center;
    color: var(--dimas-color-white);
    li {
        line-height: 0;
        &:not(:first-child) {
            &:not(:last-child) {
                &:not(:nth-child(2)) {
                    margin-top: (20rem/16);
                }
            }
        }
        &:nth-child(2) {
            margin-top: (44rem/16);
        }
        &:last-child {
            margin-top: (44rem/16);
        }
    }
    a {
        &:not(.prev) {
            &:not(.next) {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: (18rem/16);
                height: (18rem/16);
                cursor: pointer;
                border-radius: 50%;
                border: 4px solid var(--dimas-color-transparent);
                position: relative;
                &::after {
                    content: "";
                    width: 4px;
                    height: 4px;
                    display: block;
                    position: absolute;
                    background-color: var(--dimas-color-white);
                    border-radius: 50%;
                }
                &.active,
                &:hover {
                    border-color: var(--dimas-color-main);
                    &::after {
                        background-color: var(--dimas-color-main);
                    }
                }
            }
        }
        &.next,
        &.prev {
            font-size: 0;
        }
    }
}


/* section home */

.dimas-experience {
    width: (200rem/16);
    height: (200rem/16);
    top: (25rem/16);
    right: (123rem/16);
    position: absolute;
    &__img {
        &--circle {
            animation: dimas_spin 10s var(--dimas-transition-linear) forwards infinite;
        }
    }
}


/* section about */

.dimas-gamepad {
    position: absolute;
    right: -(35rem/16);
    bottom: (45rem/16);
}

.dimas-about {
    &__item {
        position: relative;
        &:not(:first-child) {
            margin-top: (64rem/16);
        }
    }
}

.dimas-progress-bar {
    margin-left: (52rem/16);
    &__title {
        margin: 0 0 (11rem/16);
        &>span {
            float: right;
        }
    }
    &__bar {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: (21rem/16);
        border: 1px solid var(--dimas-color-border);
        background: var(--dimas-color-transparent);
        span {
            position: absolute;
            top: 5px;
            left: 5px;
            height: 8px;
            background-color: var(--dimas-color-main);
        }
    }
}

.dimas-about {
    &__experience {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2rem;
        height: 2rem;
    }
}


/* section projects */

.dimas-projects {
    transition: opacity var(--dimas-transition-duration-2) var(--dimas-transition-easing);
    padding-bottom: (70rem/16);
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
    &__category {
        margin-bottom: 1rem;
        >* {
            display: inline;
        }
        &--number {
            font-family: 'Outfit';
            font-size: 1rem;
            line-height: (20rem/16);
            text-transform: uppercase;
            margin-right: (42rem/16);
        }
    }
}


/* section services*/

.dimas-tab {
    &__header {
        cursor: pointer;
        &--icon-wrap {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: (120rem/16);
            height: (120rem/16);
            svg {
                width: (90rem/16);
                height: (90rem/16);
                color: var(--dimas-color-white);
            }
        }
        .dimas-title {
            padding-left: 10rem;
        }
        .nav-link {
            padding: 0;
        }
    }
}

.dimas-services__img {
    width: 100%;
}


/* testimonials */

.dimas-testimonial-slider {
    .swiper-pagination {
        margin-top: (10rem/16);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            transition: all var(--dimas-transition-duration) linear;
        }
        .swiper-pagination-bullet {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: (36rem/16);
            background-color: var(--dimas-color-transparent);
            margin: 0 (12rem/16);
            width: (72rem/16);
            height: (96rem/16);
            padding: 4px;
            &:not(.swiper-pagination-bullet-active) {
                &:hover {
                    img {
                        outline: 2px solid var(--dimas-color-main);
                    }
                }
                opacity: 1;
                border: none;
                img {
                    width: (48rem/16);
                    height: (64rem/16);
                    border-radius: (36rem/16);
                    outline: 2px solid var(--dimas-color-transparent);
                }
            }
            &.swiper-pagination-bullet-active {
                object-fit: cover;
                border: 2px solid var(--dimas-color-main);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


/* blog */

.dimas-grid-wrap {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    .dimas-post {
        height: (260rem/16);
        position: relative;
        padding: 2rem (24rem/16);
        border: 1px solid var(--dimas-color-border);
        &:hover {
            .dimas-post__thumbnail {
                &--wrap {
                    opacity: 1;
                }
            }
        }
        &__description,
        &__title {
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &__title {
            -webkit-line-clamp: 2;
            height: 4rem;
        }
        &__description {
            -webkit-line-clamp: 3;
            max-height: (78rem/16);
        }
        &__thumbnail {
            &--wrap {
                width: 100%;
                height: 100%;
                transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                opacity: 0;
            }
            &--img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &--arrow-wrap {
                border: 1px solid var(--dimas-color-white);
                border-radius: 50%;
                position: absolute;
                width: (80rem/16);
                height: (80rem/16);
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    border: 1px solid var(--dimas-color-main);
                    svg {
                        color: var(--dimas-color-main);
                    }
                }
            }
        }
        &__content {
            &--wrap {
                z-index: 1;
            }
        }
        &__link {
            color: var(--dimas-color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
}

.dimas-btn {
    display: block;
    width: fit-content;
    transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
    padding: (15rem/16) (47rem/16);
    svg {
        margin-left: (24rem/16);
        margin-bottom: 2px;
        transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
    }
    &:hover {
        background-color: var(--dimas-color-white);
        svg {
            color: var(--dimas-color-main);
            transform: translateX(5px);
        }
    }
}


/* section contact */

.dimas-contact-info {
    >li {
        margin-bottom: 2rem;
    }
    list-style: none;
    padding-left: 0;
    &__item {
        color: var(--dimas-color-white);
        &:hover {
            color: var(--dimas-color-main);
            h3 {
                color: var(--dimas-color-main);
            }
        }
        display: flex;
        align-items: center;
        &--text {
            margin-left: (24rem/16);
            font-weight: 400;
        }
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.dimas-contact-form {
    input {
        margin-bottom: 2rem;
    }
    textarea {
        margin-bottom: 4rem;
    }
    input,
    textarea {
        -webkit-appearance: none;
        border-radius: 0;
        width: 100%;
        background-color: var(--dimas-color-transparent);
        color: var(--dimas-color-white);
        line-height: (26rem/16);
        border: none;
        border-bottom: 1px solid var(--dimas-color-white);
        outline: none;
        padding-bottom: (17rem/16);
        &::placeholder {
            color: var(--dimas-color-white);
        }
    }
    .dimas-form-row {
        display: flex;
        justify-content: space-between;
        &.two-col {
            .dimas-form-group {
                width: calc(50% - 1rem);
            }
        }
        .dimas-form-group {
            width: 100%;
        }
    }
    button {
        border: none;
        outline: none;
        &:hover {
            background-color: var(--dimas-color-white);
            color: var(--dimas-color-main);
        }
    }
}


/** Responsive Home Page **/

@media (max-width: 1199px) {
    /* grid blog */
    .dimas-grid-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    /* section padding */
    .dimas-fullpage-slider {
        .dimas-section {
            &__content {
                padding-bottom: (114rem/16);
                align-items: center;
                &--home,
                &--about,
                &--projects,
                &--services,
                &--testimonials,
                &--blog,
                &--contact {
                    padding-top: (112rem/16);
                }
            }
        }
    }
    .dimas-experience {
        right: 0px;
    }
    .dimas-grid-wrap {
        .dimas-post {
            &__thumbnail {
                &--arrow-wrap {
                    width: 3rem;
                    height: 3rem;
                    svg {
                        width: (19rem/16);
                        height: (19rem/16);
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .dimas-gamepad {
        right: auto;
        left: 0;
        bottom: (24rem/16);
    }
    /* section projects */
    .dimas-projects {
        opacity: 1;
        padding-bottom: 2rem;
        &:hover {
            .dimas-projects__category {
                opacity: 1;
            }
        }
        &__category {
            opacity: 0.6;
            >* {
                display: block;
            }
            &--number {
                margin-bottom: 1rem;
                margin-right: 0px;
            }
        }
    }
    /* section services */
    .dimas-tab {
        &__header {
            &--icon-wrap {
                position: relative;
            }
            .dimas-title {
                padding-left: 0px;
            }
        }
    }
    .dimas-grid-wrap {
        grid-template-columns: auto;
        grid-column-gap: 0px;
        grid-row-gap: 1rem;
        .dimas-post {
            height: (282rem/16);
            &__description {
                -webkit-line-clamp: 4;
                max-height: (104rem/16);
            }
        }
    }
}

@media (max-width: 575px) {
    /* form contact */
    .dimas-section {
        &__item {
            &--showall {
                a {
                    width: auto;
                    text-align: center;
                }
            }
        }
    }
    .dimas-contact-form {
        input,
        textarea {
            margin-bottom: (40rem/16);
        }
        .dimas-form-row {
            flex-wrap: wrap;
            &.two-col {
                .dimas-form-group {
                    width: 100%
                }
            }
        }
        button {
            width: 100%;
        }
    }
}


/** End Responsive Home Page **/