/*!
	Theme Name: ECOMCX Theme
	Theme URI: https://ecomcx.com/
	Description: Giao diện được thiết kế và lập trình bởi ECOMCX
	Author: ECOMCX Team
	Author URI: https://ecomcx.com/
	Version: 2.0
	Stable tag: 2.0
	Text Domain: ecomcx-theme
	Tags: flexible-header, custom-colors, custom-menu, custom-logo, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/* Global CSS*/
@media screen and (min-width: 1400px){
.container {
    position: relative;
    width: 1300px;
	}
}
* {
	font-family: 'Raleway', sans-serif;
}

body {
	overflow-x:hidden;
    font-size: 14px;
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;
}
h1 {
    font-size: 33px;
    line-height: 48px;
}

h2 {
    font-size: 26px;
    line-height: 38px;
}

h3{
    font-size: 20px;
    line-height: 29px;
}

h4{
    font-size: 16px;
    line-height: 23px;
}

.home h1 {
    font-size: 40px;
    line-height: 48px;
}

.home h2,#call-in-action-form h2,#call-in-action h2 {
    font-size: 32px;
    line-height: 38px;
}

.home h3{
    font-size: 24px;
    line-height: 29px;
}

.home h4{
    font-size: 20px;
    line-height: 24px;
}

.home h5{
    font-size: 16px;
    line-height: 24px;
}

a {
    cursor: pointer;
	color: #18587b;
	transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
    text-decoration: none;
}

a:focus, a:hover{
	color: #f16351;
    text-decoration:none!important;
    outline: none!important;
}

ul {
    padding: 0;
    list-style-type: none;
}


.ecx-drop-cap-letter {
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px;
    margin-right: 10px;
}

.ecx-margin-0 {
    margin: 0;
}

@media screen and (max-width: 782px) {
    html #wpadminbar {
        height: 46px;
        min-width: 240px;
        top: -46px;
    }   
}

.pt-50
{
    padding-top: 50px;
}
.pb-50
{
    padding-bottom: 50px;
}
.ps-50
{
    padding-left: 50px;
}
.pe-50
{
    padding-right: 50px;
}
.px-50
{
    padding-left: 50px;
    padding-right: 50px;
}
.py-50
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.mt-50
{
    margin-top: 50px;
}
.mb-50
{
    margin-bottom: 50px;
}
.ms-50
{
    margin-left: 50px;
}
.me-50
{
    margin-right: 50px;
}
.mx-50
{
    margin-left: 50px;
    margin-right: 50px;
}
.my-50
{
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width:991px)
{
    .content-wrap {
    overflow: hidden;
}
    .pt-50
{
    padding-top: 30px;
}
.pb-50
{
    padding-bottom: 30px;
}
.ps-50
{
    padding-left: 30px;
}
.pe-50
{
    padding-right: 30px;
}
.px-50
{
    padding-left: 30px;
    padding-right: 30px;
}
.py-50
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.mt-50
{
    margin-top: 30px;
}
.mb-50
{
    margin-bottom: 30px;
}
.ms-50
{
    margin-left: 30px;
}
.me-50
{
    margin-right: 30px;
}
.mx-50
{
    margin-left: 30px;
    margin-right: 30px;
}
.my-50
{
    margin-top: 30px;
    margin-bottom: 30px;
}
}


.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: '\F27A';
    font-family: 'bootstrap-icons';
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '\F27B';
    font-family: 'bootstrap-icons';
}
.section-img-wrap,.accordion-img-wrap
{
    position: relative;
}
.section-img-wrap:before,.section-img-wrap:after,.accordion-img-wrap:before,.accordion-img-wrap:after
{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    transition: transform .5s,opacity .2s ease-in-out 0s;
    opacity: 0;
}
.section-img-wrap:hover:before,.accordion-img-wrap:hover:before {
    transform: scale(0,1);
    opacity: 1;
}
.section-img-wrap:hover:after,.accordion-img-wrap:hover:after {
    transform: scale(1,0);
    opacity: 1;
}
section,.main-index
{
    background: #fff;
    z-index: 2;
    position: relative;
}
.main-index
{
    padding-bottom: 50px;
}
.overlay{
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
/* Keyframes */
@keyframes bgprogress {
    0% {
        background: linear-gradient(90deg, #FFF 50%, transparent 50%);
    }
    100% {
        background: linear-gradient(90deg, #FFF 0%, #FFF 100%);
    }
}
.bgprogress
{
    animation:2000ms linear 0ms infinite normal both running bgprogress;
}
@keyframes fullwidth {
    0% {
        width: fit-content;
    }
    100% {
        width: 100%;
    }
}
.fullwidth
{
    animation:2000ms linear 0ms infinite normal both running fullwidth;
}


.has-animation
{
	opacity: 0;
}
@keyframes progress {
    0% {
        transform: scale(0, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}
.progress_up
{
	animation:6000ms linear 0ms infinite normal both running progress;
}
@keyframes sideUp {
    0% {
        opacity: 0;
        transform: translate3d(0px, 140%, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0, 0px);
    }
}
.sideUp
{
	animation:650ms linear 0ms 1 normal both running sideUp;
}
@keyframes sideDown {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 140%, 0px);
    }
}
.sideDown
{
	animation:650ms linear 0ms 1 normal both running sideDown;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fadeOut
{
	animation:650ms linear 0ms 1 normal both running fadeOut;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn
{
	animation:650ms linear 0ms 1 normal both running fadeIn
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes movedelement{
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(10px,10px);
        transform: translate(10px,10px);
    }

    50% {
        -webkit-transform: translate(5px,5px);
        transform: translate(5px,5px);
    }

    75% {
        -webkit-transform: translate(10px,-5px);
        transform: translate(10px,-5px);
    }

    100% {
        -webkit-transform: translate(0px,0px);
        transform: translate(0px,0px);
    }

}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0turn) translateY(-75px) translateY(50%) rotate(1turn);
        transform: rotate(0turn) translateY(-75px) translateY(50%) rotate(1turn);
    }
    100% {
        webkit-transform: rotate(1turn) translateY(-75px) translateY(50%) rotate(0turn);
        transform: rotate(1turn) translateY(-75px) translateY(50%) rotate(0turn);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d(1.05,1.05,1.05);
    }
}
@keyframes UpDown {
    0%, 100% {
         -webkit-transform: translate(0px,0px);
        transform: translate(0px,0px);
    }
    50% {
        -webkit-transform: translate(0px,-25%);
        transform: translate(0px,-25%);
    }
}

@keyframes arrow-glide-down {
    0% {
        opacity: 0;
        transform: translate3d(0,-5px,0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0,-5px,0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
}

/* End of Keyframes */

/* ECX Moved Element */

.ecx_moved_element {
    webkit-animation: movedelement 5s linear infinite;
    animation: movedelement 5s linear infinite;
}

.ecx-spin-move {
    border: 2px solid #cae5f7;
    border-radius: 50%;
    background-color: rgba(241,159,16,0);
    width: 125px;
    height: 125px;
    padding: 0;
    margin: 0;
    -webkit-transform: rotate( 90deg );
    -ms-transform: rotate(90deg);
    transform: rotate( 90deg );
}

.ecx-spin-move .static-circle {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -6px;
    top: 25px;
    border-radius: 50%;
    background: #f0c5d5;
    z-index: 0;
    display: block;
}

.ecx-spin-move span.moved {
    background-color: #fead89;
    display: block;
    width: 40px;
    height: 40px;
    margin: calc(50% - 20px) auto 0;
    border-radius: 50%;
    -webkit-animation: spin 8s linear infinite !important;
    animation: spin 8s linear infinite !important;
    z-index: 2;
}

.ecx-circle-moved {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px #f16351 solid;
    background: transparent;
}

.ecx-circle-1 {
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: #18587B;
    position: absolute;
    top: 10px;
    left: 0;
}

.ecx-circle-2 {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: #f19f0f;
    position: absolute;
    top: 30px;
    left: 10px;
}

.ecx-circle-3 {
    width:40px;
    height: 40px;
    border-radius: 50%;
    border:2px #cae5f6 solid;
    background: transparent;
}

/* End of ECX Moved Element */

/* ECX Button */
.ecx-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    line-height: normal;
    border: 1px solid #18587b;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    color: #fff!important;
    overflow: hidden;
}

.ecx-button:before {
    position: absolute;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    background-color: #18587b;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),-webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.ecx-button:hover {
    color: #18587b;
}

.ecx-button:hover:before{
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.ecx-button.dark {
    border: none;
    background-color: #18587b;
}

.ecx-button.dark:before {
    background-color: #f16351;
}

.ecx-button.dark:hover {
    color: #fff;
}

/*End of ECX Button */

/* ECX Button 2 */
.ecx-btn.ecx-btn-transparent {
    color: #F16351;
    font-weight: 600;
    font-size: 14px;
    padding: 0 0 0 11px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.ecx-btn.ecx-btn-transparent.ecx-dark-skin {
    color: #18687b;
    font-style: italic;
}

.ecx-btn.ecx-btn-transparent:after, .ecx-btn.ecx-btn-transparent:before {
    content: '';
    position: absolute;
    left: 1px;
    width: 4px;
    height: 4px;
    background: #f16351;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: top .3s cubic-bezier(.51,.09,0,.99);
    -moz-transition: top .3s cubic-bezier(.51,.09,0,.99);
    transition: top .3s cubic-bezier(.51,.09,0,.99);
}

.ecx-btn.ecx-btn-transparent.ecx-dark-skin:before {
    background: #18587b;
}

.ecx-btn.ecx-btn-transparent:before {
    top: 50%;
}

.ecx-btn.ecx-btn-transparent:after {
    top: 120%;
}

.ecx-btn.ecx-btn-transparent:hover:before, .ecx-product-item:hover .ecx-btn.ecx-btn-transparent:before {
    top: -110%;
}

.ecx-btn.ecx-btn-transparent:hover:after, .ecx-product-item:hover .ecx-btn.ecx-btn-transparent:after {
    top: 50%;
}

.ecx-btn .ecx-btn-text {
    display: table-cell;
    vertical-align: middle;
}

/* End of ECX Button 2 */

/* End of Global CSS */

/* Header */
.main-header .container {
    padding-right: 0;
    padding-left: 0;
}
    
.header-left-logo
{
    padding-left: var(--bs-gutter-x,.75rem);
}
.header-middle {
    width: 870px;
    background: #fff;
    height: 90px;
    position: relative;
    transition: width 0.5s linear;
}
.header-right-button
{
    padding-right: var(--bs-gutter-x,.75rem);
}
@media screen and (max-width:991px)
{
    .header-middle {
        height: 60px;
        width: 100%;
    }
}
.main-header.affix-mobile .header-middle, .main-header.scroll-menu .header-middle
{
    width: 100%;
}
.main-body {
    position: relative;
    right: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.site-header {
    position: relative;
    z-index: 999;
}

.site-header .main-header{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-logo{
    position: relative;
}

.site-logo a img{
	width:auto;
    max-height: 30px;
}

/*Main Menu */
.main-header-menu {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

ul#menu-main-menu {
    margin: 0;
    position: relative;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

ul#menu-main-menu>li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    position: relative;
}

ul#menu-main-menu>li>a {
    position: relative;
    z-index: 2;
    display: block;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    letter-spacing: 1.3px;
    font-weight: 700;
    font-size: 13px;
}

ul#menu-main-menu>li>a, ul#menu-main-menu li a{
    color: #333;
}
ul#menu-main-menu>li:hover>a, ul#menu-main-menu li:hover a,ul#menu-main-menu>li.current_page_item > a {
    color: #18587B;
}

ul#menu-main-menu>li:not(.menu-item-has-children)>a:after {
    position: absolute;
    content: '';
    top: 20px;
    transform: translateY(20px);
    left: 50%;
    width: 0%;
    border-bottom: 2px solid #fff;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

ul#menu-main-menu>li:hover>a:after {
 border-bottom: 2px solid #f16351;
}

ul#menu-main-menu>li:hover>a:after, ul#menu-main-menu>li.current-menu-item>a:after  {
    left: 0%;
    width: 100%;
}

li.menu-item-has-children a .icon-nav {
    display: inline-block;
    font-size: 10px;
    vertical-align: middle;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
ul#menu-main-menu>li.menu-item-has-children:hover > a > .icon-nav {
    color: #f16351;
    moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

ul.sub-menu li a {
    padding: 8px 20px;
    display: block;
    color: #333333 !important;
    font-size: 13px;
    text-align: left;
    border-left: 3px solid transparent;
}

ul.sub-menu li:first-child a{
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #18587b!important;
}

ul.sub-menu li:first-child a:after{
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -5px;
    border-bottom: 1px solid #dfe3e8;
}

ul.sub-menu li:not(:first-child) a:hover, ul.sub-menu li:not(:first-child) a:focus {
    text-decoration: none;
    border-left-color: #18587b;
    background-color: #f4f6f8;
}

.header-wrap-icon {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.header-wrap-icon>div, .header-wrap-icon>a {
    display: inline-block;
    position: relative;
    transition: opacity 150ms linear;
}

.header-wrap-icon>div:last-child {
 margin-right: 0;
}

.header-wrap-icon .header-phone i:before {
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    line-height: inherit;
    webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
}

.header-wrap-icon .header-phone a:hover i:before {
    webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.main-header .ecx-button {
    border-color: #fff;
}

.main-header .ecx-button:hover {
    color: #18587b;
    background-color: #fff;
}

.main-header .ecx-button:before {
    background-color: transparent;
}

.main-header .ecx-button:hover:before {
    background-color: #18587b;
}

.ecx-hamburger-menu {
    width: 27px;
    height: 19px;
    cursor: pointer;
    display: block;
    transition: all 150ms linear;
}


.ecx-hamburger-menu .bar, .ecx-hamburger-menu .bar:after, .ecx-hamburger-menu .bar:before {
    width: 27px;
    height: 3px;
}

.ecx-hamburger-menu .bar {
    position: relative;
    background: #333;
    display: block;
    -ms-transition: all 0ms 100ms, width 150ms linear;
    -webkit-transition: all 0ms 100ms, width 150ms linear;
    transition: all 0ms 100ms, width 150ms linear;
    -ms-transform: translateY(7px);
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
}

.ecx-hamburger-menu .bar:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 7px;
    background: #333;
    -ms-transition: bottom 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),width 150ms linear,background 150ms linear;
    -webkit-transition: bottom 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),width 150ms linear,background 150ms linear;
    transition: bottom 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),width 150ms linear,background 150ms linear;
}

.ecx-hamburger-menu .bar:after {
    content: "";
    position: absolute;
    right: 0;
    top: 7px;
    background: #333;
    -ms-transition: top 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),width 150ms linear,background 150ms linear;
    -webkit-transition: top 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),width 150ms linear,background 150ms linear;
    transition: top 300ms 100ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),width 150ms linear,background 150ms linear;
}

.main-body.sidebar-move .ecx-hamburger-menu .bar, .ecx-hamburger-menu:not(.active):hover .bar {
    width: 31px;
}

.main-body.sidebar-move .ecx-hamburger-menu:not(.active) .bar:before, .ecx-hamburger-menu:not(.active):hover .bar:before {
    width: 17px;
}

.main-body.sidebar-move .ecx-hamburger-menu:not(.active) .bar:after, .ecx-hamburger-menu:not(.active):hover .bar:after {
    width: 20px;
}

/* Sidebar Desktop*/

.site-sidebar.style--sidebar {
    position: fixed;
    width: 480px;
    height: 100vh;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 8888;
    overflow: hidden;
    -ms-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.site-sidebar.style--sidebar.active {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.site-sidebar.style--sidebar .sidebar-container {
    width: calc(100% + 20px);
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.site-sidebar.style--sidebar .sidebar-container-last {
    width: calc(100% - 0px);
    position: relative;
    overflow: hidden;
    min-height: 100%;
    padding: 120px 40px 0;
}


.site-close-handle {
    position: absolute;
    top: auto;
    bottom: 70px;
    right: 0;
    width: 35px;
    height: 35px;
    z-index: 999;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    -ms-transition: transform 150ms linear;
    -webkit-transition: transform 150ms linear;
    transition: transform 150ms linear;
}

.site-close-handle .site-close-btn i:before {
    font-size: 32px;
    color: #18587b;
    webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
}

.site-close-handle .site-close-btn:hover i:before {
    webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
} 

.site-overlay {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7777;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms linear;
}

.site-overlay.active {
    opacity: 1;
    visibility: visible;
}

.sidebar-top {
    position: relative;
    margin-bottom: 31px!important;
}
.sidebar-top a img{
    height: 30px;
    width: auto;
}

.sidebar-container-last>div:not(:last-child) {
    margin-bottom: 8px;
}

.site-sidebar h3.ecx-title {
    text-transform: uppercase;
    color: #18587b;
    margin-bottom: 8px;
}

.sidebar-follow-us .ecx-qr-code img {
    max-width: 100px;
}

.sidebar-contact-area .contact-info-content h3 {
    display: inline-block;
    margin: 0 10px;
}

.sidebar-contact-area .contact-info-content h3 a i:before {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-right: 5px;
}

.contact-info-content .social {
    margin-top: 8px;
}

.sidebar-copyright p {
    margin: 0;
    font-size: 12px;
    opacity: .66;
}

.sidebar-copyright p a {
    color: #333;
}

/* End of Sidebar Desktop */

/* Only PC*/

@media only screen and (min-width:992px){

    .site-header .main-header {
            transition: all 0.2s linear 0s;
    }

    .logged-in.admin-bar .main-header.affix-mobile {
        margin-top:32px;
    }

    .main-header{
		width:100%;
        border-bottom: 1px solid #e7e7e7;
    }
    .main-header.header-transparent {
        background-image: url(/wp-content/uploads/2022/03/bg-white.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;
        border: 0;
        position: relative;
        width: 100%;
        z-index: 999;
        -webkit-transition: background-size 0.5s linear,-webkit-box-shadow 0.3s ease-in-out 0.5s;
        transition: background-size 0.5s linear,-webkit-box-shadow 0.3s ease-in-out 0.5s;
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    }
    .home  .main-header.header-transparent
    {
        position: absolute;
        background-size: 50%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .home .main-header.header-transparent.affix-mobile,.main-header.header-transparent.affix-mobile {
        background-size: 100%;
        position: fixed!important;
        top: 0;
        z-index: 999;
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    }
    body:not(.home) .main-header.header-transparent.affix-mobile{
        animation: fadeInDown 0.6s both;
    }
    /* Main menu */
    .dropdown-wrapper {
        position: absolute;
        z-index: 9;
        top: 100%;
        left: 0;
        padding: 0 10px 10px;
        opacity: 0;
        pointer-events: none;
        -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
        -webkit-transform-origin: 50% 0;
        -webkit-transition: 350ms;
        -moz-transition: 350ms;
        -o-transition: 350ms;
        transition: 350ms;
    }

    .dropdown-wrapper.dropdown-width--auto {
        min-width: 285px;
        left: -45px;
    }

    ul#menu-main-menu>li.menu-item-has-children:hover .dropdown-wrapper {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
    }

    ul#menu-main-menu>li.menu-item-has-children .dropdown-wrapper:before, ul#menu-main-menu>li.menu-item-has-children .dropdown-wrapper:after{
        content: '';
        position: absolute;
        border: 6px solid transparent;
        border-top-color: #fff;
        border-right-color: #fff;
        box-shadow: 0px 0px 7px 0px rgb(8 88 157 / 20%);
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    ul#menu-main-menu>li.menu-item-has-children .dropdown-wrapper:before{
        box-shadow: none;
        z-index: 10;
    }

    ul#menu-main-menu>li.menu-item-has-children .dropdown-width--auto:before, ul#menu-main-menu>li.menu-item-has-children .dropdown-width--auto:after{
        top: -5px;
        left: 70px;
    }

    ul#menu-main-menu>li.menu-item-has-children:hover .dropdown-wrapper:before, ul#menu-main-menu>li.menu-item-has-children:hover .dropdown-wrapper:after{
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible;
    }           

    .dropdown-wrapper.dropdown-width--auto .dropdown-content {
        padding-top: 0px;
    }

    .dropdown-wrapper .dropdown-content .dropdown-list {
        position: relative;
        z-index: 2;
        background: #fff;
        width: 100%;
        display: inline-block;
        border-radius: 4px;
        box-shadow: 0px 0px 7px 0px rgb(8 88 157 / 20%);
    }

    .dropdown-wrapper.dropdown-width--auto .dropdown-content .dropdown-list {
        padding: 8px 0;
    }

    .dropdown-list ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    /* End of Main Menu*/

    /* Sidebar PC */
    .main-body.sidebar-move{
        right: 30%;
    }
    .site-sidebar.style--sidebar{
        width: 30%;
    }  

}
/* End of Only PC */

/* Only Mobile */

/* For Tablet & Mobile */

.background-info {
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
}

@media only screen and (max-width: 991px) {
	.sidebar-about-area
	{
		display:none;
	}
    .scroll-menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 999;
        -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        -webkit-animation: fadeInDown 500ms ease-in-out;
        -moz-animation: fadeInDown 500ms ease-in-out;
        -ms-animation: fadeInDown 500ms ease-in-out;
        animation: fadeInDown 500ms ease-in-out;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -ms-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
    }

	.site-header .main-header {
        background-color: #fff;
		display:flex;
		align-content:center;
        height: 60px;
    }
	
    .main-body.sidebar-move {
        right: 480px;
    }

    .site-close-handle {
        top: 60px;
        right: 20px;
    }

    ul#menu-main-menu {
        display: block;
    }

    ul#menu-main-menu li {
        display: block;
        margin-bottom: 5px;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    }

    ul#menu-main-menu li.menu-item.active {
        color: #18587b;
    }

    ul#menu-main-menu li.menu-item:not(li.menu-item-has-children) {
        padding: 10px 0;
    }

    ul#menu-main-menu li a {
        display: inline-block;
        width: calc(100% - 45px);
        vertical-align: middle;
    }

    ul#menu-main-menu>li.menu-item > a {
        color: #333;
        font-weight: 600;
        font-size: 16px;
        padding: 0;
        text-transform: capitalize;
    }

    ul#menu-main-menu>li.menu-item-has-children.active > a {
        color: #18587b;
    }

    ul#menu-main-menu li.menu-item .icon-subnav {
        text-align: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 18px;
        line-height: 2;
        display: inline-block;
        vertical-align: middle;
        transition: .3s linear all;
    }

    ul#menu-main-menu li.menu-item.active .icon-subnav {
        color: #18587b;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }

    ul#menu-main-menu li.menu-item-has-children ul.sub-menu {
        display: none;
        transition: 1s linear all;
    }

    ul#menu-main-menu li.menu-item-has-children.active ul.sub-menu {
        display: block;
    }

    ul#menu-main-menu ul.subnav-children li.menu-item > a {
        padding: 0 0 0 5px;
        font-weight: 500;
        width: 100%;
    }

    ul.sub-menu li:first-child a:after {
        top: auto;
        bottom: -8px;
        left: 30px;
        right: 50px;;
    }

}

/*For Only Mobile */

@media only screen and (max-width: 767px){
    .main-header {
        padding: 10px 0;
    }

    .header-wrap-icon {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    
    .header-wrap-icon .header-phone i:before {
        font-size: 18px;
    }

    .main-body.sidebar-move {
        right: 320px;
    }

    .site-sidebar.style--sidebar {
        width: 320px;
    }  

    .site-sidebar.style--sidebar .sidebar-container {
        width: 100%;
    }

    .site-sidebar.style--sidebar .sidebar-container-last {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }


    .site-close-handle {
        top: 0;
        right: 15px;
    }

}
/* End of Only Mobile */
/* End of Header */

/* Footer */
.footer {
    z-index: 1;
    height: 100vh;
    position: relative;
    background: rgba(29,29,29,1);
    overflow: hidden;
}
.footer,.footer a {
    color: #fff!important;
}
.footer-copyright
{
    width: 100%;
    min-height: 80px;
    background: rgba(15,15,15,1);
    position: absolute;
    bottom: 0;
}
.footer-top
{
    min-height: calc(100vh - 80px);
    bottom: 0px;
    margin: 0 auto;
}
.footer-wrap
{
    width: 100%;
    position: fixed;
    min-height: 100vh;
    bottom: 0;
    margin: 0 auto;
}
.footer-top >*:not(img)
{
    width: 100%;
}
a.social_link svg {
    width: 14px;
    margin: 0 5px;
    fill: #fff;
}
.footer-menu li {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 10px;
    font-weight: 700;
    display: inline-block;
}
.footer-info-wrap p,.footer-copyright p
{
    font-size: 13px;
    margin-bottom: 0;
}
ul.social li {
    position: relative;
    overflow: hidden;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0px 1px;
    display: inline-block;
    vertical-align: middle;
}

ul.social li a img {
    width: auto;
    height: 35px;
    bottom: 0;
    left: 0;
    position: absolute;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

ul.social li a img:first-child {
    bottom: -35px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

ul.social li:hover a img:first-child {
    bottom: 0;
    z-index: 1;
}


ul.social li:hover a img:last-child {
    bottom: -35px;
}
* End of For Tablet & Mobile */

/* For mobile */

@media only screen and (max-width: 767px) {

    ul.social {
        margin-bottom: 0;
    }

    ul.social li {
        width: 24px;
        height: 24px;
        margin-top: 8px;
    }

    ul.social li a img {
        width: 24px;
        height: 24px;
    }

}

/*End of only mobile */

/* End of footer */

/* Homepage */

/*Begin Home Slider */
.main-index {
    position: relative;
}
img.slider-background-img{
	object-position:center;
	object-fit:cover;
    width: 100%;
    height: 100vh;
}
.swiper-slide .slider-info-wrap
{
    display: none;
}
.background-info .slider-info-wrap {
    color: #18586b;
    width: 100%;
    background: #fff;
    bottom: 0;
}
.title-wrap
{
    overflow: hidden;
}
.title-wrap .title.slider-title
{
    opacity: 0;
    transform: translate3d(0px, 140%, 0px);
}
@media screen and (max-width:991px)
{
    img.slider-background-img{
        height: calc(100vh - 60px);
    }
    .slider-info-wrap .title {
        max-width: 280px;
    }
}
@media screen and (max-width:767px)
{
    .slider-info-wrap {
    background: linear-gradient(90deg, #fff 320px, transparent 320px);
    }
    .background-info {
        min-width: 320px;
    }
}
.ecx-btn-more.ecx-circle-3 i:before {
    font-size: 32px;
    webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    vertical-align:-7px;
}

.ecx-btn-more.ecx-circle-3:hover i:before {
    webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
} 
.ecx-btn-more.ecx-circle-3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #18587b;
    border:none;
}
#home-slider 
{
    width: 100%;
}
div#home-slider .swiper-button-prev:after,div#home-slider .swiper-button-next:after {
    font-size: 16px;
}
div#home-slider .swiper-button-prev,div#home-slider .swiper-button-next {
    width: 50px;
    height: 50px;
    color: #000;
    background-color: #fff;
}
div#home-slider .swiper-button-prev:hover,div#home-slider .swiper-button-next:hover {
    color: #fff;
    background-color: #333;
}
div#home-slider .swiper-button-prev{
    right: 50px;
    left: auto;
}
div#home-slider .swiper-button-next {
    right: 0;
}
/*popup*/
a.call-in-action-btn
{
    cursor: pointer;
}
.ecx-home-register-form input.ecx-button-register,.popup-form form input.ecx-button-register,
.subcribe-content-wrap form input.ecx-button-register,.siderbar-section-content form input.ecx-button-register
{
        border: none;
        padding: 0;
        background: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
	    box-shadow:none;
}
.popup-form form input.ecx-button-register,.subcribe-content-wrap input.ecx-button-register,.siderbar-section-content input.ecx-button-register
{
    line-height: 25px;
	margin:0;
}
.subcribe-content-wrap .ecx-button.dark
{	
border-radius: 50px;
padding: 8px 10px;
border: none;
box-shadow: 1px 2px 4px 0px rgb(31 32 33 / 33%);
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/* End of Home Slider */

/* Begin Home Skill */
img.section-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.skill-wrap,.skill,.skill-line-wrap {
    width: 100%;
}
.skill-line-wrap {
    height: 3px;
    background-color: rgba(224,224,224,1);
}
.skill-line{
    transform-origin: left;
    height: 3px;
    background-color: rgba(24,88,123,1);
}
.skill-percent, .skill-title {
    font-size: 14px;
    font-weight: 500;
}
@media screen and (max-width:767px)
{
    #home-skill
    {
        flex-direction: column-reverse;
    }
}

/* End of Home Skill */

/* Begin Home Package */
.section-title,.section-content
{
    position: relative;
    width: 100%;
}
#package .content-wrap
{
    width: 100%;
    position: relative;
}
#package .section-title
{
    background-size: cover;
    min-height: 380px;
    background-attachment: fixed;
}
#package .section-content
{
    margin-top: -120px;
    z-index: 2;
}
#package .section-title h2.title,#package .section-title h3.sub-title
{
    width: 100%;
    color: #fff;
    z-index: 2;
}
#package .section-title h2.title
{
    font-size: 32px;
    line-height: 38px;
}
#package .section-title h3.sub-title
{
    font-size: 24px;
    line-height: 29px;
}
h4.package-item-title
{
    font-size: 20px;
    line-height: 24px;
}
.package-item-table {
    position: relative;
    background-color: #fff;
    width: calc(33.33% - 30px);
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    transition: transform .4s;
}
.package-item-table:hover {
    transform: translate(0, -15%);
}
.package-content {
    padding-bottom: 64px;
}

#package .ecx-btn-more
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}
#package .ecx-btn-more.ecx-button
{
    width: fit-content;
}
#package  .ecx-button.call-in-action-btn:hover
{
    color: #18587b!important;
}

@media screen and (max-width:991px)
{
    .package-item-table {
        width: calc(33.33% - 7px);
    }
    .package-item-table:hover {
        transform: translate(0, -10%);
    }

    #package .ecx-btn-more
    {
        bottom: 30px;
    }
    .package-item-table p {
    margin-bottom: 0.5rem;
    }
}
@media screen and (max-width:767px)
{
    .package-item-table {
        width: 100%
    }
    .package-item-table:nth-child(n+2) {
        margin-top: 30px;
    }
    .package-item-table:hover {
        transform: translate(0, 0);
    }
}
/* End of Home Package */

/* Begin Home Portfolio */
#home-portfolio .section-content
{
    padding-bottom: 30px;
}
.corner-line-wrap,.header-corner-line-wrap
{
    position: relative;
    max-width: 730px;
    padding: 30px;
    margin-bottom: 30px;
}
.corner-line-wrap:before,.corner-line-wrap:after,.header-corner-line-wrap-before,.header-corner-line-wrap-after
{
    transition: width 0.8s linear, height 0.8s linear;
    content: "";
    display: block;
    position: absolute;
    border-color: #18587B;
    border-style: solid;
    width: 75%;
    height: 75%;
}
.corner-line-wrap.added-animation:before,.corner-line-wrap.added-animation:after
{
    width: 15px;
    height: 15px;
}
.corner-line-wrap:before,.header-corner-line-wrap-before
{
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
}
.corner-line-wrap:after,.header-corner-line-wrap-after
{
    bottom: 0;
    right: 0;
    border-width: 0 2px 2px 0;
}
.corner-line-wrap .title,.corner-line-wrap .sub-title
{
   width: 100%;
   color: #18587B;
}
.corner-line-wrap .sub-title
{
    font-weight: 400;
    font-size: 16px;
}
.ecx-portfolio-item {
    position: relative;
    width: calc(33.33% - 20px);
}
.ecx-portfolio-item:nth-child(n+4)
{
    margin-top: 30px;
}
.ecx-portfolio-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
@media screen and (min-width:1400px)
{
    .ecx-portfolio-item img
    {
        height: 250px
    }
}
@media screen and (max-width:991px)
{
    .ecx-portfolio-item {
        width: calc(50% - 15px);
    }
    .ecx-portfolio-item:nth-child(n+3)
    {
        margin-top: 30px;
    }
}
@media screen and (max-width:767px)
{
    .ecx-portfolio-item {
        width: 100%;
    }
    .ecx-portfolio-item:nth-child(n+2)
    {
        margin-top: 30px;
    }
    .ecx-portfolio-item img
    {
        height: auto;
    }
}
.ecx-portfolio-item .ecx-portfolio-item-info{
    top:0;
    left: 0;
    padding-top: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
}
.ecx-portfolio-item img,.ecx-portfolio-item .ecx-portfolio-item-info
{
    transition: all 1s ease 0s;
}
.ecx-portfolio-item:hover img
{
    transform: scale(1.26);
    -webkit-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    -moz-transform: scale(1.26);
}
.ecx-portfolio-item:hover .ecx-portfolio-item-info{
    opacity: 1;
}
.ecx-portfolio-item-info .title.ecx-portfolio-title{
    max-height: 75px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ecx-portfolio-item-info .ecx-btn-more.ecx-circle-3{
    background-color: #fff;
    color: #18587B;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}
#home-portfolio .ecx-button
{
    background-color: #18587b;
    color: #18587b!important;
}
#home-portfolio .ecx-button:before
{
    background-color: #fff;
}
#home-portfolio .ecx-button:hover
{
    color: #fff!important;
}
/* End of Home Portfolio */

/* Home Service */
#home-service .accordion-item,#home-service .accordion-item .accordion-button{
    width: 100%;
}
#home-service .accordion-button:not(.collapsed),#home-service .accordion-button.collapsed,h3.title.accordion-title
{
    color: #18587B;
    background-color: transparent;
}
#home-service .content-wrap
{
    width: 100%;
    position: relative;
}
.accordion-button .accordion-header
{
    position: relative;
}
.accordion-button:not(.collapsed)::after,.accordion-button::after
{
    content: unset;
}
.accordion-button .accordion-header::after {
    font-family: 'bootstrap-icons';
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #18587B;
}
.accordion-button:not(.collapsed) .accordion-header::after {
    content: "\F63B";
}
.accordion-button.collapsed .accordion-header::after {
    content: "\F64D";
}
.accordion-button:not(.collapsed)
{
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-button.collapsed
{
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.125);
    border-bottom: none;
}
#home-service .accordion-body
{
    padding: 30px var(--bs-gutter-x,.75rem);
}
.accordion-content-wrap
{
    padding-right: 10px;
}
.accordion-img-wrap
{
    padding-left: 10px;
}
@media screen and (max-width:767px)
{
    .accordion-content-wrap
    {
        padding-right: 0px;
        padding-top: 30px;
    }
    .accordion-img-wrap
    {
        padding-left: 0px;
    }
    #home-service .accordion-body {
        flex-direction: column-reverse;
    }
}
/* End of Home Service */

/* Begin Home Partner */
img.slider-partner-img {
    width: 100%;
    height: auto;
}
#home-partner .swiper-button-next:after,#home-partner .swiper-button-prev:after
{
    position: absolute;
    top:92px;
    font-size: 16px;
    color: rgba(241,99,81,1);
}
@media screen and (max-width:1399px)
{
    #home-partner .swiper-button-next:after,#home-partner .swiper-button-prev:after
    {
        top:77px;
    }
}
@media screen and (max-width:1199px)
{
    #home-partner .swiper-button-next:after,#home-partner .swiper-button-prev:after
    {
        top:90px;
    }
}
@media screen and (min-width:992px) and (max-width:1010px) 
{
    #home-partner .swiper-button-next, #home-partner .swiper-button-prev {
    background-color: #fff;
    height: 40px!important;
    width: 40px;
    top: 77px!important;
    border: 1px solid #18587B;
    }
    #home-partner .swiper-button-prev {
    left: 30px!important;
    }
    #home-partner .swiper-button-next{
    right: 30px!important;
    }
    #home-partner .swiper-button-next:after,#home-partner .swiper-button-prev:after
    {
        top:auto;
    }
}
@media screen and (max-width:991px)
{
    #home-partner .swiper-button-next:after,#home-partner .swiper-button-prev:after
    {
        top:63px;
    }
}
@media screen and (max-width:767px)
{
    #home-partner .swiper-button-next:after,#home-partner .swiper-button-prev:after
    {
        top:73px;
    }
}

#home-partner .swiper-button-next,#home-partner .swiper-button-prev
{
    background-color: #fff;
    height: 100%;
    width: 40px;
    top: 0;
    margin-top: 0;
}

#home-partner .swiper-button-next
{
    right: 0;
}
#home-partner .swiper-button-prev
{
    left: 0;
}
@media screen and (max-width:991px)
{
    #home-partner .swiper-button-next, #home-partner .swiper-button-prev {
    background-color: #fff;
    height: 40px;
    width: 40px;
    top: 50px;
    border: 1px solid #18587B;
    }
    #home-partner .swiper-button-prev {
    left: 30px;
    }
    #home-partner .swiper-button-next{
    right: 30px;
    }
    #home-partner .swiper-button-next:after,#home-partner .swiper-button-prev:after
    {
        top:auto;
    }
}
@media screen and (max-width:499px)
{
    #home-partner .swiper-button-next, #home-partner .swiper-button-prev {
    top: 123px;
    }
}
div#partner-slider {
    padding-bottom: 50px;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
}
.swiper-pagination.swiper-pagination-bullets
{
    bottom: 0;
}
.swiper-pagination-bullet
{
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active
{
    background-color: rgba(241,99,81,1);
}
/* End of Home Partner */

/* Begin Home Blog */
#home-blog article.ecx-post.ecx-grid-item
{
    position: relative;
    background-color: #fff;
    width: calc(33.33% - 20px);
}
@media screen and (max-width:991px)
{
    #home-blog article.ecx-post.ecx-grid-item
    {
        width: calc(50% - 15px);
    }
    #home-blog article.ecx-post.ecx-grid-item:nth-child(n+3)
    {
        display: none;
    }
}
@media screen and (max-width:767px)
{
    #home-blog article.ecx-post.ecx-grid-item
    {
        width: 100%;
    }
    #home-blog article.ecx-post.ecx-grid-item:nth-child(n+3)
    {
        display: block;
    }
    #home-blog article.ecx-post.ecx-grid-item:nth-child(n+2)
    {
        margin-top: 30px
    }
}
.ecx-post {
    position: relative;
    display:block;
    overflow: hidden;
}

.ecx-post:hover {
    -webkit-box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
}
.archive .ecx-post:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.archive .ecx-post-description p,.archive .ecx-post-description
{
    font-size: 16px;
    margin-bottom: 0;
}
.ecx-post-thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    background: #333333;
}

.ecx-post-thumbnail img{
    height: auto;
    width: 100%;
    transition: all 1.5s ease 0s;
}

.ecx-post:hover .ecx-post-thumbnail img {
    transform: scale(1.26);
    -webkit-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    -moz-transform: scale(1.26);
    opacity: 0.8;
}

.ecx-post-info {
	min-height: calc(100% - 270px);
    position: relative;
    padding: 19px 12px;
    background: #f7f8fa;
}
.archive .ecx-post-info {
    min-height: unset;
    position: relative;
    padding: 30px 0 0;
    background: #fff;
}
.ecx-post-title {
    max-height: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ecx-post-title a {
    color: #333;
}
.ecx-post-meta-data .post-meta{
    margin-bottom: 8px;
    font-size: 16px;
}
.archive span.post-meta:not(:last-child):after {
    content: "/";
    margin: 0 10px;
}
.ecx-post-meta-data .ecx-post-excerpt{
    font-size: 16px;
}
.ecx-post-meta-data .ecx-post-excerpt p{
    text-align: justify;
    margin-bottom: 5px;
}
.ecx-post-meta-data a.ecx-post-readmore {
    position: relative;
    display: block;
    font-weight: 600;
    color: #333;
}
.archive .ecx-post-meta-data a.ecx-post-readmore {
    margin-top: 30px;
}
.archive .ecx-post-meta-data a.ecx-post-readmore i{
    margin-left: 0px;
    transition: all 1.5s ease 0s;
}
.archive .ecx-post:hover .ecx-post-meta-data a.ecx-post-readmore i
{
    margin-left: 10px;
}
/* End of Home Blog*/

/* End of Homepage */

/*search*/
.wrap-button-search 
{
	transform: translate(0, -50%);
	visibility:hidden;
	position: absolute;
    width: 100%;
	top:90px;
	display: flex;
    justify-content: center;
}

.wrap-button-search .searchform
{
	text-align: center;
	transform: translate(0, calc(100% + 10px));
    visibility: hidden;
    position: absolute;
    bottom: 0;
}
.wrap-button-search.active .searchform,.main-header.header-transparent .wrap-button-search 
{
	visibility:visible;
}

.main-header.header-transparent a.search_modal_button.header-button
{
	cursor:pointer;
}
.wrap-button-search a.search_modal_button.header-button {
    justify-content: center;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dedfe1;
    border-radius: 50%;
}
.header-wrap-icon a.search_modal_button.header-button {
    font-size: 16px;
    transform: rotate(90deg);
    color: #333;
}
.home .main-header.header-transparent .header-wrap-icon > div.ecx-hamburger-menu
{
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
} 
body:not(.home) .main-header .header-wrap-icon > *:not(:last-child)
{
    margin-right: 15px;
}
body:not(.home) .header-middle
{
    width: 100%;
}
body:not(.home)  .main-header .header-right-button{
    position: absolute;
    right: 0;
}
@media screen and (max-width:991px)
{
    .main-header.header-transparent .header-wrap-icon > div.ecx-hamburger-menu
    {
        visibility: visible;
    }
    .main-header.header-transparent .header-main-menu
    {
        display: none;
    }
    .main-header.header-transparent .header-right-button {
        position: absolute;
        right: 0;
    }
    .main-header.header-transparent .header-wrap-icon > *:not(:last-child) {
        margin-right: 15px;
    }

}
.main-header.affix-mobile .header-right-button,.main-header.scroll-menu .header-right-button
{
    position: absolute;
    right: 0;
}
.main-header.affix-mobile .header-wrap-icon > *:not(:last-child),.main-header.scroll-menu .header-wrap-icon > *:not(:last-child)
{
    margin-right: 15px;
}
.main-header.affix-mobile .header-wrap-icon > div.ecx-hamburger-menu,.main-header.scroll-menu  .header-wrap-icon > div.ecx-hamburger-menu
{
    visibility: visible;
}
.home .main-header.affix-mobile .header-wrap-icon > div.ecx-hamburger-menu,.home .main-header.scroll-menu  .header-wrap-icon > div.ecx-hamburger-menu
{
    visibility: visible;
}
section >div.row
{
	margin-left:0;
	margin-right:0;
}
.wrap-button-search.active .searchform input#s {
    width: calc(40vw - 50px);
    padding: 10px 20px;
    border: 0px;
	outline: 1px;
}
.wrap-button-search.active input#searchsubmit:hover {
	background-color:rgba(24, 88, 123);
	fill:#fff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
}
.wrap-button-search.active .searchform input#s:focus,.wrap-button-search.active .searchform input#s:hover {
	background-color:rgb(232, 240, 254);
}
.wrap-button-search.active input#searchsubmit {
	background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px;
    margin-left: -5px;
    width: 50px;
    padding: 10px 0;
    margin-bottom: -17px;
}
@media screen and (max-width:991px)
{
.wrap-button-search.active  {
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #0008;
    transform: translate(0, 0);
}
	.main-header.header-transparent.affix-mobile .wrap-button-search.active .searchform {
    visibility: visible;
}
	.wrap-button-search.active  .searchform {
    width: calc(100% - 30px);
    top: 20%;
    transform: translate(0, 0);
    visibility: visible;
    bottom: unset;
}
	.wrap-button-search.active .searchform input#s {
    width: calc(80% - 50px);
    padding: 10px 20px;
    border-radius: 8px 0 0 8px;
    border: 0px;
	outline: 1px;
	}
	.wrap-button-search.active input#searchsubmit
	{
		border-radius: 0 8px 8px 0;
	}
	.ecx-button.dark {
    width: 100%;
	}
}
@media screen and (max-width:767px)
{
	

}

@media only screen and (max-width: 354px)
{
	ul.social li {
    width: 20px;
    height: 20px;
    margin-top: 3px;
	}
	ul.social li a img {
    width: 20px;
    height: 20px;
	}
	.customer-quote-wrap {
    padding: 0 20px;
	}
	.customer-item-wrap .customer-item img {
    max-width: 140px;
	}
}
div#search-result ul {
    background-color: #fff;
    padding: 0 20px 10px;
    width: 40vw;
	min-width: 290px;
    max-width: 670px;
}
div#search-result .viewed {
	font-weight:600;
    padding-top: 15px;
	margin: 0 -20px;
    padding-bottom: 15px;
    background-color: #eee;
}

ul.suggest li a
{
	display:flex;
	margin-bottom:5px;
	margin-top:5px;
}
ul.suggest li a .avata img {
    object-fit: cover;
    width: 60px;
    height: auto;
    max-height: 40px;
    object-position: center;
}
ul.suggest li a .info
{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
@media screen and (max-width:991px)
{
	div#search-result ul {
    width: 80%;
    margin: auto;
	}
}
@media screen and (max-width:767px)
{
	.wrap-button-search.active .searchform input#s {
    width: calc(100% - 50px);
	}
	div#search-result ul {
    width: 100%;
	}
	ul.suggest li a .info {
    text-align: left;
	}
}

/*contact*/
section#header-page {
    background-attachment: fixed;
    height: calc(100vh - 300px);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 225px;
}
section#header-page > .container {
    position: absolute;
    transform: translate(-50%, 0);
    height: 350px;
    left: 50%;
    bottom: -175px;
    background-color: #fff;
}
.page-sub-heading, .page-heading {
    color: #18587B;
}
.title-contact
{
    padding-bottom:40px;
}
.title-contact .title
{
    margin:40px 0 30px 0;
}
.title-contact.line-after:after {
    transform: translate(-50%, 0);
    content: "";
    display: block;
    width: 110px;
    height: 2px;
    background: rgba(24,88,123,0.5);
    margin-left:50%;
}
.ecomcx-maps {
    position: absolute;
    right: 0;
}
.ecomcx-maps iframe {
    width: 50vw;
    height: 70vh;
}
section.section-content-contact > .container
{
    min-height:70vh;
}
section.section-content-contact .content-contact
{
    padding-top:50px;
    padding-bottom:50px;
}
section.section-content-contact .title_bf {
    margin-bottom: 8px;
}
section.section-content-contact .title_bg {
    margin-bottom: 25px;
}
section.section-content-contact .title_bf,section.section-content-contact .title_bg {
    font-weight:600;
    color:#18587b;
}
.contact-info p:first-child,.contact-info {
    margin-bottom: 20px;
}
.contact-form h4.title.form-subtitle
{
    font-size: 16px;
    color: rgba(112,112,112,1);
    font-weight: 400;
    margin-bottom: 5px;
}
.contact-form h3.title.form-title
{
    font-size: 20px;
    color: #18587B;
}
.contact-form input {
    width:100%;
    color: #18587B;
    padding: 8px 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(112,112,112,0.5);
}
.contact-form .cf7mls-btns .cf7mls_next.action-button,.contact-form .cf7mls-btns .cf7mls_back.action-button,.contact-form a.ecx-button.dark {
    background: #ffffff00;
    padding: 0;
    position:relative;
    text-transform: uppercase;
}
.contact-form a.ecx-button.dark
{
    align-items: center;
    display: flex;
    float: right;
    margin: 16px 0px 26px;
}
.contact-form a.ecx-button.dark input
{
    float: left;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 13px 0 13px 5px ;
    background: #ffffff00;
    border-bottom: none;
    text-transform: uppercase;
}
.contact-form .cf7mls_next.action-button:after,.contact-form .cf7mls_back.action-button:before,.contact-form a.ecx-button.dark:after {
    display:inline-block;
    width:20px;
    height:20px;
    background-position:center;
    background-repeat:no-repeat;
    margin-bottom: -4px;
    content:"";
}
.contact-form a.ecx-button.dark:after {
    margin-bottom: 0;
}
.contact-form .cf7mls_next.action-button:after,.contact-form a.ecx-button.dark:after{
    margin-left:10px;
    border-left:1px solid #18587Bcc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2318587B' class='bi bi-chevron-compact-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z'/%3E%3C/svg%3E");
}
.contact-form .cf7mls_back.action-button:before {
    margin-right:10px;
    border-right:1px solid #18587Bcc;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2318587B' class='bi bi-chevron-compact-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z'/%3E%3C/svg%3E");
}
.contact-form a.ecx-button.dark:before
{
    content:unset;
}

section#call-in-action {
    background-attachment: fixed;
    min-height: 220px;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
section#call-in-action-form {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section#call-in-action h4,section#call-in-action h2,section#call-in-action-form h4, section#call-in-action-form h2
{
    color:#fff;
}
section#call-in-action a.ecx-button.dark.call-in-action-btn {
    color:#fff;
    box-shadow: 1px 2px 4px rgb(31 32 33 / 33%);
}
.call-in-action-overlay {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}
@media screen and (max-width:1199px)
{
    .ecomcx-maps iframe{
    height: 55vh;
    }
    section.section-content-contact > .container{
    min-height: 55vh;
    }
}

@media screen and (max-width:991px)
{
    section.section-content-contact .content-contact
    {
    padding-top:40px;
    padding-bottom:0;
    }
    .ecomcx-maps {
    position: relative;
    }
    .ecomcx-maps iframe {
    width: 100%;
    }
    .slider-wrap-info input.wpcf7-form-control.ecx-button-register
    {
        margin-top:0;
    }
}

@media screen and (max-width: 767px)
{
    .home-slider-left-img {
    margin-bottom: 30px;
    width: 100%;
    height: 50%;
    position: relative;
    }
    img.home-slider-img {
    position: relative;
    }
    .home-slider-pagination {
    position: absolute;
    bottom: 30px;
    }
    .home-slider {
    height: auto;
    }
    .ecx-scroll-img i {
    color: #fff;
    font-size: 30px;
    }
    .ecx-scroll-guide-icon {
    bottom: -60px;
    left: 50%;
    transform:translate(-50%,0);
    }
    section.home-slider {
    padding-bottom: 80px;
    }
    
}
/*popup*/
.wrap-popup {
    display: none;
}
.wrap-popup.active {
    display: flex;
    position:fixed;
    z-index:9999;
    height:100vh;
    width:100%;
    top:0;
    background-color:rgba(0,0,0,0.8);
}
.wrap-popup .popup-form {
    position:relative;
    color:#18587b;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    background-color:#fff;
    margin: auto;
    padding: 100px 0;
    width: calc(100% - 30px);
    max-width: 950px;
}
.wrap-popup .button-close {
    cursor:pointer;
    background: rgba(255,255,255,1);
    color: rgba(24,88,123,1);
    transform: translate(50%, -50%);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 38px;
    line-height:1px;
    z-index: 9;
    border-radius: 50%;
}
.wrap-popup .popup-title-wrap {
    padding-left: 25px;
}
.wrap-popup .popup-content-wrap{
    padding-right: 25px;
}
.popup-form h4.sub-title
{
    margin-bottom: 6px;
}
.popup-form h2.title
{
    max-width: 250px;
    color:#18587b;
}
.popup-form form p {
    margin-bottom:15px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.popup-form form p > br {
    display: none;
}
.popup-form form p > span,.popup-form form .ecx-button.dark {
    width: calc(50% - 10px);
}

.popup-form form  input::-webkit-input-placeholder { 
  color: #18587b;
}
.popup-form form  input::-moz-placeholder { 
  color: #18587b;
}
.popup-form form  input:-ms-input-placeholder { 
  color: #18587b;
}
.popup-form form  input:-moz-placeholder { 
  color: #18587b;
}
.popup-form form  input
{
    color: #18587b;
    padding: 8px 10px;
    border: 1px solid #dfdfdf;
    box-shadow: 1px 2px 4px 0px rgb(31 32 33 / 33%);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.popup-form form a.ecx-button.dark {
    margin-left:auto;
    text-transform: uppercase;
}
.popup-form form p > span {
    margin-bottom: 20px;
}  
.popup-form form p > span.wpcf7-spinner
{
    display:none;
}
.popup-form form p span input 
{
    width: 100%;
}
.popup-form h4.sub-title
{
    margin-bottom: 6px;
    font-weight: 500;
    color: #f16351;
    font-size: 16px;
}
.popup-form form a.ecx-button.dark:before, .siderbar-section-content form a.ecx-button.dark:before {
    background-color: rgba(24,88,123,1);
}
.popup-form form a.ecx-button.dark, .siderbar-section-content form a.ecx-button.dark {
    background-color: #f16351;
    height: 42px;
}
@media screen and (max-width:991px)
{
    .wrap-popup .popup-form {
    width: calc(100% - 50px);
    }
}
@media screen and (max-width: 767px)
{
    .popup-form form a.ecx-button.dark
    {
        width: 100%;
        margin-top: 0;
    }
    .wrap-popup .popup-form {
    width: calc(100% - 30px);
    }
    .wrap-popup .popup-form {
    padding: 15px 0;
    }
    .popup-form form p > span, .popup-form form p > input {
    width: 100%;
    }
    .popup-form h2.title {
    text-align: center;
    max-width: 250px;
    margin: 0 auto 10px;
    font-size: 24px;
    line-height: 34px;
    }
    .popup-form h4.sub-title {
    text-align:center;
    }
    .wrap-popup .popup-title-wrap {
    padding-left: 15px;
    }
    .wrap-popup .popup-content-wrap {
    padding-right: 15px;
    }
    .popup-form form p > span {
    margin-bottom: 10px;
    }
    .popup-form .text-italic {
    line-height: 18px;
    font-size: 14px;
    }
    .popup-form form p > span {
    margin-bottom: 10px;
    }
    .wrap-popup .button-close {
    font-size: 20px;
    }
    .ecx-process-steps-wrap.has-animation.added-animation {
    animation-delay: 0s!important;
    }
    section.section-price-table .col-xs-12.price-table-content-wrap
    {
        padding-left:0;
        padding-right:0;
    }
    section.section-price-table .wrap-package-item
    {
        padding:20px 15px;
        background-color:rgba(247,248,250,1);
    }
    section.section-price-table .wrap-package-item:not(:last-child)
    {
        margin-bottom:20px;
    }
    .wrap-package-item span.package-subtitle
    {
        max-width:70%;
        margin:0 auto 15px auto;
    }
    h4.package-title {
    font-size: 16px;
    line-height: 23px;
    }
    .package-price h3 {
    font-size: 20px;
    line-height: 29px;
    }
    .wrap-package-item .accordion-item
    {
        border:none;
        margin-top:10px;
    }
    section.section-price-table .accordion-button {
    font-size: 16px;
    line-height: 23px;
    border: none;
    color: #18587b;
    background-color: rgba(247,248,250,1)!important;
    box-shadow: unset;
    }
    section.section-price-table .accordion-button:not(.collapsed)::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2318587b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    section.section-price-table .accordion-button::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2318587b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    section.section-price-table .accordion-body
    {
        background-color: rgba(247,248,250,1)!important;
    }
    section.section-price-table .accordion-body .title.text-uppercase
    {
        margin-bottom: 10px;
        padding:10px;
        background-color:#18587b;
        color:#fff;
    }
    section.section-price-table .accordion-body .item-title:not(:last-child)
    {
        padding:0 10px 10px;
    }
    section.section-price-table .accordion-body .item-title:last-child
    {
        padding:0 10px 20px;
    }
    section.section-price-table .accordion-body .item-title i.bi.bi-check2-circle
    {
        color:rgba(24,88,123,1);
    }
    section.section-price-table .accordion-body .item-title i.bi.bi-x-circle
    {
        color:#f16351;
    }
    section.section-price-table .ecx-button {
    padding: 8px 20px;
    font-size: 16px;
    line-height:23px;
    }
}
@media screen and (max-width: 575px)
{
.wrap-popup .popup-content-wrap {
    padding-left: 15px;
}
}

/*about us*/
.about-us.section-banner
{
    align-items: center!important;
}
section.section-banner .banner-overlay img.img-banner {
    height: 100%;
    object-fit: cover;
}
.about-us.section-banner .banner-wrap-info .ecx-page-title,.about-us.section-banner .banner-wrap-info .sub-heading
{
    color:#fff!important;
}
.quote-heading-wrap {
    border-left:2px solid rgba(24,88,123,0.5);
    padding: 40px 50px 20px;
    margin: 0 15px 50px;
}
.quote-heading-wrap svg {
    color:rgba(24,88,123,1);
    margin-left: -10px;
}
.quote-heading-wrap h2 {
    color:#333;
}
.wrap-circle {
    transform: translate(calc(-50% + 1px),0);
    padding-top: 5px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
.wrap-circle i {
    display: flex;
    color: rgba(24,88,123,0.50);
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.wrap-circle i > i {
    color: rgba(24,88,123,1);
    font-size: 10px;
    position: absolute;
}
.quote-item,.mision-item,.vision-item {
    padding-bottom: 20px;
    position:relative;
}
.quote-item:before,.mision-item:before,.vision-item:before {
    position: absolute;
    height: 100%;
    width: 2px;
    display: block;
    content: "";
    background-color: rgba(24,88,123,0.5);;
    top: 10px;
}
section#quote 
{
    padding-bottom:50px;
}
section#statistics-2
{
    background-position: center;
    color: #fff;
    padding: 50px 0;
    background-size: cover;
}
.statistics-item-wrap {
    padding-top: 49px;
    padding-bottom: 49px;
}
section#statistics-2 .ecx-counter-title,section#statistics-2 .heading-wrap h2 {
    color: #fff;
}
.heading-wrap 
{
    margin-bottom:15px;
}
.heading-wrap h2
{
    color:rgba(24,88,123,1);
}
.heading-wrap h2 hl
{
    color:rgba(241,99,81,1);
}
.heading-wrap h4
{
    color:#333;
}
section#mision .heading-wrap h4,section#vision .heading-wrap h4,section#core-values .heading-wrap h4 {
    margin-bottom:8px;
}
.heading-wrap h4 b,.mision-item .title b
{
    color:rgba(24,88,123,1);
}
section#mision, section#vision,section#core-values
{
    padding-top:50px;
}
section#core-values
{
    padding-bottom:50px;
}
.heading-wrap.line-after:after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: rgba(24,88,123,0.5);
}
.sub-heading-wrap {
    margin-bottom: 20px;
}
section#core-values .swiper {
    margin: 0 -15px;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    padding: 20px 20px 40px;
}
section#core-values .swiper-slide
{
    padding:20px;
    background-color: rgba(247,248,250,1);
}
span.slider-line i
{
    font-size:16px;
    font-weight:bold;
    color:#000;
    margin-right:5px;
}
section#core-values .title-slider
{
    margin-bottom:8px;
    color:#18587B;
}
section#core-values .span-number span
{
    font-size:43px;
    line-height:63px;
    color:#E0E0E0;
}
span.slider-line p
{
    font-size:14px;
    line-height:20px;
    color:#18587B;
}
section#core-values .swiper-button-prev,section#core-values .swiper-button-next {
    width: 30px;
    height: 30px;
    background-color:rgba(224,224,224,1);
    border-radius:5px;
}
section#core-values .swiper-button-prev {
    transform: translate(5px, 0px);
    left:0;
}
section#core-values .swiper-button-next {
    transform: translate(-5px, 0px);
    right:0;
}
section#core-values .swiper-button-prev:after,section#core-values .swiper-rtl .swiper-button-next:after,
section#core-values .swiper-button-next:after,section#core-values .swiper-rtl .swiper-button-prev:after{
    content: unset;
}
section#core-values .swiper-horizontal>.swiper-pagination-bullets,section#core-values .swiper-pagination-bullets.swiper-pagination-horizontal
{
    bottom: 0;
}
section#core-values .swiper-pagination-bullet
{
    width:12px;
    height:12px;
    background-color:rgba(224,224,224,1);
    opacity:1;
}
section#core-values .swiper-pagination-bullet-active
{
    background-color:#18587B;
}
@media screen and (max-width:991px)
{
    .wrap-img-mision,.wrap-img-vision,.wrap-img-core-values,.wrap-img-quote {
    padding-bottom: 50px;
    }
    .core-values-content-wrap,.mision-content-wrap {
    display: flex;
    flex-direction: column-reverse;
    }
}

@media screen and (max-width: 767px)
{
    .wrap-img-mision,.wrap-img-vision,.wrap-img-core-values,.wrap-img-quote {
    padding-bottom: 30px;
    }
    section.customer .wrap-button {
    display:flex;
    justify-content:center;
    }
    section.customer .wrap-button {
        text-align:center;
    }
    section.customer a.ecx-button.call-in-action-btn {
    float: unset;
    }
    .quote-heading-wrap {
    padding: 40px 20px 20px;
    }
    .quote-heading-wrap h2
    {
        font-size:20px;
        line-height:29px;
    }
    section#core-values {
    padding-bottom: 0px;
    }
    .statistics-item-wrap {
    padding-top: 49px;
    padding-bottom: 49px;
    }
    .statistics-item-wrap {
    padding-top: 30px;
    padding-bottom: 0px;
    }
    .statistics-item-wrap:nth-child(n+3) {
    padding-top: 30px;
    padding-bottom: 30px;
    }
    .customer, .customer .customer-quote {
    min-height: 550px;
    }
}
.ecx-counter-wrap {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ecx-counter-wrap>div {
    width: 50%;
}

.ecx-number-counter {
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center
}

.ecx-number-counter .counter-value{
    font-size: 42px;
    line-height: 60px;
    font-weight: 600;
}

.ecx-number-counter .counter-value-sub {
    font-size: 29px;
    font-weight: 600;
    line-height: 42px;
    margin-left: 5px;
}

.ecx-counter-title {
    font-weight: 500;
    text-align: center;
    color: #666666;
}
/* core values */
#core-values .swiper-button-next i,#core-values .swiper-button-prev i
{
    color: #fff;
}

/* Begin Home Customer */
.customer {
    position: relative;
    min-height: 720px;
}

.customer-list {
    position: relative;
    padding: 50px 0;
}

.customer-title-wrap {
    position: relative;
}

.customer-title-wrap .ecx-h2-title {
    color: #18587b;
    margin-bottom: 8px;
}

.customer-title-wrap .sub-title {
    font-weight: 500;
    font-style: italic;
    color: #f16351;
}

.customer-item-wrap {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around
}

.customer-item-wrap .customer-item {
    display: block;
    width: 33.33%;
    text-align: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
    transition: all 300ms ease-in;
}

.customer-item-wrap .customer-item:hover {
    -webkit-filter: grayscale(100%);
    filter: none;
    opacity: 1;
}

.customer-item-wrap .customer-item img {
    width: 200px;
    max-width:calc(100% - 10px);
    transition: all 300ms ease-in;
} 

.customer-item-wrap .customer-item:hover img {
    transform: rotateX(360deg);
}

.customer .customer-quote {
    position: relative;
    background: url( '/wp-content/uploads/2022/01/customer-bg.webp' ) center no-repeat scroll;
    background-size: cover ;
    min-height: 720px;
}

.customer-quote-overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.customer-quote-wrap {
    position: relative;
    display: block;
    color: #fff;
    padding: 0 50px;
}

.customer-quote-wrap svg, .quote-heading-wrap svg {
    width: 60px;
    height: 60px;
}

.customer .customer-quote-text {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 29px;
    text-align: justify;
}

.customer .customer-info-wrap {
    position: relative;
    float: right;
    text-align: center;
}

.customer .customer-info-wrap .title {
    font-weight: 600;
    font-size: 20px;
}

.customer .customer-info-wrap .sub-title {
    font-style: italic;
}
section.customer .ecx-button:hover {
    color: #18587b!important;
}
@media screen and (max-width:991px)
{
    .customer,.customer .customer-quote {
    min-height: 670px;
    }
}
@media screen and (max-width:575px)
{
.customer .customer-quote {
    min-height: 600px;
}
.customer-item-wrap .customer-item
    {
        width:50%;
    }
}

@media only screen and (max-width: 354px)
{
    .customer-quote-wrap {
    padding: 0 20px;
    }
    .customer-item-wrap .customer-item img {
    max-width: 140px;
    }
}

/*blog archive*/
.banner-wrap-info .last {
    font-weight: 700;
}
.banner-wrap-info, .banner-wrap-info a {
    color: #18587B;
}
.wrap-content-post article {
    margin-bottom: 30px;   
    width: 100%;
}
.wrap-content-post article:last-child {
    margin-bottom: 0px;   
}
section.section-banner.archive {
    background-color: rgba(27,27,27,1);
}
section.section-banner.archive > .container,section.section-banner.single > .container{
    height: 150px;
}
section.section-banner.archive p,section.section-banner.archive h1,section.section-banner.archive a
{
    color: #fff;
    margin-bottom: 0;
}
.ecx-pagination ul.page-numbers {
    display: flex;
    justify-content: center;
}

.ecx-pagination ul.page-numbers li a,.ecx-pagination ul.page-numbers li span{
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius:2px;
}
.ecx-pagination ul.page-numbers li span.dots
{
    border:none;
    margin: 0;
}
.ecx-pagination ul.page-numbers li a,.ecx-pagination ul.page-numbers li a i,.ecx-pagination ul.page-numbers li span{
    color:#333;
}
.ecx-pagination ul.page-numbers li:hover a,.ecx-pagination ul.page-numbers li:hover a i{
    color:#f16351;
}
.ecx-pagination ul.page-numbers li:hover a{
    border:1px solid rgba(24,88,123,1);
}
.ecx-pagination ul.page-numbers li a{
    border:1px solid rgba(224,224,224,1);
}
.ecx-pagination ul.page-numbers li span{
    border:1px solid rgba(24,88,123,1);
}
@media screen and (max-width:1399px)
{

}
@media screen and (max-width:1199px)
{
}
@media screen and (max-width:991px)
{
    
}
@media screen and (max-width:767px)
{
    h1.ecx-category-title,h1.ecx-post-title {
    text-align: center;
    }
    h4.ecx-category-descript
    {
        text-align:justify;
    }
    .ecx-post-meta span.post-meta {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    }
}
/*siderbar*/
.siderbar-section
{
    margin-bottom:40px;
}
.siderbar-section.register {
    position:relative;
    padding: 50px 30px;
}
.siderbar-section.register .background-overlay {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.siderbar-section.register h3.form-title {
    color: #fff;
    z-index: 2;
}
.siderbar-section-content {
    margin:auto;
    z-index: 2;
}
.siderbar-section-content p{
    margin-bottom: 0;
}
.siderbar-section-content  a.ecx-button.dark
{
    margin-top: 20px;
    width: 100%;
}
.siderbar-section-content input {
    text-align:center;
    padding: 8px 10px;
    width:100%;
}
.siderbar-section-content .wpcf7-spinner
{
    display:none;
}
h4.title.sidebar-title {
    padding: 10px 12px;
    color: #fff;
    margin: 0;
    background: #18587b;
}
.siderbar-section ul {
    margin: 0;
}
.siderbar-section ul li {
    padding:15px 20px;
}
.siderbar-section ul li {
    border-bottom: dotted 2px rgba(112,112,112,0.5);
    padding: 15px 20px;
}
.siderbar-section ul li a {
    color: #333;
}
.siderbar-section ul li:hover a {
    color: #f16351;
}
.fb-page.fb_iframe_widget
{
    text-align:center;
    width: 100%!important;
}
 .fb-page.fb_iframe_widget span
{
    margin:20px auto 0!important;
}
.follow-icon {
    margin: 20px 0;
    text-align:center;
}
.follow-icon ul li{
    border-bottom:none;
}
section#call-in-action h4,section#call-in-action h2
{
    color:#fff;
}
section#call-in-action a.ecx-button.dark.call-in-action-btn {
    color:#fff;
    box-shadow: 1px 2px 4px rgb(31 32 33 / 33%);
}
@media screen and (max-width:991px)
{
    .siderbar-section.register {
    padding: 15px 16px;
    }
    .siderbar-section br {
    display: none;
    }
    form .ecx-button.dark {
    margin-top: 15px;
    }
    section#call-in-action {
    margin-top:40px;
    }
    section.section-banner {
    margin-bottom: 40px;
    }
    .siderbar-section,.wrap-slider-post .swiper {
    margin-bottom: 25px;
    }
    .wrap-content-post article {
    width: 100%;
    }
}

@media screen and (max-width: 767px)
{
    section#call-in-action {
    margin-top:0;
    }
    section#call-in-action h4
    {
        margin-bottom:8px;
    }
    section#call-in-action h2
    {
        font-size:24px;
        line-height:30px;
    }
    .ecx-pagination {
    margin-bottom: 25px;
    }
}
@media screen and (max-width: 355px)
{

}
/*single*/
section.section-banner.single {
    height: 45vh;
    padding-bottom: 80px;
    margin-bottom: 50px;
}
section.section-banner.single .banner-overlay,section.section-banner.single .banner-background{
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
}
section.section-banner.single .banner-overlay{
    background: rgba(0,0,0,0.6);
    z-index: 2;
}
section.section-banner.single .banner-background{
    z-index: 1;
}
img.img-banner{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

section#related-post article {
    width: calc(33.33% - 20px); 
}
section#related-post article h3 {
    font-size: 24px;
    line-height: 29px;
}
section#related-post .ecx-post-info {
    min-height: calc(100% - 200px);
}
section#related-post .heading-wrap.line-after:after,.post-comments .heading-wrap.line-after:after  {
    width: 30px;
    height: 3px;
    background: rgba(24,88,123,1);
}
section#related-post .heading-wrap,.post-comments .heading-wrap
{
    margin-bottom:25px;
}
section#related-post {
    margin-top: 50px;
}
.post-comments {
    margin-top: 20px;
}
.post-next, .post-prev {
    width: 50%;
}
.post-next i, .post-prev i {
    color:rgba(224,224,224,1);
    font-size:26px;
}
.post-prev
{
    border-right:1px solid rgba(212,212,212,1);
}
.post-next.d-flex a {
    padding: 12px 0;
    margin-left: 40px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color:#333;
}
.post-prev.d-flex:hover a,.post-next.d-flex:hover a {
    color:#f16351;
}
.post-next.d-flex a span.navigation-post-title
{
    text-align:right;
}
.post-prev.d-flex a {
    align-items: center;
    padding: 12px 0;
    margin-right: 40px;
    display: flex;
    justify-content: flex-start;
    color:#333;
}
span.navigation-label {
    font-weight:600;
    font-size: 13px;
    line-height: 16px;
    margin-bottom:5px;
}
span.navigation-post-title
{
    font-weight:400;
    font-size: 11px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width:100%;
}
.like-share-button > div:not(:last-child) {
    margin-right: 5px;
}
.fb-like.fb_iframe_widget, .fb-like.fb_iframe_widget >span, .fb-like.fb_iframe_widget >span > iframe {
    width: 95px!important;
}
.zalo-follow-only-button iframe {
    width: 80px;
}
.post-tags {
    margin: 35px 0;
}
.like-share-button {
    margin-bottom: 12px;
}
.post-tags i {
    font-size: 14px;
    color: rgba(24,88,123,1);
}
.post-tags span.tags-label
{
    margin: 0 5px;
    font-weight:600;
}
div.tag-links a {
    display: inline-block;
    color: #333;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 0 8px;
    border: 1px solid #18587b
}
div.tag-links a:hover {
    color: #f16351;
}
div#respond h2#reply-title {
    display: none;
}
form#commentform {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.comment-form-comment {
    grid-row-start: 2;
    grid-column-end: 3;
    grid-column-start: 1;
}
div#respond input,div#respond  textarea {
    border: none;
    background-color:rgba(237,237,237,1);
    color:#707070;
    width:100%;
    padding:18px 20px;
}
div#comments .heading-wrap.line-after
{
    margin-top:30px;
}
blockquote.wp-block-quote {
    border-left: 3px solid rgba(24,88,123,1);
}
div#respond p.form-submit input {
    padding: 8px 12px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(24,88,123,1);
    width: fit-content;
    font-weight: 600;
}
.wrap-toc .accordion-button {
    font-size: 16px;
    line-height: 16px;
    border: none;
    color: #fff;
    background-color: #18587b!important;
    box-shadow: unset;
    padding:20px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(
-180deg);
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.wrap-toc
{
    border:1px solid rgba(112,112,112,0.5);
    margin-bottom:30px;
    background:rgba(224,224,224,1);
}
.wrap-toc .accordion-body {
    padding:12px 5px;
   border:1px solid rgba(112,112,112,0.5);
}
.wrap-toc .accordion-body ul li:first-child {
    margin-top: 8px;
}
.wrap-toc .accordion-body ul li
{
    margin-bottom:8px;
    margin-left:15px;
}
section.section-banner.single .banner-overlay,section.section-banner.contact .banner-overlay,section.section-banner.faq .banner-overlay,
section.section-banner.price-table .banner-overlay,section.section-banner.customer-page .banner-overlay
{
    background:rgba(0,0,0,0.6);
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index:2;
}
section.section-banner.single .banner-background,section.section-banner.contact .banner-background,section.section-banner.faq .banner-background,
section.section-banner.price-table .banner-background,section.section-banner.customer-page .banner-background,section.section-banner.about-us .banner-background
{
    bottom: 0;
    width: 100%;
    height:100%;
    position: absolute;
    z-index:1;
}
section.section-banner.single img.img-banner,section.section-banner.contact img.img-banner,section.section-banner.faq .img-banner,
section.section-banner.price-table .img-banner,section.section-banner.customer-page .img-banner
{
    height:100%;
    object-fit:cover;
}
section.section-banner.single .container,section.section-banner.contact .container,section.section-banner.faq .container,
section.section-banner.price-table .container,section.section-banner.customer-page .container
{
    z-index:3;
}
section.section-banner.single, section.section-banner.single a,
section.section-banner.faq, section.section-banner.faq a,
section.section-banner.price-table, section.section-banner.price-table a,
section.section-banner.customer-page, section.section-banner.customer-page a
{
    background-size:cover;
    color: #ffffffe6;
}
section.section-banner.single span.post-meta:not(:last-child)
{
    margin-right:15px;
}
section.section-banner.single span,section.section-banner.faq span,section.section-banner.price-table span,section.section-banner.customer-page span
{
    color: #ffffff;
}
section.section-banner.single .ecx-post-title,section.section-banner.faq .ecx-post-title,section.section-banner.price-table .ecx-post-title,section.section-banner.customer-page .ecx-post-title
{
    color: #fff;
    margin-bottom:8px;
}
section.section-banner.single .ecx-post-meta span
{
    color: #fff;
}

blockquote.wp-block-quote {
    border-left: 3px solid rgba(24,88,123,1);
}

.wp-block-quote {
    overflow-wrap: break-word;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

@media screen and (max-width:991px)
{
    section#related-post article {
    width: calc(50% - 10px);
    }
    section#related-post article:nth-child(n+3) {
    display: none;
    }
    .post-tags {
    margin: 20px 0;
    }
    div.tag-links a {
        padding: 5px 8px 7px;
   }
    span.navigation-label
    {
        margin-bottom:0;
    }
    span.navigation-post-title
    {
        display:none;
    }
    .post-prev.d-flex a {
        padding: 6px 0;
        width:100%;
        margin-right: 0px;
    }
    .post-next.d-flex a
    {
        padding: 6px 0;
        width:100%;
        margin-left: 0px;
    }
    section#related-post {
    margin-top: 30px;
    }
    .post-next i, .post-prev i {
    font-size: 20px;
    }
    .subcribe-content-wrap input.wpcf7-form-control.ecx-button-register
    {
        margin-top:0;
    }
    .subcribe-content-wrap form a.ecx-button.dark
    {
        margin-top:0;
        width:100%;
    }
}

@media screen and (max-width: 767px)
{
    section#related-post article:nth-child(n+2) {
    margin-top: 30px;  
    display: block;
    }
    .comment-form-comment,.comment-form-author,.comment-form-email {
    grid-column-end: 3;
    grid-column-start: 1;
    }
    .comment-form-author {
    grid-row-start: 1;
    grid-row-end: 2;
    }
    .comment-form-email {
    grid-row-start: 2;
    grid-row-end: 3;
    }
    .comment-form-comment{
    grid-row-start: 3;
    grid-row-end: 4;
    }
    .post-comments p.form-submit {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
        text-align:center;
    }
    .post-comments-form-wrap {
    margin-bottom: 30px;
    }
    section#related-post article {
    width: 100%;
    }
    section#related-post article:nth-child(3){
    margin-bottom: 20px;
    }
    section#related-post article:last-child {
    margin-bottom: 40px;
    }
    section#related-post {
    margin-top: 0px;
    }
    .popup-form form.wpcf7-form.init > p
    {
        max-height:unset;
    }
    .popup-form form a.ecx-button.dark
    {
        margin-top:0;
        width:100%;
    }
}

/* Portfolio post-type*/
section.section-banner.archive.portfolio,section.section-banner.single.portfolio {
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #fff;
}
section.section-banner.single.portfolio {
    border-bottom:1px solid rgba(228,228,228,1);
}
section.section-banner.single.portfolio > .container {

    height: 150px;
}
section.section-banner.archive.portfolio p, section.section-banner.archive.portfolio h1, section.section-banner.archive.portfolio a,
section.section-banner.single.portfolio p, section.section-banner.single.portfolio h1, section.section-banner.single.portfolio a,section.section-banner.single.portfolio span
{
    color: #000;
}

.ecx-portfolio-item-content-wrap
{
    position: relative;
    overflow: hidden;
    width: 100%;
}
div#portfolio-items .ecx-portfolio-item:nth-child(n+4) {
    margin-top: 0px;
}
.show-more-portfolio {
    background-color: #18587b;
    color: #18587b!important;
}
.show-more-portfolio:before {
    background-color: #fff;
}
.show-more-portfolio:hover {
    color: #fff!important;
}
.ecx-portfolio__terms
{
    margin: 0;
    padding-bottom: 2rem;
    border-bottom: none;
}
.ecx-portfolio__terms button
{
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    color: #333;
    font-weight: 700;
}
.ecx-portfolio__terms button.is-active, .ecx-portfolio__terms button:focus, .ecx-portfolio__terms button:hover {
    border: none;
    background-color: transparent;
    color: #18587B;
}
div#portfolio-items {
    min-height: 700px!important;
}
.section-single.portfolio .post-next ,.section-single.portfolio .post-prev  {
    width: calc(50% - 100px)
}
.section-single.portfolio .site-logo.d-flex.align-items-center {
    width: 200px;
}
.section-single.portfolio .post-next i,.section-single.portfolio .post-prev i {
    color: #000;
    font-size: 39px;
}
.section-single.portfolio .post-prev {
    border-right: none;
}
.section-single.portfolio span.navigation-post-title
{
    font-weight:400;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width:100%;
}
.section-single.portfolio .grids
{
    margin: 0;
}
.portfolio-gallery.swiper
{
    display: none;
}
.portfolio-gallery.swiper.active{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000cc;
    z-index: 999;
}
.post-gallery.portfolio img
{
    cursor: pointer;
}
.portfolio-gallery .swiper-button-next ,.portfolio-gallery  .swiper-button-prev
{
    color: rgba(238, 238, 238, 0.9);
}
.portfolio-gallery .dialog-lightbox-close-button {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    color: rgba(238, 238, 238, 0.9);
    right: 0.75em;
    margin-top: 13px;
    padding: 0.25em;
    z-index: 2;
    line-height: 1;
}
.portfolio-meta-list-item
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.portfolio-meta-list-item > strong {
    font-size: 16px;
    text-transform: uppercase;
    width: 200px;
}
.portfolio-meta-list-item > *:not(strong) {
    font-size: 16px;
    width: calc(100% - 200px);
}
@media screen and (max-width:1199px)
{
    .portfolio-meta-list-item > strong,.portfolio-meta-list-item > *:not(strong) {
    width: 100%;
    }
}
@media screen and (max-width:991px)
{
    div#portfolio-items  .ecx-portfolio-item:nth-child(n+3) 
    {
        margin-top: 0px;
    }
    .section-single.portfolio span.navigation-post-title
    {
        display: none;
    }
}
@media screen and (max-width:767px)
{
    .content-portfolio {
        min-height: unset;
    }
    .portfolio-meta-list-item > strong,.portfolio-meta-list-item > *:not(strong) {
        width: auto;
        min-width: 200px;
    }
    .portfolio-meta-list-item > *:not(strong) {
        width: fit-content;
    }
}

/* price & service*/

#content-process .nav-pills .nav-link.active,#content-process .nav-pills .show>.nav-link,#content-process .nav-link:hover {
    color: #18587B;
    background-color: transparent;
    border-radius: 0;
    text-underline-offset: 5px;
    text-decoration: underline;
}
#content-process .nav-fill .nav-item,#content-process .nav-fill>.nav-link {
    flex: 0 0 auto;
    text-align: center;
}
#content-process .nav-link {
    color: #333;
}
.tab-header
{
    width: 100%;
}
h4.process_label {
    color: #f16351;
}
.process_content p:last-child {
    margin-bottom: 0;
}
.process_content{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #33333366;
}
.process_content p{
    position: relative;
}
.process_content p:before{
    content: "";
    background-color: #18587b;
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50px;
    top: 8px;
    left: -14px;
}
/* form lien he*/
section#call-in-action-form form p {
    width: 730px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
section#call-in-action-form form p > span {
    margin-bottom: 20px;
}

section#call-in-action-form form p > span, section#call-in-action-form form .ecx-button.dark {
    width: calc(50% - 15px);
}

section#call-in-action-form form input {
    width: 100%;
    color: #fff;
    padding: 8px 10px;
    border: 1px solid #e0e0e0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
section#call-in-action-form form input::placeholder {
  opacity: 1;
  color: #fff;
}
section#call-in-action-form .ecx-button.dark
{
    height: fit-content;
    padding:0;
    background-color: #f16351;
}
section#call-in-action-form .ecx-button.dark:before {
    background-color: #18587b;
}
section#call-in-action-form a.ecx-button.dark input
{
    line-height: 24px;
}

.wpcf7-spinner
{
    display: none;
}
/*404 page*/
main.site-main-404 {
    position: relative;
    height: 90vh;
    margin-bottom: -50px;
    background: linear-gradient(80deg ,#18587b 0%,#6ec1e4 100%);
}
main.site-main-404 .content-wrap.container {
    z-index: 2;
}
main.site-main-404 .overlay {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
}
.menu-404 ul li {
    display: inline-block;
    margin: 0 15px;
}
form#searchform_404 {
    width: 50%;
    margin: auto;
}
form#searchform_404 input#s {
    font-size: 16px;
    width: calc(100% - 30px);
    line-height: 31px;
    padding: 0 10px;
    border-radius: 20px 0 0 20px;
    border: none;
}
form#searchform_404 input#searchsubmit {
    width: 30px;
    border: 1px solid #fff;
    background-color: #18587b;
    border-radius: 0 20px 20px 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-arrow-right-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;}
main.site-main-404,main.site-main-404 a {
    color: #fff!important;
}