/**
* ECOMCX Admin Style
*
*By Phi Tran
*/
    /* Login Page */    
        body {
            background: #18587b !important;
 
        }
        .login #nav a, .login #backtoblog a, .login label, a.privacy-policy-link {
            color: #f3f3f3 !important;
        }
        .wp-core-ui .button-primary {
            background: #f16351 !important;
            border: none !important;
            text-shadow: none !important;
            box-shadow: none !important;
 
        }
        .login form {
            box-shadow: none !important;
            background: transparent !important;
        }
        #login h1 a {
            background-image: url('images/logo-admin-white.png')!important;
            background-size: 320px 80px;
            width: 320px;
            height: 80px;
        }
    /*End Login Page*/
    /*Footer copyright*/
        .ecx_admin_footer_credits {
            text-align: Center !important;
        }

