.redux-container-border .select2-container {
  float: left;
  display: block;
  margin-right: 10px;
}
.redux-container-border .select_wrapper {
  float: left;
  width: inherit;
}
.redux-container-border .select_wrapper select {
  width: 80px;
  float: left;
}
.redux-container-border .field-border-input {
  margin-right: 10px;
  margin-bottom: 7px;
}
.redux-container-border .wp-picker-container {
  margin-top: 2px;
}

@media screen and (max-width: 782px) {
  .redux-container-border .field-border-input input {
    display: inline-block !important;
    width: 100px !important;
  }
  .redux-container-border .field-border-input .add-on {
    padding: 7px 4px;
    font-size: 16px;
    line-height: 1.5;
  }
  .redux-container-border .select_wrapper {
    margin-top: 6px;
  }
}