.redux-main .button.remove-image,
.redux-main .removeCSS {
  margin-left: 10px;
  color: #ef521d;
}
.redux-main .button.remove-image:hover,
.redux-main .removeCSS:hover {
  color: red;
}
.redux-main .upload_button_div {
  margin-bottom: 5px;
}
.redux-main .upload-error {
  float: left;
  color: #666;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0 #FFFFFF;
  margin: 0 10px 0 0;
  padding: 3px 10px;
  background: #FFDFEC;
  border-radius: 4px;
}
.redux-main .reset-button {
  font-family: Arial, Verdana, sans-serif;
  float: left;
  margin: 0;
  color: #ef521d;
  border-color: #bbb;
}
.redux-main .redux-option-image {
  max-height: 340px;
  max-width: 340px;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 10px;
  margin-right: 15px;
  border: 1px solid #e3e3e3;
  background: #f7f7f7;
  border-radius: 3px;
}
.redux-main .redux-main .upload {
  width: 80% !important;
}
.redux-main .button {
  margin-top: 2px;
}
