.redux-container-switch .switch-options {
  min-height: 30px;
  margin-right: 10px;
}
.redux-container-switch .switch-options label {
  cursor: pointer;
}
.redux-container-switch .switch-options input {
  display: none;
}
.redux-container-switch .cb-enable,
.redux-container-switch .cb-disable {
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.redux-container-switch .cb-enable span,
.redux-container-switch .cb-disable span {
  line-height: 30px;
  display: block;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.redux-container-switch .cb-enable,
.redux-container-switch .cb-disable,
.redux-container-switch .cb-enable span,
.redux-container-switch .cb-disable span {
  display: block;
  float: left;
}
.redux-container-switch .cb-enable {
  border-right: 0;
  border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
}
.redux-container-switch .cb-enable.selected {
  color: #fff;
}
.redux-container-switch .cb-disable {
  border-left: 0;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
}
.redux-container-switch .cb-disable.selected {
  color: #fff;
}