@charset "UTF-8";
/*!
 * Blog Single css Dimas
 * Copyright GCO Software
 */
/*FONT*/
@font-face {
  src: url("fonts/heist/Heist_Italic.otf");
  font-family: "Heist";
  font-style: italic;
}
@font-face {
  src: url("fonts/heist/Heist_Regular.otf");
  font-family: "Heist";
  font-style: normal;
}
.heist {
  font-family: "Heist";
}

.lato {
  font-family: "Lato";
}

.marcellus {
  font-family: "Marcellus";
}

.montserrat {
  font-family: "Montserrat";
}

.outfit {
  font-family: "Outfit";
}

.poppins {
  font-family: "Poppins";
}

.raleway {
  font-family: "Raleway";
}

/*ANIMATION*/
@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
  }
}
@keyframes pulse {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
  }
}
@-webkit-keyframes dimas_blink_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dimas_blink_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dimas_bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes dimas_bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes dimas_spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}
@keyframes dimas_spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}
@-webkit-keyframes dimas_heartbeat {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes dimas_heartbeat {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes dimas_marquee {
  0% {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
  }
}
@keyframes dimas_marquee {
  0% {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
  }
}
/*CUSTOM CSS*/
:root {
  --dimas-color-main: #F21967;
  --dimas-color-white: #FFFFFF;
  --dimas-color-black: #000000;
  --dimas-color-accent: #011A2C;
  --dimas-color-bg-header: #011A2C66;
  --dimas-color-subtitle: #FFFFFFB3;
  --dimas-color-thk-text: #FFFFFF66;
  --dimas-color-border: #FFFFFF33;
  --dimas-color-overlay: #FFFFFF26;
  --dimas-color-bg-tag: #1A3141;
  --dimas-color-transparent: transparent;
  --dimas-transition-duration: 300ms;
  --dimas-transition-duration-2: 400ms;
  --dimas-transition-duration-3: 500ms;
  --dimas-transition-easing: ease;
  --dimas-transition-linear: linear;
}

::-webkit-scrollbar {
  width: 5px;
}

::-moz-selection {
  background: var(--dimas-color-main);
  color: var(--dimas-color-white);
}

::selection {
  background: var(--dimas-color-main);
  color: var(--dimas-color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dimas-color-main);
}

::-webkit-scrollbar-track {
  background-color: var(--dimas-color-accent);
}

body {
  background-color: var(--dimas-color-accent);
  font-family: "Poppins";
}

.label-header {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}
.label-header.label-content {
  font-family: "Outfit";
}

.label-content:not(.label-header) {
  font-family: "Outfit";
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
}

.name-author {
  font-family: "Outfit";
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.32em;
}

h1 {
  font-family: "Heist";
  font-style: normal;
  font-weight: 400;
}
h1.label-banner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Heist";
  font-style: normal;
  font-size: 5rem;
}

h2 {
  font-family: "Outfit";
  font-weight: 700;
  text-transform: capitalize;
}
h2.label-banner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Heist";
  font-weight: 400;
  font-size: 3.5rem;
}
h2.label-banner.hg60 {
  line-height: 3.75rem;
}
h2.label-banner.has-after::after {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  width: 8.5rem;
  height: 3px;
  background-color: var(--dimas-color-main);
}

h3 {
  font-family: "Outfit";
  font-style: normal;
  line-height: 2rem;
}

h4 {
  font-family: "Outfit";
  font-style: normal;
}

.quote {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
}
.quote__author {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.quote__text {
  position: relative;
}
.quote__text.has-after::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  height: 1px;
  width: 5rem;
  background-color: var(--dimas-color-border);
}

a {
  color: var(--dimas-color-white);
  text-decoration: none;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
}
a:hover {
  color: var(--dimas-color-main);
}
a:after {
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
}

svg {
  -webkit-transition: color var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: color var(--dimas-transition-duration) var(--dimas-transition-easing);
}

.has-color-white {
  color: var(--dimas-color-white);
}

.has-color-subtitle {
  color: var(--dimas-color-subtitle);
}

.has-color-main {
  color: var(--dimas-color-main);
}

.has-bg-main {
  background-color: var(--dimas-color-main);
}

.has-bg-black {
  background-color: var(--dimas-color-black);
}

.dimas-site-overlay {
  position: fixed;
  z-index: 35;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--dimas-color-overlay);
}

.dimas-custom-cursor {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  color: var(--dimas-color-accent);
}
.dimas-custom-cursor span {
  font-size: 0.9375rem;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  width: 5rem;
  height: 5rem;
  -webkit-transition: -webkit-transform calc(var(--dimas-transition-duration) / 2);
  transition: -webkit-transform calc(var(--dimas-transition-duration) / 2);
  transition: transform calc(var(--dimas-transition-duration) / 2);
  transition: transform calc(var(--dimas-transition-duration) / 2), -webkit-transform calc(var(--dimas-transition-duration) / 2);
  -webkit-transform: translate3d(calc(var(--dimas-custom-cursor__x) - 2.5rem), calc(var(--dimas-custom-cursor__y) - 2.5rem), 0);
          transform: translate3d(calc(var(--dimas-custom-cursor__x) - 2.5rem), calc(var(--dimas-custom-cursor__y) - 2.5rem), 0);
  opacity: 0;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dimas-custom-cursor span svg {
  height: 1em;
}
.dimas-custom-cursor.is-visible span {
  visibility: visible;
  -webkit-animation: dimas_blink_in var(--dimas-transition-duration) var(--dimas-transition-easing) forwards;
          animation: dimas_blink_in var(--dimas-transition-duration) var(--dimas-transition-easing) forwards;
}

.dimas-main {
  position: relative;
  overflow: hidden;
}

/** Responsive Custom CSS **/
@media (max-width: 767px) {
  h2 {
    font-size: 1rem;
    line-height: 1.25;
  }
  h2.label-banner {
    font-size: 3rem;
    line-height: 3.75rem;
  }
}
@media (max-width: 575px) {
  .quote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .quote__img {
    margin-bottom: 1.5rem;
  }
}
/** End Responsive Custom CSS **/
/*HEADER*/
/* main header */
.dimas-header {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--dimas-color-white);
}

.dimas-social-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: inherit;
}
.dimas-social-icon svg {
  color: var(--dimas-color-white);
  width: 1.5rem;
  height: 1.5rem;
}
.dimas-social-icon:hover svg {
  color: var(--dimas-color-main);
}
.dimas-social-icon:not(:last-child) {
  margin-right: 2rem;
}

.dimas-navbar {
  z-index: 50;
}
.dimas-navbar--solid .dimas-navbar-background {
  height: 100%;
}
.dimas-navbar-background {
  position: absolute;
  z-index: -1;
  top: -1px;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  background-color: var(--dimas-color-accent);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dimas-navbar--fixed {
  background-color: var(--dimas-color-bg-header);
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  border-bottom: 1px solid var(--dimas-color-border);
}
.dimas-navbar-socials {
  position: absolute;
  right: 3rem;
}
.dimas-navbar-inner {
  height: 5.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: padding var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: padding var(--dimas-transition-duration) var(--dimas-transition-easing);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dimas-navbar-inner-left {
  position: absolute;
  left: 4rem;
}
.dimas-navbar-inner-center {
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-navbar-inner-center a {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}
.dimas-navbar-logo {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}
.dimas-navbar-logo img {
  display: block;
  max-width: none;
  max-height: 1.5rem;
}

.dimas-default-menu__navigation .dimas-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  pointer-events: auto;
}
.dimas-default-menu__navigation .dimas-menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  min-height: 100%;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-default-menu__navigation .dimas-menu > li > a {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Outfit";
  line-height: 1.125rem;
  position: relative;
}
.dimas-default-menu__navigation .dimas-menu > li > a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  background-color: var(--dimas-color-main);
}
.dimas-default-menu__navigation .dimas-menu > li + li {
  margin-left: 3rem;
}
.dimas-default-menu__navigation .dimas-menu > li.active > a, .dimas-default-menu__navigation .dimas-menu > li.current-menu-item > a, .dimas-default-menu__navigation .dimas-menu > li.sfHover > a, .dimas-default-menu__navigation .dimas-menu > li:hover > a {
  color: var(--dimas-color-main);
}
.dimas-default-menu__navigation .dimas-menu > li.active > a::after, .dimas-default-menu__navigation .dimas-menu > li.current-menu-item > a::after, .dimas-default-menu__navigation .dimas-menu > li.sfHover > a::after, .dimas-default-menu__navigation .dimas-menu > li:hover > a::after {
  opacity: 1;
}

.dimas-menu-burger {
  float: right;
}
.dimas-menu-burger svg {
  width: 2rem;
  height: 2rem;
}
.dimas-menu-burger.js-offcanvas-menu-open {
  padding: 1.875rem 3rem;
}

/* offcanvas */
.dimas-offcanvas-menu {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26.875rem;
  padding: 1.25rem 1.25rem 2.5rem;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  background-color: var(--dimas-color-accent);
}
.dimas-offcanvas-menu__navigation {
  overflow-y: auto;
  height: 100%;
}
.dimas-offcanvas-menu__navigation .dimas-menu {
  overflow: hidden;
}
.dimas-offcanvas-menu__navigation .dimas-menu a {
  display: inline-block;
}
.dimas-offcanvas-menu__navigation .dimas-menu li {
  display: block;
  float: none;
}
.dimas-offcanvas-menu__navigation .dimas-menu li::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  background-color: var(--dimas-color-main);
}
.dimas-offcanvas-menu__navigation .dimas-menu > li {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.dimas-offcanvas-menu__navigation .dimas-menu > li:first-child {
  padding-top: 2rem;
}
.dimas-offcanvas-menu__navigation .dimas-menu > li > a {
  font-weight: 600;
  font-family: "Outfit";
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}
.dimas-offcanvas-menu__navigation .dimas-menu > li.active > a, .dimas-offcanvas-menu__navigation .dimas-menu > li.current-menu-item > a, .dimas-offcanvas-menu__navigation .dimas-menu > li.sfHover > a, .dimas-offcanvas-menu__navigation .dimas-menu > li:hover > a {
  color: var(--dimas-color-main);
}
.dimas-offcanvas-menu__navigation .dimas-menu > li.active::after, .dimas-offcanvas-menu__navigation .dimas-menu > li.current-menu-item::after, .dimas-offcanvas-menu__navigation .dimas-menu > li.sfHover::after, .dimas-offcanvas-menu__navigation .dimas-menu > li:hover::after {
  color: var(--dimas-color-main);
  opacity: 1;
}

/** Responsive Header **/
@media (max-width: 575px) {
  .dimas-menu-burger.js-offcanvas-menu-open {
    padding: 1rem 1rem;
  }

  .dimas-navbar-inner-left {
    left: 1rem;
  }

  .dimas-offcanvas-menu {
    width: 95.5555555556vw;
    padding: 1rem 1rem 2rem;
  }
}
/** End Responsive Header **/
/*FOOTER*/
.dimas-footer {
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2.25rem 3rem 2.25rem 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dimas-footer a {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}
.dimas-footer--fixed {
  background-color: var(--dimas-color-bg-header);
  position: fixed;
  z-index: 20;
}

/** Responsive Footer **/
@media (max-width: 991px) {
  .dimas-footer {
    padding: 2.375rem 3rem 2.375rem 4rem;
  }
}
@media (max-width: 575px) {
  .dimas-footer {
    display: block;
    padding: 1rem;
  }
  .dimas-footer-hotline {
    margin-top: 0.3125rem;
    width: 100%;
    position: relative;
    right: unset;
  }
}
/** End Responsive Footer **/
.dimas-menu,
.dimas-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dimas-sticky-share {
  width: 1.625rem;
  z-index: 999;
  position: fixed;
  top: 30%;
}
.dimas-sticky-share__item:not(:last-child) {
  margin-bottom: 2rem;
}
.dimas-sticky-share__item.coppy-link svg {
  color: #4D5F6B;
}
.dimas-sticky-share__item.coppy-link:hover svg {
  color: var(--dimas-color-white);
}
.dimas-sticky-share__item.fb-share svg {
  color: var(--dimas-color-main);
}
.dimas-sticky-share__item.fb-share:hover svg {
  color: var(--dimas-color-white);
}
.dimas-sticky-share__item svg {
  width: 1.5rem;
  height: 1.5rem;
}

.dimas-post__vertical-align > .dimas-post__thumbnail {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.dimas-post-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.dimas-post-gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.dimas-post-gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.dimas-post-gallery > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.dimas-post-gallery > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.dimas-post-gallery__link {
  cursor: pointer;
}
.dimas-post-gallery__link:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  padding-right: 1rem;
}
.dimas-post-gallery__link:nth-child(2) {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.dimas-post-gallery__link:nth-child(3) {
  padding-left: 1rem;
  padding-top: 1rem;
}
.dimas-post-gallery__item {
  width: 100%;
  height: 100%;
}

.post-tag {
  -webkit-transition: background-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: background-color var(--dimas-transition-duration) var(--dimas-transition-easing);
  margin-bottom: 0;
  margin-right: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: var(--dimas-color-bg-tag);
  color: var(--dimas-color-white);
}
.post-tag:hover {
  background-color: var(--dimas-color-main);
}

/* related post */
.dimas-grid-wrap {
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.dimas-grid-wrap .dimas-post {
  height: 16.25rem;
  position: relative;
  padding: 2rem 1.5rem;
  border: 1px solid var(--dimas-color-border);
}
.dimas-grid-wrap .dimas-post:hover .dimas-post__thumbnail--wrap {
  opacity: 1;
}
.dimas-grid-wrap .dimas-post__description, .dimas-grid-wrap .dimas-post__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.dimas-grid-wrap .dimas-post__title {
  -webkit-line-clamp: 2;
  height: 4rem;
}
.dimas-grid-wrap .dimas-post__description {
  -webkit-line-clamp: 3;
  max-height: 4.875rem;
}
.dimas-grid-wrap .dimas-post__thumbnail--wrap {
  width: 100%;
  height: 100%;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
}
.dimas-grid-wrap .dimas-post__thumbnail--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap {
  border: 1px solid var(--dimas-color-white);
  border-radius: 50%;
  position: absolute;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap:hover {
  border: 1px solid var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap:hover svg {
  color: var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__content--wrap {
  z-index: 1;
}
.dimas-grid-wrap .dimas-post__link {
  color: var(--dimas-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.dimas-btn {
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  padding: 0.9375rem 1.5rem;
}
.dimas-btn svg {
  margin-left: 1.5rem;
  margin-bottom: 2px;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
}
.dimas-btn:hover {
  background-color: var(--dimas-color-white);
}
.dimas-btn:hover svg {
  color: var(--dimas-color-main);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/* view comments */
.view-comment .comment-list {
  list-style: none;
  padding-left: 0;
}
.view-comment .comment-list .comment-main {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.view-comment .comment-list .comment-main .author-avtar {
  width: 5rem;
  height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-right: 2rem;
}
.view-comment .comment-list .comment-main .author-avtar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-comment .comment-list .comment-main .comment-content {
  color: var(--dimas-color-subtitle);
  width: calc(100% - 7rem);
}
.view-comment .comment-list .comment-main .comment-content .comment-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.view-comment .comment-list .comment-main .comment-content .comment-info .author-name {
  text-transform: uppercase;
  color: var(--dimas-color-white);
}
.view-comment .comment-list .comment-main .comment-content .comment-info .comment-date {
  font-weight: 400;
}
.view-comment .comment-list .comment-main .comment-content .comment-info h4:not(:last-child)::after {
  content: "•";
  color: var(--dimas-color-border);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1rem;
  height: 1.125rem;
}
.view-comment .comment-list .comment-main .comment-btn {
  margin-top: 1rem;
  margin-left: 7rem;
  width: 100%;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.view-comment .comment-list .comment-main .comment-btn:hover {
  color: var(--dimas-color-thk-text);
}
.view-comment .comment-list__reply-list {
  list-style: none;
  padding-left: 7rem;
}
.view-comment .comment-list__reply-list .comment-main .author-avtar {
  width: 3.5rem;
  height: 3.5rem;
}
.view-comment .comment-list__reply-list .comment-main .comment-btn {
  margin-left: 5.5rem;
}

/* contact form */
.dimas-comment-form input {
  margin-bottom: 2rem;
}
.dimas-comment-form textarea {
  margin-bottom: 4rem;
}
.dimas-comment-form input,
.dimas-comment-form textarea {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  background-color: var(--dimas-color-transparent);
  color: var(--dimas-color-white);
  line-height: 1.625rem;
  border: none;
  border-bottom: 1px solid var(--dimas-color-white);
  outline: none;
  padding-bottom: 1.0625rem;
}
.dimas-comment-form input::-webkit-input-placeholder, .dimas-comment-form textarea::-webkit-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input::-moz-placeholder, .dimas-comment-form textarea::-moz-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input:-ms-input-placeholder, .dimas-comment-form textarea:-ms-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input::-ms-input-placeholder, .dimas-comment-form textarea::-ms-input-placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form input::placeholder,
.dimas-comment-form textarea::placeholder {
  color: var(--dimas-color-white);
}
.dimas-comment-form .dimas-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dimas-comment-form .dimas-form-row.two-col .dimas-form-group {
  width: calc(50% - 1rem);
}
.dimas-comment-form .dimas-form-row .dimas-form-group {
  width: 100%;
}
.dimas-comment-form button {
  border: none;
  outline: none;
}
.dimas-comment-form button:hover {
  background-color: var(--dimas-color-white);
  color: var(--dimas-color-main);
}

.form-comment {
  padding-bottom: 12.9375rem;
}

/** Responsive Single Blog Page **/
@media (max-width: 1199px) {
  /* grid blog */
  .dimas-grid-wrap {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .dimas-section__item--blog:last-child {
    display: none;
  }
}
@media (max-width: 991px) {
  .form-comment {
    padding-bottom: 7.125rem;
  }

  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap {
    width: 3rem;
    height: 3rem;
  }
  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap svg {
    width: 1.1875rem;
    height: 1.1875rem;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: unset !important;
  }

  .dimas-grid-wrap {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
  }
  .dimas-grid-wrap .dimas-post {
    height: 17.625rem;
  }
  .dimas-grid-wrap .dimas-post__description {
    -webkit-line-clamp: 4;
    max-height: 6.5rem;
  }

  .dimas-post-gallery__link:nth-child(1) {
    padding-right: 6px;
  }
  .dimas-post-gallery__link:nth-child(2) {
    padding-left: 6px;
    padding-bottom: 6px;
  }
  .dimas-post-gallery__link:nth-child(3) {
    padding-left: 6px;
    padding-top: 6px;
  }

  .dimas-post__tag > h3 {
    width: 100%;
  }
  .dimas-post__tag > h3,
.dimas-post__tag > a {
    margin-bottom: 1rem;
  }

  .dimas-section__item--blog:last-child {
    display: block;
  }

  .view-comment .comment-list .comment-main .author-avtar {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  .view-comment .comment-list .comment-main .comment-btn {
    margin-left: 4rem;
  }
  .view-comment .comment-list .comment-main .comment-content {
    width: calc(100% - 4rem);
  }
  .view-comment .comment-list__reply-list {
    padding-left: 4rem;
  }
  .view-comment .comment-list__reply-list .comment-main .author-avtar {
    width: 2rem;
    height: 2rem;
  }
  .view-comment .comment-list__reply-list .comment-main .comment-btn {
    margin-left: 3rem;
  }
}
@media (max-width: 575px) {
  /* form contact */
  .dimas-comment-form input,
.dimas-comment-form textarea {
    margin-bottom: 2.5rem;
  }
  .dimas-comment-form .dimas-form-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dimas-comment-form .dimas-form-row.two-col .dimas-form-group {
    width: 100%;
  }
  .dimas-comment-form button {
    width: 100%;
  }
}