/*!
 * Blog Archive css Dimas
 * Copyright GCO Software
 */
/*FONT*/
@font-face {
  src: url("fonts/heist/Heist_Italic.otf");
  font-family: "Heist";
  font-style: italic;
}
@font-face {
  src: url("fonts/heist/Heist_Regular.otf");
  font-family: "Heist";
  font-style: normal;
}
.heist {
  font-family: "Heist";
}

.lato {
  font-family: "Lato";
}

.marcellus {
  font-family: "Marcellus";
}

.montserrat {
  font-family: "Montserrat";
}

.outfit {
  font-family: "Outfit";
}

.poppins {
  font-family: "Poppins";
}

.raleway {
  font-family: "Raleway";
}

/*ANIMATION*/
@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
  }
}
@keyframes pulse {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(2, 2, 2);
            transform: scale3d(2, 2, 2);
  }
}
@-webkit-keyframes dimas_blink_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dimas_blink_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dimas_bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes dimas_bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes dimas_spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}
@keyframes dimas_spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg);
  }
}
@-webkit-keyframes dimas_heartbeat {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes dimas_heartbeat {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes dimas_marquee {
  0% {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
  }
}
@keyframes dimas_marquee {
  0% {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(0);
    transform: translateX(-100%) translateZ(0);
  }
}
/*CUSTOM CSS*/
:root {
  --dimas-color-main: #F21967;
  --dimas-color-white: #FFFFFF;
  --dimas-color-black: #000000;
  --dimas-color-accent: #011A2C;
  --dimas-color-bg-header: #011A2C66;
  --dimas-color-subtitle: #FFFFFFB3;
  --dimas-color-thk-text: #FFFFFF66;
  --dimas-color-border: #FFFFFF33;
  --dimas-color-overlay: #FFFFFF26;
  --dimas-color-bg-tag: #1A3141;
  --dimas-color-transparent: transparent;
  --dimas-transition-duration: 300ms;
  --dimas-transition-duration-2: 400ms;
  --dimas-transition-duration-3: 500ms;
  --dimas-transition-easing: ease;
  --dimas-transition-linear: linear;
}

::-webkit-scrollbar {
  width: 5px;
}

::-moz-selection {
  background: var(--dimas-color-main);
  color: var(--dimas-color-white);
}

::selection {
  background: var(--dimas-color-main);
  color: var(--dimas-color-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dimas-color-main);
}

::-webkit-scrollbar-track {
  background-color: var(--dimas-color-accent);
}

body {
  background-color: var(--dimas-color-accent);
  font-family: "Poppins";
}

.label-header {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}
.label-header.label-content {
  font-family: "Outfit";
}

.label-content:not(.label-header) {
  font-family: "Outfit";
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
}

.name-author {
  font-family: "Outfit";
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.32em;
}

h1 {
  font-family: "Heist";
  font-style: normal;
  font-weight: 400;
}
h1.label-banner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Heist";
  font-style: normal;
  font-size: 5rem;
}

h2 {
  font-family: "Outfit";
  font-weight: 700;
  text-transform: capitalize;
}
h2.label-banner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Heist";
  font-weight: 400;
  font-size: 3.5rem;
}
h2.label-banner.hg60 {
  line-height: 3.75rem;
}
h2.label-banner.has-after::after {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  width: 8.5rem;
  height: 3px;
  background-color: var(--dimas-color-main);
}

h3 {
  font-family: "Outfit";
  font-style: normal;
  line-height: 2rem;
}

h4 {
  font-family: "Outfit";
  font-style: normal;
}

.quote {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
}
.quote__author {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.quote__text {
  position: relative;
}
.quote__text.has-after::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  height: 1px;
  width: 5rem;
  background-color: var(--dimas-color-border);
}

a {
  color: var(--dimas-color-white);
  text-decoration: none;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
}
a:hover {
  color: var(--dimas-color-main);
}
a:after {
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
}

svg {
  -webkit-transition: color var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: color var(--dimas-transition-duration) var(--dimas-transition-easing);
}

.has-color-white {
  color: var(--dimas-color-white);
}

.has-color-subtitle {
  color: var(--dimas-color-subtitle);
}

.has-color-main {
  color: var(--dimas-color-main);
}

.has-bg-main {
  background-color: var(--dimas-color-main);
}

.has-bg-black {
  background-color: var(--dimas-color-black);
}

.dimas-site-overlay {
  position: fixed;
  z-index: 35;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--dimas-color-overlay);
}

.dimas-custom-cursor {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  color: var(--dimas-color-accent);
}
.dimas-custom-cursor span {
  font-size: 0.9375rem;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  width: 5rem;
  height: 5rem;
  -webkit-transition: -webkit-transform calc(var(--dimas-transition-duration) / 2);
  transition: -webkit-transform calc(var(--dimas-transition-duration) / 2);
  transition: transform calc(var(--dimas-transition-duration) / 2);
  transition: transform calc(var(--dimas-transition-duration) / 2), -webkit-transform calc(var(--dimas-transition-duration) / 2);
  -webkit-transform: translate3d(calc(var(--dimas-custom-cursor__x) - 2.5rem), calc(var(--dimas-custom-cursor__y) - 2.5rem), 0);
          transform: translate3d(calc(var(--dimas-custom-cursor__x) - 2.5rem), calc(var(--dimas-custom-cursor__y) - 2.5rem), 0);
  opacity: 0;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dimas-custom-cursor span svg {
  height: 1em;
}
.dimas-custom-cursor.is-visible span {
  visibility: visible;
  -webkit-animation: dimas_blink_in var(--dimas-transition-duration) var(--dimas-transition-easing) forwards;
          animation: dimas_blink_in var(--dimas-transition-duration) var(--dimas-transition-easing) forwards;
}

.dimas-main {
  position: relative;
  overflow: hidden;
}

/** Responsive Custom CSS **/
@media (max-width: 767px) {
  h2 {
    font-size: 1rem;
    line-height: 1.25;
  }
  h2.label-banner {
    font-size: 3rem;
    line-height: 3.75rem;
  }
}
@media (max-width: 575px) {
  .quote {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .quote__img {
    margin-bottom: 1.5rem;
  }
}
/** End Responsive Custom CSS **/
/*HEADER*/
/* main header */
.dimas-header {
  position: absolute;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--dimas-color-white);
}

.dimas-social-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: inherit;
}
.dimas-social-icon svg {
  color: var(--dimas-color-white);
  width: 1.5rem;
  height: 1.5rem;
}
.dimas-social-icon:hover svg {
  color: var(--dimas-color-main);
}
.dimas-social-icon:not(:last-child) {
  margin-right: 2rem;
}

.dimas-navbar {
  z-index: 50;
}
.dimas-navbar--solid .dimas-navbar-background {
  height: 100%;
}
.dimas-navbar-background {
  position: absolute;
  z-index: -1;
  top: -1px;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
  background-color: var(--dimas-color-accent);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dimas-navbar--fixed {
  background-color: var(--dimas-color-bg-header);
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  border-bottom: 1px solid var(--dimas-color-border);
}
.dimas-navbar-socials {
  position: absolute;
  right: 3rem;
}
.dimas-navbar-inner {
  height: 5.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: padding var(--dimas-transition-duration) var(--dimas-transition-easing);
  transition: padding var(--dimas-transition-duration) var(--dimas-transition-easing);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dimas-navbar-inner-left {
  position: absolute;
  left: 4rem;
}
.dimas-navbar-inner-center {
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-navbar-inner-center a {
  padding-top: 2.1875rem;
  padding-bottom: 2.1875rem;
}
.dimas-navbar-logo {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
}
.dimas-navbar-logo img {
  display: block;
  max-width: none;
  max-height: 1.5rem;
}

.dimas-default-menu__navigation .dimas-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  pointer-events: auto;
}
.dimas-default-menu__navigation .dimas-menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  min-height: 100%;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-default-menu__navigation .dimas-menu > li > a {
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Outfit";
  line-height: 1.125rem;
  position: relative;
}
.dimas-default-menu__navigation .dimas-menu > li > a::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  background-color: var(--dimas-color-main);
}
.dimas-default-menu__navigation .dimas-menu > li + li {
  margin-left: 3rem;
}
.dimas-default-menu__navigation .dimas-menu > li.active > a, .dimas-default-menu__navigation .dimas-menu > li.current-menu-item > a, .dimas-default-menu__navigation .dimas-menu > li.sfHover > a, .dimas-default-menu__navigation .dimas-menu > li:hover > a {
  color: var(--dimas-color-main);
}
.dimas-default-menu__navigation .dimas-menu > li.active > a::after, .dimas-default-menu__navigation .dimas-menu > li.current-menu-item > a::after, .dimas-default-menu__navigation .dimas-menu > li.sfHover > a::after, .dimas-default-menu__navigation .dimas-menu > li:hover > a::after {
  opacity: 1;
}

.dimas-menu-burger {
  float: right;
}
.dimas-menu-burger svg {
  width: 2rem;
  height: 2rem;
}
.dimas-menu-burger.js-offcanvas-menu-open {
  padding: 1.875rem 3rem;
}

/* offcanvas */
.dimas-offcanvas-menu {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26.875rem;
  padding: 1.25rem 1.25rem 2.5rem;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  background-color: var(--dimas-color-accent);
}
.dimas-offcanvas-menu__navigation {
  overflow-y: auto;
  height: 100%;
}
.dimas-offcanvas-menu__navigation .dimas-menu {
  overflow: hidden;
}
.dimas-offcanvas-menu__navigation .dimas-menu a {
  display: inline-block;
}
.dimas-offcanvas-menu__navigation .dimas-menu li {
  display: block;
  float: none;
}
.dimas-offcanvas-menu__navigation .dimas-menu li::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  content: "";
  -webkit-transition: inherit;
  transition: inherit;
  opacity: 0;
  background-color: var(--dimas-color-main);
}
.dimas-offcanvas-menu__navigation .dimas-menu > li {
  position: relative;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.dimas-offcanvas-menu__navigation .dimas-menu > li:first-child {
  padding-top: 2rem;
}
.dimas-offcanvas-menu__navigation .dimas-menu > li > a {
  font-weight: 600;
  font-family: "Outfit";
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}
.dimas-offcanvas-menu__navigation .dimas-menu > li.active > a, .dimas-offcanvas-menu__navigation .dimas-menu > li.current-menu-item > a, .dimas-offcanvas-menu__navigation .dimas-menu > li.sfHover > a, .dimas-offcanvas-menu__navigation .dimas-menu > li:hover > a {
  color: var(--dimas-color-main);
}
.dimas-offcanvas-menu__navigation .dimas-menu > li.active::after, .dimas-offcanvas-menu__navigation .dimas-menu > li.current-menu-item::after, .dimas-offcanvas-menu__navigation .dimas-menu > li.sfHover::after, .dimas-offcanvas-menu__navigation .dimas-menu > li:hover::after {
  color: var(--dimas-color-main);
  opacity: 1;
}

/** Responsive Header **/
@media (max-width: 575px) {
  .dimas-menu-burger.js-offcanvas-menu-open {
    padding: 1rem 1rem;
  }

  .dimas-navbar-inner-left {
    left: 1rem;
  }

  .dimas-offcanvas-menu {
    width: 95.5555555556vw;
    padding: 1rem 1rem 2rem;
  }
}
/** End Responsive Header **/
/*FOOTER*/
.dimas-footer {
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2.25rem 3rem 2.25rem 3.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dimas-footer a {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}
.dimas-footer--fixed {
  background-color: var(--dimas-color-bg-header);
  position: fixed;
  z-index: 20;
}

/** Responsive Footer **/
@media (max-width: 991px) {
  .dimas-footer {
    padding: 2.375rem 3rem 2.375rem 4rem;
  }
}
@media (max-width: 575px) {
  .dimas-footer {
    display: block;
    padding: 1rem;
  }
  .dimas-footer-hotline {
    margin-top: 0.3125rem;
    width: 100%;
    position: relative;
    right: unset;
  }
}
/** End Responsive Footer **/
.dimas-blog-archive__vertical-align {
  padding-top: 11.5625rem;
  padding-bottom: 12.9375rem;
}

.dimas-menu,
.dimas-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dimas-grid-wrap .dimas-post {
  position: relative;
  padding: 2rem 1.4375rem;
  border: 1px solid var(--dimas-color-border);
}
.dimas-grid-wrap .dimas-post.grid-item, .dimas-grid-wrap .dimas-post.grid-sizer {
  width: calc(33.33% - 1.3333333333rem);
  margin-bottom: 2rem;
}
.dimas-grid-wrap .dimas-post:hover .dimas-post__thumbnail--wrap {
  opacity: 1;
}
.dimas-grid-wrap .dimas-post__description {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 4.875rem;
  overflow: hidden;
}
.dimas-grid-wrap .dimas-post__thumbnail--wrap {
  width: 100%;
  height: 100%;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
}
.dimas-grid-wrap .dimas-post__thumbnail--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap {
  border: 1px solid var(--dimas-color-white);
  border-radius: 50%;
  position: absolute;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap:hover {
  border: 1px solid var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap:hover svg {
  color: var(--dimas-color-main);
}
.dimas-grid-wrap .dimas-post__content--wrap {
  z-index: 1;
}
.dimas-grid-wrap .dimas-post__link {
  color: var(--dimas-color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.dimas-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  padding: 0.9375rem 2.9375rem;
}
.dimas-btn svg {
  margin-left: 1.5rem;
  margin-bottom: 2px;
  -webkit-transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
  transition: all var(--dimas-transition-duration) var(--dimas-transition-linear);
}
.dimas-btn:hover {
  background-color: var(--dimas-color-white);
}
.dimas-btn:hover svg {
  color: var(--dimas-color-main);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.dimas-pagination__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.dimas-pagination__wrap--item {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--dimas-color-overlay);
}
.dimas-pagination__wrap--item:not(.dot-page, .current-page) {
  cursor: pointer;
}
.dimas-pagination__wrap--item:not(:last-child) {
  margin-right: 0.75rem;
}
.dimas-pagination__wrap--item.prev-page svg, .dimas-pagination__wrap--item.next-page svg {
  width: 1.25rem;
  height: 1.25rem;
}
.dimas-pagination__wrap--item span,
.dimas-pagination__wrap--item a {
  font-family: "Outfit";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.dimas-pagination__wrap--item span {
  color: var(--dimas-color-white);
}
.dimas-pagination__wrap--item:not(.dot-page):hover, .dimas-pagination__wrap--item.current-page {
  background: var(--dimas-color-main);
}
.dimas-pagination__wrap--item:not(.dot-page):hover a, .dimas-pagination__wrap--item.current-page a {
  color: var(--dimas-color-white);
}

@media (max-width: 1199px) {
  .dimas-grid-wrap .dimas-post.grid-item, .dimas-grid-wrap .dimas-post.grid-sizer {
    width: calc(50% - 1rem);
  }
}
@media (max-width: 991px) {
  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap {
    width: 3rem;
    height: 3rem;
  }
  .dimas-grid-wrap .dimas-post__thumbnail--arrow-wrap svg {
    width: 1.1875rem;
    height: 1.1875rem;
  }

  .dimas-blog-archive__vertical-align {
    padding-top: 11.5rem;
    padding-bottom: 7.125rem;
  }
}
@media (max-width: 767px) {
  .dimas-grid-wrap .dimas-post.grid-item, .dimas-grid-wrap .dimas-post.grid-sizer {
    width: 100%;
  }
}