/*HEADER*/


/* main header */

.dimas-header {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--dimas-color-white);
}

.dimas-social-icon {
    display: inline-flex;
    color: inherit;
    svg {
        color: var(--dimas-color-white);
        width: (24rem/16);
        height: (24rem/16);
    }
    &:hover {
        svg {
            color: var(--dimas-color-main);
        }
    }
    &:not(:last-child) {
        margin-right: 2rem;
    }
}

.dimas-navbar {
    &--solid {
        .dimas-navbar-background {
            height: 100%;
        }
    }
    &-background {
        position: absolute;
        z-index: -1;
        top: -1px;
        right: 0;
        left: 0;
        width: 100%;
        height: 0;
        transition: all var(--dimas-transition-duration) var(--dimas-transition-easing);
        background-color: var(--dimas-color-accent);
        box-shadow: none;
    }
    &--fixed {
        background-color: var(--dimas-color-bg-header);
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        border-bottom: 1px solid var(--dimas-color-border);
    }
    z-index: 50;
    &-socials {
        position: absolute;
        right: (48rem/16);
    }
    &-inner {
        height: (88rem/16);
        position: relative;
        display: flex;
        transition: padding var(--dimas-transition-duration) var(--dimas-transition-easing);
        align-items: center;
        justify-content: space-between;
        &-left {
            position: absolute;
            left: (64rem/16);
        }
        &-center {
            top: 0;
            left: 0;
            pointer-events: none;
            align-items: center;
            a {
                padding-top: (35rem/16);
                padding-bottom: (35rem/16);
            }
        }
    }
    &-logo {
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        color: inherit;
        img {
            display: block;
            max-width: none;
            max-height: (24rem/16);
        }
    }
}

.dimas-default-menu {
    &__navigation {
        .dimas-menu {
            display: flex;
            height: 100%;
            pointer-events: auto;
            >li {
                display: flex;
                float: none;
                min-height: 100%;
                padding: 0;
                align-items: center;
                >a {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-family: "Outfit";
                    line-height: (18rem/16);
                    position: relative;
                    &::after {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        content: '';
                        -webkit-transition: inherit;
                        transition: inherit;
                        opacity: 0;
                        background-color: var(--dimas-color-main);
                    }
                }
                &+li {
                    margin-left: (48rem/16);
                }
                &.active,
                &.current-menu-item,
                &.sfHover,
                &:hover {
                    >a {
                        color: var(--dimas-color-main);
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.dimas-menu-burger {
    float: right;
    svg {
        width: 2rem;
        height: 2rem;
    }
    &.js-offcanvas-menu-open {
        padding: (30rem/16) (48rem/16);
    }
}


/* offcanvas */

.dimas-offcanvas-menu {
    position: fixed;
    z-index: 40;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: (430rem/16);
    padding: (20rem/16) (20rem/16) (40rem/16);
    transform: translate3d(100%, 0, 0);
    background-color: var(--dimas-color-accent);
    &__navigation {
        overflow-y: auto;
        height: 100%;
        .dimas-menu {
            a {
                display: inline-block;
            }
            overflow: hidden;
            li {
                display: block;
                float: none;
                &::after {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    content: '';
                    -webkit-transition: inherit;
                    transition: inherit;
                    opacity: 0;
                    background-color: var(--dimas-color-main);
                }
            }
            >li {
                &:first-child {
                    padding-top: 2rem;
                }
                position: relative;
                padding: 1rem 0;
                margin-bottom: 1rem;
                >a {
                    font-weight: 600;
                    font-family: 'Outfit';
                    width: 100%;
                    font-size: (18rem/16);
                    line-height: (23rem/16);
                }
                &.active,
                &.current-menu-item,
                &.sfHover,
                &:hover {
                    >a {
                        color: var(--dimas-color-main);
                    }
                }
                &.active::after,
                &.current-menu-item::after,
                &.sfHover::after,
                &:hover::after {
                    color: var(--dimas-color-main);
                    opacity: 1;
                }
            }
        }
    }
}


/** Responsive Header **/

@media (max-width: 575px) {
    .dimas-menu-burger {
        &.js-offcanvas-menu-open {
            padding: 1rem 1rem;
        }
    }
    .dimas-navbar-inner-left {
        left: 1rem;
    }
    .dimas-offcanvas-menu {
        width: (344vw/3.6);
        padding: 1rem 1rem 2rem;
    }
}


/** End Responsive Header **/