/**
* ECOMCX Admin Style
*
*By Phi Tran
*/
	/*Footer copyright*/
		.ecx_admin_footer_credits {
			text-align: Center !important;
		}
		.ecx_admin_footer_credits a{
			color: #18587b;
		}
	/*Admin panel widget*/
		h2.welcome-title, .about-description{
			color:#18587b!important;
		}
		h2.welcome-title a, .about-description a{
			color:#18587b!important;
			text-decoration: none;
		}
		.about-description{
			padding: 10px 0 0 0;
		}
		.wp-core-ui .button-primary {
			background-color: #18587b;
		}
		.wp-core-ui .welcome-panel .button.button-hero{
			margin-bottom: 10px;
		}
		.welcome-company-name, ecx-icon{
			color:#18587b
		}
		li.ecx-icon-info {
		    text-align: center;
		    Font-size: 24px;
		}
		.welcome-panel .welcome-panel-column li.ecx-icon-info {
		    display:block;
		}
		a.welcome-panel-close {
		    display: None!important;
		}