/* ===================================================================================

* Theme Name: Exhibz Child
* Theme URI: https://themeforest.net/user/tripples/portfolio
* Description: Exhibz is a functional Event and Conference WordPress Theme.
* Version: 2.0
* Author: Tripples
* Author URI: http://www.themewinter.com
* Template: exhibz
* License: GNU General Public License version 3.0
* License URI: http://www.gnu.org/licenses/gpl-3.0.html
* Tags: one-column, right-sidebar, left-sidebar, custom-menu, featured-images, post-formats, sticky-post, translation-ready

* We encourage you to create Child theme for any modifications you will want to do.

* Why use Child theme?

* Because of future updates we may provide for this theme that will overwrite your
* modifications and all your custom work.

* If you are not familiar with Child Themes, you can read about it here:
* http://codex.wordpress.org/Child_Themes
* http://wp.tutsplus.com/tutorials/theme-development/child-themes-basics-and-creating-child-themes-in-wordpress/

====================================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "VLFertigoPro";
  src: url(assets/fonts/Fertigo_PRO.otf);
  font-weight: 300;
  font-display: swap;
}
.for-mobile {
  display: none;
}

.grecaptcha-badge {
  display: none !important;
}

body {
  font-family: "Raleway", sans-serif;
  color: #333333;
  background-image: url("assets/imgs/bg_body.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 730px;
}

* {
  outline: none;
}

.elementor-widget-text-editor {
  font-family: "RobotoCondensed" !important;
}

.elementor-widget-text-editor p {
  margin-bottom: 8px;
}

a, a:hover {
  text-decoration: none;
}

p:empty {
  display: none;
}

.owl-dots {
  text-align: center;
  margin-top: 30px;
}
.owl-dots button, .owl-dots .owl-dot {
  margin: 0px 3px;
  display: inline-block;
}
.owl-dots button span, .owl-dots .owl-dot span {
  display: block;
  width: 12px;
  height: 4px;
  background: #D5D5D5;
  border-radius: 16px;
}
.owl-dots button.active span, .owl-dots .owl-dot.active span {
  width: 32px;
  background-color: #D1010A;
}

.elementor-section.bg-white-bachh .elementor-element-populated {
  background: #FFFFFF;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
}

.image {
  position: relative;
}
.image.ratio-1-1 {
  padding-top: 100%;
}
.image.ratio-16-9 {
  padding-top: 56.25%;
}
.image.ratio-4-3 {
  padding-top: 75%;
}
.image.ratio-3-2 {
  padding-top: 66.66%;
}
.image > a, .image figure {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.image > a > img, .image figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 0 10px;
  margin: auto;
}

h2.section-title, .section-title h2.elementor-heading-title {
  font-family: "VLFertigoPro";
  margin-top: 50px;
  font-weight: normal;
  font-size: 46px;
  color: #151748;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}

img.arrow-green {
  width: 12px !important;
  display: inline-block !important;
  margin-left: 8px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  margin: 0px;
  border-radius: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
}

ul.breadcrumb {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: 0px;
}
ul.breadcrumb li:not(:last-child) {
  margin-right: 15px;
}
ul.breadcrumb li:not(:last-child) > a::after {
  content: "\f105";
  font-family: "Font Awesome 5 Pro";
  color: #e6e7e8;
  margin-left: 15px;
}
ul.breadcrumb li > a {
  display: block;
  font-size: 14px;
  color: #fff;
}
ul.breadcrumb li > a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  height: 81px;
  border-bottom: 1px solid #ffffff6e;
  transition: background-color 0.3s ease;
}
header .logo a img {
  width: 110px;
}
header .logo a img.logo-2 {
  display: none;
}
header .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .main-header .main-menu {
  display: flex;
  align-items: center;
}
header .main-header .main-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
header .main-header .main-menu > ul > li {
  position: relative;
}
header .main-header .main-menu > ul > li:not(:last-child) {
  margin-right: 10px;
}
header .main-header .main-menu > ul > li > a {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 0px 20px;
  color: #333333;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
header .main-header .main-menu > ul > li > a::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  height: 3px;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
header .main-header .main-menu > ul > li > a:hover {
  text-decoration: none;
  color: #D1010A;
}
header .main-header .main-menu > ul > li > a:hover::after {
  -webkit-transform-origin: left center;
  transform: scale(1, 1);
}
header .main-header .main-menu > ul > li.current-menu-item > a::after {
  -webkit-transform-origin: left center;
  transform: scale(1, 1);
}
header .main-header .main-menu > ul > li.sign-up > a {
  border: 1px solid #D1010A;
  border-radius: 8px;
  font-weight: 600;
}
header .main-header .main-menu > ul > li > ul.sub-menu {
  list-style: none;
  margin: 15px 0 0;
  position: absolute;
  background: #fff;
  padding: 25px 0;
  top: 100%;
  left: 15px;
  min-width: 300px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 3px 63px 0 rgba(40, 40, 40, 0.11);
  transition: all 300ms linear 0ms;
  border-radius: 0 0 3px 3px;
  clip: rect(1px, 1px, 1px, 1px);
}
header .main-header .main-menu > ul > li > ul.sub-menu > li {
  padding: 0 40px;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a {
  color: #000;
  display: block;
  font-size: 14px;
  line-height: normal;
  padding: 12px 0;
  position: relative;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea;
  transition: all 300ms linear 0ms !important;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a::before {
  position: relative;
  content: "\f061";
  display: inline-block;
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  margin-right: 7px;
  margin-left: -17px;
  opacity: 0;
  transition: all 300ms ease 0s;
  color: #D1010A;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a:hover {
  color: #D1010A;
  font-weight: bold;
  text-decoration: none;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a:hover::before {
  font-weight: normal;
  opacity: 1;
  margin-left: 0;
}
header .main-header .main-menu > ul > li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  clip: inherit;
}
header .main-header .header-for-mobile {
  display: none;
}
header.has-color {
  background-color: #D1010A;
}

@keyframes headerSlideDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
header.white .main-header .logo a img.logo-1 {
  display: none;
}
header.white .main-header .logo a img.logo-2 {
  display: block;
}
header.white .main-header .main-menu > ul > li.bao-gia > a {
  border: 1px solid #D1010A;
  background-color: #D1010A;
  color: #fff;
}
header.white .main-header .main-menu > ul > li.bao-gia > a:hover {
  background-color: #fff;
  color: #D1010A;
  border-color: #D1010A;
}
header.white .main-header .main-menu > ul > li > a {
  color: #000;
}
header.white .main-header .main-menu > ul > li > a:hover {
  color: #D1010A;
}

header.sticky {
  animation: 1.15s ease 0s normal forwards 1 running headerSlideDown;
  background-color: #fff;
}
header.sticky .main-header .logo a img.logo-1 {
  display: none;
}
header.sticky .main-header .logo a img.logo-2 {
  display: block;
}
header.sticky .main-header .main-menu > ul > li.bao-gia > a {
  border: 1px solid #D1010A;
  background-color: #D1010A;
  color: #fff;
}
header.sticky .main-header .main-menu > ul > li.bao-gia > a:hover {
  background-color: #fff;
  color: #D1010A;
  border-color: #D1010A;
}
header.sticky .main-header .main-menu > ul > li > a {
  color: #000;
}
header.sticky .main-header .main-menu > ul > li > a:hover {
  color: #D1010A;
}

body.error404 header {
  position: relative;
  background-color: #D1010A;
}
body.error404 #page-404 {
  padding: 8% 0%;
  text-align: center;
}

.elementor-editor-active header.web-header, .elementor-editor-active footer.web-footer {
  display: none;
}

.select-language {
  margin-left: 10px;
}
.select-language ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  font-size: x-small;
}
.select-language ul li {
  margin: 0px 3px;
  line-height: 1;
}
.select-language ul li a {
  display: inline-block;
  line-height: 1;
}

.home-intro {
  padding: 15% 0%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 30px;
  align-items: center;
}
.home-intro .left > h2 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.home-intro .left > h2.tracking {
  font-size: 48px;
}
.home-intro .left > p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.home-intro .left > a {
  display: inline-block;
  background-color: #D1010A;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
}
.home-intro .left ul.breadcrumb {
  justify-content: left;
  padding-left: 0px;
  padding-right: 0px;
}

.your-quote .home-intro {
  padding: 0%;
  height: 540px;
}

.intro-forms, .request-quote-main-form {
  padding: 9%;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 280px;
}
.intro-forms form, .request-quote-main-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro-forms .nav-tabs, .request-quote-main-form .nav-tabs {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intro-forms .nav-tabs::before, .intro-forms .nav-tabs::after, .request-quote-main-form .nav-tabs::before, .request-quote-main-form .nav-tabs::after {
  display: none;
}
.intro-forms .nav-tabs > li, .request-quote-main-form .nav-tabs > li {
  float: none;
}
.intro-forms .nav-tabs > li > a, .request-quote-main-form .nav-tabs > li > a {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 15px;
  color: #000;
  border: none;
  text-transform: uppercase;
  text-align: center;
  color: #D1010A;
  background-color: transparent;
}
.intro-forms .nav-tabs > li > a.active, .request-quote-main-form .nav-tabs > li > a.active {
  font-weight: 600;
  background-color: transparent;
  color: #D1010A;
}
.intro-forms .nav-tabs > li:first-child, .request-quote-main-form .nav-tabs > li:first-child {
  border-right: 1px solid #000;
}
.intro-forms .nav-tabs > li > a:hover, .request-quote-main-form .nav-tabs > li > a:hover {
  color: #D1010A;
  background-color: transparent;
}
.intro-forms form p, .request-quote-main-form form p {
  width: 100%;
}
.intro-forms form .pol, .request-quote-main-form form .pol {
  position: relative;
  width: 100%;
}
.intro-forms form .pol #pol-list, .request-quote-main-form form .pol #pol-list {
  position: absolute;
  top: 37px;
  background-color: #fff;
  width: 100%;
  background-color: #3a3a3a;
  z-index: 1;
}
.intro-forms form .pol #pol-list ul, .request-quote-main-form form .pol #pol-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  top: 100%;
  left: 0px;
}
.intro-forms form .pol #pol-list ul > li, .request-quote-main-form form .pol #pol-list ul > li {
  color: #eaeaea;
  padding: 7px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
}
.intro-forms form .pod, .request-quote-main-form form .pod {
  position: relative;
  width: 100%;
}
.intro-forms form .pod #pod-list, .request-quote-main-form form .pod #pod-list {
  position: absolute;
  top: 37px;
  background-color: #fff;
  width: 100%;
  background-color: #363636;
  z-index: 1;
}
.intro-forms form .pod #pod-list ul, .request-quote-main-form form .pod #pod-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  top: 100%;
  left: 0px;
}
.intro-forms form .pod #pod-list ul > li, .request-quote-main-form form .pod #pod-list ul > li {
  color: #eaeaea;
  padding: 7px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
}
.intro-forms form .hbl_hawb, .request-quote-main-form form .hbl_hawb {
  position: relative;
  width: 100%;
}
.intro-forms form .hbl_hawb #hbl_hawb-list, .request-quote-main-form form .hbl_hawb #hbl_hawb-list {
  position: absolute;
  top: 37px;
  background-color: #fff;
  width: 100%;
  background-color: grey;
  z-index: 1;
}
.intro-forms form .hbl_hawb #hbl_hawb-list ul, .request-quote-main-form form .hbl_hawb #hbl_hawb-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  top: 100%;
  left: 0px;
}
.intro-forms form .hbl_hawb #hbl_hawb-list ul > li, .request-quote-main-form form .hbl_hawb #hbl_hawb-list ul > li {
  color: #eaeaea;
  padding: 7px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
}
.intro-forms form input, .intro-forms form select, .request-quote-main-form form input, .request-quote-main-form form select {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0px;
  border-bottom: 1px solid #D1010A;
  margin-bottom: 10px;
  background-color: transparent;
}
.intro-forms form button, .request-quote-main-form form button {
  background-color: #505f79;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px 30px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.intro-forms form button.active, .request-quote-main-form form button.active {
  background-color: #D1010A;
}

.home-services {
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 8%;*/
  padding: 5% 0%;
  display: inline-block;
  width: 100%;
}
.home-services .left {
  width: 55%;
  float: left;
  padding-right: 5%;
  position: sticky;
  top: 24%;
}
.home-services .left .services-list .item {
  display: grid;
  grid-template-columns: 32px auto;
  grid-gap: 15px;
  margin-bottom: 25px;
}
.home-services .left .services-list .item .content h3 {
  font-size: 24px;
  font-weight: bold;
  color: #D1010A;
  margin-top: 0px;
  cursor: pointer;
}
.home-services .left .services-list .item .content .display {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}
.home-services .left .services-list .item .content .display p {
  font-size: 15px;
}
.home-services .left .services-list .item .content .display a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}
.home-services .left .services-list .item .content .display a:hover {
  color: #D1010A;
}
.home-services .left .services-list .item.active .content .display {
  height: 152px;
}
.home-services .right {
  width: 45%;
  float: left;
  padding-left: 20px;
}
.home-services .right .box-image {
  position: sticky;
  top: 23%;
  width: 100%;
  padding-top: 100%;
}
.home-services .right .box-image::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #D1010A;
  left: -20px;
  bottom: -20px;
  position: absolute;
}
.home-services .right .box-image .item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: 1px solid #D1010A;
}
.home-services .right .box-image .item.active {
  opacity: 1;
}
.home-services .right .box-image .item .image {
  width: 100%;
  height: 100%;
}
.home-services .right .box-image .item .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-services .right .scroll-content > div {
  height: 400px;
}

.actions {
  text-align: center;
  margin-top: 30px;
}
.actions a.see-more {
  display: inline-block;
  padding: 8px 90px;
  background-color: #D1010A;
  border-radius: 8px;
  color: #fff;
}

.elementor-widget:not(:last-child).section-title {
  margin-bottom: 0px;
}

.home-why {
  padding: 5% 0%;
}
.home-why .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 3%;
}
.home-why .top .desc {
  font-size: 15px;
  color: #fff;
}
.home-why .why-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.home-why .why-list .item .image {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 25px;
}
.home-why .why-list .item .image figure {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.home-why .why-list .item .image figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-why .why-list .item h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}
.home-why .why-list .item p {
  font-size: 15px;
  color: #fff;
}
.home-why.about-us {
  padding-bottom: 5%;
}
.home-why.about-us .top {
  grid-template-columns: 2fr 1fr;
}
.home-why.about-us .why-list {
  grid-template-columns: 1fr 1fr;
}
.home-why.about-us .why-list .item p {
  color: #000;
}
.home-why.about-us .why-list .item ul {
  padding-left: 16px;
}
.home-why.participants .why-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-why.participants .why-list .item .image {
  position: relative;
  padding-top: 100%;
  margin-bottom: 0px;
}
.home-why.participants .why-list .item .image figure {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.home-why.participants .why-list .item .image figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-why.participants .why-list .item .image .desc-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  padding: 20px;
  display: flex;
  align-items: end;
  opacity: 0;
  transition: all 0.3s ease;
}
.home-why.participants .why-list .item .image:hover .desc-2 {
  opacity: 1;
}
.home-why.participants .why-list .item .text-box {
  padding: 20px;
}
.home-why.participants .why-list .item h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}
.home-why.participants .why-list .item p {
  font-size: 16px;
  color: #333333;
}

#home-schedule h2.section-title {
  margin-bottom: 0px;
}
#home-schedule p.description {
  text-align: center;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
#home-schedule .card {
  border: none;
  margin-bottom: 25px;
}
#home-schedule .card-header {
  border: none;
  padding: 0;
}
#home-schedule .card-header button.btn-link {
  width: 100%;
  color: #333333;
  font-weight: bold;
  padding: 15px 10px;
  text-align: left;
  background-color: #F3F5F7;
  position: relative;
  text-decoration: none;
  line-height: unset;
}
#home-schedule .card-header button.btn-link::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #333333;
  color: #fff;
  width: 24px;
  text-align: center;
}
#home-schedule .card-header button.btn-link.collapsed::after {
  content: "\f0da";
  color: #333333;
}
#home-schedule .card-header button.btn-link[aria-expanded=true] {
  background-color: #D1010A;
  color: #fff;
}
#home-schedule .collapse.show {
  background-color: #F3F5F7;
}
#home-schedule .schedule-item {
  display: grid;
  grid-template-columns: 3fr 6fr 0.5fr;
  grid-gap: 20px;
  align-items: baseline;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D5D5D5;
}
#home-schedule .schedule-item .left p {
  color: #151748;
  font-weight: bold;
  display: flex;
  margin-bottom: 0px;
}
#home-schedule .schedule-item .left p > img {
  margin-right: 10px;
}
#home-schedule .schedule-item .left .speakers {
  display: flex;
  margin-top: 15px;
}
#home-schedule .schedule-item .left .speakers > img {
  margin-right: 10px;
}
#home-schedule .schedule-item .left .speakers ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#home-schedule .schedule-item .left .speakers ul > li {
  display: inline-block;
}
#home-schedule .schedule-item .left .speakers ul > li > a {
  color: #151748;
  font-weight: bold;
}
#home-schedule .schedule-item .center-box h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 0px;
}
#home-schedule .schedule-item .center-box ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 35px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
#home-schedule .schedule-item .center-box ul > li {
  border-radius: 100%;
  overflow: hidden;
}
#home-schedule .schedule-item .center-box ul > li .image {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 100%;
  display: block;
}
#home-schedule .schedule-item .center-box ul > li .image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
#home-schedule .schedule-item .center-box p {
  margin-top: 15px;
  margin-bottom: 0px;
}
#home-schedule .schedule-item .show-desc {
  text-align: right;
}
#home-schedule .schedule-item .show-desc button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  display: inline-block;
  border: none;
  outline: none;
}

.section-hurry-up::after {
  content: "";
  width: 100%;
  height: 60%;
  background-image: url("assets/imgs/bg-red.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.elementor-section-wrap > section:nth-child(3) {
  overflow: hidden !important;
}

.home-hurry-up {
  padding: 5% 0%;
  display: grid;
  grid-template-columns: 11fr 9fr;
  grid-gap: 30px;
  align-items: center;
  position: relative;
  z-index: 2;
}
.home-hurry-up .left {
  text-align: center;
  color: #fff;
}
.home-hurry-up .left h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #fff;
}
.home-hurry-up .left .numbers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.home-hurry-up .left .numbers-list .item {
  width: 105px;
  height: 105px;
  text-align: center;
  border-radius: 8px;
  background-color: #151748;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-hurry-up .left .numbers-list .item h4 {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
.home-hurry-up .left .numbers-list .item p {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0px;
}
.home-hurry-up .right .contact-form {
  position: relative;
  padding: 40px;
  background: #151748;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  color: #fff;
}
.home-hurry-up .right .contact-form h4 {
  color: #fff;
}
.home-hurry-up .right .contact-form input:not([type=submit]) {
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 100%;
}
.home-hurry-up .right .contact-form select {
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 100%;
}
.home-hurry-up .right .contact-form input[type=submit] {
  background-color: #D1010A;
  border: none;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 8px;
  width: 100%;
}

.home-partners {
  padding: 5% 0%;
}
.home-partners.second {
  padding-top: 5%;
}
.home-partners .partners-list .owl-carousel .owl-stage .item a {
  display: block;
  text-align: center;
}
.home-partners .partners-list .owl-carousel .owl-stage .item a > img {
  height: 90px;
  width: auto;
  display: inline-block;
  transition: filter 0.3s ease;
}

.home-sponsor {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 20px;
  padding: 50px 0px;
  border-bottom: 1px solid #D5D5D5;
}
.home-sponsor.has-link {
  border: none;
}
.home-sponsor .sponsor-title {
  font-weight: bold;
}
.home-sponsor .sponsor-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}
.home-sponsor .sponsor-list .item a {
  display: block;
  text-align: center;
}
.home-sponsor .sponsor-list .item a img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.home-sponsor .sponsor-list .item a:hover > img {
  filter: none;
}

.home-photo .photo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-template-areas: "item-1 item-1 item-1 item-1 item-1 item-1" "item-2 item-2 item-2 item-2 item-3 item-3" "item-4 item-4 item-4 item-5 item-5 item-5" "item-6 item-6 item-7 item-7 item-7 item-7";
}
.home-photo .photo-list .item-1 {
  grid-area: item-1;
}
.home-photo .photo-list .item-2 {
  grid-area: item-2;
}
.home-photo .photo-list .item-3 {
  grid-area: item-3;
}
.home-photo .photo-list .item-4 {
  grid-area: item-4;
}
.home-photo .photo-list .item-5 {
  grid-area: item-5;
}
.home-photo .photo-list .item-6 {
  grid-area: item-6;
}
.home-photo .photo-list .item-7 {
  grid-area: item-7;
}
.home-photo .photo-list > a {
  display: block;
}
.home-photo .photo-list > a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-consulting {
  padding: 5% 0%;
}
.home-consulting .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 3%;
}
.home-consulting .top .desc {
  font-size: 15px;
  color: #000;
}
.home-consulting .top a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}
.home-consulting .top a:hover {
  color: #D1010A;
}
.home-consulting .consulting-list .owl-carousel .owl-stage-outer {
  height: calc(100% + 60px);
  margin: -30px;
  padding: 30px;
  width: calc(100% + 60px);
}
.home-consulting .consulting-list .owl-item {
  opacity: 0;
}
.home-consulting .consulting-list .owl-item.active {
  opacity: 1;
}

.home-video button {
  padding: 0;
  border-radius: 0;
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  height: auto;
}
.home-video button .play-video {
  position: absolute;
}
.home-video .modal-dialog {
  max-width: 800px;
}
.home-video .modal-body {
  padding: 5px;
}
.home-video .main-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.home-video .main-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-post {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.item-post .image {
  position: relative;
  padding-top: 75%;
  margin-bottom: 0px;
}
.item-post .image a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border-radius: 12px;
}
.item-post .image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms linear 0ms;
}
.item-post:hover .image a img {
  transform: scale(1.1);
}
.item-post .text-box {
  padding: 25px;
}
.item-post h3 {
  line-height: 1;
  margin-bottom: 25px;
}
.item-post h3 a {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}
.item-post h3 a:hover {
  color: #D1010A;
}
.item-post p {
  font-size: 15px;
  color: #000;
  padding-bottom: 20px;
  border-bottom: 1px solid #E3E3E3;
}
.item-post a.read-more {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #D1010A;
  text-align: center;
  transition: color 0.3s ease;
}
.item-post a.read-more i {
  color: #D1010A;
}
.item-post a.read-more:hover {
  color: #D1010A;
}
.item-post.single .image {
  margin-bottom: 10px;
}
.item-post.single h3 {
  margin-bottom: 10px;
}
.item-post.single h3 a {
  font-size: 18px;
}

.home-slider {
  position: relative;
}
.home-slider .owl-dots {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 20px;
  margin-top: 0px;
}

.home-slider-signup .item {
  position: relative;
}
.home-slider-signup .item .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}
.home-slider-signup .item .text-box h3 {
  font-size: 56px;
  font-weight: bold;
  color: #fff;
  line-height: 64px;
}
.home-slider-signup .item .text-box p {
  font-size: 16px;
  color: #fff;
  max-width: 330px;
  margin-bottom: 0px;
}

.home-features .item {
  position: relative;
  padding-bottom: 140px;
}
.home-features .item .image {
  width: 75%;
  padding-top: 40%;
  position: relative;
}
.home-features .item .image > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.home-features .item .text-box {
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  position: absolute;
  width: 45%;
  bottom: 10%;
  right: 10%;
  padding: 30px;
  padding-bottom: 90px;
}
.home-features .owl-nav {
  border-radius: 12px;
  position: absolute;
  width: 45%;
  bottom: 9%;
  right: 10%;
  padding: 30px;
  display: flex;
  align-items: end;
}
.home-features .owl-nav button {
  border: none;
  outline: none;
}
.home-features .owl-nav .owl-prev {
  margin-right: 20px;
}

.bachh-paginate {
  margin-top: 30px;
  margin-bottom: 5%;
}
.bachh-paginate .pagenavi {
  text-align: center;
}
.bachh-paginate .pagenavi > :not(.current) {
  display: inline-block;
  color: #000;
  background: #e3e3e3;
  padding: 8px 14px;
  border: none;
  transition: all 0.3s ease;
}
.bachh-paginate .pagenavi > :not(.current):hover {
  background-color: #D1010A;
  color: #fff;
  text-decoration: none;
}
.bachh-paginate .pagenavi .current {
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
  background-color: #D1010A;
}

footer {
  position: relative;
  color: #fff;
  background: #151748;
  overflow: hidden;
  padding: 80px 0px;
  margin-top: 80px;
}
footer .top {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #D5D5D5;
  align-items: center;
}
footer .top .logo a img {
  width: 100%;
}
footer .top .content p:last-child {
  margin-bottom: 0px;
  font-weight: bold;
}
footer .top .content p:last-child a {
  color: #D1010A;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .bottom ul li {
  margin-right: 10px;
}
footer .bottom ul li a {
  color: #fff;
  font-size: 20px;
}
footer .bottom .copy-right {
  font-size: 14px;
  color: #fff;
}

#search-train-calendar, #search-orders, #search-your-quote {
  margin-top: 10%;
}
#search-train-calendar main, #search-orders main, #search-your-quote main {
  padding: 5% 0%;
  padding-bottom: 0%;
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}
#search-train-calendar main .title, #search-orders main .title, #search-your-quote main .title {
  margin-bottom: 10px;
}
#search-train-calendar main .title h3, #search-orders main .title h3, #search-your-quote main .title h3 {
  font-size: 32px;
  text-transform: uppercase;
  color: #3b3232;
  margin: 0px;
  margin-bottom: 15px;
}
#search-train-calendar main .title .desc a, #search-orders main .title .desc a, #search-your-quote main .title .desc a {
  color: #D1010A;
}
#search-train-calendar main .title ul.breadcrumb, #search-orders main .title ul.breadcrumb, #search-your-quote main .title ul.breadcrumb {
  justify-content: flex-start;
  padding: 0px;
}
#search-train-calendar main .title ul.breadcrumb li > a, #search-orders main .title ul.breadcrumb li > a, #search-your-quote main .title ul.breadcrumb li > a {
  color: #000;
  font-size: 16px;
}
#search-train-calendar main .title ul.breadcrumb li:not(:last-child) > a::after, #search-orders main .title ul.breadcrumb li:not(:last-child) > a::after, #search-your-quote main .title ul.breadcrumb li:not(:last-child) > a::after {
  color: #000;
}
#search-train-calendar main p.thanks, #search-orders main p.thanks, #search-your-quote main p.thanks {
  font-size: 24px;
}
#search-train-calendar main p.from-to, #search-orders main p.from-to, #search-your-quote main p.from-to {
  display: flex;
  align-items: center;
}
#search-train-calendar main p.from-to span, #search-orders main p.from-to span, #search-your-quote main p.from-to span {
  font-size: 24px;
  font-weight: bold;
}
#search-train-calendar main p.from-to img, #search-orders main p.from-to img, #search-your-quote main p.from-to img {
  margin: 0px 10px;
}
#search-train-calendar main p.final-var, #search-orders main p.final-var, #search-your-quote main p.final-var {
  font-size: 16px;
}
#search-train-calendar main p.final-var > span, #search-orders main p.final-var > span, #search-your-quote main p.final-var > span {
  font-size: 26px;
  font-weight: bold;
}
#search-train-calendar main button#show-detail, #search-orders main button#show-detail, #search-your-quote main button#show-detail {
  border: none;
  background-color: #02884c;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
#search-train-calendar main table, #search-orders main table, #search-your-quote main table {
  text-align: center;
}
#search-train-calendar main button.excel, #search-orders main button.excel, #search-your-quote main button.excel {
  background-color: #D1010A;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}
#search-train-calendar main button.excel.bottom, #search-orders main button.excel.bottom, #search-your-quote main button.excel.bottom {
  float: right;
}

p.no-result {
  color: red;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.page-one.baogia {
  margin-top: 150px;
  margin-bottom: 100px;
}

.single-service {
  background-color: #fafafa;
}

.service-intro {
  position: relative;
}
.service-intro .background {
  height: 480px;
  position: relative;
}
.service-intro .background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-intro .background::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00000075;
  position: absolute;
  top: 0;
  left: 0;
}
.service-intro .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.service-intro .title h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.service-main {
  padding: 5% 0%;
  display: grid;
  grid-template-columns: 255px auto;
  grid-gap: 5%;
}

.archive-page main .subcate {
  margin-top: 5%;
}
.archive-page main .subcate:last-child {
  margin-bottom: 5%;
}
.archive-page main .subcate h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.archive-page main .subcate h2 > span {
  font-size: 40px;
  font-weight: bold;
  color: #D1010A;
}
.archive-page main .subcate h2 > a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #D1010A;
}
.archive-page main .subcate h2 > a:hover {
  text-decoration: none;
}

.subcate-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.subcate-posts.not-child {
  margin: 5% 0%;
}

.aside-menu .main {
  background-color: #fff;
  padding: 15px 5px;
  border: 1px solid #D1010A;
}
.aside-menu .main h3 {
  font-size: 18px;
  font-weight: bold;
  color: #D1010A;
  padding: 8px 8px;
}
.aside-menu .main ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.aside-menu .main ul li a {
  padding: 10px 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  transition: all 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}
.aside-menu .main ul li a::after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  opacity: 0;
}
.aside-menu .main ul li a:hover {
  background-color: #D1010A;
  color: #fff;
}
.aside-menu .main ul li a:hover::after {
  color: #fff;
  opacity: 1;
}
.aside-menu .main ul li.current-menu-item a {
  background-color: #D1010A;
  color: #fff;
}
.aside-menu .main ul li.current-menu-item a::after {
  opacity: 1;
}

.single-page {
  background-color: #fafafa;
}
.single-page main {
  margin-top: 6%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-bottom: solid 1px #dfdfdf;
}
.single-page .related-posts h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.single-page .related-posts .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 5%;
}

.partner-section {
  margin-top: 5%;
}
.partner-section .grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: flex-start;
}
.partner-section .left .logo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.partner-section .left .logo-list > figure {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-section .left .logo-list > figure > img {
  max-width: 70%;
  max-height: 50px;
}
.partner-section .right {
  position: relative;
  padding-left: 25px;
}
.partner-section .right::before {
  content: "";
  width: calc(100% - 25px);
  height: 100%;
  position: absolute;
  border: 1px solid #D1010A;
  left: 0;
  top: 25px;
}
.partner-section .right .image {
  margin-bottom: 0px;
}

.service-content {
  /* WordPress Core */
}
.service-content .alignnone {
  margin: 5px 20px 20px 0;
}
.service-content .aligncenter, .service-content div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.service-content .alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.service-content .alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.service-content .aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.service-content a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.service-content a img.alignnone {
  margin: 5px 20px 20px 0;
}
.service-content a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.service-content a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-content .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.service-content .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.service-content .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.service-content .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.service-content .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.service-content .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.aboutus-section {
  padding: 5% 0%;
  padding-bottom: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: center;
}
.aboutus-section .left .item:not(:first-child) {
  margin-top: 7%;
}
.aboutus-section .left .item h3 {
  font-size: 40px;
  font-weight: bold;
  color: #D1010A;
  margin-bottom: 5%;
}
.aboutus-section .right {
  position: relative;
}
.aboutus-section .right .image {
  margin-bottom: 0px;
}
.aboutus-section.one .right {
  padding-left: 25px;
}
.aboutus-section.one .right::before {
  content: "";
  width: calc(100% - 25px);
  height: 100%;
  position: absolute;
  border: 1px solid #D1010A;
  left: 0;
  top: 25px;
}
.aboutus-section.two {
  grid-auto-flow: dense;
}
.aboutus-section.two .left {
  grid-column: 2;
}
.aboutus-section.two .left .item h3 {
  color: #fff;
}
.aboutus-section.two .right {
  grid-column: 1;
  padding-right: 25px;
}
.aboutus-section.two .right::before {
  content: "";
  width: calc(100% - 25px);
  height: 100%;
  position: absolute;
  border: 1px solid #fff;
  right: 0;
  top: 25px;
}

.aboutus-whylist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  background-color: #D1010A;
  padding: 40px;
}
.aboutus-whylist > p {
  color: #fff;
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 10px;
  align-items: baseline;
}
.aboutus-whylist > p > i {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  color: #D1010A;
  font-size: 12px;
}

div.wpcf7 .ajax-loader {
  background-image: url("assets/imgs/loading_2.gif");
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  left: 0px;
  height: 100%;
  top: 0px;
  background-position: center;
  background-color: transparent;
  margin-left: 0px;
  background-size: 50px 50px;
}

.wpcf7 .ajax-loader::before {
  display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: transparent;
  color: #ffffff;
  background-color: #30ca14;
  text-align: center;
}

div.wpcf7 span.example {
  font-size: 12px;
  display: block;
  padding: 5px 0px;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  background-color: #ff4343;
  border: none;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.wpcf7-not-valid-tip {
  font-size: 11px;
  margin-top: 4px;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0px;
  font-size: 12px;
}

input.wpcf7-not-valid:not[type=file] {
  border: 1px solid red;
}

.contactus-form {
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 5% 0%;
}
.contactus-form .left {
  background-color: #D1010A;
  padding: 40px;
  color: #fff;
}
.contactus-form .left > h3 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}
.contactus-form .left > p {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
}
.contactus-form .left .contact h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.contactus-form .left .contact p {
  display: flex;
  align-items: baseline;
}
.contactus-form .left .contact p > a {
  color: #fff;
}
.contactus-form .left .contact p i {
  margin-right: 10px;
}
.contactus-form .right {
  background-color: #efefef;
  padding: 8% 15%;
}
.contactus-form .right form {
  position: relative;
}
.contactus-form .right form > p {
  margin-bottom: 30px;
}
.contactus-form .right form > p > span:not(.ajax-loader) {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contactus-form .right form > p > span:not(.ajax-loader).your-message > textarea {
  height: 130px;
}
.contactus-form .right form > p > span:not(.ajax-loader) .wpcf7-not-valid-tip {
  position: absolute;
  top: 105%;
  margin: 0px;
  display: block;
  width: 100%;
}
.contactus-form .right form input:not([type=submit]), .contactus-form .right form textarea {
  border: solid 1px #dddddd;
  padding: 12px 10px;
  width: 100%;
  outline: none;
  background-color: #fff;
}
.contactus-form .right form input[type=submit] {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #D1010A;
  border: none;
  outline: none;
  padding: 8px 12px;
  height: 50px;
  cursor: pointer;
}

.contactus-maps {
  height: 65vh;
}

.request-quote-form {
  margin: 10% 0%;
  margin-top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  padding: 30px;
}
.request-quote-form .left .title {
  margin-bottom: 15px;
}
.request-quote-form .left .desc {
  color: #fff;
}
.request-quote-form .request-quote-main-form {
  padding: 30px;
}
.request-quote-form .request-quote-main-form input:not([type=submit]), .request-quote-form .request-quote-main-form textarea, .request-quote-form .request-quote-main-form select {
  border: solid 1px #dddddd;
  padding: 12px 10px;
  width: 100%;
  outline: none;
  background-color: #fff;
}
.request-quote-form .request-quote-main-form button[type=submit] {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #D1010A;
  border: none;
  outline: none;
  padding: 8px 12px;
  height: 50px;
  cursor: pointer;
}

.mg0 .request-quote-form {
  margin: 0px;
}

#search-your-quote main {
  padding-bottom: 0px;
  padding-top: 0%;
}
#search-your-quote #your-quote {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: none;
  text-align: left;
}
#search-your-quote #your-quote tr.blue-bg {
  background-color: #1e1e67;
  color: #fff;
}
#search-your-quote #your-quote tr.red-bg {
  background-color: #b41919;
  color: #fff;
}
#search-your-quote #your-quote .flex-in-td {
  display: flex;
  justify-content: space-between;
}

.sale-policy h3 {
  font-size: 24px;
}
.sale-policy h3 button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #D1010A;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.sale-policy h3 button > i {
  margin-left: 6px;
}
.sale-policy .main-policy {
  margin-top: 20px;
  display: none;
}

#get-your-quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  background-color: #efefef;
  margin-bottom: 20px;
  margin-top: 15px;
}
#get-your-quote .left {
  width: 90%;
  background-color: #D1010A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 80px;
  text-transform: uppercase;
  clip-path: polygon(0% 0%, 92% 1%, 100% 50%, 92% 100%, 0% 100%);
  padding: 0px 15px;
  padding-right: 40px;
}
#get-your-quote .left > img {
  margin-right: 20px;
}
#get-your-quote .right {
  padding-right: 50px;
}
#get-your-quote .right form {
  display: grid;
  grid-template-columns: auto 100px;
  grid-gap: 15px;
  align-items: center;
}
#get-your-quote .right form input {
  width: 100%;
  height: 48px;
  border: solid 1px #02884c;
  background-color: #ffffff;
  border-radius: 0px;
  padding: 0px 15px;
}
#get-your-quote .right form textarea {
  display: none;
}
#get-your-quote .right form button {
  border: none;
  border-radius: 0px;
  background-color: #02884c;
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;
}

.select-wrapper {
  position: relative;
}
.select-wrapper select {
  appearance: none;
}
.select-wrapper::before {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.elementor-widget.mb0 {
  margin-bottom: 0 !important;
}

p.update-on span {
  font-weight: bold;
}

.save-success {
  margin: 10% 0%;
  margin-bottom: 5%;
}

.page-one #search-your-quote-email {
  display: none;
}

.no-result-page .no-result-hide, .no-result-page .sale-policy, .no-result-page #get-your-quote, .no-result-page .text-desc {
  display: none;
}

.contact.no-result-hide {
  margin-top: 20px;
}

.text-desc {
  margin: 10px 0px;
  margin-bottom: 20px;
}
.text-desc p {
  margin-bottom: 10px;
}

@media (max-width: 1199px) {
  header {
    border-bottom: none;
  }
  header .main-header .main-menu {
    display: block;
    position: fixed;
    background-color: #151748;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    transition: left 0.3s ease;
    z-index: 9;
  }
  header .main-header .main-menu.active {
    left: 0px;
  }
  header .main-header .main-menu .close-menu {
    text-align: left;
  }
  header .main-header .main-menu .close-menu > span {
    display: inline-block;
    width: 46px;
    height: 46px;
    font-size: 20px;
    text-align: center;
    line-height: 46px;
    color: #fff;
    cursor: pointer;
  }
  header .main-header .main-menu > ul {
    display: block;
    padding: 0px 15px;
    height: 80vh;
    overflow-y: auto;
  }
  header .main-header .main-menu > ul > li {
    display: block;
    margin: 0px;
  }
  header .main-header .main-menu > ul > li:not(:last-child) {
    border-bottom: 1px solid #424242;
    margin: auto;
  }
  header .main-header .main-menu > ul > li > a {
    height: 60px;
    padding: 0px;
    font-size: 17px;
    color: #fff;
  }
  header .main-header .main-menu > ul > li > a::after {
    display: none;
  }
  header .main-header .main-menu > ul > li.menu-item-has-children::before {
    content: "\f067";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    right: 1px;
    z-index: 2;
    width: 30px;
    text-align: center;
    height: 60px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  header .main-header .main-menu > ul > li.current-menu-item > a {
    border-bottom: none;
    color: #00d385;
  }
  header .main-header .main-menu > ul > li > ul.sub-menu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    left: 0px;
    margin-top: 0px;
    display: none;
    transition: none;
  }
  header .main-header .main-menu > ul > li > ul.sub-menu::after {
    display: none;
  }
  header .main-header .main-menu > ul > li > ul.sub-menu > li {
    padding: 0px 25px;
  }
  header .main-header .main-menu > ul > li > ul.sub-menu > li > a {
    font-size: 16px;
  }
  header .main-header .main-menu > ul > li > ul.sub-menu > li > a::before {
    display: none;
  }
  header .main-header .main-menu > ul > li.bao-gia > a {
    padding: 0px 15px;
    background-color: #D1010A;
  }
  header .main-header .header-for-mobile {
    display: block;
  }
  header .main-header .open-menu {
    display: flex;
    align-items: center;
  }
  header .main-header .open-menu > span {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
  }
  header .main-header .open-menu > i {
    font-size: 26px;
    margin-left: 12px;
    color: #333333;
  }

  header .main-header .main-menu > ul > li.sign-up > a {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  }

  header.sticky .main-header .open-menu > span, header.white .main-header .open-menu > span {
    color: #000;
  }
  header.sticky .main-header .main-menu > ul > li > a, header.white .main-header .main-menu > ul > li > a {
    color: #fff;
  }
  header.sticky .main-header .open-menu > i, header.white .main-header .open-menu > i {
    color: #000;
  }

  header .main-header .main-menu > .select-language {
    display: none;
  }

  .select-language {
    margin-left: 0px;
    margin-right: 10px;
  }

  h2.section-title {
    font-size: 40px;
  }

  .home-slider-signup .item .text-box h3 {
    font-size: 35px;
    line-height: 40px;
  }

  .scroll-content {
    display: none;
  }
}
@media (max-width: 768px) {
  .for-mobile {
    display: block;
  }

  .for-tablet {
    display: none;
  }

  footer .top {
    grid-template-columns: 1fr;
  }

  footer .bottom {
    display: block;
  }

  footer .bottom ul {
    margin-bottom: 10px;
  }

  footer .top .logo a img {
    max-width: 250px;
  }

  .home-video .modal-dialog {
    max-width: 100%;
  }

  h2.section-title, .section-title h2.elementor-heading-title {
    font-size: 34px;
    margin: 30px 0px;
  }

  .home-photo .photo-list {
    grid-gap: 15px;
  }

  .home-sponsor {
    grid-template-columns: 1fr 3fr;
  }

  .home-sponsor .sponsor-list {
    grid-template-columns: 1fr 1fr;
  }

  .home-sponsor .sponsor-title {
    font-size: 18px;
  }

  .home-hurry-up .right .contact-form {
    padding: 20px;
  }

  .section-hurry-up::after {
    height: 100%;
  }

  .home-why.participants .why-list .item .text-box {
    padding: 15px 0px;
  }

  #home-schedule .card-header button.btn-link::after {
    right: 10px;
  }

  .home-features .item {
    padding-bottom: 0px;
  }

  .home-features .item .image {
    padding-top: 70%;
  }

  .home-slider-signup .item .text-box {
    display: none;
  }

  .home-features .item .image {
    width: 100%;
  }

  .home-features .item .text-box {
    position: relative;
    width: 100%;
    padding: 20px 0px;
    box-shadow: none;
    right: 0;
  }

  .home-features .owl-nav {
    position: relative;
    margin: 0;
    right: auto;
    padding: 0;
  }

  #home-schedule .schedule-item {
    display: block;
  }
  #home-schedule .schedule-item .show-desc {
    display: none;
  }

  #home-schedule .schedule-item .center-box ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  .home-video button .play-video {
    width: 50px;
  }

  .home-intro, .your-quote .home-intro {
    grid-template-columns: 1fr;
    padding: 30% 0%;
    padding-bottom: 5%;
  }
  .home-intro .left h2, .your-quote .home-intro .left h2 {
    font-size: 40px;
  }
  .home-intro .left p, .your-quote .home-intro .left p {
    font-size: 15px;
  }
  .home-intro .right .intro-forms, .your-quote .home-intro .right .intro-forms {
    padding: 12px;
  }
  .home-intro .right .intro-forms .nav-tabs > li > a, .your-quote .home-intro .right .intro-forms .nav-tabs > li > a {
    padding: 0px 8px;
  }

  .your-quote .home-intro {
    height: auto;
  }

  .home-services {
    grid-template-columns: 1fr;
    grid-gap: 0%;
  }
  .home-services .left {
    width: 100%;
    position: relative;
    padding: 0%;
  }
  .home-services .left .services-list .item.active .content .display {
    height: 152px;
  }
  .home-services .right {
    width: 100%;
    padding: 0%;
    padding-left: 15px;
    float: none;
    margin-bottom: 20%;
  }
  .home-services .right .box-image {
    width: 100%;
    position: relative;
    padding-top: 100%;
  }
  .home-services .right .box-image::before {
    left: -15px;
    bottom: -15px;
  }

  .home-why .top {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .home-why .why-list {
    grid-template-columns: 1fr;
  }

  .home-partners.first .partners-list .item:nth-child(5) {
    grid-column: 1/3;
  }
  .home-partners.second .partners-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }

  .home-consulting .top {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .home-consulting .main .consulting-list {
    grid-template-columns: 1fr;
  }

  .home-why.participants .why-list {
    grid-template-columns: 1fr 1fr;
  }

  .home-hurry-up {
    grid-template-columns: 1fr;
  }

  .home-hurry-up .left .numbers-list {
    grid-gap: 10px;
  }

  .home-hurry-up .left .numbers-list .item {
    width: 100%;
    height: 100%;
  }
  .home-hurry-up .left .numbers-list .item h4 {
    font-size: 30px;
  }
  .home-hurry-up .left .numbers-list .item p {
    font-size: 12px;
  }

  footer .main-footer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  footer .main-footer .footer-col:first-child {
    grid-column: 1/4;
  }
  footer .main-footer .footer-col:first-child .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  footer .main-footer .footer-col:first-child .logo .footer-mobile-contact .contact {
    margin-bottom: 10px;
  }

  .service-intro .background {
    height: 240px;
  }
  .service-intro .title {
    top: 63%;
  }
  .service-intro .title h1 {
    font-size: 34px;
    padding: 0px 15px;
    margin-bottom: 0px;
  }

  .service-main {
    grid-template-columns: 1fr;
  }

  .archive-page main .subcate {
    margin-top: 10%;
  }
  .archive-page main .subcate:last-child {
    margin-bottom: 10%;
  }

  .subcate-posts {
    grid-template-columns: 1fr;
  }

  .partner-section {
    margin-bottom: 10%;
  }
  .partner-section .grid-layout {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    grid-gap: 0px;
  }
  .partner-section .grid-layout .right {
    grid-column: 1;
    grid-row: 1;
  }
  .partner-section .left .logo-list {
    grid-gap: 30px;
  }
  .partner-section .left .logo-list > figure {
    height: 100px;
  }
  .partner-section .right {
    margin-bottom: 18%;
  }

  .aboutus-section {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  .aboutus-section.two {
    flex-flow: column-reverse;
  }
  .aboutus-section .right {
    margin-bottom: 18%;
  }
  .aboutus-section.one .left .item h3 {
    margin-bottom: 10%;
  }

  .home-why.about-us .top, .home-why.about-us .why-list {
    grid-template-columns: 1fr;
  }

  .aboutus-whylist {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .contactus-form {
    grid-template-columns: 1fr;
  }
  .contactus-form .left, .contactus-form .right {
    padding: 20px;
  }

  .single-page main {
    grid-template-columns: 1fr;
    padding-bottom: 5%;
    margin-bottom: 10%;
  }
  .single-page .related-posts {
    font-size: 24px;
  }
  .single-page .related-posts .list {
    grid-template-columns: 1fr;
  }

  aside.aside-menu {
    display: none;
  }

  .request-quote-form {
    grid-template-columns: 1fr;
    padding: 15px;
    margin-top: 30%;
  }
  .request-quote-form .top {
    grid-template-columns: 1fr;
  }
  .request-quote-form .request-quote-main-form .main-requestaquote .grid-contact {
    grid-template-columns: 1fr;
  }
  .request-quote-form .request-quote-main-form {
    padding: 10px;
  }

  #search-train-calendar, #search-orders, #search-your-quote, .save-success {
    margin-top: 30%;
  }

  #get-your-quote {
    grid-template-columns: 1fr;
  }
  #get-your-quote .left {
    width: 100%;
    clip-path: none;
    padding: 0px 20px;
    font-size: 20px;
  }
  #get-your-quote .right {
    padding-right: 0px;
  }

  #search-train-calendar main p.from-to span, #search-orders main p.from-to span, #search-your-quote main p.from-to span {
    font-size: 16px;
  }
}
/*hung css*/
/*css speaker */
.ts-speaker-info > p,.swiper-container.tablet,.swiper-container.mobile,.swiper-pagination.tablet,.swiper-pagination.mobile,.slick-next,.slick-prev,.wrap-zoom-img,.wrap-zoom-img .img-zoom,.single-post span.post-author,.single-post .recent-post-widget span.post-meta-date,.single-post footer.entry-footer.clearfix {
    display: none;
}
header .main-header .main-menu>ul>li>a
{
    padding: 0 15px!important;
}
body #home-schedule .card-header button.btn-link
{
    color: #fff;
    background-color: #151748;
}
body #home-schedule .card-header button.btn-link.collapsed:after {
    color: #fff;
}
.center-box img {
    width: 63px!important;
    height: 63px!important;
    border-radius: 50%!important;
}
.elementor .schedule-detail img {
    height: 100%;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    object-fit: cover;
}
.modal-footer {
    justify-content: center!important;
    font-weight: 600;
    color: #333;
}
.speaker-classic .ts-speaker .speaker-img img {
    min-height: 250px;
    width: auto!important;
    object-fit: cover;
    object-position: center;
}
.tu-lieu-hinh-anh:before {
    background-image: url(https://vnday.creativa.vn/wp-content/uploads/2021/09/blobe-dot-media.png);
    top: -145%;
    content: "";
    width: 523px;
    height: 1000px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.thu-vien-video:before {
    background-image: url(https://vnday.creativa.vn/wp-content/uploads/2021/09/blobe-dot-media-video.png);
    top: 0;
    right: 0;
    content: "";
    width: 880px;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-inner .elementor-section-wrap .tu-lieu-hinh-anh {
    overflow: visible!important;
}
/*spwiper slider tin tuc*/
.wrap-grid.swiper-slide{
	padding:0 10px 50px;
    display: grid;
    width: 100%;
    position: relative;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.thong-tin .wrap-grid.swiper-slide .elementor-post__thumbnail img {
    object-fit: cover;
    height: 280px;
    width: 100%;
}
.wrap-post.swiper-slide-item {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
    min-height: 440px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 1px 3px 8px 1px rgb(88 52 127 / 15%);
    border-radius: 10px;
}

.wrap-post.swiper-slide-item h3.elementor-post__title {
    font-size: 24px;
    padding: 25px;
    margin: 0;
    height: 100%;
    line-height: 32px;
    font-weight: 600;
    font-family: 'Raleway';
}
/*swiper-pagination*/
.swiper-pagination.swiper-pagination-bullets {
    width: 100%;
}
span.swiper-pagination-bullet {
    width: 12px;
    height: 4px;
    border-radius: 16px;
    background-color: #D4D4D4;
    opacity: 1;
}
span.swiper-pagination-bullet:not(:last-child) {
   margin-right:8px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 32px;
    background-color: #D1010A;
}
.title-center-media .elementor-heading-title,.title-left-media .elementor-heading-title
{
	font-family: "VLFertigoPro"!important;
}
body.page-id-2453
{
	background-image:none;
}
/*gallery*/
.image-page {
    justify-content: center;
    grid-column-gap: 28px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 28px;
}
.wrap-img-570-360 {
	border-radius: 8px;
    position: relative;
    display: block;
    min-width: 568px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrap-img-570-360:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.wrap-img-570-360:not(:first-child) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}
.wrap-img-270-165 {
	border-radius: 8px;
    position: relative;
    display: block;
    width: 270px;
    height: 165px;
    overflow: hidden;
}
.img-270-165, .img-570-360 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay-570-360, .overlay-270-165 {
    background: url(https://vnday.creativa.vn/wp-content/uploads/2021/09/zoom.png) center no-repeat ,rgba(59,29,130,.5);
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.wrap-img-570-360:hover .overlay-570-360,.wrap-img-270-165:hover .overlay-270-165
{
	opacity: 1;
}
#wrap-gallery-page {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#wrap-gallery-page >* {
   min-width: 36px;
   height: 36px;
   display: flex;
   padding: 4px;
   justify-content: center;
   align-content: center;
   font-size: 15px;
   line-height: 27px;
   border-radius: 5px; 
   border: 1px solid #E1E1E1;
   margin-right: 10px;
   color: #333;
   font-weight: 500;
}
#wrap-gallery-page > a.xem-tiep {
   margin-right: 0px;
}
#wrap-gallery-page > span.current-num {
   background: #D1010A;
   color: #fff;
}
.wrap-zoom-img.show
{
    flex-wrap: wrap;
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	background: #333333cc;
	justify-content: center;
	align-content: center;
}
.wrap-gallery.mobile {
    display: none;
}
.elementor .img-zoom.show {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.zoom-prev {
    left: 140px;
}
.zoom-next {
    right: 140px;
}
.zoom-prev, .zoom-next {
    top: 45%;
    font-size: 25px;
    color: #fff;
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.elementor .img-zoom.show img {
    max-width: 70vw;
    max-height: 60vh;
}
/*post*/
.container header {
    height: fit-content;
}

.single-post .fa.fa-long-arrow-left:before {
    content: "←";
}
.single-post .fa.fa-long-arrow-right:before {
    content: "→";
}

.single-post .post-navigation.clearfix {
    background: #F6F6F6;
}

.single-post .post-navigation.clearfix h3{
     overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    -webkit-line-clamp: 2;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.single-post .post-navigation .post-next
{
    border-left: 1px solid #dcdcdc;
}

.single-post .container {
    max-width: 1170px;
}

.single-post .row {
    display: grid;
    padding: 0 10px;
    grid-column-gap: calc(30% / 11.7);
    grid-template-columns: calc(770% / 11.7) calc(370% / 11.7);
}
.single-post  .col-lg-10,.single-post .col-md-4 {
    -webkit-box-flex: 0;
    padding: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
}
.single-post .post-details .entry-header
{
    padding: 0px;
}

.single-post .post-details .post-body {
    padding: 30px 0 0;
}

.single-post .blog-single .post-navigation {
    margin: 0 0 40px;
}

.single-post h4.widget-title {
    color: #151748;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 22px;
    border-bottom: 1px solid #CBC0D7;
    position: relative;
    margin-bottom: 0;
}
.single-post h4.widget-title:after {
    background: #D1010A;
    content: "";
    height: 2px;
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.widget-post.media {
    padding: 30px 0;
    border-bottom: 1px solid #DBD3E4;
}
.widget-post.media:last-child {
    border-bottom: none;
}

.single-post .recent-post-widget .widget-post img {
    max-width: 130px;
    width: 130px;
    height: 90px;
}
.single-post .recent-post-widget .widget-post .media-body .entry-title a
 {
    color: #333;
    font-weight: 600;
    line-height: 23px;
}

.single-post .post-meta,.wrap-share-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-share-button a {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h5.share-text {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 13px;
    text-transform: uppercase;
    color: #5a5a5a;
}
.wrap-share-button >* {
    margin: 0 5px;
}
a.share-button.facebook-share {
    background-image: url(https://vnday.creativa.vn/wp-content/uploads/2021/09/facebook-logo.png);
}
a.share-button.twitter-share{
    background-image: url(https://vnday.creativa.vn/wp-content/uploads/2021/09/twitter-logo.png);
}
.elementor-post__thumbnail {
    width: 100%;
}
.single-post .post-details .entry-header .entry-title {
    text-align: left;
}
.single-post .wp-caption:hover .wp-caption-text{
   margin-bottom: .8075em;
}

@media (max-width: 767px)
{
.single-post .row,.single-post nav.post-navigation.clearfix {
    display: flex;
}
.single-post  .post-navigation .post-previous,.single-post  .post-navigation .post-next {
    width: 50%;
    margin: 0;
}
.single-post  .post-navigation .post-previous{
   padding-right: 10px;
}
.single-post  .post-navigation .post-next {
     padding-left: : 10px;
     text-align: right;
}
.swiper-container.desktop,.swiper-container.tablet,.swiper-pagination.desktop,.swiper-pagination.tablet
{
    display: none;
}
.swiper-container.mobile,.swiper-pagination.mobile
{
    display: block;
}
.wrap-grid.swiper-slide {
    grid-template-columns: 1fr;
    padding: 0 10px 20px;
}
.wrap-gallery.mobile .wrap-img-570-360 {
    min-width: unset;
    min-height: unset;
    width: calc(100% - 20px);
    height: calc(50vw - 20px);
}
.wrap-gallery.mobile .wrap-img-270-165 {
    margin-top:15px;
    width: calc(50% - 15px);
    height: calc(30vw - -20px);
}
.wrap-gallery.mobile .wrap-img-270-165:nth-child(even) {
    margin-right:15px;
}
.wrap-gallery.mobile .image-page {
    flex-wrap: wrap;
    display: flex!important;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
}
.wrap-gallery.mobile {
    display: block;
}
.wrap-gallery {
    display: none;
}
.tu-lieu-hinh-anh:before {
  content: unset;
}
h2.caption-zoom {
    font-size: 16px;
}
.zoom-prev, .zoom-next {
    top: 40%;
}
.zoom-next {
    right: 10px;
}
.zoom-prev {
    left: 10px;
}
}

@media screen and (min-width: 768px) and (max-width: 1239px)
{
.zoom-prev, .zoom-next {
    top: 42%;
}
.zoom-next {
    right: 40px;
}
.zoom-prev {
    left: 40px;
}
.wrap-img-270-165 {
    position: relative;
    display: block;
    width: 158px;
    height: 95px;
    overflow: hidden;
}
.wrap-img-570-360{
min-width: 344px;
}
.wrap-grid.swiper-slide {
    padding: 0 10px 30px;
    grid-template-columns: repeat(2,1fr);
}
.swiper-container.desktop,.swiper-container.mobile,.swiper-pagination.desktop,.swiper-pagination.mobile
{
    display: none;
}
.swiper-container.tablet,.swiper-pagination.tablet
{
    display: block;
}
}

h2.caption-zoom {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    text-transform: capitalize;
    color: #fff;
}
.page-id-2299 h2.section-title,.page-id-5094 h2.section-title,.page-id-3162 h2.section-title,.page-id-3162 h2.section-title,.page-id-2981 .title-center-media h2.elementor-heading-title,.page-id-3143 h2.section-title{
    font-family: "Philosopher",Sans-serif!important;
    font-weight: 400!important;
}
/*# sourceMappingURL=style.css.map */
