input.button.button-small.wp-picker-clear {
    margin-top: 2px;
    margin-left: 5px;
}
input#hotline_icon , input#hotline_bg , input#mess_icon{
    width: 100px;
    padding: center;
    padding-left: 10px;
}  
input#image-upload-button, input#image-delete-button,
input#icon-upload-button, input#icon-delete-button,
input#avt-upload-button, input#avt-delete-button,
input#logo_monochrome-upload-button,input#logo-monochrome-delete-button
{
    margin-left: 20px;
    margin-right:20px;
}
#tabs {
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab
{
display:none;    
}
div#section {
  padding: 15px 0px!important;
}
#tabs li {
    margin-left: 4px!important;
    margin: 0;
    padding: 0;
    float: left;
}
#tabs a {
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #fff;
    background: linear-gradient(220deg, transparent 10px, #fff 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #000;
    float: left;
    text-transform:uppercase;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}
#tabs a:hover {
    background: #f26251;
    background: linear-gradient(220deg, transparent 10px, #f26251 10px);
}
#tabs a:focus {
    outline: 0;
}
#tabs #current a {
    background: #fff;
    background: linear-gradient(220deg, transparent 10px, #1a597b 10px);
    text-shadow: none;
    color: #fff;
}
#content {
    border-radius: 0 2px 2px 2px;
    box-shadow: 0 0px 2px #000, 0 0 0 #fff inset;
    padding: 5px 30px 0px 30px;
    margin-left:1px;
}
#label{
    padding-bottom:5px;
    cursor:pointer;
    display:inline-block;
    text-align: left;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
}
#label-color{
    cursor:pointer;
    padding-top:6px;
    display:inline-block;
    text-align: left;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
}
#header-page
{
    padding-bottom:10px;
}
#wpfooter{
	position:relative!important;
}