/*!
	Theme Name: ECOMCX Theme
	Theme URI: https://ecomcx.com/
	Description: Giao diện được thiết kế và lập trình bởi ECOMCX
	Author: ECOMCX Team
	Author URI: https://ecomcx.com/
	Version: 2.0
	Stable tag: 2.0
	Text Domain: ecomcx-theme
	Tags: flexible-header, custom-colors, custom-menu, custom-logo, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/* Global CSS*/
@font-face {
	font-family: 'star';
	src: url('../fonts/star.eot');
	src: url('../fonts/star.eot?#iefix') format('embedded-opentype'),
		url('../fonts/star.woff') format('woff'),
		url('../fonts/star.ttf') format('truetype'),
		url('../fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WooCommerce';
	src: url('../fonts/WooCommerce.eot');
	src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WooCommerce.woff') format('woff'),
		url('../fonts/WooCommerce.ttf') format('truetype'),
		url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: 'Quicksand', sans-serif;
}

body {
	font-weight:500;
	overflow-x:hidden;
    font-size: 16px;
    line-height: 23px;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 600;
    margin-top: 0;
}

h1 {
    font-size: 30px;
    line-height: 40px;
	margin-bottom:14px;
}

h2 {
    font-size: 24px;
    line-height: 35px;
}

h3{
    font-size: 20px;
    line-height: 28px;
}

h4{
    font-size: 17px;
    line-height: 23px;
}
h5{
    font-size: 14px;
    line-height: 17px;
	margin-bottom:8px;
}
h2.section-label {
    color: #333e48;
    margin: 0 20px 0 0;
    padding-bottom: 9px;
}
a {
	font-weight:500;
	color: #333e48;
	transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
    text-decoration: none;
}

a:focus, a:hover{
	color: #f39139;
    text-decoration:none!important;
    outline: none!important;
}

ul {
	margin-bottom:0;
    padding: 0;
    list-style-type: none;
}
img
{
    height: auto;
    width: 100%;
	object-fit:cover;
	object-position:center;
}
.comment-author.vcard img {
    width: 42px;
}
del span.woocommerce-Price-amount.amount, del span.woocommerce-Price-currencySymbol {
    color: #929292!important;
}
del span.woocommerce-Price-amount.amount {
    font-size: 13px!important;
}
ins span.woocommerce-Price-amount.amount bdi, ins span.woocommerce-Price-amount.amount span.woocommerce-Price-currencySymbol, span.woocommerce-Price-amount.amount
{
    font-size: 18px!important;
    color: #ee4d2d!important;
    font-weight: 700!important;
}
input,select,textarea
{
	font-weight:500;
}
select {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    padding: 4px 28px 4px 12px;
    border-radius: 1.429em;
    font-size: .875rem;
    line-height: 1.714;
    color: #333e48;
    border: 1px solid #ddd;
	box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select:focus {
    border-color: #ffeb80;
    outline: none;
}
.col-2dot4, // extra small
.col-sm-2dot4, // small
.col-md-2dot4, // medium
.col-lg-2dot4, // large
.col-xl-2dot4,.col-xll-2dot4, { // extra large
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
     flex: 0 0 auto;
    width: 50%;
}
@media screen and (min-width: 576px) {
    .col-2dot4 {
      flex: 0 0 auto;
    width: 50%;
    }
}
@media screen and (min-width: 768px) {
    .col-2dot4 {
     flex: 0 0 auto;
    width: 25%;
    }
}
@media screen and (min-width: 1400px) {
    .col-2dot4 {
    flex: 0 0 auto;
    width: 20%;
    }
}
@media screen and (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl 
	{
        max-width: 1200px;
	} 
}
@media screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl 
	{
        max-width: 1400px;
	} 
}

@media screen and (max-width: 782px) {
    html #wpadminbar {
        height: 46px;
        min-width: 240px;
        top: -46px;
    }   
}

/* Keyframes */
.has-animation
{
	opacity: 0;
}
@keyframes progress {
    0% {
        transform: scale(0, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}
.progress_up
{
	animation:6000ms linear 0ms infinite normal both running progress;
}
@keyframes sideUp {
    0% {
        transform: translate3d(0px, 140%, 0px);
    }
    100% {
        transform: translate3d(0px, 0, 0px);
    }
}
.sideUp
{
	animation:650ms linear 0ms 1 normal both running sideUp;
}
@keyframes sideDown {
    0% {
        transform: translate3d(0px, 0, 0px);
    }
    100% {
        transform: translate3d(0px, 140%, 0px);
    }
}
.sideDown
{
	animation:650ms linear 0ms 1 normal both running sideDown;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fadeOut
{
	animation:650ms linear 0ms 1 normal both running fadeOut;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn
{
	animation:650ms linear 0ms 1 normal both running fadeIn
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInDown
{
	animation:fadeInDown 0.6s both;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes movedelement{
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    25% {
        -webkit-transform: translate(10px,10px);
        transform: translate(10px,10px);
    }

    50% {
        -webkit-transform: translate(5px,5px);
        transform: translate(5px,5px);
    }

    75% {
        -webkit-transform: translate(10px,-5px);
        transform: translate(10px,-5px);
    }

    100% {
        -webkit-transform: translate(0px,0px);
        transform: translate(0px,0px);
    }

}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0turn) translateY(-75px) translateY(50%) rotate(1turn);
        transform: rotate(0turn) translateY(-75px) translateY(50%) rotate(1turn);
    }
    100% {
        webkit-transform: rotate(1turn) translateY(-75px) translateY(50%) rotate(0turn);
        transform: rotate(1turn) translateY(-75px) translateY(50%) rotate(0turn);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d(1.05,1.05,1.05);
    }
}
@keyframes UpDown {
    0%, 100% {
         -webkit-transform: translate(0px,0px);
        transform: translate(0px,0px);
    }
    50% {
        -webkit-transform: translate(0px,-50%);
        transform: translate(0px,-50%);
    }
}

@keyframes arrow-glide-down {
    0% {
        opacity: 0;
        transform: translate3d(0,-5px,0);
    }
    50% {
        opacity: 1;
        transform: translate3d(0,-5px,0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
}
/* End of Keyframes */
/*class icon*/
.icon-shipping-before:before,.icon-shipping-after:after,.icon-heart-before:before,.icon-heart-after:after,.icon-search-before:before,.icon-search-after:after,
.icon-support-before:before,.icon-support-after:after,.icon-fly-before:before,.icon-fly-after:after,.icon-location-before:before,.icon-location-after:after,
.icon-chevron-right-before:before,.icon-chevron-right-after:after,.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,span.separator:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,.ecx-product-loop a.add_to_cart_button:after
{
    font-family: 'bootstrap-icons';
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-shipping-before:before,.icon-heart-before:before,.icon-search-before:before,
.icon-support-before:before,.icon-fly-before:before,.icon-location-before:before,
.icon-chevron-right-before:before{
    margin-right: 10px;
}
.icon-shipping-after:after,.icon-heart-after:after,.icon-search-after:after,
.icon-support-after:after,.icon-fly-after:after,.icon-location-after:after,
.icon-chevron-right-after:after{
    margin-left: 10px;
}
.icon-chevron-right-before:before,.icon-chevron-right-after:after
{
	content: '\F285';
}
.icon-heart-before:before,.icon-heart-after:after {
    content: '\F417';
}
.icon-shipping-before:before,.icon-shipping-after:after {
    content: '\F5EA';
}
.icon-search-before:before,.icon-search-after:after {
    content: '\F52A';
}
.icon-support-before:before,.icon-support-after:after {
    content: '\F414';
}
.icon-fly-before:before,.icon-fly-after:after {
    content: '\F6C0';
}
.icon-location-before:before,.icon-location-after:after {
    content: '\F3E8';
}
.ecx-product-loop a.add_to_cart_button:after
{
	position: absolute;
    width: 36px;
    height: 36px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    color: #fff;
    font-size: 14px;
    top: 70%;
    right: 10px;
    border-radius: 50%;
}
.ecx-product-loop .product_type_simple.add_to_cart_button,.ecx-product-loop .product_type_variable.add_to_cart_button {
    font-size: 0;
}
.ecx-product-loop .product_type_simple.add_to_cart_button:after {
    content: '\F23F';
}
.ecx-product-loop .product_type_variable.add_to_cart_button:after {
    content: '\F402';
}
/*End of class icon*/
/** header **/
/*drop nav categories*/
.wrap-li {
	width:100%;
    cursor: pointer;
}
.drop_nav_categories__button i:before {
    vertical-align: -4.5px;
}
.site-sidebar.categories .sidebar-menu > div ul li a {
    width: fit-content;
}
.sidebar-menu > div > ul li.menu-item-has-children.active ul.sub-menu li.menu-item-has-children ul.sub-menu {
    display: none;
}
.sidebar-menu > div > ul li.menu-item-has-children.active ul.sub-menu li.menu-item-has-children.active ul.sub-menu {
    display: block;
}
.site-sidebar.categories li.menu-item-has-children.active
{
	background-color: #fff;
	color: #f39139;
	font-weight:700;
}
/*end of drop nav categories*/
/*search form*/
.drop_nav_categories__button {
    padding: 15px;
}
.drop_nav_categories__button i {
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}
.search-product form.woocommerce-product-search {
    display: flex;
}
.search-product form.woocommerce-product-search input#woocommerce-product-search-field-0 {
    margin-right: -5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333E48;
}
.search-product form.woocommerce-product-search button {
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23333333' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
    border-bottom: 1px solid #333E48;
    padding: 1px 2px;
    width: 26px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
	background-size: auto;
    font-size: 0;
    background-color: transparent;
}
.search-product form.woocommerce-product-search button
{
	font-size:0;
}
/*End of search form*/
/*mini cart*/
ul#mini-cart:hover{
    position:relative;
}
span#drop-cart {
    position: absolute;
	top:0;
}
ul#mini-cart:hover span#drop-cart {
    visibility: visible;
}
ul#mini-cart span#drop-cart {
    z-index: 9999;
    font-family: 'Quicksand';
    background-color: #ffffff;
    float: left;
    position: absolute;
    right: 0;
    top: 39px;
    transform: translate(49px, 0);
    width: 300px;
    max-height: 390px;
    visibility: hidden;
    transition: visibility 0.5s;
    -moz-transition: visibility 0.5s;
    -webkit-transition: visibility 0.5s;
    -o-transition: visibility 0.5s;
    border: 20px solid #ffffff;
    outline: 1px solid #000;
}
.user-account i{
	margin-right:10px;
    font-size: 26px;
}
ul#mini-cart li {
    position: relative;
}
ul#mini-cart li a > i {
	margin-right:10px;
    font-size: 22px;
}
ul#mini-cart li span.cart-contents-count {
    right: 0;
    height: 18px;
    position: absolute;
    width: 18px;
    font-size: 13px;
    top: 0;
	background: red;
    color: #fff;
    border-radius: 50%;
    transform: translate(0, -15%);
}
.mini-cart__contents {
    border: 1px solid #d4d4d4;
    max-height: 178px;
    max-width: 260px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.mini-cart__product.cart_item {
    display: grid;
    grid-template-columns: 25% auto 50px;
    grid-template-rows: 75% auto;
    padding-bottom: 30px;
}
.mini-cart__product .product-thumbnail {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
}
.mini-cart__product .product-name {
	color:#333e48;
	font-weight:700;
	font-size: 14px;
    padding-left: 20px;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 0;
}
.mini-cart__product .product-price span.quantity {
    color: #333e48;
    font-weight: 500;
}
.mini-cart__product .product-price {
	font-size: 14px;
    padding-left: 20px;
    -ms-flex-item-align: end;
    align-self: end;
    color: #d4d4d4;
    font-weight: 300;
}
.mini-cart__product .product-remove {
    -ms-flex-item-align: end;
    align-self: end;
    justify-self: end;
    color: #818a91;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    border: 1px solid #d4d4d4;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.mini-cart__product .product-remove a{
    width:100%;
	height:100%;
	display:block;
}
.mini-cart__product .product-remove:after, .mini-cart__product .product-remove:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    top: 50%;
    left: 25%;
    margin-top: -1px;
    background: #d4d4d4;
    z-index: 1;
}
.mini-cart__product .product-remove:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mini-cart__product .product-remove:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
ul#mini-cart li span#drop-cart .mini-cart__subtotal {
	border-bottom: 1px solid #d4d4d4;
    font-size: 16px;
    padding: 10px 0px;
	text-align: center;
    font-weight: 600;
}
.mini-cart__button {
	padding-top: 20px;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.mini-cart__button .cart-button {
    transition: visibility 0.05s!important;
    -moz-transition: visibility 0.05s!important;
    -webkit-transition: visibility 0.05s!important;
    -o-transition: visibility 0.05s!important;
    border-radius: 5px;
    background-color: #f39139;
    color: #ffffff;
	font-size: 16px;
    padding: 10px 30px;
	font-weight:700;
}
/*End of mini cart*/
header.site-header {
	position:relative;
	z-index:9999;
    background: #fff;
}
.header-top .wrap-content li,.header-middle-item,.header-middle-item .wrap-item,.site-logo, .search-product,.cart-subtotal,ul#mini-cart,.user-account

{
	display:inline-block;
	width: fit-content;
}
.header-middle
{
	background-color:#ebebeb;
}
.header-middle .container
{
	min-height:90px;
}
.header-top .wrap-content > div {
    width: 100%;
}
.header-top .wrap-content ul {
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.header-top .wrap-content li{
    font-size: 13px;
}
.header-middle-item{
    font-size: 16px;
}
.header-top .wrap-content li:not(:first-child) {
    margin-left: 15px;
}
.header-top .wrap-content li i {
    margin-right:5px;
}
.header-top .wrap-content {
    width: 90%;
    padding: 10px 0px;
    margin: auto;
}
.header-middle .container
{
	padding: 10px 15px;
}
.site-logo img {
    height: 70px;
}
.header-middle-item .wrap-item
{
	margin-right:10px;
}
.site-logo, .search-product 
{
	padding:0 15px;
}
.header-middle-item .wrap-item i {
    font-size: 14px;
    margin-right: 10px;
}
.cart-subtotal
{
	margin-left:10px;
}
.cart-subtotal bdi {
    font-size: 18px;
    font-weight: 700;
    color: #333E48;
}
.header-bottom > div
{
	margin:auto;
}
.header-bottom ul {
    margin: 0;
    position: relative;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}
.header-bottom li {
    display: inline-flex;
	align-items:center;
    padding: 0;
    position: relative;
}
.header-bottom > div > ul > li:not(:first-child) {
    margin-left: 35px;
}
.header-bottom li > a {
	color:#333e48;
    position: relative;
    z-index: 2;
    display: block;
    padding: 12px 0;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    font-weight: 500;
    font-size: 14px;
}
.dropdown-wrapper.dropdown-width--auto {
    min-width: 285px;
    left: -45px;
}
.dropdown-wrapper {
    position: absolute;
    z-index: 9;
    top: 100%;
    left: 0;
    padding: 0 10px 10px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
    -webkit-transform-origin: 50% 0;
    -webkit-transition: 350ms;
    -moz-transition: 350ms;
    -o-transition: 350ms;
    transition: 350ms;
}
.header-bottom ul>li.menu-item-has-children:hover .dropdown-wrapper:before, .header-bottom ul>li.menu-item-has-children:hover .dropdown-wrapper:after {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}
.header-bottom ul>li.menu-item-has-children .dropdown-width--auto:before, .header-bottom ul>li.menu-item-has-children .dropdown-width--auto:after {
    top: -5px;
    left: 70px;
}
.header-bottom ul>li.menu-item-has-children .dropdown-wrapper:before, .header-bottom ul>li.menu-item-has-children .dropdown-wrapper:after {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-right-color: #fff;
    box-shadow: 0px 0px 7px 0px rgb(8 88 157 / 20%);
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.header-bottom ul>li.menu-item-has-children .dropdown-wrapper:before {
    box-shadow: none;
    z-index: 10;
}
.header-bottom ul>li.menu-item-has-children:hover .dropdown-wrapper {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}
.dropdown-wrapper.dropdown-width--auto .dropdown-content {
    padding-top: 0px;
}
.dropdown-wrapper.dropdown-width--auto .dropdown-content .dropdown-list {
    padding: 8px 0;
}
.dropdown-wrapper .dropdown-content .dropdown-list {
    position: relative;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 0px rgb(8 88 157 / 20%);
}
.dropdown-list ul {
    margin: 0;
    list-style: none;
}
.dropdown-list ul li{
    width:100%;
}	
.dropdown-list ul a {
   width:100%;
   padding: 4px 20px 
}
.dropdown-list ul a:hover {
   color: #2e3841;
   background-color: #e9ecef;
}	
.site-sidebar {
    display:none;
}
.site-sidebar.active {
	display:block;
	z-index:99999;
    position: fixed;
    top: 0;
    height: 100vh;
	background-color:rgba(0,0,0,.7);
	width:100%;
}
.sidebar-container {
    width: 88%;
    background: #fff;
    height: fit-content;
    height: 100%;
	overflow-y:scroll;
    max-width: 350px;
}
.sidebar-menu > div ul li a {
	cursor:pointer;
    width: 100%;
    color: #333e48;
}
.sidebar-menu > div ul li:hover ,li.menu-item-has-children.active
{
	background-color:#ebebeb;
}

.sidebar-menu > div ul li:hover > a,li.menu-item-has-children.active > a {
	color:#000;
}
.sidebar-menu > div > ul  li.menu-item-has-children ul.sub-menu {
    display: none;
    transition: 1s linear all;
}
.sidebar-menu > div > ul li.menu-item-has-children.active ul.sub-menu {
    display: block;
}
ul.sub-menu.subnav-children li > a {
    padding-left: 30px;
}
/*stiky header*/
body:not(.home) .site-header
{
    box-shadow: 0 0 17px -1px rgb(0 0 0 / 40%);
}
.site-header.sticky
{
    animation: fadeInDown 0.6s both;
	z-index:9999;
	position: fixed;
    box-shadow: 0 0 17px -1px rgb(0 0 0 / 40%);
    width: 100%;
}
.site-header.sticky .header-top
{
	display:none!important;
}
/*End of stiky header*/

@media screen and (max-width:991px)
{
	.middle-bottom 
	{
        min-width: 170px;
	}
	.banner-middle-bottom
	{
		width:100%;
		overflow-x:scroll;
	}
	.sidebar-menu > div > ul > li
	{
		flex-wrap:wrap;
		border-bottom: 1px solid #e3e9ef;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
	}
	.cart-subtotal
	{
		display:none;
	}
	.icon-search i {
		cursor:pointer;
	    margin-right:20px;
        font-size: 22px;
	}
	.user-account i {
		margin-right: 20px;
	}
	.search-product {
	    left:0;
		box-shadow:	0 4px 3px 0 rgb(1 1 1 / 10%);
        position: fixed;
        padding: 15px;
        top: 97px;
		width:100%;
		background: #fff;
	}
	.header-middle-item.wrap-site-logo{
		left:0;
		margin:0 -15px;
		z-index:1;
		width:100%;
		position: absolute;
	}
	.header-middle-item
	{
		z-index:2
	}
	.search-product form.woocommerce-product-search input#woocommerce-product-search-field-0
	{
		padding:5px 20px;
		width:calc(100% - 30px);
	}
	.search-product form.woocommerce-product-search button {
		margin-left:auto;
        width: 26px;
		height: 26px;
	    background-size: cover;
        background-color: transparent;
	}
	.search-product form.woocommerce-product-search input#woocommerce-product-search-field-0,.search-product form.woocommerce-product-search button
	{
		border-bottom:none;
	}
	.site-header.sticky.search {
        box-shadow: none;
	}
	.site-header.search {
        box-shadow: none;
	}
	.header-middle-item.wrap-icon-sidebar i {
        font-size: 22px;
        cursor: pointer;
	}
	ul#mini-cart span#drop-cart {
        display: none;
	}
	.sidebar-logo img {
        max-width: 200px;
	}
}

@media screen and (max-width: 767px)
{
	.user-account i{
       margin-right: 10px;
       font-size: 20px;
	}
	ul#mini-cart li a > i,.icon-search i {
       margin-right: 10px;
       font-size: 16px;
	}
}
/** End of header **/

/**home page**/
/*section banner*/
#banner-home .container
{
	z-index:1;
	padding-left:0;
	padding-right:0;
}
ul.megamenu-wrap {
    position: relative;
}
ul.megamenu-wrap .sub-childs {
	min-height: 100%;
    padding: 7px 0 7px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    transform: translate(100%, 0);
    background-color: #fff;
}
ul.megamenu-wrap .sub-childs li:last-child a{
    border-bottom:none;
}
ul.megamenu-wrap .sub-childs .sub-childs{
    min-height: unset;
}
ul.megamenu-wrap .has-childs:hover > .sub-childs
{
	display:block;
}
.megamenu-left {
	z-index:3;
    flex: 0 0 auto;
    width: 19.3%;
}
.banner-middle {
    flex: 0 0 auto;
    width: 63.6%;
}
/*.banner-middle .swiper img
{
	max-height: 342px;
}*/
.banner-right {
    flex: 0 0 auto;
    width: 17.1%;
}
.megamenu-header {
    padding: 12px 20px;
    font-weight: 500;
    background: #ebebeb;
}
ul.megamenu-wrap
{
	padding:7px 0;
}
ul.megamenu-wrap li
{
	width:100%;
	padding: 0 14px;
}
ul.megamenu-wrap li:hover > a
{
	background-color:#f5f5f5;
}
ul.megamenu-wrap  a
{
	font-size:14px;
	line-height:1.5;
	font-weight:500;
	text-transform:capitalize;
	display:flex;
	justify-content:space-between;
	padding:6.5px 0 6.5px 5px;
	width:100%;
	border-bottom: 1px solid #ddd;
}
ul.megamenu-wrap  a b
{
	text-transform:uppercase;
}
.middle-bottom {
    border-left: 1px solid #e7e7e7;	
    width: 25%;
}
.middle-bottom:last-child {
    border-right: 1px solid #e7e7e7;	
}
.middle-bottom:hover{
	border-color:transparent;
	box-shadow:0 0 18px -2px rgb(0 0 0 / 20%);
}
.middle-bottom .item-wrap {
    min-height: 170px;
	
}
.middle-bottom .item__img {
    height: calc(100% - 30px);
}
.middle-bottom img {
    max-width: 100px;
}
.middle-bottom .item__label {
    width: 100%;
    text-align: center;
    height: 30px;
	margin-bottom:0;
}
#banner-home
{
	padding-bottom:20px;
	background-color:#f5f5f5;
}
#banner-home .container
{
	background-color:#fff;
}
.banner-right-item
{
	overflow:hidden;
	height:33.333%;
	padding:16px;
}
.banner-right-item:not(:last-child)
{
	border-bottom : 1px solid #e7e7e7;
}
.banner-right-item .item-wrap
{
	overflow:hidden;
}
.banner-right-item .item__bt-text {
    font-weight: 700;
}
.banner-right-item .item__label {
	margin-bottom:5px;
	text-transform:uppercase;
}
.item__bt-text.icon-chevron-right-after:after {
    font-size: 10px;
    width: 18px;
    height: 18px;
    background-color: #ebebeb;
    color: #fff;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.banner-right-item .item__img {
    position: absolute;
    bottom: -30px;
    right: -10px;
}
.banner-right-item .item__img img{
    width: 110px;
    transform: rotate( -16deg);
}

@media screen and (max-width:1199px)
{
	.megamenu-left 
	{
        width: 270px;
	}
	.banner-middle 
	{
        width: calc(100% - 270px);
    }
    .banner-right 
	{
		height:170px;
        width: 100%;
    }	
	.banner-right-item {
        width: 33.333%;
        height:100%;
	}
	.banner-right-item {
		border-top: 1px solid #e7e7e7;
	}
	.banner-right-item:not(:last-child) {
		border-bottom:none;
	}
}
@media screen and (max-width:991px)
{
	.megamenu-left 
	{
        display:none;
	}
    .banner-right,.banner-middle 
	{
        width: 100%;
    }	
    .banner-right-item
    {
        justify-content: flex-start!important;
    }
}
@media screen and (max-width: 767px)
{
	.banner-right 
	{
		height:fit-content;
    }	
	.banner-right-item {
        width: 100%;
        height: 170px;
	}
	.banner-right-item .item-wrap {
       margin-left:40px;
	}
}
/*End of section banner*/
/*section slider sale*/
#slider-sale
{
	padding-top:35px;
	margin-bottom:17px;
}
.date-time-count-down {
	background-color:#ebebeb;
	border-radius:50px;
    padding: 5px 25px;
	margin-left:15px;
	font-size:15px;
	font-weight:700;
}
div#time-end {
    margin-left: 10px;
}
a.header-link {
	padding:8px 16px;
    color: #5d7184;
}
a.header-link:hover {
    color: #f39139;
}
.section-header {
	margin-bottom:12px;
    border-bottom: 1px solid #ddd;
}
.ecx-product-loop .product
{
	padding: 20px 20px 34px;
    display: flex;
    flex-wrap: wrap;
	align-content:flex-start;
}
.ecx-product-loop .product:hover 
{
	box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}
.ecx-product-loop .product,.ecx-product-loop .swiper-slide
{
	position:relative;
}
.ecx-product-loop.swiper {
	padding: 6px;
}
.ecx-product-loop .swiper-slide
{
	display:flex;
	height:unset;
}
.ecx-product-loop .product:after,.ecx-product-loop .swiper-slide:after
{
	content: '';
    border-right: 1px solid #eaeaea;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    height: 70%;
    transform: translateY(-50%);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '\F285';
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '\F284';
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size:30px;
	font-weight:bold;
	color:#aeaeae;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size:30px;
	font-weight:bold;
	color:#aeaeae;
}
.swiper-button-next:hover:after, .swiper-rtl .swiper-button-prev:hover:after,.swiper-button-prev:hover:after, .swiper-rtl .swiper-button-next:hover:after {
	color:#333e48 ;
}
.ecx-product-categories
{
	margin-bottom:10px;
}
.ecx-product-categories, .ecx-product-brand 
{
	color:#768b9e;
	text-transform:capitalize;
	overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
	font-size:13px;
    -webkit-line-clamp: 1;
    height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ecx-product-categories a, .ecx-product-brand a
{
	color:#768b9e;
}
.ecx-product-categories a:hover, .ecx-product-brand a:hover
{
	color:#333e48  ;
}
.ecx-product-brand a:not(:last-child):after {
    content: ",";
    display: inline-block;
    margin-right: 5px;
}
span.ecx-product-badge {
    color: #ffffff;
    line-height: 16px;
    font-size: 14px;
	font-weight:700;
    position: absolute;
	top:-5px;
}
span.ecx-product-badge.custom {
	padding:10px 15px;
	background-color:#f39139;
    border-radius: 5px;
    line-height: 16px;
    font-size: 14px;
	font-weight:700;
	left:-5px;
}
span.ecx-product-badge.onsale {
	padding:0;
    height: 40px;
    width: 40px;
    background-color: #e83a3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
	right:10px;
}
.ecx-product-loop h2.woocommerce-loop-product__title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #0062bd;
    font-size: 16px;
    line-height: 20px;
}
.ecx-product-loop img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    margin-bottom: 10px;
}
.ecx-product-loop .product:hover a.add_to_cart_button:after
{
	display:flex;
}
b.label-brand {
    margin-top: 10px;
    color: #333e48;
    width: 100%;
    font-size: 14px;
}
.ecx-product-brand {
	margin-top:10px;
    width: 100%;
    box-sizing: content-box;
    padding-bottom: 10px;
	border-bottom:1px solid transparent;
}
.ecx-product-loop .product:hover .ecx-product-brand
{
	border-bottom:1px solid #eaeaea;
}
@media screen and (max-width:991px)
{
	.section-label-wrap
	{
		width:100%;
		border-bottom: 1px solid #ddd;
		margin-bottom:9px;
	}
	.archive.woocommerce .section-header 
	{
		padding-bottom:0;
		margin-bottom:0;
		border-bottom:none;
	}
	.section-header 
	{
		padding-bottom:9px;
	}
	.header-link-wrap 
	{
		display:flex;
        width: 100%;
        overflow-x: scroll;
	}
}
/*End of section slider sale*/
/*section product show*/
span.header-link.high-light 
{
    display: inline-flex;
    color: #333e48;
    padding: 3px 20px;
    border: 2px solid #eaeaea;
    border-radius: 1rem;
    width: fit-content;
}
.ecx-product-show-banner {
    width: 32%;
}
.ecx-product-show.product-col-4
{
	width:calc(66.66% + 12px);
	padding:6px;
}
.ecx-product-show.product-col-4 .product 
{
    width: 25%;
}
.ecx-product-show.product-col-6
{
	width:100%;
	padding:6px;
}
.ecx-product-show.product-col-6 .product 
{
    width: 16.6666%;
}
[class*="product-show-banner-"] {
    width: 100%;
}
[class*="product-show-banner-"]:not(:last-child) {
    margin-bottom:20px;
}
.show-product {
    padding-bottom: 30px;
}
@media screen and (max-width: 1399px)
{
	.ecx-product-show.product-col-4 .product 
	{
        width: 33.333%;
	}
	.ecx-product-show.product-col-4 .product:nth-child(n+10) 
	{
		display:none
	}
	.ecx-product-show.product-col-6 .product {
        width: 20%;
	}
	.ecx-product-show.product-col-6 .product:nth-child(n+11)  {
        display:none
	}
}
@media screen and (max-width: 1199px)
{
	.ecx-product-loop .product 
	{
        border-bottom: 1px solid #eaeaea;
	}
	ins span.woocommerce-Price-amount.amount bdi, ins span.woocommerce-Price-amount.amount span.woocommerce-Price-currencySymbol, span.woocommerce-Price-amount.amount 
	{
        font-size: 16px!important;
	}
	.ecx-product-show.product-col-6 .product {
        width: 25%;
	}
	.ecx-product-show.product-col-6 .product:nth-child(n+11)  {
        display:flex;
	}
}
@media screen and (max-width: 991px)
{
	.ecx-product-loop a.add_to_cart_button:after
	{
		display:flex;
	}
	.show-product {
        padding-bottom: 20px;
	}
	.ecx-product-show.product-col-6 .product {
        width: 33.33%;
	}
	.ecx-product-show.product-col-6 .product:nth-child(n+10)  {
        display:none;
	}
	[class*="product-show-banner-"] {
        width: 48%;
	}
	[class*="product-show-banner-"]:nth-child(n+3) {
        display: none;
	}
	.ecx-product-show.product-col-4 
	{
       width: 100%;
	}
	.ecx-product-show-banner {
        width: 100%;
	}
	.sidebar-menu > div ul li[class*="icon-"] a {
        width: calc(100% - 27px);
	}
	.sidebar-menu > div > ul > li >a
	{
		text-transform:capitalize;
    	display:flex;
    	justify-content:space-between;
    }
    ul.sub-menu > li 
	{
        padding: 10px;
    }
	.sidebar-menu ul.sub-menu > li:hover > a
	{
        color:#f39139;
    }
}
@media screen and (max-width: 767px)
{
	[class*="product-show-banner-"]:nth-child(n+3) {
        display: block;
	}
	[class*="product-show-banner-"] 
	{
        width: 48%;
	}
	[class*="product-show-banner-"]:last-child {
        margin-bottom: 20px;
	}
	.ecx-product-show.product-col-4 .product,.ecx-product-show.product-col-6 .product
	{
        width: 50%;
	}
	.ecx-product-show.product-col-4 .product:nth-child(n+9),.ecx-product-show.product-col-6 .product:nth-child(n+9) {
        display: none;
	}
	#footer-menu-accordion .accordion-button::after 
	{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	    
	}
	#footer-menu-accordion li a
	{
	    color:#0062bd;
	}
}
@media screen and (max-width: 464px)
{
	.ecx-product-show.product-col-4 .product ,.ecx-product-show.product-col-6 .product 
	{
        width: 100%;
	}
}
/*End of section product show*/
/** End of home page **/
/** footer **/
/*footer before*/
h4.item-title 
{
    font-size: 1.429em;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    position: relative;
}
.before-footer .container >* 
{
    padding: 0 15px;
}
a.item-thumbnail {
    display: block;
    width: 75px;
}
.item-info
{
	align-content:flex-start;
	width:calc(100% - 75px);
}
.type-blog .item-info
{
	padding-left:13px;
}
.type-product .item-info
{
	padding-left:20px;
}
a.item-name
{
	margin-bottom:5px;
	width:100%;
	font-size:14px;
}
.type-blog a.item-name
{
	line-height:24px;
	color:#333e48;
}
.type-product a.item-name
{
	line-height:17px;
	color:#0062bd;
}
.type-product a.item-name:hover
{
	color:#f39139;
}
.type-product ins span.woocommerce-Price-amount.amount bdi,.type-product ins span.woocommerce-Price-amount.amount span.woocommerce-Price-currencySymbol,
.type-product span.woocommerce-Price-amount.amount {
    font-size: 15px!important;
}
.type-blog a.item-name
{
	line-height:24px;
	color:#333e48;
}
.type-blog a.item-name:hover
{
	color:#000;
}
.item-date {
    font-size: 12px;
    line-height: 16px;
}
.item
{
	margin-bottom:19px;
}
.before-footer-item__icon {
	height: 100%;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1.643em;
}
.item-row {
	height:25%;
}
.item-row .wrap-icon i {
	color:#f39139cc;
    font-size: 42px;
    padding-right: 10px;
}
.item-row__label strong {
    width: 100%;
    text-align: center;
}
.item-row__label
{
	width:calc(100% - 63px);
}
ul.item-content.type-blog {
    padding-left: 32px;
    margin-bottom: 16px;
}
ul.item-content.type-blog li:before {
    content: "";
    width: 5px;
    margin: 10px 10px auto 0;
    height: 5px;
    background-color: #000;
    border-radius: 50px;
}
/*End of footer before*/
.footer-follow {
    display: flex;
    justify-content: flex-start;
}
ul.social li {
    position: relative;
    overflow: hidden;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0px 1px;
    display: inline-block;
    vertical-align: middle;
}
.footer-follow ul.social li a
{
	cursor:pointer;
}
ul.social li a img {
    width: auto;
    height: 35px;
    bottom: 0;
    left: 0;
    position: absolute;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
ul.social li a img:first-child {
    bottom: -35px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
ul.social li:hover a img:first-child {
    bottom: 0;
    z-index: 1;
}
ul.social li:hover a img:last-child {
    bottom: -35px;
}
.copyright-footer {
    background-color: #eaeaea;
	padding: 10px 0;
}
.footer-col.footer-block {
    width: 33.33%;
}
.menu-footer__announced {
    max-width: 220px;
    padding-top: 20px;
    width: 100%;
}
#site-footer {
	background-color:#f8f8f8;
}
.site-footer.container {
    padding-top: 40px;
    padding-bottom: 50px;
}
.footer-col.footer-block:not(:last-child,:first-child) {
    padding: 0 15px;
}
.footer-site-logo img {
    width: auto;
    height: 100%;
}
.footer-site-logo {
    height: 150px;
	margin-bottom: 1.55em;
}
h4.footer-title.tex-capitalize {
    font-weight: 700;
    margin-bottom: 1.2em;
}
.menufooter-content ul>li+li {
    margin-top: 0.4em;
}
.menufooter-content ul>li a {
    font-size:15px;
}
.footer-call-us,.main-footer__content,.footer-follow {
    margin-bottom: 1.55em
}
.footer-call-us .call-us-icon {
    padding-right: 20px;
}
.footer-call-us .call-us-icon i {
	color: #ebebeb;
    font-size: 4.643em;
}
.footer-call-us .call-us-text {
    font-weight: 400;
    font-size: .929em;
    display: block;
    line-height: 1.429em;
}
.footer-call-us .call-us-number {
    font-size: 1.571em;
    display: block;
    line-height: 1.429em;
}
#footer-menu-accordion .accordion-item {
    background-color: transparent;
    border: none;
}
#footer-menu-accordion .accordion-body {
    padding: 0;
}
@media screen and (min-width:991px)
{
	.col-lg-left
	{
    	padding-right:15px;
	}
    .col-lg-right
    {
    	padding-left:15px;
    }
    .col-lg-center
    {
    	padding-right:15px;
    	padding-left:15px;
    }
}
@media screen and (max-width:1199px)
{
	.footer-col.footer-block:last-child {
        width: 42.66%;
	}
	.footer-col.footer-block:not(:last-child,:first-child) {
        width: 24%;
	}
}
@media screen and (max-width:991px)
{
	.footer-site-logo
	{
		text-align:center;
	}
}
@media screen and (max-width: 767px)
{
	.footer-col.footer-block 
	{
        width: 100%!important;
		padding: 0 0 15px 0!important ;
	}
	.site-footer.container {
        padding-top: 30px;
        padding-bottom: 15px;
	}
	#footer-menu-accordion .accordion-header button {
    box-shadow: none;
    font-weight: 700;
	}
	#footer-menu-accordion .accordion-body {
        background: #fff;
       padding: 5px 20px 16px 20px;
	}
	#footer-menu-accordion .accordion-button:not(.collapsed) {
        color: #212529;
        background-color: #fff;
	}
	.copyright-footer .line
	{
		text-align:center;
	}
	#footer-menu-accordion .accordion-button:not(.collapsed)::after 
	{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	}
	.footer-follow 
	{
       justify-content: center;
	}
}
/** End of footer **/
/** archive product **/
#page-content-wrap #primary 
{
    width: 66.666%;
}
#page-content-wrap #sidebar-shop
{
    width: 33.333%;
	padding-right:30px;
}
nav.woocommerce-breadcrumb,.rank-math-breadcrumb {
	padding:25px 0 22px;
    width: 100%;
}
.rank-math-breadcrumb span.separator:after
{
	font-size: 10px;
    vertical-align: 0;
    content: "\F285";
	color:#000;
	margin: 0 20px;
}
.rank-math-breadcrumb > p *:first-child
{
	padding: 0;
    border-radius: unset;
	background-color: transparent;
}
.rank-math-breadcrumb a
{
	padding: 0.465em 0.929em;
    border-radius: 0.357em;
    display: inline-block;
	background-color: #f1f1f1;
}
#sub-category .section-content li
{
	padding-bottom:30px;
}
#sub-category .section-content li
{
	list-style-type:none;
}
#sub-category .section-content mark.count
{
	display:none;
}
#sub-category .section-content li {
    padding: 0 15px;
    list-style-type: none;
    margin-bottom: 14px;
}
#sub-category .section-content li:hover {
    box-shadow: 0 0 6px 0 rgb(1 1 1 / 30%);
}
#sub-category .section-content img {
    margin-bottom: 10px;
}
#sub-category .woocommerce-loop-category__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 9px;
    text-align: center;
	line-height: 21px;
}
#page-content-wrap .ecx-product-show.product-col-4 {
   border-bottom:1px solid #eaeaea;
   width:100%;
}
#page-content-wrap p {
   margin-bottom:0;
}
form#ecx-order-wrap {
    padding: 0.2em 1.429em;
    border-radius: 9px;
    background-color: #efefef;
	margin-bottom:20px;
}
#ecx-order-wrap,#ecx-order-wrap a
{
	font-size:14px;
	line-height:16px;
	color:#5d7184;
}
#ecx-order-wrap a:hover
{
	color:#f39139;
}
#ecx-order-wrap input,.quantity input
{
	width: 50px;
    background: #fff;
    -webkit-appearance: none;
    padding: 2.8px 10px;
    border-radius: 1.429em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.714;
    color: #333e48;
    border: 1px solid #ddd;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
	margin-right:10px;
}
.woocommerce  .quantity input.qty {
    padding: 0.594rem 1rem;
    height: 40px;
    min-width: 140px;
    text-align: left;
}

#ecx-order-wrap input:focus {
    border-color: #ffeb80;
    outline: none;
}
#ecx-order-wrap a.button.next-page
{
	padding-left:12px;
}
#ecx-order-wrap a.button.prev-page
{
	padding-right:12px;
}
.shop-view-switcher i {
    font-size:18px;
	cursor:pointer;
}
.shop-view-switcher i:first-child,.shop-view-switcher i:nth-child(2) {
    color: #495057;
}
.shop-view-switcher i:not(:first-child,:nth-child(2)) {
    color: #d0d7dd;
    margin-left: 14px;
}
.ecx-pagination ul.page-numbers {
    display: flex;
    justify-content: center;
}
.ecx-pagination ul.page-numbers li a,.ecx-pagination ul.page-numbers li span{
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    border-radius: 50px;
    font-size: 14px;
    line-height: 1px;
    color: #5d7184;
    border: 1px solid #e7e7e7;
    font-weight: 500;
}
.ecx-pagination ul.page-numbers li span.dots
{
	border:none;
	margin: 0;
}
.ecx-pagination ul.page-numbers li span{
	color:#000;
	font-weight:600;
}
.ecx-pagination ul.page-numbers li:hover a,.ecx-pagination ul.page-numbers li span{
	background:#e7e7e7;
}
nav.ecx-pagination {
    padding: 14px 0;
}
body:not(.home) section.before-footer{
        margin-top: 30px;
    }
/*sidebar*/
.ecx-sidebar-widget .price-filter ul li{
	margin-bottom:5px;
    position: relative;
}
.ecx-sidebar-widget .price-filter ul li a::before{
    content: '';
    font-size: 15px;
    color: #222;
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::after {
    content: '\f00c';
    color: #991b1e;
    font-size: 16px;
    position: absolute;
    right: 2px;
    border-color: #999;
    line-height: 20px;
    text-align: center;
    font-family: FontAwesome;
}
.siderbar-section h3.title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.siderbar-section {
    margin-bottom: 40px;
}
.brand-filter-all {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 5px;
    width: 25%;
	min-width:50px;
}
.brand-filter .wrap-button-filter {
    display: table;
    border-bottom: 1px solid #ededed;
    padding: 5px 0;
    width: 100%;
    margin-bottom: 20px;
}
.brand-filter-alphabet {
    padding-left: 10px;
}
.brand-filter .button-filter {
	cursor:pointer;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    min-width: 20px;
    min-height: 20px;
    text-decoration: none;
    vertical-align: top;
    margin-right: 7px;
    margin-left: 7px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border: 1px solid transparent;
    border-top-width: 3px;
    color: #666;
    margin-bottom: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.brand-filter .button-filter:hover {
    border: 1px solid #333;
    border-top-width: 3px;
    color: #333;
}
.brand-filter .content-filter {
    overflow-y: scroll;
	padding:5px;
    position: relative;
    height: 210px;
}
.brand-filter .content-filter::-webkit-scrollbar {
  width: 10px;
}
.brand-filter .content-filter::-webkit-scrollbar-track {

  background-color:#ccc;;
}
.brand-filter .content-filter::-webkit-scrollbar-thumb {
  width:7px;
  border-radius: 10px;
  background: #333; 
}
.button-filter[data-key="ALL"] {
    padding: 10px;
}
.siderbar-section-content[data-filter="ALL"] .barnd-filter-item
{
	display:block;
}
.siderbar-section-content[data-filter="A"] .barnd-filter-item:not([data-key="A"]),.siderbar-section-content[data-filter="B"] .barnd-filter-item:not([data-key="B"]),
.siderbar-section-content[data-filter="C"] .barnd-filter-item:not([data-key="C"]),.siderbar-section-content[data-filter="D"] .barnd-filter-item:not([data-key="D"]),
.siderbar-section-content[data-filter="E"] .barnd-filter-item:not([data-key="E"]),.siderbar-section-content[data-filter="F"] .barnd-filter-item:not([data-key="F"]),
.siderbar-section-content[data-filter="G"] .barnd-filter-item:not([data-key="G"]),.siderbar-section-content[data-filter="H"] .barnd-filter-item:not([data-key="H"]),
.siderbar-section-content[data-filter="I"] .barnd-filter-item:not([data-key="I"]),.siderbar-section-content[data-filter="J"] .barnd-filter-item:not([data-key="J"]),
.siderbar-section-content[data-filter="K"] .barnd-filter-item:not([data-key="K"]),.siderbar-section-content[data-filter="L"] .barnd-filter-item:not([data-key="L"]),
.siderbar-section-content[data-filter="N"] .barnd-filter-item:not([data-key="N"]),.siderbar-section-content[data-filter="M"] .barnd-filter-item:not([data-key="M"]),
.siderbar-section-content[data-filter="O"] .barnd-filter-item:not([data-key="O"]),.siderbar-section-content[data-filter="P"] .barnd-filter-item:not([data-key="P"]),
.siderbar-section-content[data-filter="Q"] .barnd-filter-item:not([data-key="Q"]),.siderbar-section-content[data-filter="R"] .barnd-filter-item:not([data-key="R"]),
.siderbar-section-content[data-filter="S"] .barnd-filter-item:not([data-key="S"]),.siderbar-section-content[data-filter="T"] .barnd-filter-item:not([data-key="T"]),
.siderbar-section-content[data-filter="U"] .barnd-filter-item:not([data-key="U"]),.siderbar-section-content[data-filter="V"] .barnd-filter-item:not([data-key="V"]),
.siderbar-section-content[data-filter="W"] .barnd-filter-item:not([data-key="W"]),.siderbar-section-content[data-filter="X"] .barnd-filter-item:not([data-key="X"]),
.siderbar-section-content[data-filter="Y"] .barnd-filter-item:not([data-key="Y"]),.siderbar-section-content[data-filter="Z"] .barnd-filter-item:not([data-key="Z"]),
.siderbar-section-content[data-filter="0"] .barnd-filter-item:not([data-key="0"]),.siderbar-section-content[data-filter="1"] .barnd-filter-item:not([data-key="1"]),
.siderbar-section-content[data-filter="2"] .barnd-filter-item:not([data-key="2"]),.siderbar-section-content[data-filter="3"] .barnd-filter-item:not([data-key="3"]),
.siderbar-section-content[data-filter="4"] .barnd-filter-item:not([data-key="4"]),.siderbar-section-content[data-filter="5"] .barnd-filter-item:not([data-key="5"]),
.siderbar-section-content[data-filter="6"] .barnd-filter-item:not([data-key="6"]),.siderbar-section-content[data-filter="7"] .barnd-filter-item:not([data-key="7"]),
.siderbar-section-content[data-filter="8"] .barnd-filter-item:not([data-key="8"]),.siderbar-section-content[data-filter="9"] .barnd-filter-item:not([data-key="9"])
{
	display:none;
}
@media screen and (max-width: 1200px)
{
	.header-top .wrap-content {
        width: 95%;
	}
    #sub-category .section-content li {
        padding: 0px 5px;
	}
	#sub-category .woocommerce-loop-category__title {
        font-size: 15px;
        line-height: 18px;
	}
}
@media screen and (max-width: 991px)
{
	.media.d-flex {
        justify-content: center;
	}
	#page-content-wrap .ecx-product-show.product-col-4 {
       border-bottom: none;
	}
	.sidebar-shop-wrap {
        width: 88%;
        background: #fff;
        height: fit-content;
        height: 100%;
	    overflow-y:scroll;
        max-width: 350px;
		padding:20px 15px;
	}
	#sub-category .section-content li
	{
	    padding-bottom:20px;
	}
    .archive section.before-footer{
        margin-top: 20px;
    }
	#page-content-wrap #primary,#page-content-wrap #sidebar-shop {
        width: 100%;
	}
	#page-content-wrap #sidebar-shop {
        display:none;
	}
	#page-content-wrap #sidebar-shop.active{
    display: block;
    z-index: 99998;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    right: 0;
    }
}
ul.siderbar-section-content ul {
    display: none;
}
ul.siderbar-section-content li.active > ul
{
	display:block;
}
span.child-indicator i:before {
    vertical-align: 0;
}
span.child-indicator i {
    font-size: 12px;
    line-height: 1;
}
ul.siderbar-section-content {
    border: 2px solid #ddd;
    border-radius: 6px;
}
.all-cat .wrap-button-label {
    border-bottom: 1px solid #ddd;
}
.wrap-button-label {
    cursor: pointer;
    padding: 1.06em 2em;
}
.wrap-button-label h4 {
	margin-bottom:0;
}
.wrap-button-label > span i:before {
    vertical-align: -0.13em;
}
.all-cat .wrap-button-label > span,.current-cat .wrap-button-label > span.count {
    padding:0 0 0 5px;
}
.current-cat .wrap-button-label > span {
    padding:0 5px 0 0;
}
ul.product-categories
{
	padding: 10px 14px 14px;
}
ul.siderbar-section-content ul li:first-child {
    border: none;
}
ul.siderbar-section-content ul li {
    border-top: 1px solid #ddd;
}
span.no-child {
    display: none;
}
span.child-indicator {
    display: inline-block;
}
ul.siderbar-section-content ul li > a {
    padding: 0.4em 0;
    display: inline-block;
    width: fit-content;
}
ul.children {
    padding-left: 10px;
	padding-right: 10px;
}
ul.siderbar-section-content li.current-cat ul li > a {
    padding: 7px 25px;
}
ul.siderbar-section-content li.current-cat ul li:first-child > a
{
	padding: 0 25px 7px 25px;
}
ul.siderbar-section-content li.current-cat ul li {
    border-top: none;
}
ul.siderbar-section-content li.current-cat ul li:last-child {
    padding-bottom:17px;
}
.all-cat ul.product-categories {
    border-bottom: 1px solid #ddd;
}
/*end of sidebar*/
/** end of archive product**/
/** single product**/
ul.swiper.swiper-initialized img {
    max-width: 200px;
}
li.swiper-slide::marker {
    content: none;
}
.woocommerce-product-gallery {
	padding-right:15px;
    width: 41.666%!important;
}
.summary.entry-summary {
	padding-left:15px;
    width: 58.333%!important;
}
ol.swiper-wrapper
{
	padding:0;
}
.pswp__caption__center
{
	text-align:center;
}
.woocommerce .star-rating span::before {
    font-family: 'star';
    color:#f39139;
}
.woocommerce-product-gallery span.ecx-product-badge.custom {
    z-index: 9;
    top: 45px;
    left: -8px;
}
.woocommerce ul.products li.product .onsale
{
	top:-5px;
	margin:0;
	right: 10px;
}
ul.flex-direction-nav.swiper {
    margin-top: 20px;
}
li.flex-nav-prev,li.flex-nav-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
	z-index:99;
}
li.flex-nav-next
{
	right:0;
}
li.flex-nav-prev a,li.flex-nav-next a{
   font-size:0;
}
li.flex-nav-prev:before,li.flex-nav-next:after{
   font-family: 'bootstrap-icons';
    display: inline-block;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size:20px;
	color:#fff;
}
li.flex-nav-prev:before{
   content:"\F27A";
}
li.flex-nav-next:after{
   content:"\F27B";
}
.type-product .summary.entry-summary ins span.woocommerce-Price-amount.amount bdi, .type-product .summary.entry-summary ins span.woocommerce-Price-amount.amount span.woocommerce-Price-currencySymbol, .type-product .summary.entry-summary span.woocommerce-Price-amount.amount
{
	font-size:35px!important;
}
.type-product .summary.entry-summary del span.woocommerce-Price-amount.amount {
    font-size: 20px!important;
}
.space-line {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 33px;
}
.woocommerce-variation-price {
    margin-bottom: 20px;
}
.woocommerce button.button.alt.disabled
{
	background: #5aa1e3cc;
}
.woocommerce button.button.alt.disabled:hover
{
	background: #f39139cc;
}
.woocommerce button.button.alt:hover
{
	background: #f39139;
}
.woocommerce button.button.alt{
	color: #fff;
    font-weight: 700;
    font-size: 1em;
    padding: 12px 50px;
    border-width: 0;
    border-radius: 1.8em;
    background: #5aa1e3;
}
.woocommerce div.product form.cart {
    margin-bottom: 16px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    overflow: hidden;
}
p.show-more.text-center {
	width: 100%;
    position: absolute;
    bottom: 0;
	right:0;
    background: #fff;
    padding-top: 20px;
    display: block;
    margin-bottom: 0;
    padding-bottom: 50px;
}
.woocommerce div.product .woocommerce-tabs .panel {
	overflow:hidden;
    position: relative;
}
p.show-more.text-center a{
	display: block;
    width: calc(100% - 30px);
    cursor: pointer;
    z-index: 9;
    font-size: 13px;
    text-align: center;
    line-height: 10px;
    padding: 12px 0;
    text-transform: uppercase;
    border: 1px solid #d8d8d8;
    max-width: 365px;
    margin: 0 auto;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
	margin:0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	content:unset;
}
.woocommerce div.product .woocommerce-tabs .panel {
    margin:0;
    padding: 50px;
	border-radius: 1em;
    border: 1px solid #ddd;
}
section.related.products {
    padding-top: 30px;
}
section.related.products > h2 {
    color: #333e48;
    margin: 0 0 12px 0;
    padding-bottom: 9px;
    border-bottom: 1px solid #ddd;
}
.woocommerce section.related.products .ecx-product-show.product-col-4
{
	padding: 6px!important;
	width:100%;
}
.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products.columns-6 li.product {
    margin:0;
	float:unset;
	padding: 20px 20px 34px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 16.6666%;
}
.woocommerce ul.products li.product .button
{
	    margin-top: 0;
	position:absolute;
	top: 70%;
    right: 10px;
}
nav.rank-math-breadcrumb p {
    margin-bottom: 0;
}
.woocommerce div.product form.cart .variations select {
    min-width: 50%;
}
@media screen and (max-width:1399px)
{
	.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products.columns-6 li.product
	{
		width:20%;
	}
	.woocommerce ul.products.columns-6 li.product:nth-child(6), .woocommerce-page ul.products.columns-6 li.product:nth-child(6)
	{
		display:none
	}
}
@media screen and (max-width:1199px)
{
	.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products.columns-6 li.product
	{
		width:25%;
	}
	.woocommerce ul.products.columns-6 li.product:nth-child(5), .woocommerce-page ul.products.columns-6 li.product:nth-child(5)
	{
		display:none
	}
}
@media screen and (max-width:991px)
{
	.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products.columns-6 li.product
	{
		width:33.333%;
	}
	.woocommerce ul.products.columns-6 li.product:nth-child(6), .woocommerce-page ul.products.columns-6 li.product:nth-child(6),
	.woocommerce ul.products.columns-6 li.product:nth-child(5), .woocommerce-page ul.products.columns-6 li.product:nth-child(5)
	{
		display:flex
	}
	.woocommerce .quantity input.qty {
        min-width: 80px;
	}
}
@media screen and (max-width:767px)
{
	.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products.columns-6 li.product
	{
		width:50%;
	}
	.woocommerce-product-gallery,.summary.entry-summary {
        padding-right: 0px;
	    padding-left: 0px;
        width: 100%!important;
	}
	.type-product .summary.entry-summary ins span.woocommerce-Price-amount.amount bdi, .type-product .summary.entry-summary ins span.woocommerce-Price-amount.amount span.woocommerce-Price-currencySymbol, .type-product .summary.entry-summary span.woocommerce-Price-amount.amount
	{
	    font-size:20px!important;
	}
    .type-product .summary.entry-summary del span.woocommerce-Price-amount.amount 
	{
        font-size: 14px!important;
    }
	.space-line {
    padding-bottom: 10px;
    margin-bottom: 23px;
	}
	.woocommerce div.product form.cart .variations select {
        margin-right: 0;
	}
	.woocommerce .quantity input.qty {
        min-width: 70px;
	}
	.woocommerce button.button.alt
	{
		padding: 12px 22px;
	}
	table.variations td
	{
		display:flex;
	}
	.woocommerce div.product .woocommerce-tabs .panel {
        padding: 30px;
	}
}
@media screen and (max-width:464px)
{
	.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products.columns-6 li.product
	{
		width:100%;
	}
}
/** end of single product**/
/** archive blog**/
section#archive .content-archive,section#single .content-single  {
    padding-right: 15px;
}
section#archive .sidebar,section#single .sidebar {
    padding-left: 15px;
}
/*blog archive*/
.wrap-content-post article {
	margin-bottom: 20px;    
	width: calc(50% - 10px);
}
/*siderbar*/
.siderbar-section.search input#searchsubmit {
    display: none;
}
.siderbar-section.search input#s {
    border: 1px solid #ddd;
    border-radius: 50px;
    line-height: 1.286em;
    padding: 0.929em 1.929em;
    width: 100%;
	text-align: left;
    color: #919090;
}
.siderbar-section.menu-blog ul.siderbar-section-content {
    border: 1px solid #ddd;
}
.siderbar-section.search input#s:focus-visible {
    outline: none;
}
.siderbar-section ul li {
    padding: 15px 20px;
}
li.all-cat ul>li:last-child {
    padding: 15px 20px 0;
}
.siderbar-section ul li.current-cat .wrap-button-label{
    padding: 0 2rem 1.06em 2em;
}
.siderbar-section ul.children li {
    padding: 5px 20px;
}
.siderbar-section
{
	margin-bottom:30px;
}
.siderbar-section-content {
    z-index: 2;
}
.siderbar-section-content input {
    text-align:center;
	padding: 8px 10px;
	width:100%;
}
.siderbar-section-content .wpcf7-spinner
{
	display:none;
}
h2.title.sidebar-title {
    color: #333e48;
    margin: 0 0 19px 0;
    padding-bottom: 9px;
    border-bottom: 1px solid #ddd;
}
.siderbar-section ul {
    margin: 0;
}
.siderbar-section ul li a {
    color: #333;
}
.siderbar-section ul li:hover > a {
    color: #f16351;
}
.fb-page.fb_iframe_widget
{
	text-align:center;
    width: 100%!important;
}
 .fb-page.fb_iframe_widget span
{
    margin:20px auto 0!important;
}
.follow-icon {
    margin: 20px 0;
	text-align:left;
}
.follow-icon ul li{
    border-bottom:none;
}
section#call-in-action {
	min-height:220px;
	margin-top:50px;
    background:linear-gradient(to right,#18587b,#6ec1e4);
}
section#call-in-action .container {
    height: 100%;
    top: 0;
    position: absolute;
}
section#call-in-action h4,section#call-in-action h2
{
	color:#fff;
}
section#call-in-action a.ecx-button.dark.call-in-action-btn {
	color:#fff;
    box-shadow: 1px 2px 4px rgb(31 32 33 / 33%);
}
.siderbar-section .type-blog ul li {
    padding: 0 15px;
}
.ecx-post {
    position: relative;
    display:block;
    overflow: hidden;
}

.ecx-post:hover {
    -webkit-box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
}

.ecx-post-thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    background: #333333;
}

.ecx-post-thumbnail img{
    height: auto;
    width: 100%;
    transition: all 1.5s ease 0s;
}

.ecx-post:hover .ecx-post-thumbnail img {
    transform: scale(1.26);
    -webkit-transform: scale(1.26);
    -ms-transform: scale(1.26);
    -o-transform: scale(1.26);
    -moz-transform: scale(1.26);
    opacity: 0.8;
}

.ecx-post-info {
	min-height: calc(100% - 270px);
    position: relative;
    padding: 19px 12px;
    background: #f7f8fa;
}

.ecx-post-title {
    margin-bottom: 0;
}

.ecx-post-title a {
    color: #333;
}

.ecx-post-meta-data .ecx-post-date {
    margin-bottom: 8px;
    font-size: 13px;
    font-style: italic;
}

.ecx-post-meta-data .ecx-post-excerpt p{
    text-align: justify;
    margin-bottom: 5px;
}

.ecx-post-meta-data a.ecx-post-readmore {
    position: relative;
    display: block;
    text-align: right;
    font-weight: 600;
    color: #333;
}
@media screen and (max-width:991px)
{
	.wrap-slider-post .ecx-post-info {
    padding: 15px 20px;
	}
	.wrap-slider-post .ecx-post-description {
    display:none;
	}
	.wrap-slider-post .swiper-button-prev, .wrap-slider-post .swiper-rtl .swiper-button-next {
    left: calc(75% + 25px);
	}
	.wrap-slider-post .swiper-button-next, .wrap-slider-post .swiper-rtl .swiper-button-prev {
    left: calc(77% + 60px);
	}
	.siderbar-section.register {
    padding: 15px 16px;
	}
	.siderbar-section br {
    display: none;
	}
	input.wpcf7-form-control.ecx-button-register {
    margin-top: 15px;
	}
	section#call-in-action {
	margin-top:40px;
	}
	section.section-banner {
    margin-bottom: 40px;
	}
	.siderbar-section,.wrap-slider-post .swiper {
    margin-bottom: 25px;
	}
	.wrap-content-post article {
    width: 100%;
	}
}

@media screen and (max-width: 767px)
{
	.wrap-slider-post .swiper-button-prev, .wrap-slider-post .swiper-rtl .swiper-button-next {
    left: calc(70% + 25px);
	}
	.wrap-slider-post .swiper-button-next, .wrap-slider-post .swiper-rtl .swiper-button-prev {
    left: calc(70% + 60px);
	}
	.wrap-slider-post .swiper-button-next, .wrap-slider-post .swiper-rtl .swiper-button-prev, .wrap-slider-post .swiper-button-prev, .wrap-slider-post .swiper-rtl .swiper-button-next {
    right: auto;
    bottom: 20px;
    top: auto;
	}
	section#call-in-action {
	margin-top:0;
	}
	section#call-in-action h4
	{
		margin-bottom:8px;
	}
	section#call-in-action h2
	{
		font-size:24px;
		line-height:30px;
	}
	.ecx-pagination {
    margin-bottom: 25px;
	}
}
@media screen and (max-width: 355px)
{
	.wrap-slider-post .swiper-slide .ecx-post-info {
    height: 100%;
	}
	.wrap-slider-post .swiper-button-prev, .wrap-slider-post .swiper-rtl .swiper-button-next {
    left: calc(65% + 25px);
	}
	.wrap-slider-post .swiper-button-next, .wrap-slider-post .swiper-rtl .swiper-button-prev {
    left: calc(65% + 60px);
	}
}
/** end of archive blog**/
/** single blog**/
/*single*/
section.section-banner.single .banner-overlay{
    background: rgba(0,0,0,0.6);
    bottom: 0;
    width: 100%;
	height: 100%;
    position: absolute;
    z-index: 2;
}
section.section-banner.single {
    height: 45vh;
    padding-bottom: 80px;
    margin-bottom: 50px;
}
section#related-post article {
    width: calc(25% - 20px);
}
section#related-post article h3 {
    margin-bottom:8px;
}
section#related-post .ecx-post-info {
    min-height: calc(100% - 200px);
}
section#related-post .heading-wrap.line-after:after,.post-comments .heading-wrap.line-after:after  {
    width: 30px;
    height: 3px;
    background: rgba(24,88,123,1);
}
section#related-post .heading-wrap,.post-comments .heading-wrap
{
	margin-bottom:25px;
}
section#related-post {
    margin-top: 50px;
}
.post-comments {
    margin-top: 20px;
}
.post-next, .post-prev {
    width: 50%;
}
.post-next i, .post-prev i {
	color:rgba(224,224,224,1);
    font-size:26px;
}
.post-prev
{
	border-right:1px solid rgba(212,212,212,1);
}
.post-next.d-flex a {
	padding: 12px 0;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color:#333;
}
.post-prev.d-flex:hover a,.post-next.d-flex:hover a {
	color:#f16351;
}
.post-next.d-flex a span.navigation-post-title
{
	text-align:right;
}
.post-prev.d-flex a {
	padding: 12px 0;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	color:#333;
}
span.navigation-label {
	font-weight:700;
    font-size: 13px;
    line-height: 16px;
	margin-bottom:5px;
}
span.navigation-post-title
{
	font-weight:700;
	font-size: 11px;
    line-height: 16px;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
	width:100%;
}
.like-share-button > div:not(:last-child) {
    margin-right: 5px;
}
.fb-like.fb_iframe_widget, .fb-like.fb_iframe_widget >span, .fb-like.fb_iframe_widget >span > iframe {
    width: 95px!important;
}
.zalo-follow-only-button iframe {
    width: 80px;
}
.post-tags {
    margin: 35px 0;
}
.like-share-button {
    margin-bottom: 12px;
}
.post-tags i {
    font-size: 14px;
    color: rgba(24,88,123,1);
}
.post-tags span.tags-label
{
	margin: 0 5px;
	font-weight:700;
}
div.tag-links a {
	display: inline-block;
    border: 2px solid rgba(24,88,123,0.5);
    padding: 8px 12px 10px;
    color: #333;
    border-radius: 3px;
	margin-bottom: 5px;
}
div.tag-links a:hover {
    color: #f16351;
}
div#respond h2#reply-title {
    display: none;
}
form#commentform {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.comment-form-comment {
    grid-row-start: 2;
    grid-column-end: 3;
    grid-column-start: 1;
}
div#respond input,div#respond  textarea {
	border: none;
	background-color:rgba(237,237,237,1);
	color:#707070;
	width:100%;
	padding:18px 20px;
}
div#comments .heading-wrap.line-after
{
	margin-top:30px;
}
blockquote.wp-block-quote {
    border-left: 3px solid rgba(24,88,123,1);
}
div#respond p.form-submit input {
    padding: 8px 12px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(24,88,123,1);
    width: fit-content;
    font-weight: 700;
}
.wrap-toc .accordion-button {
    font-size: 16px;
    line-height: 16px;
    border: none;
    color: #333;
    background-color: #f3913966!important;
    box-shadow: unset;
    padding: 20px;
    font-weight: 600;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(
-180deg);
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.wrap-toc
{
	margin-bottom:30px;
	background:#eaeaeacc;
}
.wrap-toc .accordion-body {
   padding:12px 5px;
   border:1px solid #ddd;
   border-top:none;
}
.wrap-toc .accordion-body ul li:first-child {
    margin-top: 8px;
}
.wrap-toc .accordion-body ul li
{
	margin-bottom:8px;
	margin-left:15px;
}
section.section-banner.single .banner-overlay,section.section-banner.contact .banner-overlay,section.section-banner.faq .banner-overlay,
section.section-banner.price-table .banner-overlay,section.section-banner.customer-page .banner-overlay
{
	background:rgba(0,0,0,0.6);
	bottom: 0;
    width: 100%;
    position: absolute;
	z-index:2;
}
section.section-banner.single .banner-background,section.section-banner.contact .banner-background,section.section-banner.faq .banner-background,
section.section-banner.price-table .banner-background,section.section-banner.customer-page .banner-background
{
	bottom: 0;
    width: 100%;
	height:100%;
    position: absolute;
	z-index:1;
}
section.section-banner.single img.img-banner,section.section-banner.contact img.img-banner,section.section-banner.faq .img-banner,
section.section-banner.price-table .img-banner,section.section-banner.customer-page .img-banner
{
	height:100%;
	object-fit:cover;
}
section.section-banner.single .container,section.section-banner.contact .container,section.section-banner.faq .container,
section.section-banner.price-table .container,section.section-banner.customer-page .container
{
	z-index:3;
}
section.section-banner.single, section.section-banner.single a,
section.section-banner.faq, section.section-banner.faq a,
section.section-banner.price-table, section.section-banner.price-table a,
section.section-banner.customer-page, section.section-banner.customer-page a,section.section-banner.single  .rank-math-breadcrumb span.separator:after
{
    color: #ffffffe6;
}
section.section-banner.single  .rank-math-breadcrumb > p a:not(:first-child)
{
	color:#333e48;
}
section.section-banner.single span,section.section-banner.faq span,section.section-banner.price-table span,section.section-banner.customer-page span
{
    color: #ffffff;
}
section.section-banner.single span.post-meta:not(:last-child)
{
	margin-right:15px;
}
section.section-banner.single .ecx-post-title,section.section-banner.faq .ecx-post-title,section.section-banner.price-table .ecx-post-title,section.section-banner.customer-page .ecx-post-title
{
    color: #fff;
	margin-bottom:19px;
}
section.section-banner.single .ecx-post-meta span
{
    color: #fff;
}

@media screen and (max-width:1199px)
{
    section#related-post article {
    width: calc(50% - 20px);
	}
	section#related-post article:not(:last-child,:nth-child(3)) {
    margin-bottom: 40px;
	}
}

@media screen and (max-width:991px)
{
	section#related-post article {
    width: calc(50% - 10px);
	}
	section#related-post article:not(:last-child,:nth-child(3)) {
    margin-bottom: 20px;
	}
	.post-tags {
    margin: 20px 0;
	}
	div.tag-links a {
		padding: 5px 8px 7px;
   }
	span.navigation-label
	{
		margin-bottom:0;
	}
	span.navigation-post-title
	{
		display:none;
	}
	.post-prev.d-flex a {
		padding: 6px 0;
		width:100%;
        margin-right: 0px;
	}
	.post-next.d-flex a
	{
		padding: 6px 0;
		width:100%;
		margin-left: 0px;
	}
	section#related-post {
    margin-top: 30px;
	}
	.post-next i, .post-prev i {
    font-size: 20px;
	}
	.subcribe-content-wrap input.wpcf7-form-control.ecx-button-register
	{
		margin-top:0;
	}
	.subcribe-content-wrap form a.ecx-button.dark
	{
		margin-top:0;
		width:100%;
	}
	section#archive .content-archive,section#single .content-single  {
    padding-right: 0px;
}
section#archive .sidebar,section#single .sidebar {
	margin-top:20px;
    padding-left: 0px;
}

}

@media screen and (max-width: 767px)
{
	.comment-form-comment,.comment-form-author,.comment-form-email {
    grid-column-end: 3;
    grid-column-start: 1;
	}
	.comment-form-author {
    grid-row-start: 1;
    grid-row-end: 2;
	}
	.comment-form-email {
    grid-row-start: 2;
    grid-row-end: 3;
	}
	.comment-form-comment{
    grid-row-start: 3;
    grid-row-end: 4;
	}
	.post-comments-form-wrap {
    margin-bottom: 30px;
	}
	section#related-post article {
    width: 100%;
	}
	section#related-post article:nth-child(3){
    margin-bottom: 20px;
	}
	section#related-post article:last-child {
    margin-bottom: 40px;
	}
	section#related-post {
    margin-top: 0px;
	}
	.popup-form form.wpcf7-form.init > p
	{
		max-height:unset;
	}
	.popup-form form a.ecx-button.dark
	{
		margin-top:0;
		width:100%;
	}
}
@media screen and (max-width:575px)
{
	section.section-banner.single {
    min-height: 45vh;
	height:auto;
    padding-bottom: 40px;
    margin-bottom: 30px;
	}
}
/** end of single blog**/
/** 404 page**/
main.site-main.container.error404 {
    padding: 50px 15px 30px;
}
/** end of 404 page **/
/** Shop location page**/
.content-contact
{
	padding-right:30px;
}
.contact-form input:focus-visible
{
	outline: none;
}
.contact-form a.ecx-button.dark:after {
    margin-left: 10px;
    border-left: 1px solid #18587Bcc;
    background-image: url(data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2318587B' class='bi bi-chevron-compact-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z'/%3E%3C/svg%3E);
}
.contact-form a.ecx-button.dark span.wpcf7-spinner {
    display: none;
}
.contact-form input[type="submit"] {
    float: left;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 13px 0 13px 5px;
    background: #ffffff00;
    border-bottom: none;
    text-transform: uppercase;
	color:#333e48;
}
.contact-form h4.title.form-subtitle
{
	color: rgba(112,112,112,1);
    font-weight: 400;
    margin-bottom: 5px;
}
.contact-form h3.title.form-title
{
	color: #f39139;
}
.contact-form input {
	width:100%;
    color: #18587B;
    padding: 8px 12px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(112,112,112,0.5);
}
.contact-form .cf7mls-btns .cf7mls_next.action-button,.contact-form .cf7mls-btns .cf7mls_back.action-button,.contact-form a.ecx-button.dark {
	background: #ffffff00;
    padding: 0;
	position:relative;
    text-transform: uppercase;
}
.contact-form a.ecx-button.dark
{
	align-items: center;
    display: flex;
    float: right;
    margin: 16px 0px 26px;
}
.contact-form a.ecx-button.dark input
{
	float: left;
	font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 13px 0 13px 5px ;
    background: #ffffff00;
    border-bottom: none;
    text-transform: uppercase;
}
.contact-form .cf7mls_next.action-button:after,.contact-form .cf7mls_back.action-button:before,.contact-form a.ecx-button.dark:after {
    display:inline-block;
	width:20px;
	height:20px;
	background-position:center;
	background-repeat:no-repeat;
	margin-bottom: -4px;
	content:"";
}
.contact-form a.ecx-button.dark:after {
	margin-bottom: 0;
}
.contact-form .cf7mls_next.action-button:after,.contact-form a.ecx-button.dark:after{
	margin-left:10px;
	border-left:1px solid #18587Bcc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2318587B' class='bi bi-chevron-compact-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z'/%3E%3C/svg%3E");
}
.contact-form .cf7mls_back.action-button:before {
	margin-right:10px;
	border-right:1px solid #18587Bcc;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2318587B' class='bi bi-chevron-compact-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z'/%3E%3C/svg%3E");
}
.contact-form a.ecx-button.dark:before
{
	content:unset;
}

	.title-contact {
    padding-bottom: 30px;
	}
.ecomcx-maps iframe {
	outline: 1px solid #f16351;
    border-radius: 10px;
    width: 100%;
    height: 70%;
    min-height: 615px;
}

.vc_sep_width_100 {
	margin-bottom:20px;
    width: 100%;
}
.vc_icon_element-align-left 
{
	transform:translate(0,-45%);
}
.vc_icon_element-align-left i
{
	font-size:30px;
	color:red;
	margin:30px;
}
.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
}
.vc_separator.vc_sep_color_grey .vc_sep_line {
    border-color: #ebebeb;
}
.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
@media screen and (max-width: 991px)
{
	.title-contact {
    padding-bottom: 20px;
	}
	.content-contact
	{
	    padding-right:0px;
	}
	.wpcf7-form .fieldset-cf7mls .cf7mls-btns {
    min-height: 70px;
	}
}
@media screen and (max-width: 767px)
{
	.wpcf7-form .fieldset-cf7mls .cf7mls-btns {
    min-height: 60px;
	}
	.cf7mls-btns .cf7mls_next.action-button, .cf7mls-btns .cf7mls_back.action-button
	{
		margin: 15px 0px 16px;
	}
}
@media screen and (max-width: 575px)
{
	.ecomcx-maps iframe {
    min-height: 400px;
	}
	.header-middle-item.wrap-site-logo {
        margin: 0;
	}
	.site-logo a {
    display: block;
    text-align: center;
	}
	.site-logo img {
    height:60px;
	}
}
@media screen and (max-width: 450px)
{
	.site-logo img {
    height: 45px;
	}
}
@media screen and (max-width: 374px)
{
    .site-logo {
    margin-left: -20%;
    padding: 0;
    }
}
/** end of shop location page**/
/** brand page**/
.title-brand-page
{
	padding-bottom:30px;
}
.drop-list-brand select {
    padding: 10px 28px;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}
.drop-list-brand
{
	margin-bottom:20px;
}
.content-brand-page .filter-button {
	text-align:center;
    min-height: 50px;
    display: table;
    width: 100%;
	padding-bottom:30px;
}
.content-brand-page a.button-filter {
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 35px;
    min-width: 35px!important;
    min-height: 35px;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    color: #333!important;
}
.content-brand-page a.button-filter:hover {
    border: 1px solid #999;
    text-decoration: none;
}
.col-brand {
    padding: 0 15px;
}
.label-col-brand {
	padding:0 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}
@media screen and (max-width:991px)
{
	.title-brand-page
	{
	    padding-bottom:20px;
	}
	.content-brand-page .filter-button {
	    padding-bottom:20px;
	}
	.col-brand {
        padding: 0 10px;
	}
}
/** end of brand page**/
/** categories page **/
ul.table-categoryies {
    position: relative;
}
.title-categoryies-page 
{
    padding-bottom: 30px;
}
.content-categoryies-page > ul li a{
    padding: 0.4em 0;
	font-size:16px;
	line-height:28px;
}
.content-categoryies-page > ul > li >a{
    font-weight:700;
}
.content-categoryies-page > ul li {
    margin: 0;
    padding: 0 15px;
    line-height: 2em;
    position: relative;
}
.content-categoryies-page > ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 16px;
    left: 0;
}
.content-categoryies-page > ul li:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    border-left: 1px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
}
.content-categoryies-page > ul li:last-child:after {
    height: 16px;
}
.content-categoryies-page >ul ul {
    margin: 0 0.5rem 0 1em;
    padding: 0;
    list-style: none;
    color: #369;
    position: relative;
}
.content-categoryies-page>ul>li .children {
    display: block!important;
}
.content-categoryies-page>ul>li:first-child{
    border-top:1px solid #ddd;
}
@media screen and (max-width:991px)
{
	.title-categoryies-page 
    {
        padding-bottom: 20px;
    }
	.content-categoryies-page>ul:first-child{
        border-left:1px solid #ddd;
	}
	.content-categoryies-page>ul:first-child>li:after{
        content:unset;
	}
	.sidebar-menu > div ul li.cat-item a {
    width: fit-content;
	}
	.sidebar-menu > div ul li.cat-item a:hover {
    color:#f39139;
	}
}
@media screen and (max-width:767px)
{
	.content-categoryies-page > ul:not(:last-child) >li:last-child:after {
        height: 100%;
	}
	.content-categoryies-page>ul>li:first-child {
        border-top: none;
	}
	.content-categoryies-page>ul:first-child {
        border-top: 1px solid #ddd;
	}
}
/** end of categories page**/