#pol_pod > .inside {
	position: relative;
}

#pol_pod > .inside::after {
	content: "Loading...";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #000000b0;
	opacity: 0;
	visibility: hidden;
}

#pol_pod > .inside.loading::after {
	opacity: 1;
	visibility: visible;
}

.bachh-admin-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.bachh-admin-table td, .bachh-admin-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.bachh-admin-table tr:nth-child(even){background-color: #f2f2f2;}

.bachh-admin-table tr:hover {background-color: #ddd;}

.bachh-admin-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/*orders*/
.order-detail .main {
  padding: 5% 0%;
  padding-bottom: 0%;
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}
.order-detail .main .title {
  margin-bottom: 10px;
}
.order-detail .main .title h3 {
  display: none;
}
.order-detail .main .title .desc a {
  color: #02884c;
}
.order-detail .main .title ul.breadcrumb {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0px;
}
.order-detail .main .title ul.breadcrumb li > a {
  color: #000;
  font-size: 16px;
}
.order-detail .main .title ul.breadcrumb li:not(:last-child) > a::after {
  color: #000;
}
.order-detail .main p.thanks {
  display: none;
}
.order-detail .main p.from-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order-detail .main p.from-to span {
  font-size: 24px;
  font-weight: bold;
}
.order-detail .main p.from-to img {
  margin: 0px 10px;
}
.order-detail .main p.final-var {
  font-size: 16px;
}
.order-detail .main p.final-var > span {
  font-size: 22px;
  font-weight: bold;
}
.order-detail .main button#show-detail {
  border: none;
  background-color: #02884c;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
.order-detail .main table {
  text-align: center;
}
.order-detail .main button.excel {
  background-color: #02884c;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}
.order-detail .main button.excel.bottom {
  float: right;
}

.order-detail .main {
  padding-bottom: 0px;
  padding-top: 0%;
}
.order-detail #your-quote-email {
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: left;
  max-width: 1200px;
}
.order-detail #your-quote-email tr.blue-bg {
  background-color: #1e1e67;
  color: #fff;
}
.order-detail #your-quote-email tr.red-bg {
  background-color: #b41919;
  color: #fff;
}
.order-detail #your-quote-email .flex-in-td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-detail .main p.from-to span {
	font-size: 16px;
}

.order-detail .elementor-text-editor {
	margin-top: 20px;
}