@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.for-mobile {
  display: none;
}

.grecaptcha-badge {
  display: none !important;
}

body {
  font-family: "RobotoCondensed";
}

* {
  outline: none;
}

.elementor-widget-text-editor {
  font-family: "RobotoCondensed" !important;
}

.elementor-widget-text-editor p {
  margin-bottom: 8px;
}

a, a:hover {
  text-decoration: none;
}

p:empty {
  display: none;
}

.image {
  position: relative;
  margin-bottom: 25px;
}
.image.ratio-1-1 {
  padding-top: 100%;
}
.image.ratio-16-9 {
  padding-top: 56.25%;
}
.image.ratio-4-3 {
  padding-top: 75%;
}
.image.ratio-3-2 {
  padding-top: 66.66%;
}
.image > a, .image figure {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.image > a > img, .image figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  padding: 0 10px;
  margin: auto;
}

h2.section-title {
  margin-top: 0px;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 15px;
  position: relative;
  margin-bottom: 40px;
}
h2.section-title::after {
  content: "";
  width: 60px;
  height: 6px;
  border-radius: 1px;
  background-color: #02884c;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

img.arrow-green {
  width: 15px !important;
  display: inline-block !important;
  margin-left: 10px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  margin: 0px;
  border-radius: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
}

ul.breadcrumb {
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: 0px;
}
ul.breadcrumb li:not(:last-child) {
  margin-right: 15px;
}
ul.breadcrumb li:not(:last-child) > a::after {
  content: "\f105";
  font-family: "Font Awesome 5 Pro";
  color: #e6e7e8;
  margin-left: 15px;
}
ul.breadcrumb li > a {
  display: block;
  font-size: 14px;
  color: #fff;
}
ul.breadcrumb li > a:hover {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  height: 81px;
  border-bottom: 1px solid #ffffff6e;
  transition: background-color 0.3s ease;
}
header .logo a img {
  width: 90px;
}
header .logo a img.logo-2 {
  display: none;
}
header .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .main-header .main-menu {
  display: flex;
  align-items: center;
}
header .main-header .main-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
header .main-header .main-menu > ul > li {
  position: relative;
}
header .main-header .main-menu > ul > li:not(:last-child) {
  margin-right: 10px;
}
header .main-header .main-menu > ul > li > a {
  position: relative;
  height: 82px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 20px;
  color: #fff;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
header .main-header .main-menu > ul > li > a::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  height: 3px;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
}
header .main-header .main-menu > ul > li > a:hover {
  text-decoration: none;
  color: #02884c;
}
header .main-header .main-menu > ul > li > a:hover::after {
  -webkit-transform-origin: left center;
  transform: scale(1, 1);
}
header .main-header .main-menu > ul > li.current-menu-item > a::after {
  -webkit-transform-origin: left center;
  transform: scale(1, 1);
}
header .main-header .main-menu > ul > li.bao-gia > a {
  height: 44px;
  border: 1px solid #fff;
}
header .main-header .main-menu > ul > li.bao-gia > a::after {
  display: none;
}
header .main-header .main-menu > ul > li.bao-gia > a:hover {
  color: #fff;
  border-color: #02884c;
  background-color: #02884c;
}
header .main-header .main-menu > ul > li > ul.sub-menu {
  list-style: none;
  margin: 15px 0 0;
  position: absolute;
  background: #fff;
  padding: 25px 0;
  top: 100%;
  left: 15px;
  min-width: 300px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 3px 63px 0 rgba(40, 40, 40, 0.11);
  transition: all 300ms linear 0ms;
  border-radius: 0 0 3px 3px;
  clip: rect(1px, 1px, 1px, 1px);
}
header .main-header .main-menu > ul > li > ul.sub-menu > li {
  padding: 0 40px;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a {
  color: #000;
  display: block;
  font-size: 14px;
  line-height: normal;
  padding: 12px 0;
  position: relative;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea;
  transition: all 300ms linear 0ms !important;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a::before {
  position: relative;
  content: "\f061";
  display: inline-block;
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  margin-right: 7px;
  margin-left: -17px;
  opacity: 0;
  transition: all 300ms ease 0s;
  color: #02884c;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a:hover {
  color: #02884c;
  font-weight: bold;
  text-decoration: none;
}
header .main-header .main-menu > ul > li > ul.sub-menu > li > a:hover::before {
  font-weight: normal;
  opacity: 1;
  margin-left: 0;
}
header .main-header .main-menu > ul > li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  clip: inherit;
}
header .main-header .header-for-mobile {
  display: none;
}
header.has-color {
  background-color: #02884c;
}

@keyframes headerSlideDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
header.white .main-header .logo a img.logo-1 {
  display: none;
}
header.white .main-header .logo a img.logo-2 {
  display: block;
}
header.white .main-header .main-menu > ul > li.bao-gia > a {
  border: 1px solid #02884c;
  background-color: #02884c;
  color: #fff;
}
header.white .main-header .main-menu > ul > li.bao-gia > a:hover {
  background-color: #fff;
  color: #02884c;
  border-color: #02884c;
}
header.white .main-header .main-menu > ul > li > a {
  color: #000;
}
header.white .main-header .main-menu > ul > li > a:hover {
  color: #02884c;
}

header.sticky {
  animation: 1.15s ease 0s normal forwards 1 running headerSlideDown;
  background-color: #fff;
}
header.sticky .main-header .logo a img.logo-1 {
  display: none;
}
header.sticky .main-header .logo a img.logo-2 {
  display: block;
}
header.sticky .main-header .main-menu > ul > li.bao-gia > a {
  border: 1px solid #02884c;
  background-color: #02884c;
  color: #fff;
}
header.sticky .main-header .main-menu > ul > li.bao-gia > a:hover {
  background-color: #fff;
  color: #02884c;
  border-color: #02884c;
}
header.sticky .main-header .main-menu > ul > li > a {
  color: #000;
}
header.sticky .main-header .main-menu > ul > li > a:hover {
  color: #02884c;
}

body.error404 header {
  position: relative;
  background-color: #02884c;
}
body.error404 #page-404 {
  padding: 8% 0%;
  text-align: center;
}

.elementor-editor-active header.web-header, .elementor-editor-active footer.web-footer {
  display: none;
}

.select-language {
  margin-left: 10px;
}
.select-language ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  font-size: x-small;
}
.select-language ul li {
  margin: 0px 3px;
  line-height: 1;
}
.select-language ul li a {
  display: inline-block;
  line-height: 1;
}

.home-intro {
  padding: 15% 0%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 30px;
  align-items: center;
}
.home-intro .left > h2 {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.home-intro .left > h2.tracking {
  font-size: 48px;
}
.home-intro .left > p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.home-intro .left > a {
  display: inline-block;
  background-color: #02884c;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
}
.home-intro .left ul.breadcrumb {
  justify-content: left;
  padding-left: 0px;
  padding-right: 0px;
}

.your-quote .home-intro {
  padding: 0%;
  height: 540px;
}

.intro-forms, .request-quote-main-form {
  padding: 9%;
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.07);
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 280px;
}
.intro-forms form, .request-quote-main-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro-forms .nav-tabs, .request-quote-main-form .nav-tabs {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intro-forms .nav-tabs::before, .intro-forms .nav-tabs::after, .request-quote-main-form .nav-tabs::before, .request-quote-main-form .nav-tabs::after {
  display: none;
}
.intro-forms .nav-tabs > li, .request-quote-main-form .nav-tabs > li {
  float: none;
}
.intro-forms .nav-tabs > li > a, .request-quote-main-form .nav-tabs > li > a {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 15px;
  color: #000;
  border: none;
  text-transform: uppercase;
  text-align: center;
  color: #02884c;
  background-color: transparent;
}
.intro-forms .nav-tabs > li > a.active, .request-quote-main-form .nav-tabs > li > a.active {
  font-weight: 600;
  background-color: transparent;
  color: #02884c;
}
.intro-forms .nav-tabs > li:first-child, .request-quote-main-form .nav-tabs > li:first-child {
  border-right: 1px solid #000;
}
.intro-forms .nav-tabs > li > a:hover, .request-quote-main-form .nav-tabs > li > a:hover {
  color: #02884c;
  background-color: transparent;
}
.intro-forms form p, .request-quote-main-form form p {
  width: 100%;
}
.intro-forms form .pol, .request-quote-main-form form .pol {
  position: relative;
  width: 100%;
}
.intro-forms form .pol #pol-list, .request-quote-main-form form .pol #pol-list {
  position: absolute;
  top: 37px;
  background-color: #fff;
  width: 100%;
  background-color: #3a3a3a;
  z-index: 1;
}
.intro-forms form .pol #pol-list ul, .request-quote-main-form form .pol #pol-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  top: 100%;
  left: 0px;
}
.intro-forms form .pol #pol-list ul > li, .request-quote-main-form form .pol #pol-list ul > li {
  color: #eaeaea;
  padding: 7px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
}
.intro-forms form .pod, .request-quote-main-form form .pod {
  position: relative;
  width: 100%;
}
.intro-forms form .pod #pod-list, .request-quote-main-form form .pod #pod-list {
  position: absolute;
  top: 37px;
  background-color: #fff;
  width: 100%;
  background-color: #363636;
  z-index: 1;
}
.intro-forms form .pod #pod-list ul, .request-quote-main-form form .pod #pod-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  top: 100%;
  left: 0px;
}
.intro-forms form .pod #pod-list ul > li, .request-quote-main-form form .pod #pod-list ul > li {
  color: #eaeaea;
  padding: 7px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
}
.intro-forms form .hbl_hawb, .request-quote-main-form form .hbl_hawb {
  position: relative;
  width: 100%;
}
.intro-forms form .hbl_hawb #hbl_hawb-list, .request-quote-main-form form .hbl_hawb #hbl_hawb-list {
  position: absolute;
  top: 37px;
  background-color: #fff;
  width: 100%;
  background-color: grey;
  z-index: 1;
}
.intro-forms form .hbl_hawb #hbl_hawb-list ul, .request-quote-main-form form .hbl_hawb #hbl_hawb-list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  top: 100%;
  left: 0px;
}
.intro-forms form .hbl_hawb #hbl_hawb-list ul > li, .request-quote-main-form form .hbl_hawb #hbl_hawb-list ul > li {
  color: #eaeaea;
  padding: 7px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 13px;
}
.intro-forms form input, .intro-forms form select, .request-quote-main-form form input, .request-quote-main-form form select {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0px;
  border-bottom: 1px solid #02884c;
  margin-bottom: 10px;
  background-color: transparent;
}
.intro-forms form button, .request-quote-main-form form button {
  background-color: #505f79;
  color: #fff;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px 30px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.intro-forms form button.active, .request-quote-main-form form button.active {
  background-color: #02884c;
}

.home-services {
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 8%;*/
  padding: 5% 0%;
  display: inline-block;
  width: 100%;
}
.home-services .left {
  width: 55%;
  float: left;
  padding-right: 5%;
  position: sticky;
  top: 24%;
}
.home-services .left h2.section-title {
  color: #02884c;
}
.home-services .left h2.section-title::after {
  background-color: #02884c;
}
.home-services .left .services-list .item {
  display: grid;
  grid-template-columns: 32px auto;
  grid-gap: 15px;
  margin-bottom: 25px;
}
.home-services .left .services-list .item .content h3 {
  font-size: 24px;
  font-weight: bold;
  color: #02884c;
  margin-top: 0px;
  cursor: pointer;
}
.home-services .left .services-list .item .content .display {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}
.home-services .left .services-list .item .content .display p {
  font-size: 15px;
}
.home-services .left .services-list .item .content .display a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}
.home-services .left .services-list .item .content .display a:hover {
  color: #02884c;
}
.home-services .left .services-list .item.active .content .display {
  height: 152px;
}
.home-services .right {
  width: 45%;
  float: left;
  padding-left: 20px;
}
.home-services .right .box-image {
  position: sticky;
  top: 23%;
  width: 100%;
  padding-top: 100%;
}
.home-services .right .box-image::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #02884c;
  left: -20px;
  bottom: -20px;
  position: absolute;
}
.home-services .right .box-image .item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  border: 1px solid #02884c;
}
.home-services .right .box-image .item.active {
  opacity: 1;
}
.home-services .right .box-image .item .image {
  width: 100%;
  height: 100%;
}
.home-services .right .box-image .item .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-services .right .scroll-content > div {
  height: 400px;
}

.home-why {
  padding: 5% 0%;
}
.home-why .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 3%;
}
.home-why .top .desc {
  font-size: 15px;
  color: #fff;
}
.home-why .why-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.home-why .why-list .item .image {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 25px;
}
.home-why .why-list .item .image figure {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.home-why .why-list .item .image figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-why .why-list .item h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}
.home-why .why-list .item p {
  font-size: 15px;
  color: #fff;
}
.home-why.about-us {
  padding-bottom: 5%;
}
.home-why.about-us .top {
  grid-template-columns: 2fr 1fr;
}
.home-why.about-us h2.section-title {
  color: #02884c;
}
.home-why.about-us .why-list {
  grid-template-columns: 1fr 1fr;
}
.home-why.about-us .why-list .item p {
  color: #000;
}
.home-why.about-us .why-list .item ul {
  padding-left: 16px;
}

.home-numbers {
  padding: 20px 40px;
  border-radius: 1px;
  box-shadow: 0 11px 18px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0px;
  bottom: 0px;
  transform: translateY(50%);
  display: none;
}
.home-numbers .numbers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.home-numbers .numbers-list .item {
  text-align: center;
}
.home-numbers .numbers-list .item h4 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 10px;
}
.home-numbers .numbers-list .item p {
  font-size: 16px;
  font-weight: bold;
}

.home-partners {
  padding: 5% 0%;
}
.home-partners.second {
  padding-top: 5%;
}
.home-partners h2.section-title {
  color: #02884c;
}
.home-partners .partners-list .owl-carousel .owl-stage .item a {
  display: block;
  text-align: center;
}
.home-partners .partners-list .owl-carousel .owl-stage .item a > img {
  height: 54px;
  width: auto;
  display: inline-block;
}

.home-consulting {
  padding: 5% 0%;
  overflow: hidden;
}
.home-consulting .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 3%;
}
.home-consulting .top h2.section-title {
  color: #02884c;
}
.home-consulting .top .desc {
  font-size: 15px;
  color: #000;
}
.home-consulting .top a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}
.home-consulting .top a:hover {
  color: #02884c;
}

.item-post .image {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 25px;
}
.item-post .image a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.item-post .image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms linear 0ms;
}
.item-post:hover .image a img {
  transform: scale(1.1);
}
.item-post h3 {
  line-height: 1;
  margin-bottom: 25px;
}
.item-post h3 a {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}
.item-post h3 a:hover {
  color: #02884c;
}
.item-post p {
  font-size: 15px;
  color: #000;
}
.item-post a.read-more {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}
.item-post a.read-more i {
  color: #02884c;
}
.item-post a.read-more:hover {
  color: #02884c;
}
.item-post.single .image {
  margin-bottom: 10px;
}
.item-post.single h3 {
  margin-bottom: 10px;
}
.item-post.single h3 a {
  font-size: 18px;
}

.bachh-paginate {
  margin-top: 30px;
  margin-bottom: 5%;
}
.bachh-paginate .pagenavi {
  text-align: center;
}
.bachh-paginate .pagenavi > :not(.current) {
  display: inline-block;
  color: #000;
  background: #e3e3e3;
  padding: 8px 14px;
  border: none;
  transition: all 0.3s ease;
}
.bachh-paginate .pagenavi > :not(.current):hover {
  background-color: #02884c;
  color: #fff;
  text-decoration: none;
}
.bachh-paginate .pagenavi .current {
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
  background-color: #02884c;
}

footer {
  position: relative;
  color: #fff;
  background: linear-gradient(244deg, #006739 38%, #02884c 90%);
  overflow: hidden;
}
footer img.footer-bg-image {
  position: absolute;
  width: 66%;
  bottom: 0px;
  right: 0px;
}
footer .main-footer {
  padding: 5% 0%;
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  grid-gap: 40px;
  position: relative;
}
footer .main-footer .footer-col .logo {
  margin-bottom: 25px;
}
footer .main-footer .footer-col h3.widget-title {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .main-footer .footer-col .footer-col-editor h4 {
  font-size: 15px;
}
footer .main-footer .footer-col .footer-col-editor p {
  font-size: 15px;
  font-weight: 300;
}
footer .main-footer .footer-col .footer-col-editor p > a {
  font-size: 15px;
  color: #fff;
}
footer .main-footer .footer-col .footer-col-editor p > a:hover {
  text-decoration: none;
}
footer .main-footer .footer-col .footer-col-editor p > a > i {
  margin-right: 10px;
}
footer .main-footer .footer-col .contact {
  margin-bottom: 40px;
}
footer .main-footer .footer-col .contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  height: 54px;
  border: 2px solid #fff;
  padding: 5px;
  color: #fff;
}
footer .main-footer .footer-col .contact a:hover {
  background-color: #fff;
  color: #02884c;
}
footer .main-footer .footer-col .contact a i {
  font-size: 18px;
}
footer .main-footer .footer-col .contact a .text {
  margin-left: 15px;
}
footer .main-footer .footer-col .contact a .text span {
  font-size: 12px;
  font-weight: 300;
}
footer .main-footer .footer-col .contact a .text p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}
footer .main-footer .footer-col ul {
  list-style: none;
  padding: 0px;
}
footer .main-footer .footer-col ul > li > a {
  font-size: 15px;
  font-weight: 300;
  display: block;
  padding: 5px 0px;
  color: #fff;
}
footer .copy-right {
  padding-bottom: 3%;
  font-weight: 300;
  font-size: 13px;
  opacity: 0.7;
}

#search-train-calendar, #search-orders, #search-your-quote {
  margin-top: 10%;
}
#search-train-calendar main, #search-orders main, #search-your-quote main {
  padding: 5% 0%;
  padding-bottom: 0%;
  display: inline-block;
  width: 100%;
  overflow-x: auto;
}
#search-train-calendar main .title, #search-orders main .title, #search-your-quote main .title {
  margin-bottom: 10px;
}
#search-train-calendar main .title h3, #search-orders main .title h3, #search-your-quote main .title h3 {
  font-size: 32px;
  text-transform: uppercase;
  color: #3b3232;
  margin: 0px;
  margin-bottom: 15px;
}
#search-train-calendar main .title .desc a, #search-orders main .title .desc a, #search-your-quote main .title .desc a {
  color: #02884c;
}
#search-train-calendar main .title ul.breadcrumb, #search-orders main .title ul.breadcrumb, #search-your-quote main .title ul.breadcrumb {
  justify-content: flex-start;
  padding: 0px;
}
#search-train-calendar main .title ul.breadcrumb li > a, #search-orders main .title ul.breadcrumb li > a, #search-your-quote main .title ul.breadcrumb li > a {
  color: #000;
  font-size: 16px;
}
#search-train-calendar main .title ul.breadcrumb li:not(:last-child) > a::after, #search-orders main .title ul.breadcrumb li:not(:last-child) > a::after, #search-your-quote main .title ul.breadcrumb li:not(:last-child) > a::after {
  color: #000;
}
#search-train-calendar main p.thanks, #search-orders main p.thanks, #search-your-quote main p.thanks {
  font-size: 24px;
}
#search-train-calendar main p.from-to, #search-orders main p.from-to, #search-your-quote main p.from-to {
  display: flex;
  align-items: center;
}
#search-train-calendar main p.from-to span, #search-orders main p.from-to span, #search-your-quote main p.from-to span {
  font-size: 24px;
  font-weight: bold;
}
#search-train-calendar main p.from-to img, #search-orders main p.from-to img, #search-your-quote main p.from-to img {
  margin: 0px 10px;
}
#search-train-calendar main p.final-var, #search-orders main p.final-var, #search-your-quote main p.final-var {
  font-size: 16px;
}
#search-train-calendar main p.final-var > span, #search-orders main p.final-var > span, #search-your-quote main p.final-var > span {
  font-size: 26px;
  font-weight: bold;
}
#search-train-calendar main button#show-detail, #search-orders main button#show-detail, #search-your-quote main button#show-detail {
  border: none;
  background-color: #02884c;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}
#search-train-calendar main table, #search-orders main table, #search-your-quote main table {
  text-align: center;
}
#search-train-calendar main button.excel, #search-orders main button.excel, #search-your-quote main button.excel {
  background-color: #02884c;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}
#search-train-calendar main button.excel.bottom, #search-orders main button.excel.bottom, #search-your-quote main button.excel.bottom {
  float: right;
}

p.no-result {
  color: red;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.page-one.baogia {
  margin-top: 150px;
  margin-bottom: 100px;
}

.single-service {
  background-color: #fafafa;
}

.service-intro {
  position: relative;
}
.service-intro .background {
  height: 480px;
  position: relative;
}
.service-intro .background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-intro .background::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #00000075;
  position: absolute;
  top: 0;
  left: 0;
}
.service-intro .title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.service-intro .title h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.service-main {
  padding: 5% 0%;
  display: grid;
  grid-template-columns: 255px auto;
  grid-gap: 5%;
}

.archive-page main .subcate {
  margin-top: 5%;
}
.archive-page main .subcate:last-child {
  margin-bottom: 5%;
}
.archive-page main .subcate h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.archive-page main .subcate h2 > span {
  font-size: 40px;
  font-weight: bold;
  color: #02884c;
}
.archive-page main .subcate h2 > a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #02884c;
}
.archive-page main .subcate h2 > a:hover {
  text-decoration: none;
}

.subcate-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.subcate-posts.not-child {
  margin: 5% 0%;
}

.aside-menu .main {
  background-color: #fff;
  padding: 15px 5px;
  border: 1px solid #02884c;
}
.aside-menu .main h3 {
  font-size: 18px;
  font-weight: bold;
  color: #02884c;
  padding: 8px 8px;
}
.aside-menu .main ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.aside-menu .main ul li a {
  padding: 10px 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  transition: all 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}
.aside-menu .main ul li a::after {
  content: "\f061";
  font-family: "Font Awesome 5 Pro";
  opacity: 0;
}
.aside-menu .main ul li a:hover {
  background-color: #02884c;
  color: #fff;
}
.aside-menu .main ul li a:hover::after {
  color: #fff;
  opacity: 1;
}
.aside-menu .main ul li.current-menu-item a {
  background-color: #02884c;
  color: #fff;
}
.aside-menu .main ul li.current-menu-item a::after {
  opacity: 1;
}

.single-page {
  background-color: #fafafa;
}
.single-page main {
  margin-top: 6%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-bottom: solid 1px #dfdfdf;
}
.single-page .related-posts h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.single-page .related-posts .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-bottom: 5%;
}

.partner-section {
  margin-top: 5%;
}
.partner-section h2.section-title {
  font-size: 40px;
  color: #02884c;
}
.partner-section .grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: flex-start;
}
.partner-section .left .logo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.partner-section .left .logo-list > figure {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner-section .left .logo-list > figure > img {
  max-width: 70%;
  max-height: 50px;
}
.partner-section .right {
  position: relative;
  padding-left: 25px;
}
.partner-section .right::before {
  content: "";
  width: calc(100% - 25px);
  height: 100%;
  position: absolute;
  border: 1px solid #02884c;
  left: 0;
  top: 25px;
}
.partner-section .right .image {
  margin-bottom: 0px;
}

.service-content {
  /* WordPress Core */
}
.service-content .alignnone {
  margin: 5px 20px 20px 0;
}
.service-content .aligncenter, .service-content div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.service-content .alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.service-content .alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.service-content .aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.service-content a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.service-content a img.alignnone {
  margin: 5px 20px 20px 0;
}
.service-content a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.service-content a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.service-content .wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.service-content .wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.service-content .wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.service-content .wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.service-content .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.service-content .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.aboutus-section {
  padding: 5% 0%;
  padding-bottom: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: center;
}
.aboutus-section .left .item:not(:first-child) {
  margin-top: 7%;
}
.aboutus-section .left .item h3 {
  font-size: 40px;
  font-weight: bold;
  color: #02884c;
  margin-bottom: 5%;
}
.aboutus-section .right {
  position: relative;
}
.aboutus-section .right .image {
  margin-bottom: 0px;
}
.aboutus-section.one .right {
  padding-left: 25px;
}
.aboutus-section.one .right::before {
  content: "";
  width: calc(100% - 25px);
  height: 100%;
  position: absolute;
  border: 1px solid #02884c;
  left: 0;
  top: 25px;
}
.aboutus-section.two {
  grid-auto-flow: dense;
}
.aboutus-section.two .left {
  grid-column: 2;
}
.aboutus-section.two .left .item h3 {
  color: #fff;
}
.aboutus-section.two .right {
  grid-column: 1;
  padding-right: 25px;
}
.aboutus-section.two .right::before {
  content: "";
  width: calc(100% - 25px);
  height: 100%;
  position: absolute;
  border: 1px solid #fff;
  right: 0;
  top: 25px;
}

.aboutus-whylist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  background-color: #02884c;
  padding: 40px;
}
.aboutus-whylist > p {
  color: #fff;
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 10px;
  align-items: baseline;
}
.aboutus-whylist > p > i {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  color: #02884c;
  font-size: 12px;
}

div.wpcf7 .ajax-loader {
  background-image: url("assets/imgs/loading_2.gif");
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  left: 0px;
  height: 100%;
  top: 0px;
  background-position: center;
  background-color: transparent;
  margin-left: 0px;
  background-size: 50px 50px;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: transparent;
  color: #ffffff;
  background-color: #30ca14;
  text-align: center;
}

div.wpcf7 span.example {
  font-size: 12px;
  display: block;
  padding: 5px 0px;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  background-color: #ff4343;
  border: none;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.wpcf7-not-valid-tip {
  font-size: 11px;
  margin-top: 4px;
}

.wpcf7 form .wpcf7-response-output {
  margin: 0px;
  font-size: 12px;
}

input.wpcf7-not-valid:not[type=file] {
  border: 1px solid red;
}

.contactus-form {
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 5% 0%;
}
.contactus-form .left {
  background-color: #02884c;
  padding: 40px;
  color: #fff;
}
.contactus-form .left > h3 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}
.contactus-form .left > p {
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
}
.contactus-form .left .contact h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.contactus-form .left .contact p {
  display: flex;
  align-items: baseline;
}
.contactus-form .left .contact p > a {
  color: #fff;
}
.contactus-form .left .contact p i {
  margin-right: 10px;
}
.contactus-form .right {
  background-color: #efefef;
  padding: 8% 15%;
}
.contactus-form .right form {
  position: relative;
}
.contactus-form .right form > p {
  margin-bottom: 30px;
}
.contactus-form .right form > p > span:not(.ajax-loader) {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contactus-form .right form > p > span:not(.ajax-loader).your-message > textarea {
  height: 130px;
}
.contactus-form .right form > p > span:not(.ajax-loader) .wpcf7-not-valid-tip {
  position: absolute;
  top: 105%;
  margin: 0px;
  display: block;
  width: 100%;
}
.contactus-form .right form input:not([type=submit]), .contactus-form .right form textarea {
  border: solid 1px #dddddd;
  padding: 12px 10px;
  width: 100%;
  outline: none;
  background-color: #fff;
}
.contactus-form .right form input[type=submit] {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #02884c;
  border: none;
  outline: none;
  padding: 8px 12px;
  height: 50px;
  cursor: pointer;
}

.contactus-maps {
  height: 65vh;
}

.request-quote-form {
  margin: 10% 0%;
  margin-top: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  padding: 30px;
}
.request-quote-form .left .title {
  margin-bottom: 15px;
}
.request-quote-form .left h2.section-title {
  margin-bottom: 0px;
  padding: 0px;
  color: #fff;
}
.request-quote-form .left h2.section-title::after {
  display: none;
}
.request-quote-form .left .desc {
  color: #fff;
}
.request-quote-form .request-quote-main-form {
  padding: 30px;
}
.request-quote-form .request-quote-main-form input:not([type=submit]), .request-quote-form .request-quote-main-form textarea, .request-quote-form .request-quote-main-form select {
  border: solid 1px #dddddd;
  padding: 12px 10px;
  width: 100%;
  outline: none;
  background-color: #fff;
}
.request-quote-form .request-quote-main-form button[type=submit] {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #02884c;
  border: none;
  outline: none;
  padding: 8px 12px;
  height: 50px;
  cursor: pointer;
}

.color-black .request-quote-form .left h2.section-title, .color-black .request-quote-form .left .desc {
  color: #000;
}

.mg0 .request-quote-form {
  margin: 0px;
}

#search-your-quote main {
  padding-bottom: 0px;
  padding-top: 0%;
}
#search-your-quote #your-quote {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: none;
  text-align: left;
}
#search-your-quote #your-quote tr.blue-bg {
  background-color: #1e1e67;
  color: #fff;
}
#search-your-quote #your-quote tr.red-bg {
  background-color: #b41919;
  color: #fff;
}
#search-your-quote #your-quote .flex-in-td {
  display: flex;
  justify-content: space-between;
}

.sale-policy h3 {
  font-size: 24px;
}
.sale-policy h3 button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #02884c;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.sale-policy h3 button > i {
  margin-left: 6px;
}
.sale-policy .main-policy {
  margin-top: 20px;
  display: none;
}

#get-your-quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
  background-color: #efefef;
  margin-bottom: 20px;
  margin-top: 15px;
}
#get-your-quote .left {
  width: 90%;
  background-color: #02884c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 80px;
  text-transform: uppercase;
  clip-path: polygon(0% 0%, 92% 1%, 100% 50%, 92% 100%, 0% 100%);
  padding: 0px 15px;
  padding-right: 40px;
}
#get-your-quote .left > img {
  margin-right: 20px;
}
#get-your-quote .right {
  padding-right: 50px;
}
#get-your-quote .right form {
  display: grid;
  grid-template-columns: auto 100px;
  grid-gap: 15px;
  align-items: center;
}
#get-your-quote .right form input {
  width: 100%;
  height: 48px;
  border: solid 1px #02884c;
  background-color: #ffffff;
  border-radius: 0px;
  padding: 0px 15px;
}
#get-your-quote .right form textarea {
  display: none;
}
#get-your-quote .right form button {
  border: none;
  border-radius: 0px;
  background-color: #02884c;
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;
}

.select-wrapper {
  position: relative;
}
.select-wrapper select {
  appearance: none;
}
.select-wrapper::before {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.elementor-widget.mb0 {
  margin-bottom: 0 !important;
}

p.update-on span {
  font-weight: bold;
}

.save-success {
  margin: 10% 0%;
  margin-bottom: 5%;
}

.page-one #search-your-quote-email {
  display: none;
}

.no-result-page .no-result-hide, .no-result-page .sale-policy, .no-result-page #get-your-quote, .no-result-page .text-desc {
  display: none;
}

.contact.no-result-hide {
  margin-top: 20px;
}

.text-desc {
  margin: 10px 0px;
  margin-bottom: 20px;
}
.text-desc p {
  margin-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
