@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face{
	font-family: 'VLFertigoPro';
	src: url(assets/fonts/Fertigo_PRO.otf);
	font-weight: 300;
	font-display: swap;
}

.for-mobile {
	display: none;
}

// hide recaptcha
.grecaptcha-badge {
	display: none !important;
}

$green: #D1010A;

body {
	font-family: 'Raleway', sans-serif;
	color: #333333;
}

* {
	outline: none;
}

.elementor-widget-text-editor {
	font-family: 'RobotoCondensed' !important;
}

.elementor-widget-text-editor p {
	margin-bottom: 8px;
}

a, a:hover {
	text-decoration: none;
}

p:empty {
	display: none;
}

.owl-dots {
	text-align: center;
	margin-top: 30px;
	button, .owl-dot {
		margin: 0px 3px;
		display: inline-block;
		span {
			display: block;
			width: 12px;
			height: 4px;
			background: #D5D5D5;
			border-radius: 16px;
		}
		&.active {
			span {
				width: 32px;
				background-color: $green;
			}
		}
	}
}

a.button-link {

}

.elementor-section.bg-white .elementor-element-populated {
	background: #FFFFFF;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.04);
	border-radius: 32px;
}
.image {
	position: relative;
	&.ratio-1-1 {
		padding-top: 100%;
	}
	&.ratio-16-9 {
	    padding-top: 56.25%;
	}
	&.ratio-4-3 {
		padding-top: 75%;
	}
	&.ratio-3-2 {
		padding-top: 66.66%;
	}

	>a, figure {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    >img {
	    	width: 100%;
    		height: 100%;
    		object-fit: cover;
	    }
	}
}

.wrapper {
    width: 100%;
    max-width: 1140px;
    padding: 0 10px;
    margin: auto;
}

h2.section-title, .section-title h2.elementor-heading-title {
	font-family: 'VLFertigoPro';
	margin-top: 50px;
	font-weight: normal;
	font-size: 46px;
	color: #151748;
	position: relative;
	margin-bottom: 40px;
	text-align: center;
}

img.arrow-green {
    width: 12px !important;
    display: inline-block !important;
    margin-left: 8px;
}

// tab
.nav-tabs {
	border-bottom: none;
}

.nav-tabs>li>a {
	margin: 0px;
	border-radius: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: none;
}

// breadcrumb
ul.breadcrumb {
	display: flex;
    justify-content: center;
	background-color: transparent;
	margin: 0px;
	li {
		&:not(:last-child) {
			margin-right: 15px;
			>a {
				&::after {
					content: '\f105';
					font-family: "Font Awesome 5 Pro";
					color: #e6e7e8;
					margin-left: 15px;
				}
			}
		}
		>a {
			display: block;
			font-size: 14px;
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

// header
header {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
	height: 81px;
	border-bottom: 1px solid #ffffff6e;
	transition: background-color 0.3s ease;
	.logo {
		a {
			img {
				width: 110px;
				&.logo-2 {
					display: none;
				}
			}
		}
	}
	.main-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		.main-menu {
			display: flex;
			align-items: center;
			>ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				align-items: center;
				>li {
					position: relative;
					&:not(:last-child) {
						margin-right: 10px;
					}
					>a {
						position: relative;
						height: 48px;
						display: flex;
						align-items: center;
						font-size: 15px;
						font-weight: 500;
						padding: 0px 20px;
						color: #333333;
						box-sizing: border-box;
						transition: all 0.3s ease;
						&::after {
							content: "";
						    position: absolute;
						    left: 15px;
						    right: 15px;
						    bottom: 0;
						    margin: auto;
						    background-color: #fff;
						    height: 3px;
						    transform-origin: right center;
						    transform: scale(0, 1);
						    transition: transform 0.25s cubic-bezier(0.37, 0.31, 0.2, 0.85);
						}

						&:hover {
							text-decoration: none;
							color: $green;
							&::after {
								-webkit-transform-origin: left center;
								transform: scale(1, 1);
							}
						}
					}
					&.current-menu-item {
						>a::after {
							-webkit-transform-origin: left center;
							transform: scale(1, 1);
						}
					}

					&.sign-up {
						>a {
							border: 1px solid $green;
							border-radius: 8px;
							font-weight: 600;
						}
					}

					>ul.sub-menu {
						list-style: none;
					    margin: 15px 0 0;
					    position: absolute;
					    background: #fff;
					    padding: 25px 0;
					    top: 100%;
					    left: 15px;
					    min-width: 300px;
					    z-index: 99;
					    visibility: hidden;
					    opacity: 0;
					    box-shadow: 0 3px 63px 0 rgba(40, 40, 40, 0.11);
					    transition: all 300ms linear 0ms;
					    border-radius: 0 0 3px 3px;
					    clip: rect(1px, 1px, 1px, 1px);
					    >li {
				    	    padding: 0 40px;
					    	>a {
					    		color: #000;
					    		display: block;
					    		font-size: 14px;
							    line-height: normal;
							    padding: 12px 0;
							    position: relative;
							    white-space: nowrap;
							    border-bottom: 1px solid #eaeaea;
							    transition: all 300ms linear 0ms !important;
							    &::before {
							    	position: relative;
								    content: '\f061';
								    display: inline-block;
								    font-family: "Font Awesome 5 Pro";
								    font-size: 14px;
								    margin-right: 7px;
								    margin-left: -17px;
								    opacity: 0;
								    transition: all 300ms ease 0s;
								    color: $green;
							    }
							    &:hover {
							    	color: $green;
							    	font-weight: bold;
							    	text-decoration: none;
							    	&::before {
							    		font-weight: normal;
							    		opacity: 1;
    									margin-left: 0;
							    	}
							    }
					    	}
					    }
					}

					&:hover {
						>ul.sub-menu {
							visibility: visible;
						    opacity: 1;
						    margin-top: 0;
						    clip: inherit;
						}
					}
				}
			}


		}

		.header-for-mobile {
			display: none;
		}
	}

	&.has-color {
		background-color: $green;
	}
}

@keyframes headerSlideDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

header.white {
	.main-header {
		.logo {
			a {
				img {
					&.logo-1 {
						display: none;
					}
					&.logo-2 {
						display: block;
					}
				}
			}
		}

		.main-menu > ul > li.bao-gia {
			>a {
				border: 1px solid $green;
				background-color: $green;
				color: #fff;
				&:hover {
					background-color: #fff;
					color: $green;
					border-color: $green;
				}
			}
		}

		.main-menu > ul > li > a {
			color: #000;
			&:hover {
				color: $green;
			}
		}
	}
}

header.sticky {
	animation: 1.15s ease 0s normal forwards 1 running headerSlideDown;
	background-color: #fff;
	.main-header {
		.logo {
			a {
				img {
					&.logo-1 {
						display: none;
					}
					&.logo-2 {
						display: block;
					}
				}
			}
		}

		.main-menu > ul > li.bao-gia {
			>a {
				border: 1px solid $green;
				background-color: $green;
				color: #fff;
				&:hover {
					background-color: #fff;
					color: $green;
					border-color: $green;
				}
			}
		}

		.main-menu > ul > li > a {
			color: #000;
			&:hover {
				color: $green;
			}
		}
	}
}

body.error404 {
	header {
		position: relative;
		background-color: $green;
	}

	#page-404 {
		padding: 8% 0%;
    	text-align: center;
	}
}

.elementor-editor-active {
	header.web-header, footer.web-footer {
		display: none;
	}
}

.select-language {
	margin-left: 10px;
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		display: flex;
		font-size: x-small;
		li {
			margin: 0px 3px;
			line-height: 1;
			a {
				display: inline-block;
				line-height: 1;
			}
		}
	}
}

// home
.home-intro {
	padding: 15% 0%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 30px;
	align-items: center;
	.left {
		>h2 {
			font-size: 60px;
			font-weight: bold;
			color: #fff;
			margin-bottom: 20px;
			&.tracking {
				font-size: 48px;
			}
		}

		>p {
			font-size: 18px;
			color: #fff;
			margin-bottom: 20px;
		}

		>a {
			display: inline-block;
			background-color: $green;
			font-size: 15px;
			font-weight: bold;
			padding: 10px 20px;
			color: #fff;
			text-transform: uppercase;
		}

		ul.breadcrumb {
			justify-content: left;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.your-quote .home-intro {
	padding: 0%;
	height: 540px;
}

.intro-forms, .request-quote-main-form{
	padding: 9%;
  	box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.07);
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 280px;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
	align-items: flex-start;
	}
	.nav-tabs {
		margin-bottom: 25px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		&::before, &::after {
			display: none;
		}
	}
	.nav-tabs > li {
		float: none;
		>a {
			font-size: 14px;
			font-weight: 400;
			padding: 0px 15px;
			color: #000;
			border: none;
			text-transform: uppercase;
			text-align: center;
			color: $green;
			background-color: transparent;
			&.active {
				font-weight: 600;
				background-color: transparent;
				color: $green;
			}
		}
	}
	.nav-tabs>li:first-child {
		border-right: 1px solid #000;
	}

	.nav-tabs>li>a:hover {
		color: $green;
		background-color: transparent;
	}

	form {
		p {
			width: 100%;
		}
		.pol {
			position: relative;
			width: 100%;
			#pol-list {
				position: absolute;
				top: 37px;
				background-color: #fff;
				width: 100%;
				background-color: #3a3a3a;
				z-index: 1;
				ul {
					list-style: none;
					padding: 0px;
					margin: 0px;
					top: 100%;
					left: 0px;
					>li {
						color: #eaeaea;
						padding: 7px;
						border-bottom: 1px solid #eee;
						cursor: pointer;
						font-size: 13px;
					}
				}
			}
		}

		.pod {
			position: relative;
			width: 100%;
			#pod-list {
				position: absolute;
				top: 37px;
				background-color: #fff;
				width: 100%;
				background-color: #363636;
				z-index: 1;
				ul {
					list-style: none;
					padding: 0px;
					margin: 0px;
					top: 100%;
					left: 0px;
					>li {
						color: #eaeaea;
						padding: 7px;
						border-bottom: 1px solid #eee;
						cursor: pointer;
						font-size: 13px;
					}
				}
			}
		}

		.hbl_hawb {
			position: relative;
			width: 100%;
			#hbl_hawb-list {
				position: absolute;
				top: 37px;
				background-color: #fff;
				width: 100%;
				background-color: grey;
				z-index: 1;
				ul {
					list-style: none;
					padding: 0px;
					margin: 0px;
					top: 100%;
					left: 0px;
					>li {
						color: #eaeaea;
						padding: 7px;
						border-bottom: 1px solid #eee;
						cursor: pointer;
						font-size: 13px;
					}
				}
			}
		}

		input, select {
			width: 100%;
			border: none;
			outline: none;
			padding: 8px 0px;
			border-bottom: 1px solid $green;
			margin-bottom: 10px;
			background-color: transparent;
		}

		button {
			background-color: #505f79;
			color: #fff;
			text-transform: uppercase;
			border: none;
			outline: none;
			padding: 10px 30px;
			margin-top: 15px;
			transition: background-color 0.3s ease;
			cursor: pointer;
			&.active {
				background-color: $green;
			}
		}
	}
}

.home-services {
	/*display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	grid-gap: 8%;*/
	padding: 5% 0%;
	display: inline-block;
	width: 100%;
	.left {
		width: 55%;
		float: left;
		padding-right: 5%;
		position: sticky;
		top: 24%;
		.services-list {
			.item {
			    display: grid;
			    grid-template-columns: 32px auto;
			    grid-gap: 15px;
			    margin-bottom: 25px;
			    .content {
			    	h3 {
			    		font-size: 24px;
			    		font-weight: bold;
			    		color: $green;
			    		margin-top: 0px;
			    		cursor: pointer;
			    	}

			    	.display {
			    		height: 0px;
			    		overflow: hidden;
			    		transition: height 0.5s;
			    		p {
				    		font-size: 15px;
				    	}

				    	a {
				    		font-size: 16px;
				    		font-weight: bold;
				    		color: #000;
				    		transition: color 0.3s ease;
				    		&:hover {
				    			color: $green;
				    		}
				    	}
			    	}
			    }

			    &.active {
			    	.content {
			    		.display {
			    			height: 152px;
			    		}
			    	}
			    }
			}
		}
	}

	.right {
		width: 45%;
		float: left;
		padding-left: 20px;
		.box-image {
			position: sticky;
			top: 23%;
			width: 100%;
			padding-top: 100%;
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				border: 1px solid $green;
				left: -20px;
				bottom: -20px;
				position: absolute;
			}
			.item {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity 0.3s ease;
				border: 1px solid $green;
				&.active {
					opacity: 1;
				}
				.image {
					width: 100%;
					height: 100%;
					>img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		.scroll-content {
			>div {
				height: 400px;
			}
		}
	}
}

.actions {
	text-align: center;
	margin-top: 30px;
	a.see-more {
		display: inline-block;
		padding: 8px 90px;
		background-color: $green;
		border-radius: 8px;
		color: #fff;
	}
}

.elementor-widget:not(:last-child).section-title {
	margin-bottom: 0px;
}

.home-why {
	padding: 5% 0%;
	//padding-bottom: 15%;
	.top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		margin-bottom: 3%;
		.desc {
			font-size: 15px;
			color: #fff;
		}
	}

	.why-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		.item {
			.image {
				position: relative;
				padding-top: 56.25%;
				margin-bottom: 25px;
				figure {
					position: absolute;
  					top: 0;
  					left: 0;
  					bottom: 0;
  					right: 0;
  					img {
  						width: 100%;
  						height: 100%;
  						object-fit: cover;
  					}
				}
			}

			h3 {
				font-size: 24px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 25px;
			}

			p {
				font-size: 15px;
				color: #fff;
			}
		}
	}

	&.about-us {
		padding-bottom: 5%;
		.top {
			grid-template-columns: 2fr 1fr;
		}

		.why-list {
			grid-template-columns: 1fr 1fr;
			.item {
				p {
					color: #000;
				}

				ul {
					padding-left: 16px;
				}
			}
		}
	}

	&.participants {
		.why-list {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			.item {
				.image {
					position: relative;
					padding-top: 100%;
					margin-bottom: 0px;
					figure {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.desc-2 {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						color: #fff;
						font-size: 14px;
						background-color: #0000009c;
						padding: 20px;
						display: flex;
						align-items: end;
					}
				}

				.text-box {
					padding: 20px;
				}

				h3 {
					font-size: 16px;
					font-weight: bold;
					color: #333333;
					margin-bottom: 10px;
				}

				p {
					font-size: 16px;
					color: #333333;
				}
			}
		}
	}
}

#home-schedule {
	h2.section-title {
		margin-bottom: 0px;
	}

	p.description {
		text-align: center;
		color: #333333;
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 30px;
	}

	.card {
		border: none;
		margin-bottom: 25px;
	}

	.card-header {
		border: none;
		padding: 0;
		button.btn-link {
			width: 100%;
			color: #333333;
			font-weight: bold;
			padding: 15px 10px;
			text-align: left;
			background-color: #F3F5F7;
			position: relative;
			text-decoration: none;
			line-height: unset;
			&::after {
				content: '\f0d7';
				font-family: 'Font Awesome 5 Pro';
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
				color: #333333;
				color: #fff;
				width: 24px;
				text-align: center;
			}
			&.collapsed::after {
				content: '\f0da';
				color: #333333;
			}
			&[aria-expanded="true"] {
				background-color: $green;
				color: #fff;
			}
		}
	}

	.collapse.show {
		background-color: #F3F5F7;
	}

	.schedule-item {
		display: grid;
		grid-template-columns: 3fr 6fr 0.5fr;
		grid-gap: 20px;
		align-items: baseline;
		.left {
			p {
				color: #151748;
				font-weight: bold;
				>img {
					margin-right: 10px;
				}
			}
		}

		.center-box {
			h3 {
				font-size: 20px;
				color: #333333;
				margin-bottom: 25px;
			}

			ul {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-gap: 35px;
				list-style: none;
				padding: 0;
				margin: 0;
				>li {
					border-radius: 100%;
					overflow: hidden;
					.image {
						position: relative;
						padding-top: 100%;
						overflow: hidden;
						border-radius: 100%;
						>img {
							position: absolute;
							width: 100%;
							height: 100%;
							object-fit: cover;
							top: 0;
							left: 0;
						}
					}
				}
			}

			p {
				margin-top: 15px;
			}
		}

		.show-desc {
			text-align: right;
			button {
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;
				width: 24px;
				display: inline-block;
				border: none;
				outline: none;
			}
		}

	}
}

.section-hurry-up {
	&::after {
		content: '';
		width: 100%;
		height: 60%;
		background-color: $green;
		position: absolute;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}
}

.elementor-section-wrap > section:nth-child(3) {
	overflow: hidden;
}

.home-hurry-up {
	padding: 5% 0%;
	display: grid;
	grid-template-columns: 11fr 9fr;
	grid-gap: 30px;
	align-items: center;
	position: relative;
	z-index: 2;
  	.left {
		text-align: center;
		color: #fff;
		h3 {
			font-size: 50px;
			font-weight: bold;
			margin-bottom: 40px;
			color: #fff;
		}
		.numbers-list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 20px;
			.item {
				width: 105px;
				height: 105px;
				text-align: center;
				border-radius: 8px;
				background-color: #151748;
				h4 {
					font-size: 46px;
					font-weight: bold;
					margin-bottom: 10px;
					color: #fff;
				}

				p {
					font-size: 16px;
					font-weight: bold;
					color: #fff;
				}
			}
		}
	}
	.right {
		.contact-form {
			position: relative;
			padding: 40px;
			background: #151748;
			box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
			border-radius: 12px;
			color: #fff;
			h4 {
				color: #fff;
			}
			input:not([type='submit']) {
				border-radius: 5px;
				border: none;
				padding: 8px;
				width: 100%;
			}
			input[type='submit'] {
				background-color: $green;
				border: none;
				color: #fff;
				border-radius: 5px;
				text-align: center;
				padding: 8px;
				width: 100%;
			}
		}
	}
}

.home-partners {
	padding: 5% 0%;
	//padding-top: 15%;
	&.second {
		padding-top: 5%;
	}

	.partners-list {
		.owl-carousel .owl-stage {
			.item {
				a {
					display: block;
					text-align: center;
					>img {
						height: 45px;
						width: auto;
						display: inline-block;
					}
				}
			}
		}
	}
}

.home-sponsor {
	display: grid;
	grid-template-columns: 2fr 5fr;
	grid-gap: 20px;
	padding: 50px 0px;
	border-bottom: 1px solid #D5D5D5;
	&.has-link {
		border: none;
	}
	.sponsor-title {
		font-weight: bold;
	}
	.sponsor-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 50px;
	}
}

.home-photo {
	.photo-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 30px;
		.item-1 { grid-area: item-1; }
		.item-2 { grid-area: item-2; }
		.item-3 { grid-area: item-3; }
		.item-4 { grid-area: item-4; }
		.item-5 { grid-area: item-5; }
		.item-6 { grid-area: item-6; }
		.item-7 { grid-area: item-7; }

		grid-template-areas:
		"item-1 item-1 item-1 item-1 item-1 item-1"
		"item-2 item-2 item-2 item-2 item-3 item-3"
		"item-4 item-4 item-4 item-5 item-5 item-5"
		"item-6 item-6 item-7 item-7 item-7 item-7";

		>div {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.home-consulting {
	padding: 5% 0%;
	.top {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
		margin-bottom: 3%;
		.desc {
			font-size: 15px;
			color: #000;
		}

		a {
			font-size: 16px;
			font-weight: bold;
			color: #000;
    		transition: color 0.3s ease;
    		&:hover {
    			color: $green;
    		}
		}
	}

	.consulting-list {
		.owl-carousel .owl-stage-outer {
			height: calc(100% + 60px);
			margin: -30px;
			padding: 30px;
			width: calc(100% + 60px);
		}

		.owl-item {
			opacity: 0;
		}
		.owl-item.active {
			opacity: 1;
		}
	}
}

.home-video {
	button {
		padding: 0;
		border-radius: 0;
		background: none;
		border: none;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		height: auto;
		.play-video {
			position: absolute;
		}
	}
	.modal-dialog {
		max-width: 800px;
	}
	.modal-body {
		padding: 5px;
	}
	.main-video {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 25px;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

// item post
.item-post {
	background: #FFFFFF;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
	border-radius: 12px;
	.image {
		position: relative;
		padding-top: 75%;
		margin-bottom: 0px;
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow: hidden;
			border-radius: 12px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 300ms linear 0ms;
			}
		}
	}

	&:hover {
		.image a img {
		    transform: scale(1.1);
		}
	}

	.text-box {
		padding: 25px;
	}

	h3 {
		line-height: 1;
		margin-bottom: 25px;
		a {
			font-size: 20px;
			font-weight: bold;
			color: #000;
			transition: color 0.3s ease;
			&:hover {
				color: $green;
			}
		}
	}

	p {
		font-size: 15px;
		color: #000;
		padding-bottom: 20px;
		border-bottom: 1px solid #E3E3E3;
	}

	a.read-more {
		display: block;
		font-size: 16px;
		font-weight: bold;
		color: $green;
		text-align: center;
		transition: color 0.3s ease;
		i {
			color: $green;
		}
		&:hover {
			color: $green;
		}
	}

	&.single {
		.image {
			margin-bottom: 10px;
		}
		h3 {
			margin-bottom: 10px;
			a {
				font-size: 18px;
			}
		}
	}
}

.home-slider {
	position: relative;
	.owl-dots {
		position: absolute;
		width: 100%;
		left: 0px;
		bottom: 20px;
		margin-top: 0px;
	}
}

// home slider signup
.home-slider-signup {
	.item {
		position: relative;
		.text-box {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			display: flex;
			align-items: center;
			h3 {
				font-size: 56px;
				font-weight: bold;
				color: #fff;
				line-height: 64px;
			}

			p {
				font-size: 16px;
				color: #fff;
				max-width: 330px;
				margin-bottom: 0px;
			}
		}
	}
}

// home features
.home-features {
	.item {
		position: relative;
		padding-bottom: 140px;
		.image {
			width: 75%;
		}

		.text-box {
			background: #FFFFFF;
			box-shadow: 0px 4px 32px rgb(0 0 0 / 8%);
			border-radius: 12px;
			position: absolute;
			width: 45%;
			bottom: 10%;
			right: 10%;
			padding: 30px;
			padding-bottom: 90px;
		}
	}

	.owl-nav {
		border-radius: 12px;
		position: absolute;
		width: 45%;
		bottom: 9%;
		right: 10%;
		padding: 30px;
		display: flex;
		align-items: end;
		button {
			border: none;
			outline: none;
		}
		.owl-prev {
			margin-right: 20px;
		}
	}
}

// paginate
.bachh-paginate {
    margin-top: 30px;
    margin-bottom: 5%;
    .pagenavi {
        text-align: center;
        >:not(.current) {
            display: inline-block;
            color: #000;
            background: #e3e3e3;
            padding: 8px 14px;
            border: none;
            transition: all 0.3s ease;
            &:hover {
                background-color: $green;
                color: #fff;
                text-decoration: none;
            }
        }
        .current {
            display: inline-block;
            padding: 8px 15px;
            color: #fff;
            background-color: $green;
        }
    }
}

// footer
footer {
	position: relative;
	color: #fff;
	background: #151748;
	overflow: hidden;
	padding: 80px 0px;
	margin-top: 80px;
	.top {
		display: grid;
		grid-template-columns: 2fr 5fr;
		grid-gap: 40px;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #D5D5D5;
		align-items: center;
		.logo {
			a {
				img {
					width: 100%;
				}
			}
		}

		.content {
			p:last-child {
				margin-bottom: 0px;
				font-weight: bold;
				a {
					color: $green;
				}
			}
		}
	}
	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		ul {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin-right: 10px;
				a {
					color: #fff;
					font-size: 20px;
				}
			}
		}
		.copy-right {
			font-size: 14px;
			color: #fff;
		}
	}
}

// page
#search-train-calendar, #search-orders, #search-your-quote {
	margin-top: 10%;
	main {
		padding: 5% 0%;
		padding-bottom: 0%;
		display: inline-block;
		width: 100%;
		overflow-x: auto;
		.title {
			margin-bottom: 10px;
			h3 {
				font-size: 32px;
				text-transform: uppercase;
				color: #3b3232;
				margin: 0px;
				margin-bottom: 15px;
			}

			.desc {
				a {
					color: $green;
				}
			}

			ul.breadcrumb {
				justify-content: flex-start;
    			padding: 0px;
				li {
					>a {
						color: #000;
						font-size: 16px;
					}

					&:not(:last-child) > a::after {
						color: #000;
					}
				}
			}
		}

		p.thanks {
			font-size: 24px;
		}

		p.from-to {
			display: flex;
			align-items: center;
			span {
				font-size: 24px;
				font-weight: bold;
			}

			img {
				margin: 0px 10px;
			}
		}

		p.final-var {
			font-size: 16px;
			>span {
				font-size: 26px;
				font-weight: bold;
			}
		}

		button#show-detail {
			border: none;
		    background-color: #02884c;
		    color: #fff;
		    padding: 8px 20px;
		    font-size: 15px;
		    text-transform: uppercase;
		    cursor: pointer;
		    outline: none;
		    margin-bottom: 10px;
		}

		table {
			text-align: center;
		}

		button.excel {
			background-color: $green;
			color: #fff;
			font-size: 15px;
			border: none;
			outline: none;
			padding: 10px 15px;
			cursor: pointer;
			&.bottom {
				float: right;
			}
		}
	}
}

p.no-result {
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.page-one {
	&.baogia {
		margin-top: 150px;
		margin-bottom: 100px;
	}
}

// service
.single-service {
	background-color: #fafafa;
}

.service-intro {
	position: relative;
	.background {
		height: 480px;
		position: relative;
		>img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: #00000075;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.title {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		h1 {
			font-size: 48px;
			font-weight: bold;
			color: #fff;
		}
	}
}

.service-main {
	padding: 5% 0%;
	display: grid;
	grid-template-columns: 255px auto;
	grid-gap: 5%;
}

// body.single-service {
// 	.home-consulting {
// 		padding-top: 15%;
// 	}
// }

// archive
.archive-page {
	main {
		.subcate {
			margin-top: 5%;
			&:last-child {
				margin-bottom: 5%;
			}
			h2 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 25px;
				>span {
					font-size: 40px;
					font-weight: bold;
					color: $green;
				}

				>a {
					text-decoration: none;
					font-size: 16px;
					text-transform: uppercase;
					color: $green;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.subcate-posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	&.not-child {
		margin: 5% 0%;
	}
}

// aside
.aside-menu {
	.main {
		background-color: #fff;
		padding: 15px 5px;
		border: 1px solid $green;
		h3 {
			font-size: 18px;
			font-weight: bold;
			color: $green;
			padding: 8px 8px;
		}

		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;
			li {
				a {
					padding: 10px 8px;
					font-size: 14px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					color: #000;
					transition: all 0.3s ease;
					text-transform: uppercase;
					text-decoration: none;
					&::after {
						content: "\f061";
						font-family: "Font Awesome 5 Pro";
						opacity: 0;
					}
					&:hover {
						background-color: $green;
						color: #fff;
						&::after {
							color: #fff;
							opacity: 1;
						}
					}
				}
				&.current-menu-item {
					a {
						background-color: $green;
						color: #fff;
						&::after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

// single
.single-page {
	background-color: #fafafa;
	main {
		// display: grid;
		// grid-template-columns: 255px auto;
		// grid-gap: 30px;

		margin-top: 6%;
		padding-bottom: 3%;
		margin-bottom: 3%;
		border-bottom: solid 1px #dfdfdf;
	}

	.related-posts {
		h2 {
			font-size: 32px;
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		.list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 30px;
			padding-bottom: 5%;
		}
	}
}

// partners
.partner-section {
	margin-top: 5%;
	.grid-layout {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5%;
		align-items: flex-start;
	}

	.left {
		.logo-list {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 30px;
			margin-top: 30px;
			>figure {
				background-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				>img {
					max-width: 70%;
					max-height: 50px;
				}
			}
		}
	}

	.right {
		position: relative;
		padding-left: 25px;
		&::before {
			content: "";
			width: calc(100% - 25px);;
			height: 100%;
			position: absolute;
			border: 1px solid $green;
			left: 0;
			top: 25px;
		}

		.image {
			margin-bottom: 0px;
		}
	}
}

// editor
.service-content {
	/* WordPress Core */
	.alignnone {
		margin: 5px 20px 20px 0;
	}
	.aligncenter, div.aligncenter {
		display:block;
		margin: 5px auto 5px auto;
	}
	.alignright {
		float:right;
		margin: 5px 0 20px 20px;
	}
	.alignleft {
		float:left;
		margin: 5px 20px 20px 0;
	}
	.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}
	a img.alignright {
		float:right;
		margin: 5px 0 20px 20px;
	}
	a img.alignnone {
		margin: 5px 20px 20px 0;
	}
	a img.alignleft {
		float:left;
		margin: 5px 20px 20px 0;
	}
	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}
	.wp-caption {
		background: #fff;
		border: 1px solid #f0f0f0;
		max-width: 96%;
		padding: 5px 3px 10px;
		text-align: center;
	}
	.wp-caption.alignnone {
		margin: 5px 20px 20px 0;
	}
	.wp-caption.alignleft {
		margin: 5px 20px 20px 0;
	}
	.wp-caption.alignright {
		margin: 5px 0 20px 20px;
	}
	.wp-caption img {
		border: 0 none;
		height: auto;
		margin:0;
		max-width: 98.5%;
		padding:0;
		width: auto;
	}
	.wp-caption p.wp-caption-text {
		font-size:11px;
		line-height:17px;
		margin:0;
		padding:0 4px 5px;
	}
}

// about us
.aboutus-section {
	padding: 5% 0%;
	padding-bottom: 8%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
	align-items: center;
	.left {
		.item {
			&:not(:first-child) {
				margin-top: 7%;
			}
			h3 {
				font-size: 40px;
				font-weight: bold;
				color: $green;
				margin-bottom: 5%;
			}
		}
	}

	.right {
		position: relative;
		.image {
			margin-bottom: 0px;
		}
	}

	&.one {
		.right {
			padding-left: 25px;
			&::before {
				content: "";
			    width: calc(100% - 25px);
			    height: 100%;
			    position: absolute;
			    border: 1px solid $green;
			    left: 0;
			    top: 25px;
			}
		}
	}

	&.two {
		grid-auto-flow: dense;
		.left {
			grid-column: 2;
			.item {
				h3 {
					color: #fff;
				}
			}
		}
		.right {
			grid-column: 1;
			padding-right: 25px;
			&::before {
				content: "";
			    width: calc(100% - 25px);
			    height: 100%;
			    position: absolute;
			    border: 1px solid #fff;
			    right: 0;
			    top: 25px;
			}
		}
	}
}

.aboutus-whylist {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	background-color: $green;
	padding: 40px;
	>p {
		color: #fff;
		display: grid;
		grid-template-columns: 20px auto;
		grid-gap: 10px;
		align-items: baseline;
		>i {
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			background-color: #fff;
			margin-right: 10px;
			color: $green;
			font-size: 12px;
		}
	}
}

// contact form
div.wpcf7 .ajax-loader {
    background-image: url('assets/imgs/loading_2.gif');
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    left: 0px;
    height: 100%;
    top: 0px;
    background-position: center;
    background-color: transparent;
    margin-left: 0px;
    background-size: 50px 50px;
}

.wpcf7 .ajax-loader::before {
	display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: transparent;
    color: #ffffff;
    background-color: #30ca14;
    text-align: center;
}

div.wpcf7 span.example {
    font-size: 12px;
    display: block;
    padding: 5px 0px;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    background-color: #ff4343;
    border: none;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.wpcf7-not-valid-tip {
    font-size: 11px;
    margin-top: 4px;
}

.wpcf7 form .wpcf7-response-output {
    margin: 0px;
    font-size: 12px;
}

input.wpcf7-not-valid:not[type=file] {
    border: 1px solid red;
}

// contact us
.contactus-form {
	display: grid;
	grid-template-columns: 45% 55%;
	padding: 5% 0%;
	.left {
		background-color: $green;
		padding: 40px;
		color: #fff;
		>h3 {
			font-size: 40px;
			text-transform: uppercase;
			margin-bottom: 30px;
			font-weight: bold;
		}

		>p {
			padding-bottom: 30px;
			border-bottom: 1px solid #fff;
			margin-bottom: 30px;
		}

		.contact {
			h3 {
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
			}

			p {
				display: flex;
				align-items: baseline;
				>a {
					color: #fff;
				}
				i {
					margin-right: 10px;
				}
			}
		}
	}

	.right {
		background-color: #efefef;
	    padding: 8% 15%;
	    form {
	    	position: relative;
	    	>p {
				margin-bottom: 30px;
				>span:not(.ajax-loader) {
					display: flex;
					flex-direction: column;
					position: relative;
					&.your-message {
						>textarea {
							height: 130px;
						}
					}
					.wpcf7-not-valid-tip {
					    position: absolute;
					    top: 105%;
					    margin: 0px;
					    display: block;
					    width: 100%;
					}
				}
			}

	    	input:not([type="submit"]), textarea {
	    		border: solid 1px #dddddd;
	    		padding: 12px 10px;
	    		width: 100%;
	    		outline: none;
	    		background-color: #fff;
	    	}

	    	input[type="submit"] {
	    		font-size: 15px;
	    		text-transform: uppercase;
	    		color: #fff;
	    		background-color: $green;
	    		border: none;
	    		outline: none;
	    		padding: 8px 12px;
	    		height: 50px;
	    		cursor: pointer;
	    	}
	    }
	}
}

.contactus-maps {
	height: 65vh;
}

// request a quote
.request-quote-form {
	margin: 10% 0%;
	margin-top: 15%;
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    padding: 30px;
	.left {
		.title {
			margin-bottom: 15px;
		}

	    .desc {
	    	color: #fff;
	    }
	}

	.request-quote-main-form {
		padding: 30px;
		input:not([type="submit"]), textarea, select {
    		border: solid 1px #dddddd;
    		padding: 12px 10px;
    		width: 100%;
    		outline: none;
    		background-color: #fff;
    	}

    	button[type="submit"] {
    		font-size: 15px;
    		text-transform: uppercase;
    		color: #fff;
    		background-color: $green;
    		border: none;
    		outline: none;
    		padding: 8px 12px;
    		height: 50px;
    		cursor: pointer;
    	}
	}
}

.mg0 {
	.request-quote-form {
		margin: 0px;
	}
}

// your quote
#search-your-quote {
	main {
		padding-bottom: 0px;
		padding-top: 0%;
	}

	#your-quote {
		font-size: 18px;
	    margin-bottom: 10px;
	    margin-top: 20px;
	    display: none;
	    text-align: left;
		tr.blue-bg {
			background-color: #1e1e67;
    		color: #fff;
		}
		tr.red-bg {
			background-color: #b41919;
    		color: #fff;
		}

		.flex-in-td {
			display: flex;
			justify-content: space-between;
		}
	}
}

.sale-policy {
	h3 {
		font-size: 24px;
		button {
			background-color: transparent;
			border: none;
			outline: none;
			color: $green;
			font-size: 15px;
			font-weight: bold;
			cursor: pointer;
			>i {
				margin-left: 6px;
			}
		}
	}

	.main-policy {
		margin-top: 20px;
		display: none;
	}
}

#get-your-quote {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	align-items: center;
	background-color: #efefef;
    margin-bottom: 20px;
    margin-top: 15px;
	.left {
		width: 90%;
		background-color: $green;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		font-weight: bold;
		color: #fff;
		height: 80px;
		text-transform: uppercase;
		clip-path: polygon(0% 0%, 92% 1%, 100% 50%, 92% 100%, 0% 100%);
		padding: 0px 15px;
    	padding-right: 40px;
		>img {
			margin-right: 20px;
		}
	}

	.right {
		padding-right: 50px;
		form {
			display: grid;
			grid-template-columns: auto 100px;
			grid-gap: 15px;
			align-items: center;
			input {
				width: 100%;
				height: 48px;
			  	border: solid 1px #02884c;
			  	background-color: #ffffff;
			  	border-radius: 0px;
			  	padding: 0px 15px;
			}

			textarea {
				display: none;
			}

			button {
				border: none;
				border-radius: 0px;
			    background-color: #02884c;
			    color: #fff;
			    width: 100%;
			    height: 48px;
			    font-size: 15px;
			    text-transform: uppercase;
			    cursor: pointer;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    margin-bottom: 0px !important;
			}
		}
	}
}

.select-wrapper {
	position: relative;
	select {
		
	    appearance:none;
	}
	&::before {
    	content: "\f107";
    	font-family: "Font Awesome 5 Pro";
    	position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
    	right: 10px;
    }
}

.elementor-widget.mb0 {
	margin-bottom: 0 !important;
}

p.update-on {
	span {
		font-weight: bold;
	}
}

.save-success {
    margin: 10% 0%;
    margin-bottom: 5%;
}

.page-one #search-your-quote-email {
	display: none;
}

.no-result-page {
	.no-result-hide, .sale-policy, #get-your-quote, .text-desc {
		display: none;
	}
}

.contact.no-result-hide {
	margin-top: 20px;
}

.text-desc {
	margin: 10px 0px;
	margin-bottom: 20px;
	p {
		margin-bottom: 10px;
	}
}