@media (max-width: 1199px) {
	// header
	header {
		border-bottom: none;
		.main-header {
			.main-menu {
				display: block;
				position: fixed;
				background-color: #151748;
				width: 100%;
				height: 100vh;
				top: 0;
				left: 100%;
				transition: left 0.3s ease;
				z-index: 9;
				&.active {
					left: 0px;
				}
				.close-menu {
					text-align: left;
					>span {
						display: inline-block;
						width: 46px;
						height: 46px;
						font-size: 20px;
						text-align: center;
						line-height: 46px;
						color: #fff;
						cursor: pointer;
					}
				}
				>ul {
					display: block;
					padding: 0px 15px;
					height: 80vh;
					overflow-y: auto;
					>li {
						display: block;
						margin: 0px;
						&:not(:last-child) {
							border-bottom: 1px solid #424242;
						}
						>a {
							height: 60px;
							padding: 0px;
							font-size: 17px;
							color: #fff;
							&::after {
								display: none;
							}
						}

						&.menu-item-has-children {
							&::before {
								content: '\f067';
								font-family: "Font Awesome 5 Pro";
							    position: absolute;
							    right: 1px;
							    z-index: 2;
							    width: 30px;
							    text-align: center;
							    height: 60px;
							    font-size: 17px;
							    display: flex;
							    justify-content: center;
							    align-items: center;
							    color: #fff;
							}
						}

						&.current-menu-item {
							>a {
								border-bottom: none;
								color: #00d385;
							}
						}
						>ul.sub-menu {
							width: 100%;
							position: relative;
							opacity: 1;
							visibility: visible;
							left: 0px;
							margin-top: 0px;
							display: none;
							transition: none;
							&::after {
								display: none;
							}
							>li {
								padding: 0px 25px;
								>a {
									font-size: 16px;
									&::before {
										display: none;
									}
								}
							}
						}

						&.bao-gia {
							>a {
								padding: 0px 15px;
								background-color: $green; 
							}
						}
					}
				}
			}

			.header-for-mobile {
				display: block;
			}

			.open-menu {
				display: flex;
				align-items: center;
				>span {
					font-size: 15px;
				    color: #fff;
    				text-transform: uppercase;
    				font-weight: 300;
				}

				>i {
					font-size: 26px;
					margin-left: 12px;
					color: #333333;
				}
			}
		}
	}

	header .main-header .main-menu > ul > li.sign-up > a {
		justify-content: center;
		text-align: center;
		margin-top: 10px;
	}

	header.sticky, header.white {
		.main-header .open-menu > span {
			color: #000;
		}

		.main-header .main-menu > ul > li > a {
			color: #fff;
		}

		.main-header .open-menu > i {
			color: #000;
		}
	}

	header .main-header .main-menu>.select-language {
		display: none;
	}
 
	.select-language {
		margin-left: 0px;
		margin-right: 10px;
	}

	h2.section-title {
		font-size: 40px;
	}

	.home-slider-signup .item .text-box h3 {
		font-size: 35px;
		line-height: 40px;
	}

	// home 
	.scroll-content {
		display: none;
	}
}

@media (max-width: 768px) {
	.for-mobile {
		display: block;
	}

	.for-tablet {
		display: none;
	}

	footer .top {
		grid-template-columns: 1fr;
	}

	footer .bottom {
		display: block;
	}

	footer .bottom ul {
		margin-bottom: 10px;
	}

	footer .top .logo a img {
		max-width: 250px;
	}

	.home-video .modal-dialog {
		max-width: 100%;
	}

	h2.section-title, .section-title h2.elementor-heading-title {
		font-size: 34px;
		margin: 30px 0px;
	}

	.home-photo .photo-list {
		grid-gap: 15px;
	}

	.home-sponsor {
		grid-template-columns: 1fr 3fr;
	}

	.home-sponsor .sponsor-list {
		grid-template-columns: 1fr 1fr;
	}

	.home-sponsor .sponsor-title {
		font-size: 18px;
	}

	.home-hurry-up .right .contact-form {
		padding: 20px;
	}

	.section-hurry-up::after {
		height: 100%;
	}

	.home-why.participants .why-list .item .text-box {
		padding: 15px 0px;
	}

	#home-schedule .card-header button.btn-link::after {
		right: 10px;
	}

	.home-features .item {
		padding-bottom: 0px;
	}

	.home-slider-signup .item .text-box {
		display: none;
	}

	.home-features .item .image {
		width: 100%;
	}

	.home-features .item .text-box {
		position: relative;
		width: 100%;
		padding: 20px 0px;
		box-shadow: none;
		right: 0;
	}

	.home-features .owl-nav {
		position: relative;
		margin: 0;
		right: auto;
		padding: 0;
	}

	#home-schedule .schedule-item {
		display: block;
		.show-desc {
			display: none;
		}
	}

	#home-schedule .schedule-item .center-box ul {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 15px;
	}

	.home-video button .play-video {
		width: 50px;
	}

	// home
	.home-intro, .your-quote .home-intro {
		grid-template-columns: 1fr;
		padding: 30% 0%;
		padding-bottom: 5%;
		.left {
			h2 {
				font-size: 40px;
			}

			p {
				font-size: 15px;
			}
		}

		.right {
			.intro-forms {
				padding: 12px;
				.nav-tabs > li > a {
					padding: 0px 8px;
				}
			}
		} 
	}	

	.your-quote .home-intro {
		height: auto;
	}

	.home-services {
		grid-template-columns: 1fr;
		grid-gap: 0%;
		.left {
			width: 100%;
			position: relative;
			padding: 0%;
			.services-list .item.active .content .display {
				height: 152px;
			}
		}

		.right {
			width: 100%;
			padding: 0%;
			padding-left: 15px;
			float: none;
			margin-bottom: 20%;
			.box-image {
				width: 100%;
				position: relative;
				padding-top: 100%;
				&::before {
					left: -15px;
    				bottom: -15px;
				}
			}
		}
	}

	.home-why {
		//padding-bottom: 45%;
		.top {
			grid-template-columns: 1fr;
			grid-gap: 0px;
		}

		.why-list {
			grid-template-columns: 1fr;
		}
	}

	.home-partners {
		&.first {
			//padding-top: 45%;
			.partners-list {
				.item:nth-child(5) {
					grid-column: 1 / 3;
				}
			}
		}

		&.second {
			.partners-list {
				grid-template-columns: 1fr 1fr 1fr;
				grid-column-gap: 60px;
			}
		}
	}

	.home-consulting {
		.top {
			grid-template-columns: 1fr;
			grid-gap: 0px;
		}

		.main {
			.consulting-list {
				grid-template-columns: 1fr;
			}
		}
	}

	.home-why.participants .why-list {
		grid-template-columns: 1fr 1fr;
	}

	.home-hurry-up {
		grid-template-columns: 1fr;
	}

	.home-hurry-up .left .numbers-list {
		grid-gap: 10px;
	}

	.home-hurry-up .left .numbers-list .item {
		width: 100%;
		height: 100%;
		h4 {
			font-size: 30px;
		}
		p {
			font-size: 12px;
		}
	}

	footer {
		.main-footer {
			grid-template-columns: 1fr 1fr;
			grid-gap: 5px;
			.footer-col {
				&:first-child {
					grid-column: 1 / 4;
					.logo {
						display: grid;
						grid-template-columns: 1fr 1fr;
						grid-gap: 15px;
						.footer-mobile-contact {
							.contact {
								margin-bottom: 10px;
							}
						}
					}
				}

			}
		}
	}

	// service
	.service-intro {
		.background {
			height: 240px;
		}

		.title {
			top: 63%;
		}

		.title h1 {
			font-size: 34px;
			padding: 0px 15px;
			margin-bottom: 0px;
		}
	}

	.service-main {
		grid-template-columns: 1fr;
	}

	// consults
	.archive-page main .subcate {
		margin-top: 10%;
		&:last-child {
			margin-bottom: 10%;
		}
	}

	.subcate-posts {
		grid-template-columns: 1fr;
	}

	// partners
	.partner-section {
		margin-bottom: 10%;
		.grid-layout {
			grid-template-columns: 1fr;
			grid-auto-flow: dense;
			grid-gap: 0px;
			.right {
				grid-column: 1;
  				grid-row: 1
			}
		}
		.left .logo-list {
			grid-gap: 30px;
			>figure {
				height: 100px;
			}
		}

		.right {
			margin-bottom: 18%;
		}
	}

	// about us
	.aboutus-section {
		display: flex;
		flex-direction: column;
		align-items: normal;
	    &.two {
	    	flex-flow: column-reverse;
	    }
	    .right {
	    	margin-bottom: 18%;
	    }

	    &.one {
	    	.left .item h3 {
	    		margin-bottom: 10%;
	    	}
	    }
	}

	.home-why.about-us .top, .home-why.about-us .why-list {
		grid-template-columns: 1fr;
	}

	.aboutus-whylist {
		grid-template-columns: 1fr;
		padding: 30px;
	}

	// contact
	.contactus-form {
		grid-template-columns: 1fr;
		.left, .right {
			padding: 20px;
		}
	}

	// single 
	.single-page {
		main {
			grid-template-columns: 1fr;
			padding-bottom: 5%;
			margin-bottom: 10%;
		}

		.related-posts {
			font-size: 24px;
			.list {
				grid-template-columns: 1fr;
			}	
		}
	}

	// aside
	aside.aside-menu {
		display: none;
	}

	// request-quote-form
	.request-quote-form {
		grid-template-columns: 1fr;
		padding: 15px;
		margin-top: 30%;
		.top {
			grid-template-columns: 1fr;
		}

		.request-quote-main-form .main-requestaquote .grid-contact {
			grid-template-columns: 1fr;
		}

		.request-quote-main-form {
			padding: 10px;
		}
	}

	#search-train-calendar, #search-orders, #search-your-quote, .save-success {
		margin-top: 30%;
	}

	#get-your-quote {
		grid-template-columns: 1fr;
		.left {
			width: 100%;
		    clip-path: none;
		    padding: 0px 20px;
		    font-size: 20px;
		}

		.right {
			padding-right: 0px;
		}
	}

	#search-train-calendar main p.from-to span, #search-orders main p.from-to span, #search-your-quote main p.from-to span {
		font-size: 16px;
	}
}
