.redux-main .form-table-section-indented {
  width: 95%;
  margin-left: 5% !important;
}
.redux-main .form-table-section tr:first-of-type th:first-of-type {
  padding: 0px !important;
}
.redux-main h3 {
  margin-top: 10px;
}
.redux-main .form-table-section-indented > tbody > tr:first-child {
  display: none;
}
.redux-main .form-table-section-indented > tbody > tr:nth-last-child(2) {
  border-bottom: 0;
}