/**
* ECOMCX check Style
*
*By Nguyen Duy Hung
*/

	/*error*/
table.error
{
    width:260px;
    background-color: #f26251 ;
    color: #fff;
    text-align:center;
    margin-top:40px;
    margin-bottom:20px;
}
table.error tr td
{
    line-height: 27px;
}
/*tieude*/
table.info-table h2.tieude
{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 9px 0 0 0px;
    line-height: 1.3;
}
/*info-table*/
table.info-table
{
    border-collapse: collapse;
    width: 45vw;
    clear: both;
    font-size: 14px;
}
table.info-table td
{
   margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}
/*wrap-table*/
div.wrap-table
{
    overflow: scroll;
    width: 80vw;
    max-height: 60vh;
}
/*data-table*/
table.data-table {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: auto;
  text-align: left;
  border-collapse: collapse;
  margin:-10px 0px 20px 12px;
}
table.data-table td, table.data-table th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  min-width: 80px;
  max-width: 200px;
}
table.data-table tbody td {
  font-size: 13px;
}
table.data-table tr:nth-child(even) {
  background: #D0E4F5;
}
table.data-table thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.data-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.data-table thead th:first-child {
  border-left: none;
}
table.data-table td#xoa, table.data-table td#sua {
  min-width: 50px;
  text-align:center;
}
/*text-table*/
table.text-table
{
    margin-left:12px;    
    border-collapse: collapse;
    width: 60vw;
    clear: both;
    font-size: 14px;
    text-align:left;
}
table.text-table td
{
   margin-bottom: 9px;
    padding: 15px 30px 10px 10px ;
    line-height: 1.3;
    vertical-align: middle;
}

table.text-table td input
{
   width:250px;
}

table.text-table th
{
  min-width: 100px;
}
/*save-table*/
table.save-table
{
    border-collapse: collapse;
    width: auto;
    clear: both;
    font-size: 14px;
}
table.save-table td
{
   margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}