@charset "utf-8";

/*======================================
++ Root ++
++ Fonts ++
++ General Style ++
++ Loader++
++ Header ++
++ Navigation ++
++ Footer ++
++ Section ++
++ Portfolio ++
++ Contacts ++
++ Blog ++
++ 404 ++
++ Responsive ++
/*-------------Fonts---------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700,800|Teko:400,500,600,700&display=swap');
/*-------------General Style---------------------------------------*/

:root {
  --title-font: "Josefin Sans",sans-serif; 
  --body-font: 'Roboto', sans-serif;
  --style-font: 'Dancing Script', cursive;
  --body-text-color: #5e646a;
  --body-bg-color: #fff;
  --body-dark-bg-color: #081021;
  --body-md-dark-bg-color: #141c2d;
  --main-color: #F68338;
  --second-color: #081021;
  --title-color: #081021;  
  --link-color-light: #e2e2e2;
  --link-hover-color-light: #F68338;

}

html {
	overflow-x: hidden !important;
	height: 100%;
 
}
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	height: 100%;
	text-align: center;
	background: #292929;
	color: #000;
	font-family: 'Mukta', sans-serif;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
/* ---------Page preload--------------------------------------*/
.loader-wrap {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	overflow:hidden;
	z-index:100;
}
.loader-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	bottom:0;
	z-index:1;
    background: #292929;
}
.loader-inner {
	position:absolute;
	left:50%;
	top:50%;
	margin:-25px 0 0 -25px;
    transform: translateY(0);
	width: 50px;
	height: 50px;
	z-index:2;
}
.loader {
	float:left;
	width: 50px;
	height: 50px;
	border-left:10px solid #404040;
	animation: load8 1.1s infinite linear;
}
.loader , .loader:after {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page-load {
	position:fixed;
	top:0;
	left:70px;
	right:0;
	bottom:0;
	z-index:19;
	display:none;
	 -webkit-transform: translate3d(0,0,0);
}
.page-load_bg  , .page-load_bg2 {
	position:absolute;
	right:0;
	left:0;
	bottom:0;
	top:100%;
	z-index:3;
	overflow:hidden;
	background:#212121;
}
.page-load_bg2 {
	z-index:2;
}
.page-load_bg span{
	position:absolute;
	left:0;
	bottom:20%;
	width:100%;
	color:#fff;
	font-size:34px;
	z-index:20;
	opacity:0;
	font-weight:800;
    transform: translateY(150px);
	text-transform:uppercase;
	font-family: 'Teko', sans-serif;
	display:block; 
}
.page-load_bg span:before {
	content:'';
	position:absolute;
	left:50%;
	width:50px;
	height:2px;
	top:-20px;
	margin-left:-25px;
}
/*--------------Typography--------------------------------------*/
p {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #5e646a;
    text-align: left;
}
blockquote {
	float: left;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 15px solid #eee;
	position: relative;
}
blockquote:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f10e";
	position: absolute;
	color: #ccc;
	bottom: 3px;
	font-size: 43px;
	right: 6px;
	opacity: 0.4
}
blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #666;
}
.bold-title {
	margin: 15px 0;
	font-size: 24px;
	text-align: left;
	font-weight: 600;
}
/*--------------General--------------------------------------*/
#main {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 1;
}
.fl-wrap {
	float: left;
	width: 100%;
	position: relative;
}
.content {
	float: left;
	width: 100%;
	position: relative;
	background:#fff;
	z-index: 5;
	overflow:hidden;
}
.container {
	max-width: 1024px;
	width: 92%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
#wrapper {
	position: absolute;
	top: 0;
	left:80px;
	right: 0;
	bottom: 0;
	z-index: 3;
}
.content-holder {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.full-height {
	height:100%;
}
.respimg {
	width: 100%;
	height: auto;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: repeat;
	background-origin: content-box;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	z-index: 3;
}
.dark-bg , .dark-content  , .fcw-dec{
	background:#292929; 
}
.dark-bg:before {
	content:'';
	position:absolute;
	right:0;
	background:#383838;
	top:0;
	bottom:0;
	width:30%;
}
.bot-element    , .hiddec-anim  {
    transform: translateX(-50px);
    opacity: 0;
}
.fcw-title  , .sin-anim{
    transform: translateY(50px);
    opacity: 0;
}
.fixed-top-panel {
    transform: translateY(-150px);
}
.fcw-dec {
	position:absolute;
	left:0;
	right:0;
	height:100%;
	z-index:100;
	top:0;
}
.pr-bg , .pr-bg2 {
	background: #212121;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	overflow:hidden;
	z-index:100;
}
.pr-bg.pr-bg-white {
	background:#fff;
}
/*------btn------------------------------------------------*/
.btn {
	padding: 15px 35px;
    cursor: pointer;
    background: #292929;
    -webkit-appearance: none;
    position: relative;
    color: #fff;
    font-size: 10px;
	letter-spacing:1px;
	text-transform:uppercase;
    font-weight: 700;
	display:inline-block;
}
.btn:after {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:4px;
	height:100%;
	background:#292929;
}
.btn:before {
	content:'';
	position:absolute;
	right:15px;
	top:50%;
	width:0;
	height:1px;
	background:#fff;
}
.btn:before , .btn , .follow-wrap_title i , .btn:after  {
	transition: all 0.3s ease-in-out;
}
.btn:hover{
	padding-right:55px;
	color:rgba(255,255,255,0.71);
}
.btn:hover:before , .btn:hover:after {
	width:10px;
}
.fl-btn {
	float:left;
	margin-top:20px;
}
/* ------header------------------------------------------------------------ */
.main-header {
	position:fixed;
	top:0;
	left:0;
	width:80px;
	bottom:0;
	z-index:20;
	background:#292929;
 	-webkit-transform: translate3d(0,0,0);
}
.main-header:before {
	content:'';
	position:absolute;
	left:10px;
	width:60px;
	height:1px;
	bottom:180px;
	background:rgba(255,255,255,0.1)
}
.logo-holder {
	position:absolute;
	top:50px;
	left:15px;
	z-index:5
}
.logo-holder img {
	width:50px;
	height:50px;
}
.nav-button {
	width: 28px;
	height: 50px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: 200px;
}
.nav-button span {
	width: 100%;
	float: left;
	margin-bottom: 6px;
	height: 2px;
	background: #fff;
	position: relative;
	overflow:hidden;
	transition: all 0.2s ease-in-out;
}
.nav-button span:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:0;
	height:100%;
	background:#fff;
	transition: all 0.2s ease-in-out;
}
.nav-button:hover span:before {
	width:100%;
}
.nav-button .ncs {
	width: 70%;
}
.nav-button .nbs,
.nav-button.cmenu:hover .nbs {
	width: 100%;
}
.nav-button:hover .ncs,
.nav-button:hover .nbs {
	width: 100%;
}
.nav-button.cmenu .nos {
	transform: rotate(-45deg);
	margin-bottom: 0;
	top: 8.5px;
}
.nav-button.cmenu .ncs {
	transform: rotate(45deg);
	margin-bottom: 0;
	top: 7px;
	width: 100%;
}
.nav-button.cmenu .nbs  , .nav-button.cmenu:hover .nbs{
	width:0;
}
.nav-button:hover .menu-button-text {
	color: #fff;
}
.menu-button-text {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: -1px;
	color: rgba(255, 255, 255, 0.41);
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.nav-button.cmenu .menu-button-text {
	margin-top: 16px;
}
/*------ navigation  ------------------------------------------------*/
.nav-holder {
	position:fixed;
	left:-100%;
	width:800px;
	bottom:80px;
	top:80px;
	background: #212121;
	overflow: hidden;
	z-index:106;
}
.nav-holder-line {
	position:absolute;
	left:190px;
	top:0;
	bottom:0;
	width:1px;
	background:rgba(255,255,255,0.1)
}
.nav-holder-dec , .nav-holder , .nav-overlay  {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0) !important;
}
.nav-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    z-index:103;
    width: 100%;
    background: rgba(37, 36, 37, 0.71);
	display:none;
	overflow:hidden;
}
.nav-holder-dec {
	left:-100%;
	width:800px;
	bottom:80px;
	top:80px;
	z-index:105;
} 
.nav-scroll-bar-wrap {
	overflow:hidden;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:100px;
	padding:70px 40px 0 150px;
}
.logo_menu {
	padding:10px 0;
	position:relative;
	float:left;
	z-index:20;
	background:#212121;
	margin:0 0 60px  0;
}
.logo_menu img {
	width:auto;
	height:14px;
}
nav.nav-inner {
	float: left;
	overflow: hidden;
	width: 550px;
	position: relative;
}
.nav-container {
 	background: #212121;
	z-index: 20;
	padding:20px 0;
}
.sliding-menu ul {
	margin: 0;
	float: left;
	width: 100%;
	overflow: hidden;
}
.sliding-menu li {
	margin: 0;
	position: relative;
	float: left;
	width: 100%;
}
.sliding-menu a {
	float: left;
	padding: 0 0 0 20px;
	height: 40px;
	line-height: 40px;
	position: relative;
	font-weight: 600;
	font-size: 12px;
	text-align: left;
	color: rgba(255, 255, 255, 0.41);
	text-transform: uppercase;
	letter-spacing: 2px;
	z-index:2;
	width:100%;
}
.sliding-menu a:hover {
	color:#fff;
}
.sliding-menu li a:after {
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	width: 0;
	z-index:1;
	transition: all 300ms linear;
	height: 100%;
	background: rgba(255, 255, 255, 0.071);
}
.sliding-menu a.act-link:after {
	width: 50%;
}
.sliding-menu a i {
	float: left;
	width: 35px;
	color: #74829C;
	position: relative;
	top: 3px;
}
.sliding-menu a.back:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f104';
	color: #fff;
}
.submen-dec:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f067';
	position: absolute;
	right: 0;
	width: 10px;
	height: 10px;
	top: 14px;
	font-size:9px;
	color:rgba(255, 255, 255, 0.371);
	z-index: 20;
}
.share-wrapper {
	position:absolute;
	bottom:50px;
	left:170px;
	right:0;
    background: #212121;
	padding:10px 0;
	z-index:20;
}
.share-title {
	float:left;
	font-size:12px;
    color: rgba(255, 255, 255, 0.41);
	padding-right:10px;
	text-transform:uppercase;
    font-weight: 600;
	letter-spacing:2px;
	position:relative;
	top:8px;
}
.share-container {
	float:left;
}
.share-container  a {
	float:left;
	width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 300ms linear;
	margin-left:10px;
}
.share-wrapper:before {
	content:'';
	position:absolute;
	right:40px;
	bottom:-20px;
	width:60px;
	height:60px;
	border-right:1px solid rgba(255,255,255,0.1);
	border-bottom:1px solid rgba(255,255,255,0.1)
}
.folio-btn{
	position:absolute;
	right:0;
	width:100%;
	bottom:0;
	height:80px;
	background:#343434;
	border-top:1px solid rgba(255,255,255,0.1)
}
.folio-btn-tooltip {
	position:absolute;
	height:80px;
	line-height:80px;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
	top:20px;
	left:100%;
	width:190px;
	background:#292929;
	border-left:1px solid rgba(255,255,255,0.1);
	visibility:hidden;
	opacity:0;
	transition: all 300ms linear;
}
.folio-btn:hover .folio-btn-tooltip{
	opacity:1;
	visibility:visible;
	top:0;
} 
.folio-btn-item {
	position:absolute;
	left:20px;
	width:40px;
	height:40px;
	top:20px;
} 
.folio-btn-dot {
	float:left;
	width:33.3%;
	height:33.3%;
	position:relative;
}
.folio-btn-dot:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:4px;
	height:4px;
	margin:-2px 0 0 -2px;
	border-radius:50%;
	transition: all 300ms linear;
	transform: scale(1.0);
}
.folio-btn:hover .folio-btn-dot:first-child:before , .folio-btn:hover .folio-btn-dot:nth-child(3):before, .folio-btn:hover .folio-btn-dot:nth-child(4):before , .folio-btn:hover .folio-btn-dot:nth-child(8):before {
	 transform: scale(1.8);
	 opacity:0.5
}
.header-social {
	position:absolute;
	bottom:80px;
	width:100%;
	right:0;
	z-index:20;
	padding:20px 0;
	background:#383838;	
}
.header-social:before {
	content:'';
	position:absolute;
	left:50%;
	top:-3px;
	width:36px;
	margin-left:-18px;
	height:6px;
}
.header-social li {
	display:block;
	margin-top:6px;
}
.header-social li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
	display: inline-block;
	font-size:12px;
    color: rgba(255, 255, 255, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 300ms linear;
} 
/* ------fixed-column------------------------------------------------------------ */
.fixed-column-wrap {
    position: absolute;
    top: 0;
    left: 0   ;
    width:30%;
	height:100% ;
    background: #292929;
    z-index: 2;
    overflow: hidden;
}
.progress-bar-wrap {
	position:absolute;
	top:30px;
	left:30px;
	right:30px;
	height:20px;
	z-index:23;
}
.progress-bar-wrap:before {
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:1px;
	background:rgba(255,255,255,0.51);
	z-index:1;
}
.progress-bar {
    position:relative;
    height:5px;
    width:0%;
	z-index:2;
	top:8px;
}
.fixed-column-tilte {
	position:absolute;
	bottom:50px;
	left:0;
	right:0;
	z-index:21;
	font-family: 'Teko', sans-serif;
	font-weight:bold;
	font-size:64px;
	color:#fff;
	text-transform:uppercase;
}
.fixed-column-tilte span {
	position:relative;
	display:block;
}
.fixed-column-tilte:before {
	content:'';
	position:absolute;
	left:50%;
	width:50px;
	margin-left:-25px;
	height:4px;
	bottom:-6px;
}
.column-image-anim {
	position:absolute;
	left:0;
	right:100%;
	top:0;
	height:100%;
	z-index:20;
	background:#212121;
}
.column-wrap {
    float: right;
    width: 70%;
    position: relative;
}
.portf-wrap , .column-wrap  {
    min-height: 100vh;
} 
.bg-scroll {
    transition: all 200ms linear;
}
.bgscrl-anim {
	transform: scale(1.15);
    transition: all 10ms linear;
}
/* ------footer------------------------------------------------------------ */
.height-emulator {
	z-index:1;
}
.main-footer{
	position:fixed;
	bottom:0;
	left:80px;
	right:0;
	background: #262627;
	z-index:2;
	padding-top:90px;
	overflow:hidden;
}
.main-footer:before  , .main-footer:after{
	content:'';
	position:absolute;
	right:0;
	width:50%;
	bottom:0;
	top:90px;
	z-index:1;
	background: #313131;
}
.main-footer:after {
	background:#292929;
	right:inherit;
	left:0;
	top:inherit;
	height:110px;
	z-index:-3;
}
.footer-inner {
	padding:100px 70px 40px 70px;
	background: #313131;
	z-index:2;
}
.footer-inner:before {
	content:'';
	position:absolute;
	top:100px;
	bottom:100px;
	right:0;
	width:1px;
	background:rgba(255,255,255,0.1);
}
.footer-inner:after {
	content:'';
	position:absolute;
	width:40%;
	height:50%;
	left:-10px;
	top:-10px;
	z-index:-1;
	border-left:10px solid;
	border-top:10px solid;
}
.footer-box-item {
	margin-top:30px;
}
.to-top-btn {
	float:right;
	margin-right:90px;
	height:40px;
	line-height:40px;
	width:150px;
	color:#fff;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
	cursor:pointer;
	position:relative;
}
.to-top-btn:before {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	height:0;
	width:100%;
	background:#383838;
    transition: all 200ms linear;
	z-index:1;
}
.to-top-btn span {
	position:relative;
	z-index:2;
    transition: all 200ms linear;
}
.to-top-btn:hover:before {
	height:100%;
}
.footer-title {
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:left;
	padding-bottom:10px;
	border-bottom:1px solid rgba(255,255,255,0.1);
}
.footer-title  span {
	padding-right:12px;
}
#twitts-container img,
p.interact,
#twitts-container div.user {
	display: none;
}
#twitts-container {
	text-align: left;
}
#twitts-container a {
	color: #fff;
}
#twitts-container p.tweet {
	font-size: 11px;
	color: rgba(255, 255, 255, 0.71);
	float: left;
	padding: 10px 18px;
	background: rgba(255, 255, 255, 0.031);
	border-radius: 4px;
	overflow: hidden;
	font-weight: 400;
	margin-bottom: 10px;
	width:100%;
	box-shadow: 0px 0px 28px 1px rgba(51, 51, 51, 0.41);
}
#twitts-container ul li:hover p.tweet{
	background: rgba(255, 255, 255, 0.071);
}
#twitts-container ul li {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	padding-left: 12px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.151);
}
#twitts-container ul li:before {
	content: '';
	position: absolute;
	top: 45%;
	left: 0;
	height: 20px;
	margin-top: -20px;
	width:1px;
}
#twitts-container .timePosted a {
	color: rgba(255, 255, 255, 0.51);
	position: relative;
	float: left;
	margin-bottom: 10px;
	padding-left: 24px;
	font-weight: 500;
	font-size: 11px;
}
#twitts-container .timePosted a:hover {
	color: #fff;
}
#twitts-container .timePosted a:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f017";
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 300;
	opacity: 1;
	font-size: 12px;
}
#twitts-container .timePosted a:after {
	top: -10px;
	left: 22px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#twitts-container .timePosted a:after {
	border-color: transparent;
	border-top-color: rgba(255, 255, 255, 0.041);
	border-width: 7px;
	margin-left: 7px;
}
.subcribe-form {
	margin-top: 9px;
}
.subcribe-form input.enteremail {
	float: left;
	width: 65%;
	border: none;
	background: rgba(255, 255, 255, 0.11);
	padding: 15px 20px;
	position: relative;
	z-index: 1;
	color: #fff;
}
.subcribe-form input.enteremail::-webkit-input-placeholder {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
}
.subcribe-form .subscribe-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 35%;
	z-index: 2;
	padding: 17px 0;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size:10px;
    transition: all 200ms linear;
	text-transform:uppercase;
}
.subcribe-form .subscribe-button:hover {
	background:#292929;
}
.subcribe-form .subscribe-button i {
	padding-right: 10px;
}
.subscribe-message {
	margin-top: 10px;
	text-align: left;
	color: #fff;
	float:left;
	width:100%;
}
.footer-box-item p {
	text-align:left;
	color: rgba(255, 255, 255, 0.71);
}
.footer-contacts {
	margin-top: 15px;
}
.footer-contacts li {
	float: left;
	width: 100%;
	padding: 8px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: 600;
}
.footer-contacts li a {
	float: left;
	text-align: left;
	color: #fff;
}
.footer-contacts li span {
	float: left;
	text-align: left;
	color: #999;
	padding-right: 12px;
}
.footer-contacts li:hover span {
	color: #fff;
}
.footer-contacts li i {
	float: left;
	padding-right: 12px;
	position: relative;
	top: 2px;
}
.subfooter {
	padding:25px 0;
	background:#292929;
}
.subfooter:before {
	content:'';
	position:absolute;
	right:-50px;
	height:1px;
	width:100px;
	top:50%;
	background:rgba(255,255,255,0.2)
}
.policy-box {
    float: left;
	color: rgba(255, 255, 255, 0.41);
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
	position:relative;
	top:15px;
}
.footer-canvas {
	position:absolute;
	overflow:hidden;
	left:10px;
	width:40%;
	bottom:150px;
	top:30%;
	z-index:-1;
	opacity:0.8;
}
.dots {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ------hero------------------------------------------------------------ */
.hero-wrap , .fs-slider-wrap {
	background:#292929;
	z-index:25;
}
.fs-slider .box-media-zoom , .grid-carousel .box-media-zoom {
	top:10px;
	margin-right:10px;
}
.grid-carousel .box-media-zoom  {
	margin-right:0;
}
.hero-border {
	position:absolute;
	background:#292929;
	z-index:4;
}
.hb-top {
	left:0;
	top:0;
	width:100%;
	height:10px;
}
.hero-dec {
	position:absolute;
	left:20%;
	bottom:0;
	width:30%;
	height:80%;
	background: rgba(51,51,51,0.8);
	z-index:1;
}
.hero-slider {
	z-index:2;
}
.hb-bottom {
	bottom:0;
	height:10px;
	width:100%;
	left:0;
}
.hb-right {
	height:100%;
	width:10px;
	top:0;
	right:0;
}
.hero-corner {
    top: 50px;
    right: 50px;
    z-index: 21;
    border-top: 1px solid;
    border-right: 1px solid;
}
.hero-corner2 {
    top: 50px;
    left: 50px;
    border-top: 1px solid;
    border-left: 1px solid;
}
.hero-corner3 {
    bottom: 50px;
    right: 50px;
    border-bottom: 1px solid;
    border-right: 1px solid;
}
.hero-corner , .hero-corner2 , .hero-corner3   {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 21;
    border-color: rgba(255,255,255,0.3);
}
.hero-slider-wrap_halftwo {
	position:absolute;
	right:0;
	left:0;
	height:100%;
	bottom:0;
	z-index:2;
}
.hero-slider-wrap {
	z-index:3;
}
.half-hero-wrap {
    position: absolute;
    left: 15%;
    z-index: 10;
    top: 29%;
}
.half-hero-wrap h1:before {
	content:'';
	position:absolute;
	left:70px;
	top:-50px;
	height:2px;
	width:50px;
}
.half-hero-wrap h1 {
    color: #fff; 
	font-family: 'Teko', sans-serif;
	text-transform:uppercase;
    font-size: 65px;
    text-align: left;
    font-weight: 900;
    line-height: 70px;
    padding-bottom: 20px;
    position: relative;
}
.half-hero-wrap h4 {
    text-align: left;
    font-size: 14px;
    float: left;
	max-width:550px;
    color: rgba(255, 255, 255, 0.71);
    font-weight: 400;
}
.rotate_text {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
	text-transform:uppercase;
    position: absolute;
    left: -40px;
	top:-23px;
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateY(-20px) translateX(calc(-100% - 40px));
}
.carousel-title-wrap{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:40px 50px 40px;
	z-index:2;
	z-index:20;
}
.carousel-title-wrap h2 {
	text-align:left;
	font-size:25px;
	text-transform:uppercase;
	letter-spacing:2px;
	float:left;
	width:100%;
	padding-bottom:4px;
	font-weight:700;
	font-family: 'Teko', sans-serif;
}
.carousel-title-wrap h2 a {
	color:rgba(255,255,255,1);
}
.carousel-title-wrap h2 a i {
	padding-left:18px;
    transition: all 100ms 2inear;
}
.carousel-title-wrap p {
	color:rgba(255,255,255,0.71);
}
.carousel-title-wrap h2 a:hover i {
	padding-left:25px;
}
.carousel-item_number {
	position:absolute;
	top:50px;
	left:30px;
	z-index:20;
	color:#fff;
	font-weight:400;
	font-size:16px;
}
.grid-carousel .bg {
	transition: all .5s ease-in-out;
	transform: scale(1.0);
}
.bg.hov-rot {
	transform: scale(1.2);
}
.impulse-wrap {
	background:#232323;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	-webkit-perspective: 1000;
}
.impulse-wrap .section-entry{
	top:-30px;
    transform: translateZ(40px);
} 
.mm-parallax {
	position:absolute;
	top:100px;
	left:100px;
	right:100px;
	bottom:100px;
	z-index:20;
	transform-style: preserve-3d;
}
.impulse-wrap:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.impulse-wrap .bg , .impulse-wrap .overlay {
	box-shadow: 0 20px 25px 0 rgba(18,17,30,.35);
}
.hero-wrap-item {
	top:45%;
}
.section-entry h1:before {
	content:'';
	position:absolute;
	width:50px;
	height:1px;
	top:-20px;
	left:50%;
	margin-left:-25px;
	z-index:20;
}
.section-entry h1 {
	position:relative;
	font-size:56px;
	font-weight:bold;
	font-family: 'Teko', sans-serif;
	color:#fff;
	text-transform:uppercase;
}
.section-entry h3 {
	color:#fff;
	font-size:18px;
	font-weight:800;
	margin-bottom:20px;
}
.scroll-down-wrap.sdw_hero {
	left:60px;
}
.swiper-container {width:100%;height:100%;margin:0 auto;}  .slider-wrap .swiper-slide , .center-carousel .swiper-slide , .fs-gallery-wrap .swiper-slide , .portfolio-wrap .swiper-slide{   position:relative; width: auto;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.slider-wrap  , .portfolio-wrap  , .hero-slider-img .swiper-slide {
	float:left;
	width:100%;
	height:100%;
	position:relative;
}
.slider-wrap.homecarousel , .center-carousel{
	height:100%;
}
.slider-wrap.homecarousel .swiper-slide{
	padding:0 0 0 0;
}
.slider-wrap.homecarousel.hompad  .swiper-container , .portfolio-wrap.hompad .swiper-container{
	padding-right:20px;
}
.slider-wrap .swiper-slide img , .fw-carousel  .swiper-slide img   {
	width: auto!important;
	height:100% !important;
	position:relative;
	z-index:1;
}
.slider-wrap .swiper-slide   , .fw-carousel  .swiper-slide    {
 	width: auto!important;
	height:100% !important;
	display:inherit !important;
}
.show-case-slider-wrap {
    height: 600px;
	background:#383838;
	padding:20px;
}
.fw-carousel_pagination-wrap {
	position:absolute;
	bottom:-36px;
	left:0;
	width:100%;
	z-index:100
}
.ss-slider-controls {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:100;
	border-radius:4px 4px 0 0;
}
.ss-slider-pagination{
    padding: 10px 50px 12px;
    border-radius: 0 0 4px 4px;
    background: #383838;
	position:relative;
	display:inline-block;
}
.fw-carousel_pagination {
	float:left;
    padding: 10px 50px 12px;
    border-radius: 0 0 4px 4px;
    background: #383838;
	position:relative;
}
.fw-carousel_pagination:before {
	content:'';
	position:absolute;
	left:50%;
	margin-left:-50px;
	top:4px;
	width:100px;
	height:1px;
	background:rgba(255,255,255,0.2);
}
.fw-carousel_pagination .swiper-pagination-bullet , .ss-slider-pagination .swiper-pagination-bullet{
    width:6px;
    background: none;
    position: relative;
    height: 6px;
    opacity: 1;
	margin:0 6px;
}
.slide-numb {
	position:absolute;
	bottom:20px;
	left:20px;
	font-weight:500;
	color:#fff;
	font-size:16px;
	z-index:10;
}
.show-info {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80%;
	z-index: 15;
}
.show-info span {
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
	cursor: pointer;
	letter-spacing: 2px;
	float: right;
	font-weight: 600;
	position:relative;
	top:-24px;
	right:30px;
}
.tooltip-info {
	height: auto;
	line-height: 20px;
	padding: 15px 30px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	text-indent: 0px;
	position: absolute;
	background: #383838;
	bottom: 0;
	opacity: 0;
	right: 0;
	margin-bottom: 52px;
	visibility: hidden;
	pointer-events: none;
	text-align: left;
	z-index: 16;
	transition: all 300ms linear;
}
.tooltip-info p {
	font-size: 12px;
	color: #888;
 
}
.tooltip-info h5 {
	font-size: 16px;
	margin-top: 12px;
	padding: 5px 0;
	position: relative;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	color: #fff;
}
.show-info:hover .tooltip-info {
	visibility: visible;
	opacity: 1;
	bottom: 0;
}
.fcb  , .ss-slider-cont{
	position:absolute;
	z-index:20;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:4px;
	background:#292929;
	top:50%;
	font-size:14px;
	margin-top:-18px;
	cursor:pointer;
}
.fw-carousel-button-prev , .ss-slider-cont-prev {
	left:50px;
}
.fw-carousel-button-next , .ss-slider-cont-next {
	right:50px;
}
.fcb:hover  , .ss-slider-cont:hover {
	color:#fff;
}
.option-panel {
	position:absolute;
	bottom:0;
	left:0;
	z-index:10;
	background:#292929;
	width:30%;
	height:80px;
	overflow:hidden;
}
.option-panel:before {
	content:'';
	position:absolute;
	width:30%;
	left:20px;
	top:20px;
	bottom:20px;
	z-index:-1;
	background:rgba(255, 255, 255, 0.04);
}
.swiper-counter {
	position: relative;
	font-size:16px;
	font-weight: 700;
	font-size: 12px;
	color: #999;
	float:left;
	width:100%;
}
.swiper-counter div {
	position:absolute;
	top:20px;
	width:32px;
	height:32px;
	line-height:32px;
}
.swiper-counter div#current {
	right:40px;
}
.swiper-counter div#total {
	right:10px;
}
.swiper-counter div#total:before {
	content:'';
	position:absolute;
	left:-3px;
	width:6px;
	height:1px;
	top:50%;
	background:rgba(255,255,255,0.41);
}
.slide-progress-container {
	position:absolute;
	height:1px;
	z-index:3;
	bottom:40px;
	right:100px;
	left:40px;
}
.slide-progress-warp {
	float:left;
	position:relative;
	height:1px;
	background:rgba(255,255,255,0.41);
	z-index:10;
	bottom:0;
	width:100%;
}
.slide-progress-warp.grid-carousel-progress {
	position:absolute;
	left:20%;
	right:25%;
	width:inherit;
	top:50%;
	bottom:inherit;
}
.slide-progress {
	position:absolute;
	top:50%;
	left:0;
	height:1px;
	border-radius:6px;
	margin-top:-1px;
	width:0;
	max-width:100%;
}
.hero-slider-wrap_pagination {
	position:absolute;
	top:35%;
	right:10px;
	width:50px;
	padding:70px 0;
	background: #292929;
	z-index:100;
	border-radius:10px 0 0 10px;
}
.hero-slider-wrap_pagination .swiper-pagination-bullet {
	width:100%;
	background:none;
	position:relative;
	height:6px;
	opacity:1;
}
.hero-slider-wrap_pagination .swiper-pagination-bullet:last-child {
	margin-bottom:0;
}
.hero-slider-wrap_pagination .swiper-pagination-bullet:before , .fw-carousel_pagination .swiper-pagination-bullet:before , .ss-slider-pagination .swiper-pagination-bullet:before{
	content:'';
	position:absolute;
	left:50%;
	top:0;
	height:100%;
	width:6px;
	border-radius:100%;
	background:#fff;
	margin-left:-3px;
}
.hero-slider-wrap_pagination .swiper-pagination-bullet:after  , .fw-carousel_pagination .swiper-pagination-bullet:after ,   .ss-slider-pagination .swiper-pagination-bullet:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:12px;
	height:12px;
	margin:-6px 0 0 -6px;
	box-sizing:border-box;
	border:1px solid rgba(255,255,255,0.4);
	border-radius:100%;
    transition: all 200ms linear;
    transform :scale(0.0);
}
.hero-slider-wrap_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after , .fw-carousel_pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after  , .ss-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after{
    transform :scale(1.6);
}
.hero-slider_control-wrap {
	position:absolute;
	right:20px;
	bottom:20px;
	z-index:20;
}
.hsc {
	float:left;
	width:40px;
	height:40px;
	line-height:40px;
	color:#fff;
	font-size:34px;
	cursor:pointer;
}
.hsc:hover {
	color:#fff;
}
.scroll-down-wrap {
	position:absolute;
	bottom:30px;
	left:35%;
	z-index:100
}
.scroll-down-wrap.scdw2 {
	left:15%;
}
.scroll-down-wrap span {
	float: left;
	margin-left: 20px;
	position: relative;
	top: 8px;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing:1px;
	color:  rgba(255,255,255,0.7);
}
.scroll-down-wrap span:before {
	content:'';
	position:absolute;
	left:0;
	right:70%;
	bottom:-5px;
	height:1px;
	background: rgba(255,255,255,0.7);
}
.scroll-down-wrap.transparent_sdw span:before {
	background:#fff;
}
.mousey {
	float: left;
	width: 20px;
	height: 30px;
	border-radius: 4px;
	padding: 0 6px;
	border: 2px solid #fff;
	box-sizing: border-box;
}
.scroll-down-wrap.transparent_sdw .mousey {
	border-color:#fff;
}
.scroller {
	position: relative;
	left: 50%;
	top: 6px;
	margin-left: -1px;
	width: 2px;
	height: 6px;
	background:#fff;
	border-radius: 25%;
	animation-name: scroll;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}
.scroll-down-wrap.transparent_sdw .scroller {
	background:rgba(255,255,255, 0.4);
}
@keyframes scroll {
	0% {
		opacity: 0;
	}
	10% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(10px);
		opacity: 0;
	}
}
.scroller2 {
	top:50%;
	margin-top:-3px;
	animation-name: scroll2;
	animation-duration: 2.2s;
	animation-timing-function: cubic-bezier(.15, .41, .69, .94);
	animation-iteration-count: infinite;
}
@keyframes scroll2 {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/* ------section------------------------------------------------------------ */
section {
	padding:70px 0;
	position:relative;
	float:left;
	width:100%;
}
.no-bottom-padding {
	padding-bottom:0;
}
.hidden-section {
	overflow:hidden;
}
.header-section {
	padding:150px 0 0;
}
.bg.par-elem {
	height: 120%;
	top: 0;
}
.single-page-title {
	padding:50px 0  90px 0;
	z-index:20;
}
.single-page-title h1 {
	text-align:left;
	font-size:56px;
	font-weight:bold;
	font-family: 'Teko', sans-serif;
	color:#fff;
	position:relative;
}
.section-title p , .single-page-title p {
	float: left;
    width: 100%;
    padding-top: 10px;
    color: #999;
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 22px;
    position: relative;
    z-index: 2;
	max-width:450px;
}
.single-page-title p {
	color:rgba(255,255,255,0.7);
}
.bg.par-elem {
	height:110%;
	top:-5%;
}
.header-section .hero-corner {
	right:0;
	top:-50px;
}
.header-section:before {
    content: '';
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
	width:30%;
	background:rgba(255,255,255,0.2);
    z-index: 3;
}
.header-section .scroll-down-wrap {
	left:0;
}
.section-title {
	margin-bottom:40px;
	padding-top:30px;
	padding-bottom:20px;
}
.section-title:before , .single-page-title:before {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 2px;
    width: 30px;
}
.section-title:after {
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:60%;
	height:1px;
	background:#eee;
}
.section-title h3 , .small-section-title h3{
	font-size: 36px;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    float: left;
    width: 100%;
    letter-spacing: 2px;
    padding-bottom: 10px;
    line-height: 34px;
	position:relative;
}
.small-section-title h3 {
	font-size: 16px;
}
.section-title h3:before {
	content:'';
	position:absolute;
	left:-90px;
	top:-10px;
	width:150px;
	bottom:4px;
	z-index:-1;
	background:#f2f2f2;
}
.sec-lines {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 1;
}
.sec-lines .container {
	z-index:4;
} 
.line-item {
	float: left;
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid rgba(153, 153, 153, 0.1);
	height: 100%;
	position: relative;
}
.line-item:first-child {
	border-left: 1px solid rgba(153, 153, 153, 0.1);
}
.sec-lines .container {
	width:100%;
}
.dec-list {
	margin-top:20px;
}
.dec-list li {
	display:block;
	text-align:left;
	position:relative;
	padding-left:30px;
	margin-bottom:13px;
	color:#666;
	font-weight:400;
}
.dec-list li:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f178";
	position:absolute;
	left:0;
	top:4px;
}
.sec-number {
	position:absolute;
	top:0;
	right:0;
	color:  #F7F7F7;
	font-family: 'Teko', sans-serif;
	font-size:124px;
	font-weight:bold;
}
.page-scroll-nav , .fixed-top-panel {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.28);
	background:#232323;
 	-webkit-transform: translate3d(0,0,0);
}
.fixed-top-panel .scroll-down-wrap {
	float:left;
	position:relative;
	bottom:0;
	left:0;
	background:#383838;
	padding:25px 34px; 
}
.back-to-home-btn {
	float: right;
    padding-left: 90px;
	margin-right:60px;
    position: relative;
    font-size: 10px;
    text-align: left;
    color: rgba(255, 255, 255, 0.41);
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 32px;
 
}
.back-to-home-btn:before , .back-to-home-btn span , .back-to-home-btn:after {
    transition: all 300ms linear;
}
.back-to-home-btn:hover {
	color:#fff;
}
.back-to-home-btn span {
	position:relative;
	z-index:3;
}
.back-to-home-btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 1px;
	z-index:2
}
.back-to-home-btn:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -70px;
    bottom: -15px;
    width: 190px;
    background: #383838;
	z-index:1;
}
.back-to-home-btn:hover:after {
	width:270px;
}
.back-to-home-btn:hover:before {
	width:30px;
}
.fixed-top-panel .scroll-down-wrap:before {
    content: '';
    position: absolute;
    right: -3px;
    width: 6px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
}
.filter-panel {
	padding:2px 0 0 2px;
}
.page-scroll-nav:after {
	content:'';
	position:absolute;
	right:177px;
	width:6px;
	height:36px;
	top:50%;
	margin-top:-18px;
}
.page-scroll-nav:before {
	content:'';
	position:absolute;
	right:0;
	width:180px;
	height:100%;
	top:0;
	background:#383838;
}
.page-scroll-nav li {
	float:left;
	margin-left:20px;
	height:78px;
	line-height:78px;
	padding-left:40px;
}
.page-scroll-nav ul {
	margin-left:50px;
}
.page-scroll-nav li a:before {
	content:'';
	position:absolute;
	left:-40px;
	top:50%;
	margin-top:-2px;
	width:12px;
	height:3px;
	background:rgba(255,255,255,0.4);
}
.page-scroll-nav li a {
	color:#fff;
	position:relative;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:2px;
	color: #8B8B8B;
}
.arrowpagenav {
	position:absolute;
	right:50px;
	width:80px;
	height:40px;
	top:50%;
	margin-top:-20px;
}
.arrowpagenav:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    left: 32%;
    top: 50%;
    z-index: 2;
    transform: rotate(-45deg);
}
.arrowpagenav a  {
	width:40px;
	height:40px;
	float:left;
	line-height:40px;
	font-size:12px;
	font-weight:100;
	color:#fff;
	position:relative;
	text-align:center;
}
.arrowpagenav  a:before {
	font-family: Font Awesome\ 5 Pro;
}
.arrowpagenav a.cts-down:before {
	content: "\f078";
}
.arrowpagenav a.cts-down {
	top:8px;
}
.arrowpagenav a.cts-up {
	top:-8px;
}
.arrowpagenav a.cts-up:before {
	content: "\f077";
}
.cts-dot  , .cts-text{
	display:none;
}
.main-about {
	padding-left:30px;
}
.main-about h2 {
	text-align: left;
	font-weight: 700;
	font-size: 30px;
	line-height:30px;
	color: #393939;
	padding-bottom: 30px;
	position: relative;
}
.main-about h2 span {
	color: #666;
}
.main-about h2:before {
	content: '';
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 50px;
	height: 2px;
}
.main-about h2 a {
	color: #999;
}
.main-about p,
.main-about h5 {
	text-align: left;
}
.main-about h5 {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    color: #999;
	line-height:16px;
    position: relative;
	padding-bottom: 16px;
}
.dec-img img {
	position:relative;
	z-index:2;
}
.dec-img:before {
	content:'';
	position:absolute;
	bottom:-10px;
	left:-10px;
	width:50%;
	height:50%;
	z-index:1;
}
.col-wc_dec {
    position: absolute;
    left: 0;
    width: 70%;
    height: 350px;
    background: #f8f8f8;
    top: 0;
    z-index: 1;
}
.col-wc_dec.col-wc_dec2 {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 350px;
}
.col-wc_dec.col-wc_dec3 {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 300px;
	width: 50%;
}
.dec-img:after {
	content:'';
	position:absolute;
	top:-20px;
	left:-20px;
	width:50px;
	height:50px;
	border-left:1px solid  rgba(255,255,255,0.5);
	border-top:1px solid rgba(255,255,255,0.5);
}
/* ------facts------------------------------------------------------------ */
.facts-holder:before  {
	content:'';
	position:absolute;
	left:60%;
	right:0;
	top:0;
	height:100%;
    background: rgba(255, 255, 255, 0.04);
}
.inline-facts-wrap {
	float: left;
	width:25%;
	position: relative;
	text-align: center;
	margin-bottom:25px;
}
.inline-facts-wrap .num {
	font-size: 30px;
	font-weight: 800;
	color: #fff;
	position:relative;
}
.inline-facts-wrap h6 {
	position: relative;
	margin-top: 12px;
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-left:20px;
}
.inline-facts-wrap h6:before , .inline-facts-wrap h6:last-child:after {
	content:'';
	position:absolute;
	left:0;
	width:1px;
	height:20px;
	top:50%;
	margin-top:-10px;
	background:rgba(255,255,255,0.2);
}
.inline-facts-wrap h6:last-child:after {
	left:inherit;
	right:0;
}
.no-padding {
	padding:0;
}
.half-bg  {
	position:absolute;
	left:0;
	width:50%;
	top:0;
	bottom:0;
	overflow:hidden; 
}
.half-bg-container {
	float:right;
	width:50%;
	padding:100px 80px;
}
.half-bg-container:before {
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:20%;
	height:30%;
	background:rgba(255,255,255,0.05)
}
.section-separator   {
	max-width: 1024px;
	width: 92%;
	margin: 0 auto;
	position: relative;
	z-index:50;
}
.section-separator span {
	height:1px;
	background:#eee;
} 
.section-separator span:after  {
	content: ' ';
	position: absolute;
	bottom: 0;
	right:0;
	width:50px;
	height:1px;
}
.video-box {
	-webkit-transform: translate3d(0, 0, 0);
} 
.video-box-btn {
	position:absolute;
	width:80px;
	height:80px;
	line-height:80px;
	margin:-40px 0 0 -40px;
	background: #2D2D32;
	z-index:20;
	left:50%;
	top:50%;
	box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
	border-radius:100%;
    transition: all 300ms linear;
	z-index:20;
}
.video-box-btn:hover   {
	box-shadow: 0px 0px 0px 17px rgba(255,255,255,0.2);
}
.video-promo-text {
	padding-left: 50px;
	margin-top: 50px;
}
.video-promo-text h3 {
	float: left;
	width: 100%;
	text-align: left;
	position: relative;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	padding-bottom: 20px;
	margin-bottom: 10px;
	text-align:left;
}
.video-promo-text h3:before {
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	width: 30px;
	height: 2px;
}
.video-promo-text p {
	text-align: left;
	color: #fff;
}
.pr-list {
	float:left;
	width:100%;
	padding:30px 45px;
	margin-bottom:20px;
	background:#292929;
}
.pr-list li {
	float:left;
	width:100%;
	padding:10px 0;
	text-align:left;
	color: rgba(255, 255, 255, 0.41);
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 0;
	font-size:10px;
}
.pr-list li span {
	float: left;
    padding-right: 10px;
    color: #999;
}
.process-wrap {
	z-index:1;
} 
.process-wrap li {
	float: left;
	width: 33.3%;
	position: relative;
	padding: 15px 20px 35px 0;
}
.process-wrap li .process-details  {
	text-align: left;
	float: left;
	width: 100%;
	padding: 25px 20px 30px 20px;
	background: #f9f9f9;
	border:1px solid #eee;
	position: relative;
}
.serv-wrap .process-details ul li {
	margin-top: 10px;
	margin-right: 10px;
}
.process-wrap li h4  {
	float: left;
	text-align: left;
	font-weight: 600;
	font-size: 18px;
	position: relative;
	color: #666;
	margin-bottom: 36px;
	padding-left: 80px;
	text-transform:uppercase;
	font-family: 'Teko', sans-serif;
}
.process-wrap li .process-details h6  {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color:#666;
	text-align: left;
	padding-bottom: 20px;
}
.process-wrap li h4:before {
	content: '';
	position: absolute;
	left: 50%;
	right: -80px;
	bottom: -4px;
	top: -8px;
	background:#fff;
	z-index: -1;
}
.process-wrap li .time-line-icon  {
	position: absolute;
	top: 0;
	left: 5px;
	color:#292929;
	font-size:38px;
}
.process-wrap li:before {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 110px;
	right: 20%;
	border-bottom: 1px dotted #ccc;
}
.process-wrap li:after {
	font-family: Font Awesome\ 5 Pro;
	content: '\f101';
	position: absolute;
	bottom: 2px;
	right: 40px;
	color: #999;
	font-size: 14px;
}
.process-wrap li:last-child:after {
	content: '\f00c';
}
.process-numder {
	position: absolute;
	bottom: -20px;
	left: 20px;
	z-index: 11;
	color:  #ccc;
	font-size: 60px;
 	font-family: 'Teko', sans-serif;
	font-weight: bold;
}
/* --------- 3d cards  --------------------------------------*/
.srv-link-text {
	margin-top:80px;
}
.srv-link-text h4 {
	float: left;
	text-align: left;
    font-weight: 600;
    font-size: 18px;
    color: #666;
	position: relative;
	top: 10px;
}
.srv-link-text btn {
	top:10px;
}
.content-inner {
	width:100%;
	color: #fff;
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
	backface-visibility: hidden;
	transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.content-inner > * {
	backface-visibility: hidden;
	transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.content-inner:hover .content-front {
	transform: rotateY(-180deg);
}
.content-inner:hover .content-back {
	transform: rotateY(0deg);
}
.content-inner .content-front,
.content-inner .content-back {
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
	backface-visibility: hidden;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-front {
	background: #292929;
	position:relative;
}
.cf-inner:before {
	top:20px;
	left:20px;
	border-left:1px solid;
	border-top:1px solid;
}
.cf-inner:after {
	bottom:20px;
	right:20px;
	border-right:1px solid;
	border-bottom:1px solid;
}
 .cf-inner:before ,  .cf-inner:after {
	content:'';
	position:absolute;
	width:50px;
	height:50px;
	border-color:rgba(255,255,255, 0.4);
	z-index:10;
}
.content-inner .content-back {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	transform: rotateY(180deg);
	background: #292929;
}
.content-inner .cf-inner {
	transform-style: preserve-3d;
	backface-visibility: hidden;
	width:100%;
	padding:150px 20px;
}
.content-inner .cf-inner .inner {
	align-items: stretch;
	transform-style: preserve-3d;
	perspective: 1000px;
	backface-visibility: hidden;
	transform: translateZ(95px) scale(0.81);
	text-align: center;
	position:relative;
	z-index:2;
} 
.content-back i {
	font-size:54px;
	position:relative;
}
.dec-icon {
	position:relative;
	display:inline-table;
	width:80px;
	height:80px;
}
.dec-icon:before , .dec-icon:after {
	content:'';
	position:absolute;
	width:60px;
	height:10px;
	border-radius:10px;
	background:rgba(255,255,255,0.1);
}
.dec-icon:before {
	left:-15px;
	top:12px;
}
.dec-icon:after  {
	right:-15px;
	bottom:12px;
}
.dec-icon i {
	z-index:3;
}
.content-back .dec-icon {
	top:-20px;
}
.content-inner .cf-inner .inner p {
	color:#fff;
}
.content-inner .cf-inner .inner h2  {
	position:relative;
	font-size:22px;
	font-weight:800;
	padding-bottom:20px;
}
 .content-inner .cf-inner .inner h3 {
	position:relative;
	font-size:16px;
	font-weight:400;
	padding-bottom:10px;
}
.content-inner .content-front li{
	display:inline-block;
	color:#fff;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:2px;
	margin:0 4px;
}
.content-inner .cf-inner .inner h2:before {
	content:'';
	position:absolute;
	left:50%;
	bottom:10px;
	width:20px;
	height:2px;
	margin-left:-10px;
}
.serv-price-wrap {
	background:rgba(255,255,255,0.05);
	padding:15px 30px;
	margin-top:14px;
    font-size: 11px;
    text-transform: uppercase;
	letter-spacing:2px;
}
.serv-price-wrap  span {
   	color: rgba(255, 255, 255, 0.81);
	padding-right:15px;
	margin-right:15px;
	position:relative;
}
.serv-price-wrap  span:before {
	content:'';
	position:absolute;
	top:0;
	right:0;
	width:1px;
	height:30px;
	top:50%;
	margin-top:-15px;
	background:rgba(255,255,255,0.21)
}
/*------ testimonilas------------------------------------------------*/
.testimonilas-carousel-wrap {
	z-index:10;
}
.testi-item {
    transition: all .3s ease-in-out;
	transition-delay: 0.1s;
	background: rgba(255,255,255,0.7);
}
.testimonilas-text {
	padding: 75px 30px 75px;
    overflow: hidden;
    background: #fff;
	border:1px solid #eee;
	border-radius:4px;
    transition: all .3s ease-in-out;
}
 .testimonilas-text:after {
    font-family: Font Awesome\ 5 Pro;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    color: #ccc;
    opacity: .3;
    font-size: 24px;
}
.testimonilas-text:after {
    content: "\f10e";
    bottom: 20px;
    right: 25px;
}
.testimonilas-text  h3 {
	font-weight: 600;
    color: #7d93b2;
	font-size:14px;
	text-align:left;
	position:relative;
	margin-top:-50px;
	padding-bottom:20px;
	padding-left:100px;
	top:-4px;  
}
.testimonilas-carousel .swiper-slide{
	padding:30px 0;
}
.testi-avatar {
	position:absolute;
	left:40px;
	top:-30px;
	width:80px;
	height:80px;
    transition: all 400ms linear;
	z-index:20;
    transform :scale(0.8);
}
.testi-avatar img {
	width:80px;
	height:80px;
	float:left;
	border-radius:100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}
.swiper-slide-active .testi-avatar {
    transform :scale(1.0);
}
.testi-number{
	position:absolute;
	right:30px;
	top:20px;
    color: #ccc;
    opacity: .2;
    font-size: 28px;
	z-index:20;
	font-weight:800;
	font-family: 'Teko', sans-serif;
}
.swiper-slide-active .testimonilas-text  {
     background: #f9f9f9	 
}
.testimonilas-text p{
    color: #878C9F;
	font-size: 12px;
    font-style: italic;
	line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
	text-align:left;
}
.testi-link {
	position:absolute;
	bottom:0;
    padding: 10px 0;
    border-radius:4px 4px 0 0;
    background: #f9f9f9;
    border: 1px solid #eee;
	border-bottom:none;
	left:50px;
	width:170px;
	text-transform:uppercase;
	font-size:10px;
	color:#666;
	letter-spacing:1px;
	font-weight:500;
}
.swiper-slide-active .testi-item {
	opacity:1;
    transform :scale(1.0);
	background:#fff;
}
.swiper-slide-active .testi-link {
	background:#fff;
	border-color:#eee;
}
.tc-pagination  {
	float:left;
	margin-top:10px;
	width:100% !important;
}
.tc-pagination_wrap {
	position:absolute;
	bottom:-40px;
	left:0;
	width:100%;
}
.tc-pagination   .swiper-pagination-bullet , .tc-pagination2   .swiper-pagination-bullet {
	opacity:1;
	background:#ccc;
	margin:0 2px;
	width:10px;
	height:10px;
    transition: all 300ms ease-out;
}
.tcb-wrap {
	float:right;
}
.tcb {
	float:left;
	margin-left:10px;
	width:36px;
	height:36px;
	line-height:36px;
	cursor:pointer;
	background:#292929;
	border-radius:4px;
}
.tcb:hover {
	color:#fff;
}
.client-list li {
	float: left;
	width: 20%;
	position: relative;
	overflow: hidden;
	padding: 2px;
	margin: 0;
}
.client-list li a {
	float: left;
	width: 100%;
	padding: 40px 50px;
	transition: all 400ms linear;
}
.client-list-white {
	float: left;
	width: 100%;
}
.client-list-white li a {
	backgrou nd: #f9f9f9;
}
.client-list-white li a:hover {
	background: #fff;
}
.client-list li img {
	width: 100%;
	height: auto;
}
/* --------- Skills --------------------------------------*/
.skillbar-box {
	float:left;
	width:100%;
	position:relative;
}
.skillbar-bg {
	position:relative;
	display:block;
	float:left;
	width:100%;
	height:10px;
	overflow:hidden;
	background: #292929;
	margin:14px 0;
}
.custom-skillbar-title span {
	float:left;
    color: #999;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
	margin-top:6px;
}
.custom-skillbar {
	height:10px;
	width:0px;
}
.skill-bar-percent {
	float:right;
	font-size:14px;
	font-weight:400;
	color:#666
}
/*------ Skills ------------------------------------------------*/
.piechart-holder {
	margin-top:50px;
	position:relative;
}
.piechart-holder h4 {
    font-size: 12px;
	color:#292929;
	font-weight:600;
	padding:11px 40px;
	background:#f9f9f9;
	border:1px solid #eee;
	float:left;
	margin:10px 0;
}
.chart {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
 	float:left;
    text-align: center;
	background:#f9f9f9;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.piechart {
    position: relative;
	float:left;
	width:50%;
	margin-bottom:10px;
}
.percent {
    display: inline-block;
    font-size: 12px;
    color: #292929;
    line-height: 120px;
    z-index: 2;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 10px;
}
.angular {
    margin-top: 120px;
}
.angular .chart {
    margin-top: 0;
}
/* ---------Resume  --------------------------------------*/
.custom-inner-holder {
	float:left;
	margin-top:20px;
	width:100%;
	padding-left:20px;
	position:relative;
}
.custom-inner-holder:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:1px;
	background:#eee;
}
.custom-inner {
	float:left;
	width:100%;
	position:relative;
	margin-bottom:50px;
}
.custom-inner.ncmb{
	margin-bottom:0;
}
.custom-inner p {
	text-align:left;
	font-weight:400;
}
.custom-inner:last-child {
	margin-bottom:0;
}
.resum-header h3 {
	float:left;
	font-weight:600;
	font-size:18px;
	text-align:left;
}
.resum-header {
	float:left;
	width:100%;
	position:relative;
	padding:30px 10px 30px 70px;
	border:1px solid #eee;
	background:#f9f9f9;
}
.resum-content {
	padding:20px 30px;
	border:1px solid #eee;
	background:#f9f9f9;
}
.resum-header:after {
	font-family: Font Awesome\ 5 Pro;
	position:absolute;
	color:#666;
	bottom:10px;
	font-size:70px;
	right:10px;
	opacity:0.08;
	transform:   rotate(45deg);
}
.resum-header:before {
	content:'';
	position:absolute;
	top:50%;
	left:-22px;
	width:4px;
	height:10px;
	margin-top:-10px;
}
.resum-header span {
	font-size:14px;
	text-transform:uppercase;
	width:100%;
	color:#666;
	text-align:left;
	float:left;
}
.resum-header i {
	width:40px;
	height:40px;
	line-height:40px;
	border:1px solid #eee;
	position:absolute;
	border-radius:4px;
	top:50%;
	left:15px;
	margin-top:-30px;
	background:#fff;
}
.custom-inner h4 {
	float:left;
	width:100%;
	padding-bottom:10px;
	font-weight:800;
	text-align:left;
	text-transform:uppercase;
	text-align:left;
	font-size:16px;
}
.custom-inner-dec {
	float:left;
	width:100%;
	margin-top:10px;
	background:#eee;
	height:1px;
}
/* ------order------------------------------------------------------------ */ 
.order-wrap {
	z-index:4;
	margin:50px 0 0;
}
.order-wrap:before {
	content:'';
	position:absolute;
	right:0;
	height:100%;
	z-index:0;
	width:50%;
	background:#292929;
	top:0;
}
.order-wrap-container {
	padding:25px 0 25px 40px;
	background:#292929;
	z-index:2;
}
.order-wrap-container:before {
	content:'';
	position:absolute;
	left:0;
	height:100%;
	z-index:0;
	width:60%;
	background:#383838;
	top:0;
}
.order-wrap h4 {
    float: left;
    padding-left: 60px;
    position: relative;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    color: #8B8B8B;
    top: 16px;
}
.order-wrap h4:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 1px;
    margin-top: -1px;
	background:rgba(255,255,255,0.2)
}
.order-wrap a{
    float: right;
}
/* ------portfolio------------------------------------------------------------ */ 
.inline-dark-filters a{
    float: left;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.51);
    letter-spacing: 2px;
	height:60px;
	line-height:60px;
}
.inline-folio-filters {
	background:#292929;
	margin-bottom:30px;
}
.inline-dark-filters a:hover{
	color:#fff;
}
.inline-dark-filters {
	float:left;
	margin-left:30px;
}
.filter-panel .folio-counter  , .inline-folio-filters .folio-counter{
	float:right;
	height:60px;
	line-height:60px;
	background:#383838;
	position:relative;
	padding:0 30px;
}
.filter-panel .folio-counter:after , .inline-folio-filters .folio-counter:after {
    content: '';
    position: absolute;
    left: -3px;
    width: 6px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
}
.filter-panel .folio-counter:before , .inline-folio-filters .folio-counter:before {
	content:'';
	position:absolute;
	left:50%;
	height:26px;
	top:50%;
	margin-top:-13px;
	width:1px;
	background:rgba(255,255,255,0.2);
}
.filter-panel .folio-counter div ,   .inline-folio-filters .folio-counter div {
	float:left;
	width:60px;
	color:#fff;
}
.fixed-filter-panel_title {
	float:left;
	height:60px;
	line-height:60px;
	padding:0 40px;
	color:#fff;
	text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.fixed-filter-panel_title i {
	margin-left:10px;
}
.grid-item-holder {
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
.spad .gallery-item {
	padding: 6px;
}
.min-pad .gallery-item {
	padding: 2px;
}
.hid-port-info .grid-item-holder {
	overflow: hidden;
}
.grid-big-pad .gallery-item {
	padding: 12px;
}
.gallery-item,
.grid-sizer {
	width: 33.3%;
	position: relative;
	float: left;
	overflow: hidden;
}
.gallery-item-second,
.grid-sizer-second {
	width: 66.6%;
}
.four-column .gallery-item {
	width: 25%;
}
.four-column .gallery-item.gallery-item-second   , .two-column .gallery-item{
	width: 50%;
}
.gallery-item img,
.grid-sizer img {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
	background: #292929;
    transform: translateZ(0);
  	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.gallery-item:hover img {
	opacity: 0.7;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
.grid-det {
	position:absolute;
	left:0;
	bottom:-100%;
	right:0;
	z-index:10;
	overflow:hidden;
	background: rgba(51,51,51,0.9);
	padding:18px 20px;
    transition: all 400ms ease-in-out;
}
.vis-det .grid-det {
	position:relative;
	float:left;
	width:100%;
	bottom:0;
	background:#383838;
}
.grid-item-holder:hover .grid-det  {
	bottom:0;
}
.grid-item-holder:hover .grid-det:before {
	content:'';
	position:absolute;
	right:20px;
	top:50%;
	width:30px;
	height:1px;
}
.grid-det-item  , .grid-det_category {
	float:left;
}
.grid-det-item  {
	width:100%;
	margin-top:10px;
	text-align:left;
}
.grid-item-holder:hover  .grid-det-item , .grid-item-holder:hover  .grid-det_category{
	opacity:1;
    transition: all 300ms ease-in-out;
	transition-delay: 0.4s;
}
.grid-det_link {
	color:#fff;
	display:block;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:3px;
	text-align:left;
	position:relative;
}
.grid-det_link:before {
	content:'';
	position:absolute;
	left:0;
	bottom:-10px;
	width:20px;
	height:1px;
}
.grid-det_link i {
	padding-left:10px;
    transition: all 300ms ease-in-out;
}
.grid-det_link:hover i {
	padding-left:20px;
}
.grid-det_category {
	bottom:inherit;
	top:20px;
}
.grid-det_category a {
	float:left;
	margin-right:12px;
	text-transform:uppercase;
	font-size:9px;
	letter-spacing:2px;
	text-align:left;
}
 .box-media-zoom {
	position: absolute;
	top: 0;
	right: -60px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: rgba(51,51,51,0.9);
	z-index: 5;
	transition: all 200ms linear;
}
.hov_zoom:hover .box-media-zoom  {
	right: 0;
}
.hov_zoom {
	overflow:hidden;
}
.pr-subtitle {
	font-size:22px;
	text-align:left;
	color:#000;
	font-weight: 800;
	float:left;
	width:100%;
	padding-bottom:20px;
	line-height:34px;
}
.mar-top {
	margin-top:20px;
}
.text-block {
	margin-top:50px;
}
.project-details ul {
	padding:40px 30px;
	background: #2D2D32;
	margin-bottom:20px;
	position:relative;
}
.project-details ul:before , .project-details ul:after {
	content:'';
	position:absolute;
	width:1px;
	left:48px;
	height:30px;
	background:rgba(255,255,255,0.1);
}
.project-details ul:before {
	bottom:0;
}
.project-details ul:after  {
	top:0;
}
.project-details ul li{
	text-align:left;
	padding:5px 0;
	color:rgba(255,255,255,0.7);
	text-transform:uppercase;
	font-size:10px;
	font-weight:500;
	letter-spacing:2px;
} 
.project-details ul li span {
	color:rgba(255,255,255,0.7);
}
.content-nav {
	float:left;
	position:relative;
	width:100%;
	padding:0 70px;
	background: #2D2D32;
}
.content-nav_holder , .text-block {
	z-index:10
}
.text-block.no-mar-top {
	margin-top:0;
} 
.content-nav_holder:before  {
	content:'';
	position:absolute;
	right:0;
	width:50%;
	height:100%;
	background: #35353A;
}
.content-nav_holder.blog-nav:before{
	display:none;
}
.content-nav_holder.blog-nav {
	margin-top:50px;
}
.content-nav li {
	width:50%;
	float:left;
	position:relative;
}
.content-nav li:first-child {
	border:none;
}
.content-nav li a.ln , .content-nav li a.rn {
	color:#fff;
	font-size:12px;
	position:relative;
	width:100%;
	padding:40px 0;
	z-index:10;
}
.content-nav li a.ln  {
	text-align:left;
	float:left;
}
.content-nav li a.rn  {
	text-align:right;
	float:right;
}
.content-nav li:hover .content-nav-media{
	opacity:0.5;
}
.content-nav li:hover .content-nav-media .bg{
	transform: scale(1.3);
}
.content-nav li a.ln i , .content-nav li a.rn i  , .content-nav-media , .content-nav-media .bg  {
    transition: all 300ms linear;
}
.content-nav li a.ln:hover i ,  .content-nav li a.rn:hover i , .customNavigation a:hover i  {
	transform: rotateX(360deg);
}
.content-nav li:hover a i {
	color:#fff;
}
.content-nav li a span {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:500;
}
.content-nav li a.ln span {
	padding-left:15px;
}
.content-nav li a.rn span  {
	padding-right:15px;
}
.content-nav li a.ln:before , .content-nav li a.rn:before {
	content:'';
	position:absolute;
	width:1px;
	height:20px;
	top:50%;
	margin-top:-10px;
	background:rgba(255,255,255,0.11);
}
.content-nav li a.ln:before {
	right:0;
}
.content-nav li a.rn:before {
	left:0;
}
.content-nav-media {
	position:absolute;
	top:0;
	left:-70px;
	right:-70px;
	bottom:0;
	overflow:hidden;
	opacity:0;
	z-index:1;
} 
.content-nav-media .bg {
	transform: scale(1.0);
}
/*-------------accordion---------------------------------------*/
.accordion {
	float: left;
	width: 100%;
	position: relative;
}
.accordion a.toggle {
	border: 1px solid #eee;
	padding: 18px 50px 18px 30px;
	float: left;
	width: 100%;
	position: relative;
	background: #f9f9f9;
	box-sizing: border-box;
	text-align: left;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	transition: all 300ms linear;
	margin-bottom: 15px;
}
.accordion a.toggle span {
	position: absolute;
	right: -1px;
	top: -1px;
	bottom: -1px;
	width: 60px;
	background: #35353A;
}
.accordion a.toggle span:before,
.accordion a.toggle span:after {
	content: '';
	position: absolute;
	background: #fff;
	top: 50%;
	left: 50%;
	transition: all 300ms linear;
}
.accordion a.toggle span:before {
	width: 10px;
	height: 2px;
	margin-top: -1px;
	margin-left: -5px;
}
.accordion a.toggle span:after {
	width: 2px;
	height: 10px;
	margin-top: -5px;
	margin-left: -1px;
}
.accordion a.toggle.act-accordion {
	color: #fff;
	background: #35353A;
	border-color: transparent;
}
.accordion a.toggle.act-accordion span:after {
	height: 0;
}
.accordion-inner {
	display: none;
	float: left;
	width: 100%;
	position: relative;
	padding: 15px 30px;
	background: #fff;
	margin: 0 0 15px;
	text-align: left;
	border: 1px solid #eee;
}
.accordion-inner.visible {
	display: block;
}
/*------404------------------------------------------------*/
.error-wrap {
	top:30%;
	z-index:20;
}
.error-wrap h2 {
	font-size: 134px;
	color: #fff;
	font-weight: 900;
	line-height:120px;
}
.error-wrap p {
	color: rgba(255, 255, 255, 0.91);
	font-size: 12px;
	text-align:center;
	letter-spacing:2px;
	text-transform:uppercase;
}
.error-wrap form {
	margin: 30px auto 20px;
	max-width: 550px;
	overflow: hidden;
	position: relative;
}
.error-wrap form input {
	float: left;
	width: 100%;
	border: none;
	background: #fff;
	height: 50px;
	padding: 0 100px 0 20px;
	z-index: 1;
}
.error-wrap form #err_submit_btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 50px;
	line-height: 50px;
	z-index: 2;
	color: #fff;
	border: none;
	cursor: pointer;
}
.error-wrap form .search-submit:hover {
	background: #292929;
}
/* ------Cursor------------------------------------------------------------ */ 
.element {
	  position: fixed;
	  left:0;
	  top:0;
	  width: 30px;
	  height: 30px;
	  pointer-events: none;
	  z-index:10000;
}
.element-item {
	position: fixed;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	border: 2px solid;
	border-radius: 50%;
	pointer-events: none;
	opacity:1;
	box-sizing:border-box;	
}
.element-item:after {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	background:#ccc;
	width:6px;
	height:6px;
	margin:-3px 0 0 -3px;
	border-radius:100%;
}
.element-item.nocircle:after {
	display:none;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.element-item.closeicon:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f00d";
	position:absolute;
	font-size:9px;
	left:50%;
	color:#fff;
	top:50%;
	width: 10px;
	height: 10px;
	background:none;
	font-weight:100;
	line-height:10px;
	margin:-5px 0 0 -5px;
}
.element-item.closeicon:after  , .element-item.swipericon:after{
	opacity:0;
}
.element-item.swipericon:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f07e";
	position:absolute;
	font-size:10px;
	left:50%;
	color:#fff;
	top:50%;
	width: 10px;
	height: 10px;
	font-weight:100;
	line-height:10px;
	margin:-5px 0 0 -5px;
	background:none;
}
/* ------contacts------------------------------------------------------------ */  
.contacts-wrap {
	margin-bottom:30px;
}
.contacts-wrap li{
	width:33.3%;
	float:left;
	position:relative;
	padding-left:70px;
} 
.contacts-wrap li:before , .contacts-wrap li:first-child:after {
	content:'';
	position:absolute;
	right:0;
	width:1px;
	height:30px;
	top:50%;
	margin-top:-15px;
	background:#ccc;
}
.contacts-wrap li:first-child:after {
	right:inherit;
	left:0;
}
.contacts-wrap li i {
	position:absolute;
	left:30px;
	top:0;
	font-size:25px;
} 
.contacts-wrap li h4 {
	text-align:left;
	font-size:16px;
	color:#666;
	padding-bottom:5px;
	font-weight:600;
	font-family: 'Teko', sans-serif;
	text-transform:uppercase;
} 
.contacts-wrap li a {
	display:block;
	text-align:left;
	font-size:11px;
	text-transform:uppercase;
	font-weight:500;
	color:#666;
	letter-spacing:2px;
}
#map-single   {
	overflow:hidden;
	z-index:2;
}
.map-container:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 50%;
    height: 50%;
    z-index: 1;
}
.map-container  , #map-single {
	height:300px;
}
.map-container {
	margin-top:30px;
}
.cf-wrap {
	max-width:800px;
}
.custom-form {
	float: left;
	width: 100%;
	position: relative;
}
.custom-form .selectbox {
	color: #292929;
	border-radius: 4px;
	margin-bottom: 20px;
	z-index: 100;
	border: 1px solid #eee;
	background: #fff;
	color: #888DA0;
	font-weight: 600;
	font-size: 12px;
	position: relative;
	float: left;
	width: 100%;	
}
.custom-form .sel-dec .selectbox .select:before {
	font-family: Font Awesome\ 5 Pro;
	content: '\f142';
	position: absolute;
	top: 50px;
	left: 10px;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	z-index: 22;
	font-size: 16px;
	font-weight: 300;
	color: #ccc;
}
.custom-form .selectbox .trigger .arrow {
	border-top: 5px solid #666;
	right: 20px;
}
.custom-form textarea,
.custom-form input[type="text"],
.custom-form input[type=email],
.custom-form input[type=password] {
	float: left;
	border: none;
	border: 1px solid #eee;
	background: #fff;
	width: 100%;
	padding: 15px 20px 15px 55px;
	color: #666;
	font-size: 12px;
	-webkit-appearance: none;
}
.custom-form input::-webkit-input-placeholder,
.custom-form textarea::-webkit-input-placeholder {
	color: #888DA0;
	font-weight: 600;
	font-size: 12px;
	position: relative;
}
.custom-form input:-moz-placeholder,
.custom-form textarea:-moz-placeholder {
	color: #888DA0;
	font-weight: 600;
	font-size: 13px
}
.custom-form textarea {
	height: 200px;
	resize: none;
	padding: 25px 20px;
	-webkit-appearance: none;
}
.custom-form input {
	margin-bottom: 20px;
}
.custom-form label {
	float: left;
	position: relative;
	width: 100%;
	text-align: left;
	font-weight: 500;
	color: #666;
}
.custom-form label i {
	padding-right: 12px;
	font-size: 16px;
	position: absolute;
	top: 16px;
	left: 20px;
	text-align: center;
}
.custom-form button {
	padding: 20px 35px;
	outline: none;
	border: none;
	cursor: pointer;
	float:left;
	margin-top:30px;
	-webkit-appearance: none;
}
#message {
	text-align:left;
	float:left;
	width:100%;
	padding-bottom:20px;
	color:#000;
}
#message h1 {
	font-size:16px;
	padding-bottom:10px;
}
#message p strong {
	font-weight:800px;
	color:#000;
}
/* ------Team------------------------------------------------------------ */
.team-box {
	float: left;
	width: 50%;
	position: relative;
	padding: 0 20px 0 0;
	margin-bottom:50px;
}
.team-photo {
	overflow: hidden;
	position: relative;
}
.team-photo .overlay {
	opacity: 0;
	z-index: 2;
	background: #000;
	transition: all 500ms ease-out;
}
.team-social {
	position:absolute;
	bottom:-25px;
	right:40px;
}
.team-social li {
	float:left;
	position:relative;
}
.team-social li:before {
	content:'';
	position:absolute;
	right:0;
	width:1px;
	height:10px;
	top:50%;
	margin-top:-5px;
	background:rgba(255,255,255,0.1);
	z-index:2;
}
.team-social li:last-child:before {
	display:none;
}
.team-social li a {
	width:50px;
	height:50px;
	line-height:50px;
    background: #383838;
	display:block;
}
.team-social li a:hover {
   color: #fff;
}
 .team-photo a , .team-contact_btn {
	transition: all 100ms ease-out;
}
.team-box:hover .team-photo .overlay {
	opacity: 0.3;
}
.team-contact_btn {
	position:absolute;
	right:0;
	top:-50px;
	width:50px;
	height:50px;
	line-height:50px;
	color:#fff;
	z-index:3;
}
.team-contact_btn:hover {
	color:#292929;
}
.team-box:hover .team-contact_btn {
	top:0;
}
.team-info {
	float: left;
	width: 100%;
	text-align: left;
	padding: 20px;
	border:1px solid #eee;
	background:#fff;
}
.team-info h3,
.team-info h4 {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 16px;
}
.team-info h3 {
	padding-bottom:5px;
}
.team-info h4 {
	font-size: 10px;
	letter-spacing:2px;
	color: #666;
	font-weight: 600;
	text-transform: uppercase;
} 
/* ------blog------------------------------------------------------------ */ 
section.article {
    padding: 40px 0;
}
.post-block {
	border:1px solid #eee;
	padding:20px 30px;
	background:#fff;
} 
.post-header {
    margin-bottom: 20px;
    background: #35353A;
    padding: 15px 20px;
    float: left;
    position: relative;
    z-index: 20;
}
.post-title {
	border-bottom:none;
	margin-bottom:0;
}
.post-header span, .post-header a {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
} 
.media-wrap  , .post-opt{
	margin-bottom:20px;
}
.post-opt li {
    float: left;
    margin-right: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
} 
.post-opt li a, .post-opt li span {
    color: #666;
}
.pagination {
	margin:20px 0 40px;
	text-align:center;
	float:left;
	width:100%;
	z-index:10;
	position:relative;
}
.pagination  a {
	float:left;
	width:60px;
	height:54px;
	line-height:54px;
	box-sizing:border-box;
	position:relative;
	font-size:11px;
	color:#888DA0;
    background: #35353A;
	letter-spacing:1px;
}
.pagination  a:before {
	content:'';
	position:absolute;
	right:0;
	width:1px;
	height:20px;
	top:50%;
	margin-top:-10px;
	background:rgba(255,255,255,0.2);
}
.pagination a.current-page, .pagination a:hover {
    color:#fff;
}
.pagination  a i {
	font-size:12px;
}
.post-author {
	margin-bottom: 40px;
	margin-top: 10px;
	float: left;
	background: #f9f9f9;
	border: 1px solid #eee;
	padding: 30px 35px;
}
.author-img {
	position:absolute;
	left:15px;
	width:100px;
}
.author-content {
	float: left;
	width: 100%;
	padding-left: 100px;
}
.author-img img {
	border-radius: 100%;
	width: 80px;
	height: 80px;
}
.author-content h5 {
	text-align: left;
	color: #666;
	float: left;
	width: 100%;
	font-weight: 800;
	font-size: 16px;
	padding-bottom: 15px;
}
.author-content p {
	margin-bottom: 8px;
	float: left;
	width: 100%;
	text-align: left;
}
.blog-btn-filter {
	float: right;
	margin-right:35px;
	position: relative;
	top: 22px;
}
.blog-btn-filter ul {
	display: none;
	position: absolute;
	top: 56px;
	padding: 15px 20px;
	background: #383838;
}
.blog-btn-filter ul li {
	float: left;
	min-width: 130px;
	width: 100%;
	padding: 6px 0;
	text-align: left;
}
.blog-btn-filter ul li a {
	color: #fff;
}
.blog-btn {
	float: left;
	padding: 10px 30px;
	background:#383838;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 10px;
	color: #fff;
	letter-spacing: 2px;
}
.blog-btn i {
	float: right;
	margin-left: 15px;
	position: relative;
	top: 2px;
	font-size: 12px;
	color: #999;
}
.search-btn {
	float:right;
	position:relative;
	top:30px;
	margin-right:40px;
	cursor:pointer;
}
.search-btn.visbs i:before {
	content: "\f00d";
}
.search-btn i {
	margin-right:16px;
	font-weight:100;
}
.search-btn span {
	text-transform: uppercase;
	font-size: 10px;
	color:rgba(255,255,255,0.4);
	letter-spacing: 2px;
}
.blog-search-wrap {
	position:absolute;
	background:#383838;
	top:100%;
	height:60px;
	left:0;
	right:0;
	z-index:3;
	border-top:1px solid rgba(255,255,255,0.1);
	display:none;
}
.blog-search-wrap input {
	background:none;
	width:100%;
	height:60px;
	float:left;
	border:none;
	padding-left:30px;
	color:#fff;
	text-transform:uppercase;
	font-size:10px;
}
.author-social {
	float:right;
	background:#fff;
	position:relative;
}
.author-social:before {
	content:'';
	position:absolute;
	right:100%;
	margin-right:50px;
	top:50%;
	width:150px;
	height:1px;
	background:#eee;
}
.author-social li {
	float:left;
	position:relative;
	width:46px;
	height:46px;
	line-height:46px;
	background:#292929;
}
.author-social li:before {
	content:'';
	position:absolute;
	right:0;
	top:50%;
	margin-top:-8px;
	width:1px;
	height:16px;
	background: rgba(255,255,255,0.1);
}
.author-social li a:hover {
	color:#fff;
}
#comments {
	text-align: left;
	padding-top: 10px;
	float: left;
	width: 100%;
	margin-top: 30px;
}
#comments.single-post-comm {
	margin-top: 0;
	padding-top: 0;
}
#comments-title,
#reply-title {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 5px;
	padding-left: 20px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: #666;
}
.comment {
	float: left;
	padding-left: 20px;
}
.comment-body {
	position: relative;
	margin-left: 80px;
	padding-top: 30px;
}
.comment-author {
	position: absolute;
	top: 30px;
	left: -76px;
}
.comment-author img {
	border-radius: 100%;
}
.comment .children {
	margin-left: 70px;
}
.fn {
	display: block;
	margin-bottom: 10px;
}
.comment-meta,
.comment-meta a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 12px;
	letter-spacing: 1px;
	color: #494949;
	padding-bottom: 10px;
}
#respond {
	margin-top: 40px;
}
#reply-title {
	padding-bottom: 30px;
	margin-bottom: 5px;
}
.add-comment {
	margin-top: 40px;
}
.add-comment button {
	margin-top: 30px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	cursor: pointer;
}
.single-slider img {
	width:100%;
	height:auto;
}
/*------ Video ------------------------------------------------*/
.media-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}
.video-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.mob-bg {
	display: none;
}
.video-holder {
	position: absolute;
	width: 100%;
	height: 100% !important;
	display: block;
	overflow: hidden !important;
	top: 0;
	left: 0;
	padding: 0 !important;
}
.video-holder iframe {
	position: absolute;
	top: -75px;
	left: 50%;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.background-youtube {
	position: absolute;
	top: -25% !important;
}
.video-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 0;
	z-index: -1;
}
.video-container video {
	width: 100%;
}
.resp-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 20px;
}
.resp-video iframe,
.resp-video object,
.resp-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.blog-media video {
	width: 100%;
	height: auto;
}
.mob-bg {
	display:none;
}
/*------ responsive ------------------------------------------------*/ 
@media only screen and (max-width: 1600px) {
.client-list li a {
    padding: 10px;
}
}
@media only screen and (max-width: 1500px) {
.column-wrap  {
	width:100%;
}
.fixed-column-wrap {
	display:none;
}
}
@media only screen and (max-width: 1064px) {
.mob-bg {
	display:block;
}
.page-load {
	left:0;
}
.fixed-column-wrap  , .height-emulator  , .folio-btn-tooltip , .header-social:before , .share-wrapper:before , .element   {
	display:none;
}
.column-wrap {
    width: 100%;
}
.main-footer {
	position:relative;
	float:left;
	width:100%;
    left: 0;
}
.content-inner  {
	margin-bottom:20px;
}
.video-promo-text{
    padding-left:0;
	margin-top:40px;
}
#wrapper {
    top: 70px;
    left: 0;
}
.main-header {
	height:70px;
    width: 100%;
    bottom:inherit ;
}
.folio-btn {
    right: 0;
    height: 70px;
	width: 70px;
}
.folio-btn-item {
    left: 15px;
    top: 15px;
}
.hb-top {
    left: 0;
    top: 0;
    width: 10px;
    height:100%;
}
.nav-button {
    position: absolute;
    top: 20px;
	left:110px;
}
.logo-holder {
    top: 14px;
    left: 15px;
}
.logo-holder img {
    width: 44px;
    height: 44px;
}
.menu-button-text {
    bottom:10px;
}
.header-social {
	width:auto;
    bottom: 17px;
	right:90px;
    padding:  0;
}
.header-social  li{
	float:left;
    margin-top:0;
}
.nav-holder  , .nav-holder-dec{
    bottom:0;
    top: 70px;
}
.nav-scroll-bar-wrap {
    padding: 90px 40px 100px 60px;
	bottom:100px;
}
.share-wrapper {
    left:0;
	bottom:0;
	background:#313131;
	padding:15px 15px 15px 20px;
}
.nav-holder-line {
    left:90px;
}
.piechart {
    width: 33%;
}
.half-hero-wrap {
    left: 50px;
	padding:0 50px 0 30px;
    top: 19%;
}
.half-hero-wrap h1 {
	font-size:45px;
	line-height:45px;
}
.rotate_text {
    font-size: 12px;
    left: 0;
}
.half-hero-wrap h4 {
    font-size: 12px;
}
.srv-link-text {
    margin-top: 30px;
}
.gallery-item, .gallery-item.gallery-item-second {
    width: 50% !important;
}
.show-case-slider-wrap {
    height: 400px;
}
.scroll-down-wrap.scdw2 {
	left:50px;
} 
}
@media only screen and  (max-width: 800px) {
.nav-holder  , .nav-holder-dec , .process-wrap li  , .filter-panel .folio-counter , .inline-folio-filters .folio-counter , .content-nav li {
	width:100%;
}
.inline-dark-filters {
	padding:20px 0;
}
.inline-dark-filters a {
    height: 25px;
    line-height: 25px;
}	
.main-about{
    padding-left:0;
	margin-top:40px;
}
.process-wrap li {
	margin-bottom:20px;
}
.process-wrap li:last-child {
	margin-bottom:0;
}
.inline-facts-wrap {
    width: 50%;
    margin-bottom: 25px;
}
.dark-bg:before , .piechart , .filter-panel .folio-counter div , .inline-folio-filters .folio-counter div  {
    width: 50%;
}
nav.nav-inner , .contacts-wrap li {
    width: 100%;
}
.contacts-wrap li {
	margin-bottom:20px;
} 
.option-panel , .folio-counter:after , .inline-folio-filters .folio-counter:after , .back-to-home-btn:after , .hide_onmobile , .arrowpagenav , .page-scroll-nav:after  , .page-scroll-nav li a:before   {
	display:none;
}
.scroll-down-wrap {
	left:50px;
}
.srv-link-text .btn{
	float:left;
	margin-top:30px;
}
.back-to-home-btn {
    float: right;
    margin-right:0;
	background:#383838;
	padding: 32px 34px;
    top:0;
}
.back-to-home-btn:before {
	left:-70px;
}
.blog-btn-filter {
	float: left;
	margin-right:0;
	top: 0;
	margin:15px 0 15px 15px;
}
.search-btn {
    top: 22px;
}
.content-nav:before {
	content:'';
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	height:1px;
	background:rgba(255,255,255,0.1);
}
.hero-wrap-item {
    top: 40%;
}
.section-entry h1 {
    font-size: 36px;
}
.section-entry h3 {
    font-size: 14px;
    font-weight: 800;
}
.mm-parallax {
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
}
.page-scroll-nav {
	background:#313131;
}
.page-scroll-nav li {
	margin-left:0;
	padding-left:0;
	margin-right:20px;
}    
}
@media only screen and (max-width: 560px) {
.sec-number  , .header-social  , .back-to-home-btn , .search-btn span {
	display:none;
}
.search-btn {
	margin-right:15px;
}
.blog-btn {
    padding: 10px 20px;
}
.footer-inner {
    padding: 70px 30px 40px 30px;
}
.to-top-btn {
    float: left;
    margin-right:0;
	margin-top:30px;
}
.inline-facts-wrap , .fixed-filter-panel_title , .team-box  {
    width: 100%;
}
.client-list li a {
    padding: 10px;
}
.client-list li {
	width:50%;
}
.hero-slider-wrap_pagination {
    width: 40px;
    padding: 30px 0;
}
.half-hero-wrap h1 {
	font-size:35px;
	line-height:35px;
}
.section-title h3, .small-section-title h3 {
	font-size:26px;
}
.nav-scroll-bar-wrap {
    padding: 40px 30px 100px 30px;
}
.nav-holder-line {
    left: 50px;
}
.half-hero-wrap {
	padding:0 50px 0 10px;
}
.gallery-item, .gallery-item.gallery-item-second , .policy-box  {
    width: 100% !important;
}
.policy-box {
	text-align:left;
}
.show-case-slider-wrap {
    height: 300px;
}
.page-scroll-nav ul {
    margin-left: 20px;
}
.page-scroll-nav li {
	margin-right:6px;
}    
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.bg {
		background-attachment: scroll !important;
		-webkit-background-size: cover;
		background-position: center;
	}
}