.redux-main input.redux-color {
  float: left;
  width: 70px;
  margin-left: 5px;
}
.redux-main input.color-transparency {
  margin-left: 10px;
  margin-right: 3px;
}
.redux-main input.wp-color-picker {
  width: 80px !important;
}
.redux-main .section-color .controls {
  width: 345px;
}
.redux-main .section-color .explain {
  width: 225px;
}
.redux-main .iris-picker .iris-strip .ui-slider-handle {
  position: absolute;
  background: none !important;
  right: -3px;
  left: -3px;
  border: 4px solid #aaa !important;
  border-width: 4px 3px;
  width: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  z-index: 5;
  cursor: ns-resize;
}
.redux-main .iris-picker .iris-slider-offset {
  position: absolute;
  top: 2px;
  left: 0px;
  right: 0;
  bottom: 4px;
  width: 28px;
  background: none !important;
  border: 0 !important;
  height: auto;
}
.redux-main .wp-picker-container {
  display: inline-block;
  outline: 0;
}
.redux-main .wp-picker-container input {
  margin-bottom: inherit;
  margin-top: inherit;
  padding: 3px 5px;
}
.redux-main .wp-picker-container .wp-color-result {
  outline: 0;
  margin: 0;
  height: 24px !important;
  margin: 0 6px 6px 0 !important;
}
.redux-main .wp-picker-container .wp-picker-default {
  padding: 0 10px 1px;
}
.redux-main .wp-picker-container .wp-color-result-text {
  line-height: 22px;
}
.redux-main .redux-color-gradient {
  line-height: 24px;
}
.redux-main .color-transparency-check {
  line-height: 1;
  margin: 0 !important;
  padding-top: 10px;
}
.redux-main .wp-picker-clear {
  margin-top: 0 !important;
}

.wp-customizer .redux-main input.wp-picker-default, .wp-customizer .redux-main .redux-typography-container input.wp-picker-default, .wp-customizer .redux-main .redux-typography-container .redux-typography-color {
  padding: 0px 4px !important;
}
.wp-customizer .redux-main input.wp-color-picker {
  width: 65px !important;
  margin-left: 5px !important;
}